<div class="portlet box yellow">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"></i>学生成绩
			</div>
		</div>
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form action="#" class="form-horizontal">
				<div class="form-body">
					<div class="form-group">
                        <div class="mentWarp">
                            <div class="col-md-3">
                                <img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                                <p>高等数学</p>
                                <p>分数:98</p>
                                <p>已通过</p>
                            </div>
                            <div class="col-md-3">
                                <img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                                <p>高等数学</p>
                                <p>分数:98</p>
                                <p>已通过</p>
                            </div>
                            <div class="col-md-3">
                                <img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                                <p>高等数学</p>
                                <p>分数:98</p>
                                <p>已通过</p>
                            </div>
                            <div class="col-md-3">
                                <img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                                <p>高等数学</p>
                                <p>分数:98</p>
                                <p>已通过</p>
                            </div>
                        </div>
					</div>
				</div>
			</form>
			<!-- END FORM-->
		</div>
	</div>
	<style>
	</style>