<link href="../../../assets/admin/pages/css/profile-old.css" rel="stylesheet">
<style>
	.label-text {
		margin-top: 8px;
	}
	
	.form-control {
		margin-bottom: 8px;
	}
	
	.btn-info {
		margin-bottom: 2px;
		float: right;
		margin-left: 5px;
	}
	
	.abslute {
		position: absolute;
		float: right;
		margin-left: -100px;
		margin-top: 21px;
		width: 46px;
		height: 28px;
	}
	
	.table-toolbar {
		border-bottom: 3px solid #ddd;
		border-width: 100%;
	}
	.btnSearch{
		position: absolute;
		right:50px;
		top: 3px;
	}
	.export-all {
		border-bottom: 1px solid gainsboro;
		padding: 10px;
	}
	
	.export-option {
		padding: 10px 0;
		line-height: 35px;
	}
	div.checker {
		margin-left: 30px !important;
		
	}
</style>
<div class="row" ng-controller="schoolrollCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>学生管理
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn red" ng-click="import()">
					<i class="fa fa-plus"></i> 导入学生信息 </a>
					<a href="javascript:;" class="btn btn-warning" ng-click="export()">
					<i class="fa fa-plus"></i> 导出学生信息 </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-12 search">
							<!-- <div class="col-md-4">
								<label class="label-text">学号：</label>
								<input type="text" class="form-control" ng-model='searchObj.studentId' />
							</div> -->
							<div class="col-md-4">
								<label class="label-text">姓名：</label>
								<input type="text" class="form-control" ng-model='searchObj.stuName' />
							</div>
							<div class="col-md-4">
								<label class="label-text">手机号码：</label>
								<input type="text" class="form-control" ng-model='searchObj.stuPhone' />
								<button class="btn blue btn-sm" ng-click="loadStudentsList()">查询</button>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="col-md-1">
								<label class="label-text">年级：</label>
							</div>
							<div class="col-md-11">
								<ul class="nav nav-pills">
									<li ng-repeat="item in yearList" ng-click="select(item)">
										<a class="{{item.active ? 'tag-active' : ''}}" href="#">{{item.text}}</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-1">
								<label class="label-text">专业：</label>
							</div>
							<div class="col-md-11">
								<ul class="nav nav-pills">
									<li ng-repeat="item in majorList" ng-click="select(item)">
										<a class="{{item.active ? 'tag-active' : ''}}" href="#">{{item.specialtyName}}</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-1">
								<label class="label-text">学习中心：</label>
							</div>
							<div class="col-md-11">
								<ul class="nav nav-pills">
									<li ng-repeat="item in centerList" ng-click="select(item)">
										<a class="{{item.active ? 'tag-active' : ''}}" href="#">{{item.centerName}}</a>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<!--<th>学号</th>-->
							<th>姓名</th>
							<th>年级</th>
							<th>专业</th>
							<th>学习中心</th>
							<th>身份证号</th>
							<th>性别</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in data" class="odd gradeX" style="cursor: pointer;" ng-click="editStuInfo(item);">
							<!--<td>{{item.studentId}}</td>-->
							<td>{{item.studentName}}</td>
							<td>{{item.enrollmentDate}}</td>
							<td>{{item.specialtyName}}</td>
							<td>{{item.centerName}}</td>
							<td>{{item.stuIDCard}}</td>
							<td>{{item.gender}}</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div>
						<div class="col-md-11" style="float: left; clear: both; margin-left: 20px;">
							<pagination total-items="bigTotalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" first-text="首页" items-per-page="{{pageSize}}" last-text="末页" previous-text="上一页" next-text="下一页"></pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
	
	<!-- 导入 -->
	<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">导入学生信息</h4>
				</div>
				<div class="modal-body">
					<form action="#" class="form-horizontal">
						<div class="form-body" style="margin-bottom: 50px;">
							<div class="row">
								<label class="col-md-2 control-label">选择文件</label>
								<div class="col-md-4">
									<div id="studentsInfo" class="filePicker" style="width: 100px;">上传</div>
									<span style="position: absolute;left: 100px;top: 10px;">{{excelName}}</span>
								</div>
							</div>
							<div class="row">
								<label class="col-md-2 control-label">下载模板</label>
								<div class="col-md-4">
									<a href="{{exportTplUrl}}" style="line-height: 35px; font-size: 16px;">学生信息模板</a>
								</div>
							</div>
							<div class="col-md-12" style="text-align: center">
								<button style="width: 200px" type="button" class="btn btn-md blue" id="uploadSub"> 确定 </button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 导出 -->
	<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">导出学生信息</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 export-all">
							<span class="h4">个人信息</span>
							<input type="checkbox" ng-model="single" ng-change="singleAll()" value="" />全选/全不选
						</div>
						<div class="col-md-12 export-option" id="singleExportOption">
							<input type="checkbox" name="singleVar" value="studentName" />姓名
							<input type="checkbox" name="singleVar" value="namePinYin" />姓名拼音
							<input type="checkbox" name="singleVar" value="gender" />性别
							<input type="checkbox" name="singleVar" value="stuPhone" />联系电话
							<input type="checkbox" name="singleVar" value="stuCardType" />身份证件类型
							<input type="checkbox" name="singleVar" value="stuIDCard" />证件号码
							<input type="checkbox" name="singleVar" value="stuBirthDate" />出生日期
							<input type="checkbox" name="singleVar" value="nationality" />国家/地区
							<input type="checkbox" name="singleVar" value="nation" />民族
							<input type="checkbox" name="singleVar" value="marriage" />婚姻状况
							<input type="checkbox" name="singleVar" value="householdType" />户口性质
							<input type="checkbox" name="singleVar" value="politicalStatus" />政治面貌
							<input type="checkbox" name="singleVar" value="isImmigrantChildren" />是否随迁子女
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 export-all">
							<span class="h4">基本信息</span>
							<input type="checkbox" ng-model="basic" ng-change="baiscAll()" value="" />全选/全不选
						</div>
						<div class="col-md-12 export-option">
							<input type="checkbox" name="basicVar" value="studentId" />学生编号
							<input type="checkbox" name="basicVar" value="specialtyName" />专业
							<input type="checkbox" name="basicVar" value="centerId" />学习中心
							<input type="checkbox" name="basicVar" value="studentCategory" />学生类别
							<input type="checkbox" name="basicVar" value="className" />班级名称
							<input type="checkbox" name="basicVar" value="specialtyName" />专业简称
							<input type="checkbox" name="basicVar" value="educationalSystem" />学制
							<input type="checkbox" name="basicVar" value="grade" />年级
							<input type="checkbox" name="basicVar" value="waysStudy" />就读方式
							<input type="checkbox" name="basicVar" value="learningModality" />学习形式
							<input type="checkbox" name="basicVar" value="waysEnrollment" />入学方式
							<input type="checkbox" name="basicVar" value="arrivalDate" />入学年月
							<input type="checkbox" name="basicVar" value="entranceCertificateNumber" />准考证号
							<input type="checkbox" name="basicVar" value="candidateNumber" />考生号
							<input type="checkbox" name="basicVar" value="totalExaminationAchievement" />考试总分
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 export-all">
							<span class="h4">家庭成员信息</span>
							<input type="checkbox" ng-model="family" ng-change="familyAll()" value="" />全选/全不选
						</div>
						<div class="col-md-12 export-option">
							<input type="checkbox" name="familyVar" value="familyName" />成员姓名
							<input type="checkbox" name="familyVar" value="familyRelationship" />成员关系
							<input type="checkbox" name="familyVar" value="familyPhone" />联系电话
							<input type="checkbox" name="familyVar" value="isJHR" />是否监护人
							<input type="checkbox" name="familyVar" value="familyCardType" />证件类型
							<input type="checkbox" name="familyVar" value="familyIDCard" />证件号码
							<input type="checkbox" name="familyVar" value="familyBirthDate" />出生年月
							<input type="checkbox" name="familyVar" value="healthCondition" />健康状况
							<input type="checkbox" name="familyVar" value="companyOrganization" />工作单位
							<input type="checkbox" name="familyVar" value="politicalStatus" />政治面貌
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 export-all">
							<span class="h4">补充信息</span>
							<input type="checkbox" ng-model="supple" ng-change="suppleAll()" value="" />全选/全不选
						</div>
						<div class="col-md-12 export-option" style="padding: 10px 0;">
							<input type="checkbox" name="suppleVar" value="trainSpace" />乘火车区间
							<input type="checkbox" name="suppleVar" value="englishName" />英文姓名
							<input type="checkbox" name="suppleVar" value="studentFormAdministrativeCode" />生源地行政区划码
							<input type="checkbox" name="suppleVar" value="birthplaceAdministrativeCode" />出生地行政区划码
							<input type="checkbox" name="suppleVar" value="familyAddress" />家庭现地址
							<input type="checkbox" name="suppleVar" value="familyPostalCode" />家庭邮政编码
							<input type="checkbox" name="suppleVar" value="familyPhone" />家庭电话
							<input type="checkbox" name="suppleVar" value="householdAdministrativeCode" />户口所在地行政区划码
							<input type="checkbox" name="suppleVar" value="householdAddressDetails" />户口所在地区县以下详细地址
							<input type="checkbox" name="suppleVar" value="localPoliceStation" />所属派出所
							<input type="checkbox" name="suppleVar" value="nativePlaceFormAdministrativeCode" />籍贯地行政区划码
							<input type="checkbox" name="suppleVar" value="studentHabitationType" />学生居住地类型
							<input type="checkbox" name="suppleVar" value="healthCondition" />健康状况
							<input type="checkbox" name="suppleVar" value="studentSource" />学生来源
							<input type="checkbox" name="suppleVar" value="recruit" />招生对象
							<input type="checkbox" name="suppleVar" value="school" />毕业学校
							<input type="checkbox" name="suppleVar" value="isDestituteFamily" />是否建档立卡贫困户
							<input type="checkbox" name="suppleVar" value="studentRecruitingWays" />招生方式
							<input type="checkbox" name="suppleVar" value="jointRecruitmentCooperationType" />联招合作类型
							<input type="checkbox" name="suppleVar" value="studentSpeciality" />考生特长
							<input type="checkbox" name="suppleVar" value="studentMedicalHistory" />考生既往病史
							<input type="checkbox" name="suppleVar" value="healthReport" />体检结论
							<input type="checkbox" name="suppleVar" value="jointRecruitmentCooperationStyle" />联招合作办学形式
							<input type="checkbox" name="suppleVar" value="jointRecruitmentCooperationSchoolCode" />联招合作学校代码
							<input type="checkbox" name="suppleVar" value="offCampusTeachingAddress" />校外教学点
							<input type="checkbox" name="suppleVar" value="stageByStageEducationType" />分段培养方式
							<input type="checkbox" name="suppleVar" value="stuEmail" />电子信箱/其他联系方式
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="text-align: center">
							<button style="width: 200px" class="btn btn-md blue" ng-click="exportSub()"> 确定 </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 课程详情 -->
	<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10051;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">课程详情</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12" style="text-align: center;">
							<img class="certificate" src="../../../assets/admin/layout4/img/avatar1.jpg" alt="">
							<div class="leftText">
								<p>高等数学（第一学期）</p>
								<p>考试成绩:98</p>
								<p>平时成绩:18</p>
								<p>考试成绩占比:70%</p>
								<p>平时成绩占比:30%</p>
								<p>学习时长占比:9%</p>
								<p>章节练习占比:21%</p>
								<p>考试时间:2019-6-8</p>
								<p style="color: blue;">已通过</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 学籍编辑 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="portlet light" style="min-height: 400px;">
					<div class="portlet-title tabbable-line">
						<div class="caption font-green-sharp">
							<i class="icon-settings font-green-sharp"></i>
							<span class="caption-subject bold uppercase" id="title">学籍编辑</span>
						</div>
						<div class="actions">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						</div>
						<ul class="nav nav-tabs">
							<li class="active">
								<a data-target="#tab_single" data-toggle="tab">
									个人信息 </a>
							</li>
							<li>
								<a data-target="#tab_basic" data-toggle="tab">
									基本信息 </a>
							</li>
							<li>
								<a data-target="#tab_family" data-toggle="tab">
									家庭成员信息 </a>
							</li>
							<li>
								<a data-target="#tab_supplement" data-toggle="tab">
									补充信息 </a>
							</li>
							<li>
								<a data-target="#tab_result" data-toggle="tab">
									成绩信息 </a>
							</li>
							<li>
								<a data-target="#tab_change" data-toggle="tab">
									异动信息 </a>
							</li>
						</ul>
					</div>
					<div class="portlet-body">
						<div class="tab-content">
							<div class="tab-pane active" id="tab_single">
								<div data-ng-include="'components/student/single.html'"></div>
							</div>
							<div class="tab-pane" id="tab_basic">
								<div data-ng-include="'components/student/basic.html'"></div>
							</div>
							<div class="tab-pane" id="tab_family">
								<div data-ng-include="'components/student/family.html'"></div>
							</div>
							<div class="tab-pane" id="tab_supplement">
								<div data-ng-include="'components/student/supplement.html'"></div>
							</div>
							<div class="tab-pane" id="tab_result">
								<div data-ng-include="'components/student/result.html'"></div>
							</div>
							<div class="tab-pane" id="tab_change">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>姓名</th>
											<th>异动类型</th>
											<th>异动课程</th>
											<th>学习中心</th>
											<th>年级</th>
											<th>审核状态</th>
											<th>审核说明</th>
											<th>申请时间</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in changeData" class="odd gradeX">
											<td>{{item.name}}</td>
											<td>{{item.type}}</td>
											<td>{{item.course}}</td>
											<td>{{item.center}}</td>
											<td>{{item.grade}}</td>
											<td>{{item.state}}</td>
											<td>{{item.info}}</td>
											<td>{{item.cTime}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
</div>
<script>
	function schoolrollCtrl($scope, $http, $rootScope) {
		$scope.currentPage = 1
		$scope.detail = {} //学生信息详情
		$scope.searchObj = {};//搜索信息
		$scope.familyData = [];//家庭成员信息
		$scope.supple = {} //补充信息
		
		$scope.exportTplUrl = common.url + '/export/exportStudentTemplate'//导出模板url
		$scope.exportUrl = common.url + '/export/exportStudentsParameter'//导出url
		//加载学生列表
		$scope.loadStudentsList = function() {			
			common.loadDataList({
				$scope: $scope,
				$http: $http,
				$rootScope: $rootScope,
				url: '/student/findStudentsPageAll'
			});
		};
		$scope.loadStudentsList();
		
		$scope.pageChanged = function() {
			$scope.loadStudentsList();
		}
		
		$scope.yearList = [
			{text: "2019"},
			{text: "2018"},
			{text: "2017"},
			{text: "2016"}
		];
		
		$scope.select = function(value) {
			$rootScope.activeColor(value, function() {
				$scope.getCurrentSel();
			});
		};
		
		$scope.getCurrentSel = function() {
			let centerIds = []
			let grades = []
			let specialtyNames = []
			for(value of $rootScope.centerList) {
				if(value.active) {
					centerIds.push(value.centerId)
				}
			}
			
			for(value of $scope.yearList) {
				if(value.active) {
					grades.push(value.text)
				}
			}
			
			for(value of $rootScope.majorList) {
				if(value.active) {
					specialtyNames.push(value.specialtyName)
				}
			}
			$scope.searchObj.centerIds = centerIds;
			$scope.searchObj.grades = grades;
			$scope.searchObj.specialtyNames = specialtyNames;
			$scope.loadStudentsList();
		};
		// $scope.getCurrentSel();
		
		$scope.changeData = [
			{
				name:"张三",
				grade:"2018春",
				type:"统考免考",
				course:"英语",
				center:"郑大西",
				state:"审核中",
				info: '',
				cTime: '2019-6-5'
			}, {
				name:"李四",
				grade:"2018秋",
				type:"统考免考",
				course:"数学",
				center:"郑大新区",
				state:"未通过",
				info: '缺少老师签字',
				cTime: '2019-4-28'
			}
		];
		
		$scope.single = false;
		$scope.singleAll = function() {
			if($scope.single) {
				$.uniform.update($("input[name='singleVar'][type='checkbox']").attr("checked",true));
			}else {
				$.uniform.update($("input[name='singleVar'][type='checkbox']").attr("checked",false));
			}
		}
		
		$scope.basic = false;
		$scope.baiscAll = function() {
			if($scope.basic) {
				$.uniform.update($("input[name='basicVar'][type='checkbox']").attr("checked",true));
			}else {
				$.uniform.update($("input[name='basicVar'][type='checkbox']").attr("checked",false));
			}
		}
		
		$scope.family = false;
		$scope.familyAll = function() {
			if($scope.family) {
				$.uniform.update($("input[name='familyVar'][type='checkbox']").attr("checked",true));
			}else {
				$.uniform.update($("input[name='familyVar'][type='checkbox']").attr("checked",false));
			}
		}
		
		$scope.supple = false;
		$scope.suppleAll = function() {
			if($scope.supple) {
				$.uniform.update($("input[name='suppleVar'][type='checkbox']").attr("checked",true));
			}else {
				$.uniform.update($("input[name='suppleVar'][type='checkbox']").attr("checked",false));
			}
		}
		
		$scope.import = function() {
			$("#importModal").modal('show');
		}
		
		$scope.export = function() {
			$("#exportModal").modal('show');
		}
		
		$scope.exportSub = function() {
			let postArr = []
			$("input[name='singleVar'][type='checkbox']").each(function() {
				if(this.checked) {
					postArr.push(this.value);
				}
			})
			$("input[name='basicVar'][type='checkbox']").each(function() {
				if(this.checked) {
					postArr.push(this.value);
				}
			})
			$("input[name='familyVar'][type='checkbox']").each(function() {
				if(this.checked) {
					postArr.push(this.value);
				}
			})
			$("input[name='suppleVar'][type='checkbox']").each(function() {
				if(this.checked) {
					postArr.push(this.value);
				}
			})
			console.log(postArr);
			window.open($scope.exportUrl+'?exportParameter='+postArr);
		}
		
		$scope.editStuInfo = function(student) {
			$scope.currStudent = student;
			$scope.loadStuDetail();//查询学生详细信息
			$scope.loadStuFamily();//查询学生家庭成员信息
			$scope.loadStuExpand();//查询学生补充信息
			$scope.loadStuScore();//查询学生成绩信息
			$("#editModal").modal('show');
		}
		
		$scope.detail = function() {
			$("#courseModal").modal('show');
		}
		
		//导入学生数据
		common.fileUpload({
			id: 'studentsInfo',
			type: 'excel',
			url: '/import/students',
			options: {
				formData: {
					qq: 'qq'
				},
				uploadBtn: 'uploadSub',
				auto: false
			},
			fileQueued: function(name) {
				$scope.$apply(function() {
					$scope.excelName = name;
				});
			},
			success: function(file, response) {
				
			}
		});
		
		//查询学生详细信息
		$scope.loadStuDetail = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					studentId: $scope.currStudent.studentId
				},
				url: '/student/findStudentPeopleByStuId',
				success: function(res) {
					$scope.detail = res;
				}
			});
		}
		
		//添加或修改学生信息
		$scope.saveUpdateStudent = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				operate: true,
				data: $scope.detail,
				url: '/student/saveUpdate',
				success: function(res) {
				}
			});
		}
		
		//查询学生补充信息
		$scope.loadStuExpand = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					studentId: $scope.currStudent.studentId
				},
				url: '/student/findStudentExpandInfo',
				success: function(res) {
					for(let obj of res) {
						$scope.supple[obj.expandName] = obj.expandValue
					}
				}
			});
		}
		
		//添加或修改学生补充信息
		$scope.saveUpdateStudentExpand = function() {
			let postData = {
				studentId: $scope.currStudent.studentId
			}
			let expandValues = []
			for(let [k , v] of Object.entries($scope.supple)) {
				expandValues.push({
					expandName: k,
					expandValue: v
				})
			}
			postData.expandValues = expandValues
			
			common.ajax({
				$scope: $scope,
				$http: $http,
				operate: true,
				data: postData,
				url: '/student/saveUpdateStudentExpand',
				success: function(res) {
				}
			});
		}
		
		//查询学生成绩信息
		$scope.loadStuScore = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					studentId: $scope.currStudent.studentId
				},
				url: '/studentScore/findStudentScore',
				success: function(res) {
					$scope.expandData = res;
				}
			});
		}
		
		//查询学生家庭成员信息
		$scope.loadStuFamily = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					studentId: $scope.currStudent.studentId
				},
				url: '/family/findFamilies',
				success: function(res) {
					$scope.familyData = res;
				}
			});
		}
		
		//添加家庭成员
		$scope.add = function(index) {
			$scope.flag = 'add';
			$scope.familyData.splice(index+1, 0, {
				edit: true
			});
		}
		
		//编辑家庭成员
		$scope.edit = function(familyUser) {
			$scope.flag = 'edit';
			familyUser.edit = true;
		}
		
		//保存家庭成员
		$scope.save = function(familyUser) {
			familyUser.studentId = $scope.currStudent.studentId
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: familyUser,
				operate: true,
				url: '/family/saveOrUpdate',
				success: function(res) {
					familyUser.edit = false;
				}
			});
		};
		
		//取消编辑家庭成员
		$scope.cancel = function(familyUser, index) {
			if($scope.flag == 'add') {
				$scope.familyData.splice(index, 1);
			}else if($scope.flag == 'edit') {
				familyUser.edit = false;				
			}
		};
			
		//删除家庭成员
		$scope.del = function(major) {
			common.ajax({
				$scope: $scope,
				$http: $http,
				operate: true,
				data: major,
				tip: '您确定要删除该家庭成员吗？',
				url: '/family/removeFamilyById',
				success: function(res) {
					$scope.loadStuFamily();
				}
			});
		};
	}
</script>