<script src="/onLineAdmin/assets/admin/pages/scripts/components-form-tools.js"></script>
<div class="portlet box yellow">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i>学籍添加
		</div>
	</div>
	<div class="portlet-body form">
		<div data-ng-include="'components/schoolRoll.html'"></div>
	</div>
</div>
<style>
	.form-horizontal {
		padding: 10px 20px;
	}
	
	.form-horizontal .mgImg-left {
		left: 50px;
		position: relative;
	}
	
	.form-horizontal .mgImg-left img {
		width: 80px;
		height: 80px;
	}
	
	.form-control {
		margin-bottom: 15px;
	}
	
	.choiceMan {
		margin-top: 9px;
		margin-left: 3px;
	}
	
	.certificate {
		margin-top: -5px;
	}
	
	.btn-left {
		margin-left: -5px;
	}
	
	.width-20 {
		margin-left: -52px;
	}
</style>