<div class="portlet box yellow">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"></i>入学信息
            </div>
		</div>
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form action="#" class="form-horizontal">
				<div class="form-body">
					<div class="form-group">
                        <div class="col-md-2">
                            <div class="col-md-3 mgImg-let">
                                <img src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                            </div>
                        </div>
                        <div style="margin-left: -197px" class="col-md-10">
                            <label class="col-md-3 control-label">姓名:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Enter text">
                            </div>
                            <div style="position:relative;left:-241px;">
                                <label class="col-md-6 control-label">学号:</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>初办审核情况:</label>
                        </div>
                        <div style="margin-left: -53px" class="col-md-12">
                            <label class="col-md-2 control-label">审核结果:</label>
                            <div class="col-md-3" style="height: 32px; display: flex; margin-bottom: 15px;">
                                <input class="checkRadio" type="radio">
                                <div class="choiceMan"> 通过</div>
                                <input class="checkRadio" type="radio" >
                                <div class="choiceMan"> 未通过</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="width-20 col-md-2 control-label">毕业学校:</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control width-80" placeholder="Enter text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="width-20 col-md-2 control-label">证书号码:</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control width-80" placeholder="Enter text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="width-20 col-md-2 control-label">备注说明:</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control width-80" placeholder="Enter text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="width-20 col-md-2 control-label">图片资料:</label>
                        </div>
                        <div style="display: flex;margin-bottom: 50px" class="col-md-12">
                            <div class="mgImg-left">
                                <img src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                            </div>
                            <div class="mgImg-left">
                                <img src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                            </div>
                            <div class="mgImg-left">
                                <img src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                            </div>
                            <div class="mgImg-left">
                                <img src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align: center">
                            <button style="width: 200px" class="btn btn-md blue" ng-click=""> 添加 </button>
                        </div>
					</div>
				</div>
			</form>
			<!-- END FORM-->
		</div>
	</div>
	<style>
		.form-horizontal{
			padding: 10px 20px;
		}
        .form-horizontal .mgImg-let{
			left: 50px;
			position: relative;
		}
		.form-horizontal .mgImg-let img{
			width:80px;
			height: 80px;
		}
		.form-horizontal .mgImg-left{
			left: 190px;
			position: relative;
		}
		.form-horizontal .mgImg-left img{
			width:150px;
			height: 150px;
            margin-right: 80px;
		}
		.form-control{
			margin-bottom: 15px;
		}
		.choiceMan{
			margin-top: 9px;
			margin-left: 3px;
		}
		.certificate{
			margin-top: -5px;
		}
		.btn-left{
			margin-left: -5px;
		}
		.width-20{
			margin-left: -52px;
		}
	</style>