<form action="#" class="form-horizontal">
	<div class="form-body">
		<div class="form-group">
			<label class="col-md-1 control-label">学生编号:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.stuId'>
			</div>
			<label class="col-md-1 control-label">专业:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.specialtyName'>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">学习中心:</label>
			<div class="col-md-5">
				<select class="form-control" ng-model='detail.centerId'>
					<option value="">请选择</option>
					<option ng-repeat="item in centerList" value="{{item.centerId}}">{{item.centerName}}</option>
				</select>
			</div>
			<label class="col-md-1 control-label">学生类别:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.studentCategory'>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">班级名称:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.className'>
			</div>
			<label class="col-md-1 control-label">专业简称:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.specialtyName'>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">学制:</label>
			<div class="col-md-5">
				<select class="form-control" ng-model='detail.educationalSystem'>
					<option value="2">2年制</option>
					<option value="3">3年制</option>
					<option value="4">4年制</option>
				</select>
			</div>
			<label class="col-md-1 control-label">年级:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.grade'>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-1 control-label">就读方式:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.waysStudy'>
			</div>
			<label class="col-md-1 control-label">学习形式:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.learningModality'>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">入学方式:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.waysEnrollment'>
			</div>
			<label class="col-md-1 control-label">入学年月:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.arrivalDate' id="arrivalDate">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">准考证号:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.entranceCertificateNumber'>
			</div>
			<label class="col-md-1 control-label">考生号:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.candidateNumber'>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">考试总分:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text" ng-model='detail.totalExaminationAchievement'>
			</div>
		</div>
		
		<div class="col-md-12" style="text-align: center">
			<button type="button" style="width: 200px" class="btn btn-md blue" ng-click="saveUpdateStudent()"> 确定 </button>
		</div>
	</div>
</form>
<script>
	$("#arrivalDate").datepicker({
		language: 'zh-CN',
		format: 'yyyymmdd'
	})
</script>