<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>成员姓名</th>
			<th>成员关系</th>
			<th>联系电话</th>
			<th>是否监护人</th>
			<th>证件类型</th>
			<th>证件号码</th>
			<th>出生年月</th>
			<th>健康状况</th>
			<th>工作单位</th>
			<th>政治面貌</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in familyData" class="odd gradeX">
			<td>{{item.familyName}}</td>
			<td>{{item.familyRelationship}}</td>
			<td>{{item.familyPhone}}</td>
			<td>{{item.isJHR}}</td>
			<td>{{item.familyCardType}}</td>
			<td>{{item.familyIDCard}}</td>
			<td>{{item.familyBirthDate}}</td>
			<td>{{item.healthCondition}}</td>
			<td>{{item.companyOrganization}}</td>
			<td>{{item.politicalStatus}}</td>
		</tr>
	</tbody>
</table>