<form action="#" class="form-horizontal">
	<div class="form-body">
		<div class="form-group">
			<div class="col-md-2" style="text-align: right;">
				<img src="../../../assets/admin/layout4/img/avatar1.jpg" style="width: 70px; height: 70px;" alt="">
			</div>
			<div class="col-md-10">
				<label class="col-md-1 control-label">姓名:</label>
				<div class="col-md-11">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-1 control-label">姓名拼音:</label>
				<div class="col-md-11">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">性别:</label>
			<div class="col-md-5" style="height: 32px; display: flex; margin-bottom: 15px;">
				<div class="md-radio-inline">
					<div class="md-radio">
						<input type="radio" id="radio6" name="radio2" class="md-radiobtn">
						<label for="radio6">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													男</label>
					</div>
					<div class="md-radio">
						<input type="radio" id="radio7" name="radio2" class="md-radiobtn" checked>
						<label for="radio7">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													女</label>
					</div>
				</div>
			</div>
			<label class="col-md-1 control-label">联系电话:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">身份证件类型:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text">
			</div>
			<label class="col-md-1 control-label">证件号码:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">出生日期:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text">
			</div>
			<label class="col-md-1 control-label">国际/地区:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">民族:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text">
			</div>
			<label class="col-md-1 control-label">婚姻状况:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-1 control-label">户口性质:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text">
			</div>
			<label class="col-md-1 control-label">政治面貌:</label>
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Enter text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">是否随迁子女:</label>
			<div class="col-md-5" style="height: 32px; display: flex; margin-bottom: 15px;">
				<div class="md-radio-inline">
					<div class="md-radio">
						<input type="radio" id="radio6" name="radio2" class="md-radiobtn">
						<label for="radio6">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													是</label>
					</div>
					<div class="md-radio">
						<input type="radio" id="radio7" name="radio2" class="md-radiobtn" checked>
						<label for="radio7">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													否</label>
					</div>
				</div>
			</div>
		</div>
		
		<!--<div class="form-group">
			<div class="col-md-2 col-md-offset-1">
				<a href="javascript:;" class="thumbnail" style="width: 160px;">
					<img src="images/zanwu.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;">
				</a>
				<div id="topPicSrc" class="filePicker">上传毕业证书</div>
			</div>
			<div class="col-md-2 col-md-offset-1">
				<a href="javascript:;" class="thumbnail" style="width: 160px;">
					<img src="images/zanwu.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;">
				</a>
				<div id="topPicSrc" class="filePicker">上传身份证正面照</div>
			</div>
			<div class="col-md-2 col-md-offset-1">
				<a href="javascript:;" class="thumbnail" style="width: 160px;">
					<img src="images/zanwu.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;">
				</a>
				<div id="topPicSrc" class="filePicker">上传身份证反面照</div>
			</div>
		</div>-->
		
		<div class="col-md-12" style="text-align: center">
			<button style="width: 200px" class="btn btn-md blue" ng-click=""> 确定 </button>
		</div>
	</div>
</form>