<div class="page-sidebar navbar-collapse collapse">
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<li class="start">
			<a href="#/dashboard.html">
			<i class="icon-home"></i>
			<span class="title"> 首页</span>
			</a>
		</li>
		<li>
			<a href="#/courseDic.html">
			<i class="icon-rocket"></i>
			<span class="title">课程字典</span>
			</a>
		</li>
		<li>
			<a href="#/teachers.html">
			<i class="icon-rocket"></i>
			<span class="title">外聘教师信息</span>
			</a>
		</li>
		<li>
			<a href="#/center.html">
			<i class="icon-rocket"></i>
			<span class="title">学习中心维护</span>
			</a>
		</li>
		<li>
			<a href="#/plans.html">
			<i class="icon-rocket"></i>
			<span class="title">教学计划</span>
			</a>
		</li>
		<li>
			<a href="#/planDatum.html">
			<i class="icon-rocket"></i>
			<span class="title">计划资料</span>
			</a>
		</li>
		<li>
			<a href="#/teachingManagement.html">
			<i class="icon-rocket"></i>
			<span class="title">教学计划查询</span>
			</a>
		</li>
		<li>
			<a href="#/schoolroll.html">
			<i class="icon-rocket"></i>
			<span class="title">学生信息</span>
			</a>
		</li>
		<li>
			<a href="#/peacetimeAchievement.html">
			<i class="icon-rocket"></i>
			<span class="title">学分统计</span>
			</a>
		</li>
		<li>
			<a href="#/externalTeachersDetailed.html">
			<i class="icon-rocket"></i>
			<span class="title">课时统计</span>
			</a>
		</li>
		<li ng-if='pages.courseAdd || pages.myCourses'>
			<a href="javascript:;">
			<i class="icon-basket"></i>
			<span class="title">课程管理</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li ng-if='pages.courseAdd'>
					<a href="#/courseAdd.html">
					<i class="icon-puzzle"></i> 课程添加</span>
					</a>
				</li>
				<li ng-if='pages.myCourses'>
					<a href="#/myCourses.html">
					<i class="icon-paper-clip"></i> 我的课程</span>
					</a>
				</li>
			</ul>
		</li>
		 <li ng-if='pages.assistant || pages.knowledgePoint'>
			<a href="javascript:;">
			<i class="icon-rocket"></i>
			<span class="title">课程资料库</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li ng-if='pages.assistant'>
					<a href="#/assistant.html">
					<i class="icon-puzzle"></i> 教学资料</span>
					</a>
				</li>
				<li ng-if='pages.knowledgePoint'>
					<a href="#/knowledgePoint.html">
					<i class="icon-puzzle"></i> 知识点题库</span>
					</a>
				</li>
			</ul>
		</li> 
		<li>
			<a href="#/externalTeachersDetailed.html">
			<i class="icon-rocket"></i>
			<span class="title">线下成绩录入</span>
			</a>
		</li>
		
		
		<!-- <li>
			<a href="javascript:;">
			<i class="icon-rocket"></i>
			<span class="title">考务管理</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/examinationSchedule.html">
					<i class="icon-paper-clip"></i> 考试日程</span>
					</a>
				</li>
				<li>
					<a href="#/examinationResults.html">
					<i class="icon-paper-clip"></i> 考试成绩</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-rocket"></i>
			<span class="title">毕业管理</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/comprehensiveList.html">
					<i class="icon-paper-clip"></i> 综合列表</span>
					</a>
				</li>
				<li>
					<a href="#/Dissertation.html">
					<i class="icon-paper-clip"></i> 毕业论文</span>
					</a>
				</li>
				<li>
					<a href="#/thesisAdvisor.html">
					<i class="icon-paper-clip"></i> 论文导师</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-rocket"></i>
			<span class="title">财务工作</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/hoursManagement.html">
					<i class="icon-paper-clip"></i> 课时费管理</span>
					</a>
				</li>
				<li>
					<a href="#/hoursStandard.html">
					<i class="icon-paper-clip"></i> 课时费标准</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-rocket"></i>
			<span class="title">校企合作</span>
			<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/externalTeachersInfo.html">
					<i class="icon-paper-clip"></i> 外聘教师信息</span>
					</a>
				</li>
				<li>
					<a href="#/externalTeachersDetailed.html">
					<i class="icon-paper-clip"></i> 课时明细</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-rocket"></i>
			<span class="title">资讯和公告</span>
			<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/noticeType.html">
					<i class="icon-paper-clip"></i> 资讯类别维护</span>
					</a>
				</li>
				<li>
					<a href="#/notice.html">
					<i class="icon-paper-clip"></i> 公告管理</span>
					</a>
				</li>
				<li>
					<a href="#/information.html">
					<i class="icon-paper-clip"></i> 资讯管理</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-rocket"></i>
			<span class="title">系统维护</span>
			<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/center.html">
					<i class="icon-paper-clip"></i> 学习中心</span>
					</a>
				</li>
				<li>
					<a href="#/major.html">
					<i class="icon-paper-clip"></i> 专业</span>
					</a>
				</li>
				<li>
					<a href="#/auth.html">
					<i class="icon-paper-clip"></i> 权限</span>
					</a>
				</li>
			</ul>
		</li> -->
	</ul>
	<!-- END SIDEBAR MENU -->
</div>	