<div role="form" ng-controller="basicCtrl">
	<div class="form-body">
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input">
					<input type="text" class="form-control" id="form_control_1" ng-model="course.courseName" placeholder="请输入课程名称">
					<label for="form_control_1">名称</label>
					<span class="help-block">名称不得超过20个字符</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-line-input has-success">
					<input type="text" class="form-control" id="form_control_2" ng-model="course.courseNumber" placeholder="请输入课程编号">
					<label for="form_control_2">编号</label>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-6">
				<div class="form-group form-md-checkboxes" style="margin-bottom: 40px;">
					<label>授课类型</label>
					<div class="md-checkbox-inline">
						<div class="md-checkbox">
							<input type="checkbox" id="lessonType1" class="md-check" name="lessonType" value="1">
							<label for="lessonType1">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							录播课程 </label>
						</div>
						<div class="md-checkbox">
							<input type="checkbox" id="lessonType2" class="md-check" name="lessonType" value="2">
							<label for="lessonType2">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							直播课程 </label>
						</div>
						<div class="md-checkbox">
							<input type="checkbox" id="lessonType3" class="md-check" name="lessonType" value="3" checked="">
							<label for="lessonType3">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							线下课堂 </label>
						</div>
					</div>
				</div>
				<div class="form-group form-md-checkboxes">
					<label>封面图片</label>
						<a href="javascript:;" class="thumbnail" style="width: 160px;">
							<img src="{{course.topPicSrc}}" alt="100%x180" style="height: 180px; width: 100%; display: block;">
						</a>
					<div id="topPicSrc" class="filePicker">选择文件</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-checkboxes">
					<label>备课类型</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="beikeType1" name="beikeType" class="md-radiobtn" value="1" checked="">
							<label for="beikeType1">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							单人备课 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="beikeType2" name="beikeType" class="md-radiobtn" value="2">
							<label for="beikeType2">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							集体备课 </label>
						</div>
					</div>
				</div>
				<div style="width: 100%; height: 170px;display: none;" id="multipleContent">
					<select multiple="multiple" class="multi-select" id="my_multi_select1" name="my_multi_select1[]">
						<option value="101">胡珊珊</option>
						<option value="102">张燕</option>
						<option value="103" selected>李康</option>
						<option value="104" selected>申琪</option>
						<option value="105">赵红</option>
						<option value="106">王艳丽</option>
						<option value="107">梁伟</option>
						<option value="108">侯卓媛</option>
						<option value="109" selected>马聪颖</option>
						<option value="110">韩涵</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">课程描述</label>
					<div name="summernote" id="summernoteMiaoshu"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-actions noborder" style="text-align: center;">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
	</div>
</div>

<script>
	function basicCtrl($scope, $http, $location, $rootScope) {
		var courseId = localStorage.getItem('courseId');
		var path = $location.path();
		//加载课程信息(如果为编辑)
		$scope.loadCourseInfo = function() {
			if(path.indexOf("courseAdd") != -1) {
				$scope.course = {
					topPicSrc: 'images/zanwu.jpg'
				};
			}else {
				common.ajax({
					$scope: $scope,
					$http: $http,
					url: '/course/getCourseId',
					data: {
				    	'courseId': localStorage.getItem('courseId')
				    },
				    success: function(data) {
				    	//课程信息
				    	$scope.course = data.data;
				    	//课程描述
				    	$('#summernoteMiaoshu').code($scope.course.courseDescribe);
				    	//授课类型
	//			    	$("input[name='lessonType'][value="++"]").attr("checked","checked");
						//处理封面
						if(!$scope.course.topPicSrc) {
							$scope.course.topPicSrc = 'images/zanwu.jpg';
						}
				    }
				});
			}
		}
		$scope.loadCourseInfo();
		
		//切换课程回调
		$scope.$on('course', function(d,data) {
			$scope.loadCourseInfo();
		});
		
		$scope.sub = function() {
			//集体备课老师人员
			var teachers = []
			//所属专业
			$scope.course.specialtyId = "zhuanye001";
			//授课类型
			var teachingType = 3;
//			$.each($('input[name="lessonType"]:checked'),function(){
//				teachingType.push($(this).val());
//          });
            //备课类型
            var lessonPreparationType = $('input[name="beikeType"]:checked').val();
            //课程描述
            var courseDescribe = $('#summernoteMiaoshu').code();
            //集体备课老师人员数组
            var teacherArr = $("#my_multi_select1").val();
            console.log(teacherArr);
            $(teacherArr).each(function() {
            	teachers.push({
            		teacherId: this,
            		teacherName: "张三"
            	});
            });
            
            $scope.course.teachingType = teachingType;
            $scope.course.lessonPreparationType = lessonPreparationType;
            $scope.course.courseDescribe = courseDescribe;
            
            if(path.indexOf("courseAdd") != -1) {
            	//添加课程
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/save',
					data: {
				    	course: $scope.course,
				    	teachers: teachers
				    },
				    success: function(data) {
				    	if(data.ret == 0) {
				    		$rootScope.$emit("course", data.data);
				    		localStorage.setItem('currentNodeId', data.data.courseId);
				    		$rootScope.currentNodeId = data.data.courseId;
				    		var flag = confirm("提交成功，即将转到教辅资料库添加资料");
			    			window.location.href = "#/assistant.html";
				    	}
				    }
				});
            }else {
            	$scope.course.courseId = localStorage.getItem('courseId');
            	//编辑课程
            	common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/edit',
					data: {
				    	course: $scope.course,
				    	teachers: [{
				    		teacherId: localStorage.getItem('userid')
				    	}]
				    },
				    success: function(data) {
				    	console.log(data);
				    }
				});
            }
		}
		
		//初始化富文本编辑器
		$('#summernoteMiaoshu').summernote({
			height: 300
		});
		
		//上传封面图片
		common.fileUpload({
			id: 'topPicSrc',
			success: function(file, response) {
				$scope.$apply(function() {　
					$scope.course.topPicSrc = response.filePath;
				});
			}
		});
		
		//集体备课
		$('#my_multi_select1').multiSelect();
		$('input:radio[name="beikeType"]').change(function() {
			console.log($(this).val());
			if($(this).val() == 2) {
				$("#multipleContent").show();
			}else {
				$("#multipleContent").hide();
			}
		});
		
	}
</script>