<div role="form" ng-controller="basicCtrl">
	<div class="form-body">
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input">
					<input type="text" class="form-control" id="form_control_1" ng-model="course.courseName" placeholder="请输入课程名称">
					<label for="form_control_1">名称</label>
					<span class="help-block">名称不得超过20个字符</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-line-input has-success">
					<input type="text" class="form-control" id="form_control_2" ng-model="course.courseNumber" placeholder="请输入课程编号">
					<label for="form_control_2">编号</label>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-6">
				<div class="form-group form-md-checkboxes" style="margin-bottom: 40px;">
					<label>授课类型</label>
					<div class="md-checkbox-inline">
						<div class="md-checkbox">
							<input type="checkbox" id="lessonType1" class="md-check" name="lessonType" value="1">
							<label for="lessonType1">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							录播课程 </label>
						</div>
						<div class="md-checkbox">
							<input type="checkbox" id="lessonType2" class="md-check" name="lessonType" value="2">
							<label for="lessonType2">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							直播课程 </label>
						</div>
						<div class="md-checkbox">
							<input type="checkbox" id="lessonType3" class="md-check" name="lessonType" value="3" checked="">
							<label for="lessonType3">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							线下课堂 </label>
						</div>
					</div>
				</div>
				<div class="form-group form-md-checkboxes">
					<label>封面图片</label>
						<a href="javascript:;" class="thumbnail" style="width: 160px;">
							<img src="{{course.topPicSrc}}" alt="100%x180" style="height: 180px; width: 100%; display: block;">
						</a>
					<div id="topPicSrc" class="filePicker">选择文件</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-checkboxes">
					<label>备课类型</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="beikeType1" name="beikeType" class="md-radiobtn" value="1" checked="">
							<label for="beikeType1">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							单人备课 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="beikeType2" name="beikeType" class="md-radiobtn" value="2">
							<label for="beikeType2">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							集体备课 </label>
						</div>
					</div>
				</div>
				<div style="width: 100%; height: 170px;display: none;" id="multipleContent">
					<select multiple="multiple" class="multi-select" id="my_multi_select1" name="my_multi_select1[]">
						<option>胡珊珊</option>
						<option>张燕</option>
						<option selected>李康</option>
						<option selected>申琪</option>
						<option>赵红</option>
						<option>王艳丽</option>
						<option>梁伟</option>
						<option>侯卓媛</option>
						<option selected>马聪颖</option>
						<option>韩涵</option>
						<option>张艳欣</option>
						<option>李永红</option>
						<option>霍爱萍</option>
						<option>李曼</option>
						<option>白继萍</option>
						<option>张书文</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">课程描述</label>
					<div name="summernote" id="summernoteMiaoshu"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-actions noborder">
		<button type="button" class="btn blue" ng-click="sub()">保存</button>
	</div>
</div>

<script>
	function basicCtrl($scope, $http, $stateParams) {
		if($stateParams.id == 0) {
			$scope.course = {
				topPicSrc: 'images/zanwu.jpg'
			};
		}else {
			//加载课程信息
			common.ajax({
				$scope: $scope,
				$http: $http,
				url: '/course/getCourseId',
				data: {
			    	'courseId': $stateParams.id
			    },
			    success: function(data) {
			    	console.log(data);
			    	//课程信息
			    	$scope.course = data.data;
			    	//课程描述
			    	$('#summernoteMiaoshu').code($scope.course.courseDescribe);
			    	//授课类型
//			    	$("input[name='lessonType'][value="++"]").attr("checked","checked");
					//处理封面
					if(!$scope.course.topPicSrc) {
						$scope.course.topPicSrc = 'images/zanwu.jpg';
					}
			    }
			});
		}
		
		$scope.sub = function() {
			//所属专业
			$scope.course.specialtyId = "zhuanye001";
			//授课类型
			var teachingType = 3;
//			$.each($('input[name="lessonType"]:checked'),function(){
//				teachingType.push($(this).val());
//          });
            //备课类型
            var shareType = $('input[name="beikeType"]:checked').val();
            //课程描述
            var courseDescribe = $('#summernoteMiaoshu').code();
            
            $scope.course.teachingType = teachingType;
            $scope.course.shareType = shareType;
            $scope.course.courseDescribe = courseDescribe;
            
            if($stateParams.id == 0) {
            	//添加课程
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/save',
					data: {
				    	course: $scope.course,
				    	teachers: [{
				    		teacherId: localStorage.getItem('userid')
				    	}]
				    },
				});
            }else {
            	$scope.course.courseId = $stateParams.id;
            	//编辑课程
            	common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/edit',
					data: {
				    	course: $scope.course,
				    	teachers: [{
				    		teacherId: localStorage.getItem('userid')
				    	}]
				    },
				});
            }
		}
		
		//初始化富文本编辑器
		$('#summernoteMiaoshu').summernote({
			height: 300
		});
		
		//上传封面图片
		common.fileUpload({
			id: 'topPicSrc',
			success: function(file, response) {
				$scope.$apply(function() {　
					$scope.course.topPicSrc = response.filePath;
				});
			}
		});
		
		//集体备课
		$('#my_multi_select1').multiSelect();
		$('input:radio[name="beikeType"]').change(function() {
			console.log($(this).val());
			if($(this).val() == 2) {
				$("#multipleContent").show();
			}else {
				$("#multipleContent").hide();
			}
		});
		
	}
</script>