<link href="../../../assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<div role="form" ng-controller="basicCtrl">
	<div class="form-body">
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input">
					<input id="courseName" type="text" class="form-control" ng-model="course.courseName" placeholder="请输入课程名称">
					<label for="form_control_1">名称</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-line-input has-success">
					<input id="courseNumber" type="text" class="form-control" ng-model="course.alias" placeholder="请输入课程别名（如第一册/第一学期/上册等）">
					<label for="form_control_2">别名</label>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-6">
				<div class="form-group form-md-checkboxes" style="margin-bottom: 40px;">
					<label>授课类型</label>
					<div class="md-checkbox-inline">
						<div class="md-checkbox">
							<input type="checkbox" id="lessonType1" class="md-check" name="lessonType" value="1">
							<label for="lessonType1">
								<span></span>
								<span class="check"></span>
								<span class="box"></span>
								录播课程 </label>
						</div>
						<div class="md-checkbox">
							<input type="checkbox" id="lessonType3" class="md-check" name="lessonType" value="3" checked="">
							<label for="lessonType3">
								<span></span>
								<span class="check"></span>
								<span class="box"></span>
								线下课堂 </label>
						</div>
					</div>
				</div>
				<div class="form-group form-md-checkboxes">
					<label>封面图片</label>
					<a href="javascript:;" class="thumbnail" style="width: 160px;">
						<img src="{{course.topPicSrc}}" alt="100%x180" style="height: 180px; width: 100%; display: block;">
					</a>
					<div id="topPicSrc" class="filePicker">选择文件</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-checkboxes">
					<label>备课类型</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="beikeType1" name="beikeType" class="md-radiobtn" value="1" checked="">
							<label for="beikeType1">
								<span></span>
								<span class="check"></span>
								<span class="box"></span>
								单人备课 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="beikeType2" name="beikeType" class="md-radiobtn" value="2">
							<label for="beikeType2">
								<span></span>
								<span class="check"></span>
								<span class="box"></span>
								集体备课 </label>
						</div>
					</div>
				</div>
				<div style="width: 100%; height: 170px;display: none;" id="multipleContent">
					<select multiple="multiple" class="multi-select" id="my_multi_select1" name="my_multi_select1[]">
						<option value="101">胡珊珊</option>
						<option value="102">张燕</option>
						<option value="103">李康</option>
						<option value="104">申琪</option>
						<option value="105">赵红</option>
						<option value="106">王艳丽</option>
						<option value="107">梁伟</option>
						<option value="108">侯卓媛</option>
						<option value="109">马聪颖</option>
						<option value="110">韩涵</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">课程描述</label>
					<div name="summernote" id="summernoteMiaoshu"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-actions noborder" style="text-align: center;">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
	</div>
</div>

<script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script>
	function basicCtrl($scope, $http, $location, $rootScope) {
		var courseId = localStorage.getItem('courseId');
		var path = $location.path();
		$scope.course.topPicSrc = 'https://e.hnfts.cn/img/zanwu.jpg';
		
		//加载所有课程
		$scope.loadAllCourse = function() {
			common.ajax({
				method: 'get',
				$scope: $scope,
				$http: $http,
				url: '/course/findCourseList',
				data: {
					'courseId': localStorage.getItem('courseId')
				},
				success: function(data) {
					var courseList = data.data;
					courseList.forEach(function(value) {
						value.label = value.courseName;
						value.value = value.courseId;
					})
					$("#courseName").autocomplete({
				    //数据源
				    source: data.data,
						focus: function( event, ui ) {
			        $( "#courseName" ).val( ui.item.label );
			        return false;
			      },
			      select: function( event, ui ) {
			      	$scope.$apply(function() {
			      		$scope.course.courseNumber = ui.item.value;
			      		$scope.course.courseName = ui.item.label;
			      	})
			        
			        return false;
			      }
					});
					
					$scope.loadCourseInfo();
				}
			});
		}
		$scope.loadAllCourse();
		
		//加载课程信息(如果为编辑)
		$scope.loadCourseInfo = function() {
			if (path.indexOf("courseAdd") != -1) {
				$scope.course = {
					topPicSrc: 'https://e.hnfts.cn/img/zanwu.jpg'
				};
			} else {
				common.ajax({
					$scope: $scope,
					$http: $http,
					url: '/course/getCourse',
					data: {
						'courseId': localStorage.getItem('courseId')
					},
					success: function(data) {
						//课程信息
						$scope.course = data.data;
						//课程描述
						$('#summernoteMiaoshu').code($scope.course.courseDescribe);
						//授课类型
						$('input[name="lessonType"]').attr("checked", false);
						var teachingType = $scope.course.teachingType.split(",");
						$(teachingType).each(function() {
							$("input[name='lessonType'][value=" + this + "]").attr("checked", "checked");
						});
						//备课类型
						$("input[name='beikeType'][value=" + $scope.course.lessonPreparationType + "]").attr("checked", "checked");
						if ($scope.course.lessonPreparationType == "2") {
							$("#multipleContent").show();
							//请求分享教师的接口
							common.ajax({
								$scope: $scope,
								$http: $http,
								url: '/course/selectTeachersByShareId',
								data: {
									'shareId': $scope.course.shareId
								},
								success: function(res) {
									var arr = [];
									$(res.data).each(function() {
										arr.push(this.userId);
									});
									$("#my_multi_select1 option").each(function() {
										//console.log($.inArray($(this).val(), arr));
										if ($.inArray($(this).val(), arr) >= 0) {
											$(this).attr("selected", true);
										}
									})
									$('#my_multi_select1').multiSelect('refresh');
								}
							});
						}
						//处理封面
						if (!$scope.course.topPicSrc) {
							$scope.course.topPicSrc = 'https://e.hnfts.cn/img/zanwu.jpg';
						}
					}
				});
			}
		}
		

		//切换课程回调
		$scope.$on('course', function(d, data) {
			$scope.loadCourseInfo();
		});

		$scope.sub = function() {
			//校验课程名称
			if(!$scope.course.courseName || $scope.course.courseName == "") {
				layer.alert("课程名称不能为空");
				return false;
			}
			
			//校验课程名称
			if(!$scope.course.courseNumber || $scope.course.courseNumber == "") {
				layer.alert("课程编号不能为空");
				return false;
			}
			
			//集体备课老师人员
			var teachers = []
			//所属专业
			$scope.course.specialtyId = "zhuanye001";
			//授课类型
			var teachingType = [];
			$.each($('input[name="lessonType"]:checked'), function() {
				teachingType.push($(this).val());
			});
			//备课类型
			var lessonPreparationType = $('input[name="beikeType"]:checked').val();
			
			//课程描述
			var courseDescribe = $('#summernoteMiaoshu').code();
			//集体备课老师人员数组
			var teacherArr = $("#my_multi_select1").val();
			if(lessonPreparationType == '2' && (!teacherArr || teacherArr.length == 0)) {
				layer.alert("集体备课必须选择备课老师");
				return false;
			}
			$(teacherArr).each(function() {
				teachers.push({
					teacherId: this,
					teacherName: "张三"
				});
			});

			$scope.course.teachingType = teachingType.join(",");
			$scope.course.lessonPreparationType = lessonPreparationType;
			$scope.course.courseDescribe = courseDescribe;

			if (path.indexOf("courseAdd") != -1) {
				//添加课程
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/save',
					data: {
						course: $scope.course,
						teachers: teachers
					},
					success: function(data) {
						if (data.ret == 0) {
							$rootScope.$emit("course", data.data);
							localStorage.setItem('currentNodeId', data.data.courseId);
							$rootScope.currentNodeId = data.data.courseId;
							layer.confirm('提交成功，即将转到教辅资料库添加资料', {
								btn: ['确定'] //按钮
							}, function() {
								//加载课程列表
								common.ajax({
									$scope: $scope,
									$http: $http,
									url: '/course/findMyCourse',
									data: {
										sortVo: {
											page: 0,
											size: common.pageSize
										}
									},
									success: function(res) {
										$(res.data).each(function() {
											if(!this.topPicSrc) {
												this.topPicSrc = 'https://e.hnfts.cn/img/zanwu.jpg';
											}
										});
										$rootScope.courses = res.data;
										localStorage.setItem('courseId', data.data.courseId);
										$($rootScope.courses).each(function() {
											if(this.courseId == data.data.courseId) {
												$rootScope.course = this;
												$rootScope.$emit("course", this);
											}
										});
										window.location.href = "#/assistant.html";
										layer.closeAll('dialog');
									}
								});
								
							});

						}
					}
				});
			} else {
				$scope.course.courseId = localStorage.getItem('courseId');
				if(!$scope.course.shareId) {
//					$scope.course.shareId = "";
				}
				//编辑课程
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/edit',
					data: {
						course: $scope.course,
						oldShareId: $scope.course.shareId,
						teachers: teachers
					},
					success: function(data) {
						console.log(data);
					}
				});
			}
		}

		//初始化富文本编辑器
		$('#summernoteMiaoshu').summernote({
			height: 300
		});

		//上传封面图片
		common.fileUpload({
			id: 'topPicSrc',
			type: 'pic',
			success: function(file, response) {
				$scope.$apply(function() {
					$scope.course.topPicSrc = response.fileUrl;
				});
			}
		});

		//集体备课
		$('#my_multi_select1').multiSelect();
		$('input:radio[name="beikeType"]').change(function() {
			console.log($(this).val());
			if ($(this).val() == 2) {
				$("#multipleContent").show();
			} else {
				$("#multipleContent").hide();
			}
		});

	}
</script>
