<style>
	.sign {
		padding: 3px 3px 3px 4px;
		margin-right: 5px;
		cursor: pointer;
	}
	.opreat {
		font-size: 16px;
		width:20px;
		color: #45B6AF;
		cursor: pointer;
	}
	.label-violet {
	  background-color: #8e5fa2;
	}
	.htmlWrapper p {
		display: inline;
	}
</style>
<div class="row" ng-controller="jiaofuCtrl">
	<div class="col-md-4" style="height: 600px;border-right: 1px solid #4DB3A2;">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption" style="font-size: 14px;">
					<i class="icon-settings" style="font-size: 12px;"></i>章节目录
				</div>
			</div>
			<div class="portlet-body">
				<div data-ng-include="'views/template/nodeTree.html'"></div>
			</div>
		</div>

		<div data-ng-include="'views/template/zhishidian.html'"></div>

	</div>

	<div class="col-md-8">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption" style="font-size: 14px;">
					<i class="icon-settings" style="font-size: 12px;"></i>教案和课件{{currKP}}
				</div>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<ul class="feeds" style="width: 48%; display: inline-block;">
						<li>
							<div class="col1">
								<div class="cont">
									<div class="cont-col1">
										<div class="label label-sm label-danger">
											<i class="fa fa-bolt"></i>
										</div>
									</div>
									<div class="cont-col2">
										<div class="desc">
											<a href="{{jiaoan.filePath}}" target="_blank">{{jiaoan.fileName}}</a>
											<span id="filePickerJiaoan" class="filePicker"> 上传教案 </span>
											<span class="exist"> 
												已有教案（<span style="color: red;">{{jiaoanCount}}</span>） 
											</span>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<ul class="feeds" style="width: 48%; display: inline-block;">
						<li>
							<div class="col1">
								<div class="cont">
									<div class="cont-col1">
										<div class="label label-sm label-info">
											<i class="fa fa-bullhorn"></i>
										</div>
									</div>
									<div class="cont-col2">
										<div class="desc">
											<div id="kejianContent" style="display: inline-block;"></div>
											<span class="label label-danger label-sm" data-toggle="modal" href="#uploadKejianModal">
												上传课件
											</span>
											<span class="exist"> 
												PPT（<span style="color: red;">1</span>） 
											</span>
											<span class="exist" style="margin-left: 100px;"> 
												图集（<span style="color: red;">1</span>） 
											</span>
											<span class="exist" style="margin-left: 180px;"> 
												视频（<span style="color: red;">0</span>） 
											</span>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="portlet light" style="height: 400px;">
			<div class="portlet-title tabbable-line">
				<div class="caption" style="font-size: 14px;">
					<i class="icon-settings" style="font-size: 12px;"></i>课堂互动{{currKP}}
				</div>
				<div class="actions">
					<button class="btn btn-circle red-sunglo btn-sm" ng-click="openDataModal()">
					<i class="fa fa-plus"></i> 创建 </button>
				</div>
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-target="#tab_2_1" data-toggle="tab">
							资料 </a>
					</li>
					<li>
						<a data-target="#tab_2_2" data-toggle="tab">
							提问 </a>
					</li>
					<li>
						<a data-target="#tab_2_3" data-toggle="tab">
							练习 </a>
					</li>
					<li>
						<a data-target="#tab_2_4" data-toggle="tab">
							作业 </a>
					</li>
					<li>
						<a data-target="#tab_2_5" data-toggle="tab">
							任务 </a>
					</li>
					<li>
						<a data-target="#tab_2_6" data-toggle="tab">
							问卷 </a>
					</li>
					<li>
						<a data-target="#tab_2_7" data-toggle="tab">
							风暴 </a>
					</li>
					
					
					
				</ul>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_2_1">
						<div class="scroller" style="height: 400px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
							<ul class="feeds">
								<li ng-repeat="row in ziliaoList">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="{{row.url}}" style="line-height: 25px;" target=_blank>{{row.text}}</a>
													<div class="label label-sm {{row.yu ? 'label-danger' : 'label-default'}} sign" title="预习资料" ng-click="changeLabel(row, 1)">预</div>
													<div class="label label-sm {{row.tang ? 'label-success' : 'label-default'}} sign" title="课堂参考" ng-click="changeLabel(row, 2)">堂</div>
													<div class="label label-sm {{row.an ? 'label-warning' : 'label-default'}} sign" title="课程案例" ng-click="changeLabel(row, 3)">案</div>
													<div class="label label-sm {{row.fu ? 'label-info' : 'label-default'}} sign" title="复习参考" ng-click="changeLabel(row, 4)">复</div>
													<div class="label label-sm {{row.xiang ? 'label-primary' : 'label-default'}} sign" title="资料共享" ng-click="changeLabel(row, 5)">享</div>
													<div class="label label-sm {{row.sheng ? 'label-violet' : 'label-default'}} sign" title="学生可见" ng-click="changeLabel(row, 6)">生</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											<i class="fa fa-link opreat clipboard"  data-clipboard-text="{{row.url}}" style="padding-right: 23px;border-right: 1px solid #45B6AF;" title="复制链接"></i>
											<i class="fa fa-trash-o opreat" title="删除"></i>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-pane" id="tab_2_2">
						<ul class="feeds">
							<li ng-repeat="row in tiwenQuestionList">
								<div class="col1">
									<div class="cont">
										<div class="cont-col1">
											<div class="label label-sm label-success">
												<i class="fa fa-bullhorn"></i>
											</div>
										</div>
										<div class="cont-col2">
											<div class="desc">
												<span style="line-height: 25px;" ng-bind-html="row.title" class="htmlWrapper"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col2">
									<div class="date">
										<i class="fa fa-link opreat clipboard"  data-clipboard-text="{{row.url}}" style="padding-right: 23px;border-right: 1px solid #45B6AF;" title="复制链接"></i>
										<i class="fa fa-trash-o opreat" title="删除"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="tab-pane" id="tab_2_3">
						<ul class="feeds">
							<li ng-repeat="row in lianxiQuestionList">
								<div class="col1">
									<div class="cont">
										<div class="cont-col1">
											<div class="label label-sm label-success">
												<i class="fa fa-bullhorn"></i>
											</div>
										</div>
										<div class="cont-col2">
											<div class="desc">
												<span style="line-height: 25px;" ng-bind-html="row.title" class="htmlWrapper"></span>
												<div class="label label-sm {{row.preview.indexOf('before')>=0 ? 'label-danger' : 'label-default'}} sign" title="预习资料" ng-click="changeLianxiLabel(row, 'before')">预</div>
												<div class="label label-sm {{row.preview.indexOf('now')>=0 ? 'label-success' : 'label-default'}} sign" title="课堂参考" ng-click="changeLianxiLabel(row, 'now')">堂</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col2">
									<div class="date">
										<i class="fa fa-link opreat clipboard"  data-clipboard-text="{{row.url}}" style="padding-right: 23px;border-right: 1px solid #45B6AF;" title="复制链接"></i>
										<i class="fa fa-trash-o opreat" title="删除"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="tab-pane" id="tab_2_4">
						<ul class="feeds">
							<li ng-repeat="row in zuoyeQuestionList">
								<div class="col1">
									<div class="cont">
										<div class="cont-col1">
											<div class="label label-sm label-success">
												<i class="fa fa-bullhorn"></i>
											</div>
										</div>
										<div class="cont-col2">
											<div class="desc">
												<span style="line-height: 25px;" ng-bind-html="row.title" class="htmlWrapper"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col2">
									<div class="date">
										<i class="fa fa-link opreat clipboard"  data-clipboard-text="{{row.url}}" style="padding-right: 23px;border-right: 1px solid #45B6AF;" title="复制链接"></i>
										<i class="fa fa-trash-o opreat" title="删除"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="tab-pane" id="tab_2_5"></div>
					<div class="tab-pane" id="tab_2_6"></div>
					<div class="tab-pane" id="tab_2_7"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="picsModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">教案列表</h4>
				</div>
				<div class="modal-body">
					<div class="portlet">
						<div class="portlet-body">
							<img src="{{row}}" style="width: 110px;height: 110px;" ng-repeat="row in picsKejian" />
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
	<div class="modal fade" id="picsModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">图集</h4>
				</div>
				<div class="modal-body">
					<div class="portlet">
						<div class="portlet-body">
							<img src="{{row}}" style="width: 110px;height: 110px;" ng-repeat="row in picsKejian" />
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
	<div data-ng-include="'views/template/lessonPlan/lessonPlan.html'"></div>

	<div data-ng-include="'views/template/uploadKejian.html'"></div>
</div>

<script>
	function jiaofuCtrl($scope, $http, $rootScope) {
		$scope.jiaoanList = [];//教案列表
		$scope.kejianList = [];//课件列表
		
		$scope.loadJiaoanList = function() {
			
		}
		
		$scope.loadKejianList = function() {
			$scope.loadChapterData();
		}
		
		//根据章节id加载章节信息
		$scope.loadChapterData = function(datumArea) {
			if(datumArea == "general") {
				datumArea = "3,4,5,6";
			}
			//章节资料
			common.ajax({
				$scope: $scope,
				$http: $http,
				url: '/chapteData/findDatumList',
				data: {
					"chapterId": localStorage.getItem('currentNodeId'),
			  		"courseId": localStorage.getItem('courseId'),
					"datumType": "1",
					"datumArea": datumArea,
					"sortVo": {
						"isValidated": "0",
						"page": 0,
						"size": 15,
						"sort": 1
					}
				},
			    success: function(data) {
//			    	console.log(data);
			    }
			});
			
			//获取章节教案总数
			common.ajax({
				$scope: $scope,
				$http: $http,
				url: '/chapteData/countJiaoAn',
				data: {
					"chapterId": localStorage.getItem('currentNodeId'),
			  		"courseId": localStorage.getItem('courseId'),
				},
			    success: function(data) {
			    	$scope.jiaoanCount = data.data.dcount;
			    	console.log($scope.jiaoanCount);
			    }
			});
			
			//获取章节课件总数
			common.ajax({
				$scope: $scope,
				$http: $http,
				url: '/chapteData/countKeJian',
				data: {
					"chapterId": localStorage.getItem('currentNodeId'),
			  		"courseId": localStorage.getItem('courseId'),
				},
			    success: function(data) {
			    	console.log(data);
			    }
			});
		}
		
		//切换章节回调
		$scope.$on('currentNode', function(d,data) {
	        $scope.currentNode = data;
	        $scope.loadChapterData("general");//加载章节资料
	        $scope.loadTiwenQuestions();//加载提问问题列表
	        $scope.loadLianxiQuestions();//加载练习题目列表
	        $scope.loadZuoyeQuestions();//加载作业题目列表
	    });
	    
	    //提问/练习/作业册更新回调
		$scope.$on('ceziChange', function(d,data) {  
			console.log(data);
	        if(data == 1) {
	        	$scope.loadTiwenQuestions();//加载提问题目列表
	        }else if(data == 2) {
	        	$scope.loadLianxiQuestions();//加载练习题目列表
	        }else if(data == 3) {
	        	$scope.loadZuoyeQuestions();//加载作业题目列表
	        }
	    });
		
		$scope.jiaoan = {};
		
		//上传课件回调
		$scope.$on('kejian', function(d,data) {  
	        console.log(data);         //父级能得到值  
	        if(!localStorage.getItem('currentNodeId')) {
				common.toast({
					title: "请先选择章节",
					type: 2
				});
			}
	        common.ajax({
				$scope: $scope,
				$http: $http,
				operate: true,
				url: '/chapteData/save',
				data: {
			    	courseId: localStorage.getItem('courseId'),
			    	chapterId: localStorage.getItem('currentNodeId'),
			    	datumArea: "2",
			    	datumType: data.type+"",
					files: data.content
			    },
			    success: function(data) {
			    	console.log(data);
			   		$scope.loadChapterData("2");
			    }
			});
	        $scope.loadChapterData("2");//获取已上传的课件列表信息
	    });
	    
		$scope.ziliaoList = [{
			text: "《电子商务基础》教学大纲.doc",
			url: "111",
			yu: true,
			tang: true,
			an: true,
			fu: true,
			xiang: true,
			sheng: true
		}, {
			text: "电子商务基础教案.doc",
			url: "222",
			yu: true,
			tang: true,
			an: true,
			fu: true,
			xiang: true,
			sheng: true
		}, {
			text: "电子商务基础课件.ppt",
			url: "333",
			yu: true,
			tang: true,
			an: true,
			fu: true,
			xiang: true,
			sheng: true
		}];

		$scope.tiwenList = [{
			icon: "堂",
			text: "商家要开展电子商务活动 , 应该用( )作为其主要的生意平台。",
			url: "111",
			color: "label-success"
		}, {
			icon: "堂",
			text: "Intranet和Internet的区别是 ( )",
			url: "222",
			color: "label-success"
		}, {
			icon: "堂",
			text: "电子数据交换的简称是 ( )",
			url: "333",
			color: "label-success"
		}];
		
		$scope.changeLabel = function(row, type) {
			if(type == 1) {
				if(row.yu) {
					row.yu = false;
				}else {
					row.yu = true;
				}
			}else if(type == 2) {
				if(row.tang) {
					row.tang = false;
				}else {
					row.tang = true;
				}
			}else if(type == 3) {
				if(row.an) {
					row.an = false;
				}else {
					row.an = true;
				}
			}else if(type == 4) {
				if(row.fu) {
					row.fu = false;
				}else {
					row.fu = true;
				}
			}else if(type == 5) {
				if(row.xiang) {
					row.xiang = false;
				}else {
					row.xiang = true;
				}
			}else if(type == 6) {
				if(row.sheng) {
					row.sheng = false;
				}else {
					row.sheng = true;
				}
			}
		}
		
		//上传教案
		common.fileUpload({
			id: 'filePickerJiaoan',
			beforeSend: function() {
				console.log(localStorage.getItem('currentNodeId'));
				var rtn = {
					continue: true
				}
				if(!localStorage.getItem('currentNodeId')) {
					rtn = {
						continue: false,
						title: "请先选择章节"
					}
				}
				return rtn;
			},
			success: function(file, response) {
				$scope.$apply(function() {　　
					common.ajax({
						$scope: $scope,
						$http: $http,
						operate: true,
						url: '/chapteData/save',
						data: {
					    	courseId: localStorage.getItem('courseId'),
					    	chapterId: localStorage.getItem('currentNodeId'),
					    	datumArea: "1",
					    	datumType: "1",
							files: [response]
					    },
					    success: function(data) {
					    	console.log(data);
					   		$scope.loadChapterData("1");
					    }
					});
				});
			}
		});
		
		//加载所有挂接的提问题目
		$scope.loadTiwenQuestions = function() {
			common.ajax2({
	        	$scope: $scope,
				$http: $http,
				data: {
					"chapterId": localStorage.getItem('currentNodeId'),
					"courseId": localStorage.getItem('courseId'),
					"exeBookType": "1"
				},
				url: '/exerciseBook/findExerciseBook',
				success: function(res) {
					res.data = common.addTitleForQuestion({
					questionArr: res.data
				});//组装题干以供展示
					$scope.tiwenQuestionList = res.data;
				}
	        });
		}
		$scope.loadTiwenQuestions();
		
		//加载所有挂接的练习题目
		$scope.loadLianxiQuestions = function() {
			common.ajax2({
	        	$scope: $scope,
				$http: $http,
				data: {
					"chapterId": localStorage.getItem('currentNodeId'),
					"courseId": localStorage.getItem('courseId'),
					"exeBookType": "2"
				},
				url: '/exerciseBook/findExerciseBook',
				success: function(res) {
					res.data = common.addTitleForQuestion({
					questionArr: res.data,
					select: true
				});//组装题干以供展示
					$scope.lianxiQuestionList = res.data;
				}
	        });
		}
		$scope.loadLianxiQuestions();
		
		//加载所有挂接的作业题目
		$scope.loadZuoyeQuestions = function() {
			common.ajax2({
	        	$scope: $scope,
				$http: $http,
				data: {
					"chapterId": localStorage.getItem('currentNodeId'),
					"courseId": localStorage.getItem('courseId'),
					"exeBookType": "3"
				},
				url: '/exerciseBook/findExerciseBook',
				success: function(res) {
					res.data = common.addTitleForQuestion({
					questionArr: res.data,
					select: true
				});//组装题干以供展示
					$scope.zuoyeQuestionList = res.data;
				}
	        });
		}
		$scope.loadZuoyeQuestions();
		
		//修改练习的标签
		$scope.changeLianxiLabel = function(row, type) {
			if(row.preview) {
				if(row.preview.indexOf(type)>=0) {
					row.preview = row.preview.replace(type, '');
				}else if(row.preview.indexOf(type)<0) {
					row.preview = row.preview + type;
				}
			}else {
				row.preview = type;
			}
			
			common.ajax2({
	        	$scope: $scope,
				$http: $http,
				operate: true,
				data: {
					"preview": row.preview,
				    "chapterId": localStorage.getItem('currentNodeId'),
					"courseId": localStorage.getItem('courseId'),
				    "targetId": row.id
				},
				url: '/exerciseBook/edit/preview',
				success: function() {
					$scope.$broadcast('lianxiLabelChange', true);
				}
	        });
		};
		
		//打开备课模态框
	    $scope.openDataModal = function() {
	    	if(!$rootScope.currentNode) {
	    		layer.alert("请先选择章节");
	    		return false;
	    	}
	    	layer.confirm("您确定要为--("+$rootScope.currentNode.text+")--章节创建或编辑备课信息吗", {
			  btn: ['确定','取消'] //按钮
			}, function(){
			  	$("#dataModal").modal("show");
				layer.closeAll('dialog');
			});
	    }
	}
</script>