<link rel="stylesheet" type="text/css" href="../../../assets/global/plugins/jquery-multi-select/css/multi-select.css" />
<style>
	#uploader .placeholder {
		min-height: 150px;
		padding-top: 58px;
		background: none;
	}
	
	#uploader2 .placeholder {
		min-height: 150px;
		padding-top: 58px;
		background: none;
	}
	
	.webuploader-pick {
		padding: 0 4px 1px 4px;
	}
	
	.filePicker div:nth-child(2) {
		width: 100%!important;
		height: 100%!important;
	}
	
	.webuploader-container div:nth-child(2) {
		width: 100%!important;
		height: 100%!important;
	}
	
	#topPicSrc {
		margin-left: 30px;
		width: 100px;
	}
	
	#topPicSrc .webuploader-pick {
		padding: 10px 15px;
	}
	
	#filePicker7 .webuploader-pick {
		padding: 10px 15px;
	}
	
	#filePicker7 div:nth-child(2) label {
		width: 150px !important;
	}
	
	.exist {
		height: 20px; 
		line-height: 20px;
		display: inline-block; 
		position: absolute;
		margin-left: 20px;
		cursor: pointer;
		width: 100px;
	}
	.sign {
		padding: 3px 3px 3px 4px;
		margin-right: 5px;
		cursor: pointer;
	}
	.opreat {
		font-size: 16px;
		width:20px;
		color: #45B6AF;
		cursor: pointer;
	}
	.label-violet {
	  background-color: #8e5fa2;
	}
	.htmlWrapper p {
		display: inline;
	}
	.badge {
		padding: 6px 9px;
		height: 24px;
		margin: 3px;
	}
	.search {
		display: inline-block !important;
		margin-right: 20px;
		width: auto !important;
	}
</style>
<div class="row" ng-controller="editCourseCtrl">
	<div style="position: absolute;right: 10px; top: 35px;">
		<span style="color: #3175af;margin-right:5px;">跳转至&nbsp;&nbsp;<i class="fa fa-mail-forward"></i></span>
		<div class="btn-group btn-group-sm btn-group-solid">
			<button type="button" class="btn green" onclick="common.goUrl('knowledgePoint')">题库</button>
			<button type="button" class="btn blue" onclick="common.goUrl('assistant')">教学资料</button>
		</div>
	</div>
	<div data-ng-include="'components/title.html'"></div>
	<div class="col-md-12">
		<!-- BEGIN: ACCORDION DEMO -->
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption font-green-sharp">
					<i class="icon-settings font-green-sharp"></i>
					<span class="caption-subject bold uppercase">课程信息</span>
				</div>
				<ul class="nav nav-tabs">
					<li>
						<a data-target="#tab_1_1" data-toggle="tab">基本信息</a>
					</li>
					<li class="active">
						<a data-target="#tab_1_2" data-toggle="tab">教辅信息</a>
					</li>
				</ul>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<div class="tab-pane" id="tab_1_1">
						<div data-ng-include="'components/courseInfo.html'"></div>
					</div>
					<div class="tab-pane active" id="tab_1_2">
						<div class="row">
							<div class="col-md-4" style="height: 600px;border-right: 1px solid #4DB3A2;">
								<div class="portlet light">
									<div class="portlet-title">
										<div class="caption" style="font-size: 14px;">
											<i class="icon-settings" style="font-size: 12px;"></i>授课目录
										</div>
										<div class="actions">
											<button class="btn btn-circle red-sunglo btn-sm" ng-click='openModel()'>
												<i class="fa fa-plus"></i> 导入课程 </button>
										</div>
									</div>
									<div class="portlet-body">
										<div data-ng-include="'components/nodeTree.html'"></div>
									</div>
								</div>
							</div>

							<div class="col-md-8">
								<div class="portlet light">
									<div class="portlet-title tabbable-line">
										<div class="caption" style="font-size: 14px;">
											<i class="icon-settings" style="font-size: 12px;"></i>视频课件
										</div>
									</div>
									<div class="portlet-body">
										<div class="tab-content">
											<ul class="feeds">
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-danger">
																	<i class="fa fa-bolt"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">

																	<span id="filePickerKejian" class="filePicker"> 上传课件 </span>
																	<div style="display: inline;margin-left: 20px;position: absolute;"> 已有课件
																		<a ng-click='blank(kejian)'>({{kejian.fileName}})
																			<span ng-if='kejian.verifyStatus == 1'>({{verifyStatusHelper(kejian.verifyStatus)}})</span>
																			<span ng-if='kejian.verifyStatus == 2' style="color: red;">({{verifyStatusHelper(kejian.verifyStatus)}})</span>
																		</a>
																	</div>

																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="portlet light" style="height: 400px;">
									<div class="portlet-title tabbable-line">
										<div class="caption" style="font-size: 14px;">
											<i class="icon-settings" style="font-size: 12px;"></i>课堂互动
										</div>
										<ul class="nav nav-tabs" id="teachAssTab">
											<li class="active ms-hover">
												<a data-target="#tab_2_1" data-toggle="tab" ng-click="changeType(0)">
													资料 </a>
											</li>
											<li>
												<a data-target="#tab_2_2" data-toggle="tab" ng-click="changeType(3)">
													作业 </a>
											</li>
										</ul>
									</div>
									<div class="portlet-body">
										<div class="tab-content">
											<!--资料-->
											<div class="tab-pane active" id="tab_2_1">
												<div>
													<ul class="feeds">
														<li ng-repeat="row in ziliaoList">
															<div class="col1">
																<div class="cont">
																	<div class="cont-col1">
																		<div class="label label-sm label-success">
																			<i class="fa fa-bullhorn"></i>
																		</div>
																	</div>
																	<div class="cont-col2">
																		<div class="desc">
																			<a href="{{row.fileUrl}}" style="line-height: 25px;" target=_blank>{{row.fileName}}
																				<span ng-if='row.verifyStatus == 1'>({{verifyStatusHelper(row.verifyStatus)}})</span>
																				<span ng-if='row.verifyStatus == 2' style="color: red;">({{verifyStatusHelper(row.verifyStatus)}})</span>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
															<!-- <div class="col2">
																<div class="date">
																	<i class="fa fa-trash-o opreat" title="删除"></i>
																</div>
															</div> -->
														</li>
													</ul>
												</div>
											</div>

											<!--作业-->
											<div class="tab-pane" id="tab_2_2">
												<ul class="feeds">
													<li ng-repeat="row in zuoyeQuestionList">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bullhorn"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		<span style="line-height: 25px;" ng-bind-html="row.title" class="htmlWrapper"></span>
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																<i class="fa fa-trash-o opreat" title="删除" ng-click="delQuestion(row.id)"></i>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END: ACCORDION DEMO -->
	</div>

	<!-- 导入课程 -->
	<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10051;">
		<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">导入课程</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12" style="text-align: center">
							<button style="width: 200px;background: #00b7ee;" type="button" class="btn btn-md" id="uploadSub"> 点击选择课程上传
							</button>
						</div>
						<div class="col-md-12" id="videoWrapper">
							<div style="width: 400px; height:auto;margin: 20px;float: left;" ng-repeat='row in videoList'>
								<video controls="controls" id="{{row.id}}'" src="{{row.trustFileUrl}}" style="width:100%;height:auto;"></video>
								<div>
									<span ng-click='upGo($index)'>前移</span>
									<span ng-click='downGo($index)' style="float: right;">后移</span>
								</div>
								<h4>{{row.fileName}}</h4>
							</div>
							<div class="col-md-12" style="text-align: center">
								<button ng-show='videoList.length>0' style="width: 200px;" type="button" class="btn btn-md blue" ng-click='importSub()'>
									提交 </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<video controls="controls" id="aa" style="display: none;"></video>
</div>
<!-- END MAIN CONTENT -->

<script src="js/webuploader-0.1.5/webuploader.min.js"></script>
<script>
	function editCourseCtrl($scope, $http, $rootScope, $timeout, $sce) {
		$scope.kejian = {}; //视频课件
		$scope.count = 0
		/*
		 * 根据章节id加载章节课件或已挂载的资料
		 * datumType  1文档　2图册　3视频　4音频　5链接
		 * */
		$scope.loadDatumData = function(type) {
			if (!$rootScope.currCourse || !$rootScope.currentNode) {
				return false
			}

			var postData = {
				"chapterId": $rootScope.currentNode.id,
				"courseId": $rootScope.currCourse.courseId,
				"sortVo": {
					"isValidated": "0",
					"page": 0,
					"size": common.pageSize,
					"sort": 1
				}
			};

			let url = '/courseware/findByChapterId'
			if (type == 'dutum') {
				url = '/chapteData/findDatumList';
			}

			common.ajax({
				$scope: $scope,
				$http: $http,
				url: url,
				data: postData,
				success: function(data) {
					if (data) { //如果有数据
						if (type == "kejian") { //课件
							$scope.kejian = data[0];
						} else if (type = 'dutum') { //资料
							$scope.ziliaoList = data;
						}
					}
				}
			});
		}

		//上传课件
		common.fileUpload({
			id: 'filePickerKejian',
			type: 'video',
			beforeSend: function() {
				console.log($rootScope.currentNode)
				var rtn = {
					continue: true
				}
				if (!$rootScope.currentNode || $rootScope.currentNode.id == '0') {
					rtn = {
						continue: false,
						title: "请先选择章节"
					}
				}
				return rtn;
			},

			success: function(file, response) {
				console.log('debug....')
				$("#aa").prop('src', response.fileUrl)
				$timeout(function() {
					let oV = document.getElementById('aa')
					$("#filePickerKejian").find('input[type="file"]').val("");
					var postData = {
						"chapterId": $rootScope.currentNode.id,
						"courseId": $rootScope.currCourse.courseId,
						"courseName": $rootScope.currCourse.courseName,
						'fileUrl': response.fileUrl,
						'fileName': response.fileName,
						'videoTime': Math.round(oV.duration) //视频时长(四舍五入)
					};

					$scope.$apply(function() {
						common.ajax({
							$scope: $scope,
							$http: $http,
							operate: true,
							url: '/courseware/savefile',
							data: postData,
							success: function(data) {
								response.verifyStatus = '1'
								$scope.kejian = response;
							}
						});
					})
				}, 500)

			}
		});

		//打开导入模态框
		$scope.openModel = function() {
			console.log($rootScope.currChapters)
			console.log($rootScope.currChapters.length)
			if ($rootScope.currChapters.length > 2) {
				layer.alert('本课程已经有章节了，不能导入')
				return false
			}
			
			if($rootScope.currChapters.length == 1) {
				let postData = {
					"chapterName": $rootScope.currCourse.courseName,
					"courseId": $rootScope.currCourse.courseId,
					randomQuestionsNumber: 5,
					videoTime: 0,
					chapterParentId: 0
				}
				
				common.ajax({
					$scope: $scope,
					$http: $http,
					url: '/courseChapter/save',
					data: postData,
					success: function(data) {
						// $scope.loadChapter();
						$rootScope.changeChapter = $scope.count
						$scope.count++
						$('#importModal').modal('show')
					}
				});
			}
			$('#importModal').modal('show')
			
		}

		$scope.count = 0
		$scope.videoList = []
		//导入课程
		common.fileUpload({
			id: 'uploadSub',
			type: 'video',
			success: function(file, response) {
				console.log(file)
				if (response.code && response.meg) {
					layer.alert(response.meg)
					return false
				}

				$scope.$apply(function() {
					$scope.videoList.push({
						id: file.id,
						fileUrl: response.fileUrl,
						trustFileUrl: $sce.trustAsResourceUrl(response.fileUrl),
						fileName: response.fileName,
						randomQuestionsNumber: 5,
						publish: 'Y',
						chapterType: ''
					})
				})
			}
		});

		//向上调整顺序
		$scope.upGo = function(index) {
			console.log(index)
			if (index != 0) {
				$scope.videoList[index] = $scope.videoList.splice(index - 1, 1, $scope.videoList[index])[0];
			} else {
				layer.alert('已经是第一位，无法前移了')
			}
		}

		//向下调整顺序
		$scope.downGo = function(index) {
			if (index != $scope.videoList.length - 1) {
				$scope.videoList[index] = $scope.videoList.splice(index + 1, 1, $scope.videoList[index])[0];
			} else {
				layer.alert('已经是最后一位，无法后移了')
			}
		}

		//确认导入
		$scope.importSub = function() {
			for (let i = 0; i < $scope.videoList.length; i++) {
				let duration = $($("#videoWrapper").find('video')[i])[0].duration
				console.log(Math.round(duration))
				$scope.videoList[i].videoTime = Math.round(duration)
				$scope.videoList[i].fileVideoTime = Math.round(duration)
			}
			console.log($scope.videoList)
			
			let postData = {
				chapterParentId: $rootScope.currChapters[1].id,
				courseId: $rootScope.currCourse.courseId,
				courseName: $rootScope.currCourse.courseName,
				teacherName: localStorage.getItem('username'),
				centerName: localStorage.getItem('centerName'),
				files: $scope.videoList
			}
			common.ajax({
				$scope: $scope,
				$http: $http,
				url: '/courseChapter/saveChapterDataList',
				data: postData,
				success: function(data) {
					// $scope.loadChapter();
					$rootScope.changeChapter = $scope.count
					$scope.count++
					$('#importModal').modal('hide')
					$scope.videoList = []
				}
			});
			
		}

		//加载所有题目
		$scope.loadQuestions = function() {
			if (!$rootScope.currCourse || !$rootScope.currentNode) {
				return false
			}
			var data = {
				"courseId": $rootScope.currCourse.courseId,
				"chapterId": $rootScope.currentNode.id, //章节id
				// "examType": type, //题目类型 single multiple trueOrFalse
				"page": 0,
				"size": common.pageSize,
				"sort": 1
			};

			common.ajax2({
				$scope: $scope,
				$http: $http,
				data: data,
				url: '/question/findQuestionPageAll',
				success: function(res) {
					console.log(res)
					let quesArr = common.addTitleForQuestion({
						questionArr: res.content
					}); //组装题干以供展示
					$scope.zuoyeQuestionList = quesArr;
					console.log($scope.zuoyeQuestionList)
				}
			});
		};

		$scope.initData = function() {
			$scope.loadDatumData("kejian"); //加载视频课件
			$scope.loadDatumData("dutum"); //加载已挂载资料列表
			$scope.loadQuestions(); //加载作业问题列表
		};
		$scope.initData();

		$scope.$watch("currentNode", function(newValue, oldValue) {
			console.log(newValue);
			$scope.initData();
		})

		$scope.blank = function(file) {
			window.open(file.fileUrl)
		}

		//删除题目
		$scope.delQuestion = function(id) {
			layer.confirm("您确定要删除该题目吗", {
				btn: ['确定', "取消"] //按钮
			}, function() {
				common.ajax2({
					method: "delete",
					$scope: $scope,
					$http: $http,
					url: '/question/delete/' + id,
					success: function(res) {
						layer.alert('删除成功')
						$scope.loadQuestions();
					}
				});
				layer.closeAll('dialog');
			});
		}
	}
</script>
