<link href="../../../assets/admin/pages/css/profile-old.css" rel="stylesheet">
<style>
	.label-text {
		margin-top: 8px;
	}
</style>
<div class="row" ng-controller="coursesDicCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>课程字典
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn red" ng-click="add()">
					<i class="fa fa-plus"></i> 添加 </a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>操作</th>
							<th>课程名称</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX" ng-repeat="item in data">
							<td style="min-width: 150px;">
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="edit(item)">编辑</button>
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="del(item)">删除</button>
								<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="save(item)">保存</button>
								<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="cancel(item)">取消</button>
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.courseName}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.courseName" />
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div>
						<div class="col-md-5" style="float: left; clear: both; margin-left: 20px;">
							<pagination total-items="bigTotalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" first-text="首页" items-per-page="{{pageSize}}" last-text="末页" previous-text="上一页" next-text="下一页"></pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>

</div>
<script>
	function coursesDicCtrl($scope, $http, $rootScope) {
		//加载课程字典列表
		$scope.loadCouseDicList = function() {			
			common.loadDataList({
				$scope: $scope,
				$http: $http,
				$rootScope: $rootScope,
				url: '/onLineCourseDic/findAll'
			});
		};
		$scope.loadCouseDicList();
		
		$scope.data = [{
			courseName: '社交礼仪'
		}, {
			courseName: '电子商务'
		}]
		
		$scope.add = function() {
			$scope.flag = 'add';
			$scope.data.push({ edit: true })
		};
		
		$scope.edit = function(course) {
			$scope.flag = 'edit';
			course.edit = true;
		}
		
		$scope.save = function(course) {
			course.trainAreaId = 1;
			if(!course.courseName || course.courseName=='') {
				layer.alert('课程名称不能为空')
				return false
			}
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: course,
				operate: true,
				url: '/onLineCourseDic/saveOrUpdate',
				success: function(res) {
					$scope.loadCouseDicList();
				}
			});
		};
		
		$scope.cancel = function(course) {
			if($scope.flag == 'add') {
				$scope.data.pop();
			}else if($scope.flag == 'edit') {
				course.edit = false;				
			}
		};		
		
		$scope.del = function(course) {
			common.ajax({
				$scope: $scope,
				$http: $http,
				operate: true,
				data: course.courseId,
				tip: '您确定要删除该课程吗？',
				url: '/onLineCourseDic/removeByCourseId',
				success: function(res) {
					$scope.loadCouseDicList();
				}
			});
		};
	}
</script>