<link rel="stylesheet" type="text/css" href="../../../assets/global/plugins/jquery-multi-select/css/multi-select.css"/>
<style>
	#uploader .placeholder {
		min-height: 150px;
		padding-top: 58px;
		background: none;
	}
	
	#uploader2 .placeholder {
		min-height: 150px;
		padding-top: 58px;
		background: none;
	}
	
	.webuploader-pick {
		padding: 0 4px 1px 4px;
	}
	
	.filePicker div:nth-child(2) {
		width: 100%!important;
		height: 100%!important;
	}
	
	#topPicSrc {
		margin-left: 30px;
		width: 100px;
	}
	
	#topPicSrc .webuploader-pick {
		padding: 10px 15px;
	}
	
	#filePicker7 .webuploader-pick {
		padding: 10px 15px;
	}
	
	#filePicker7 div:nth-child(2) label {
		width: 150px !important;
	}
	
	.exist {
		height: 20px; 
		line-height: 20px;
		display: inline-block; 
		position: absolute;
		margin-left: 20px;
		cursor: pointer;
		width: 100px;
	}
	.sign {
		padding: 3px 3px 3px 4px;
		margin-right: 5px;
		cursor: pointer;
	}
	.opreat {
		font-size: 16px;
		width:20px;
		color: #45B6AF;
		cursor: pointer;
	}
	.label-violet {
	  background-color: #8e5fa2;
	}
	.htmlWrapper p {
		display: inline;
	}
	.badge {
		padding: 6px 9px;
		height: 24px;
		margin: 3px;
	}
	.search {
		display: inline-block !important;
		margin-right: 20px;
		width: auto !important;
	}
</style>
<div class="row" ng-controller="editCourseCtrl">
	<div style="position: absolute;right: 10px; top: 35px;">
		<span style="color: #3175af;margin-right:5px;">跳转至&nbsp;&nbsp;<i class="fa fa-mail-forward"></i></span>
		<div class="btn-group btn-group-sm btn-group-solid">
			<button type="button" class="btn green" onclick="common.goUrl('knowledgePoint')">知识点题库</button>
			<button type="button" class="btn blue" onclick="common.goUrl('assistant')">教学资料</button>
		</div>
	</div>
	<div data-ng-include="'components/title.html'"></div>
	<div class="col-md-12">
		<!-- BEGIN: ACCORDION DEMO -->
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption font-green-sharp">
					<i class="icon-settings font-green-sharp"></i>
					<span class="caption-subject bold uppercase">课程信息</span>
				</div>
				<ul class="nav nav-tabs">
					<li>
						<a data-target="#tab_1_1" data-toggle="tab">基本信息</a>
					</li>
					<li class="active">
						<a data-target="#tab_1_2" data-toggle="tab">教辅信息</a>
					</li>
				</ul>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<div class="tab-pane" id="tab_1_1">
						<div data-ng-include="'components/courseInfo.html'"></div>
					</div>
					<div class="tab-pane active" id="tab_1_2">
						<div class="row">
							<div class="col-md-4" style="height: 600px;border-right: 1px solid #4DB3A2;">
								<div class="portlet light">
									<div class="portlet-title">
										<div class="caption" style="font-size: 14px;">
											<i class="icon-settings" style="font-size: 12px;"></i>授课目录
										</div>
									</div>
									<div class="portlet-body">
										<div data-ng-include="'components/nodeTree.html'"></div>
									</div>
								</div>
							</div>
						
							<div class="col-md-8">
								<div class="portlet light">
									<div class="portlet-title tabbable-line">
										<div class="caption" style="font-size: 14px;">
											<i class="icon-settings" style="font-size: 12px;"></i>视频课件
										</div>
									</div>
									<div class="portlet-body">
										<div class="tab-content">
											<ul class="feeds" style="width: 48%; display: inline-block;">
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-danger">
																	<i class="fa fa-bolt"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	
																	<span id="filePickerKejian" class="filePicker"> 上传课件 </span>
																	<div style="display: inline;margin-left: 20px;position: absolute;">
																			已有课件 <a ng-click='blank(kejian)'>({{kejian.fileName}})</a>
																	</div>
						
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
						
								<div class="portlet light" style="height: 400px;">
									<div class="portlet-title tabbable-line">
										<div class="caption" style="font-size: 14px;">
											<i class="icon-settings" style="font-size: 12px;"></i>课堂互动
										</div>
										<ul class="nav nav-tabs" id="teachAssTab">
											<li class="active ms-hover">
												<a data-target="#tab_2_1" data-toggle="tab" ng-click="changeType(0)">
													资料 </a>
											</li>
											<li>
												<a data-target="#tab_2_2" data-toggle="tab" ng-click="changeType(3)">
													作业 </a>
											</li>
										</ul>
									</div>
									<div class="portlet-body">
										<div class="tab-content">
											<!--资料-->
											<div class="tab-pane active" id="tab_2_1">
												<div>
													<ul class="feeds">
														<li ng-repeat="row in ziliaoList">
															<div class="col1">
																<div class="cont">
																	<div class="cont-col1">
																		<div class="label label-sm label-success">
																			<i class="fa fa-bullhorn"></i>
																		</div>
																	</div>
																	<div class="cont-col2">
																		<div class="desc">
																			<a href="{{row.fileUrl}}" style="line-height: 25px;" target=_blank>{{row.fileName}}</a>
																		</div>
																	</div>
																</div>
															</div>
															<!-- <div class="col2">
																<div class="date">
																	<i class="fa fa-trash-o opreat" title="删除"></i>
																</div>
															</div> -->
														</li>
													</ul>
												</div>
											</div>
											
											<!--作业-->
											<div class="tab-pane" id="tab_2_2">
												<ul class="feeds">
													<li ng-repeat="row in zuoyeQuestionList">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bullhorn"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		<span style="line-height: 25px;" ng-bind-html="row.title" class="htmlWrapper"></span>
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																<i class="fa fa-trash-o opreat" title="删除"></i>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END: ACCORDION DEMO -->
	</div>
	
	<video style="display:none;" controls="controls" id="aa"></video>
</div>
<!-- END MAIN CONTENT -->

<script src="js/webuploader-0.1.5/webuploader.min.js"></script>
<script>
	function editCourseCtrl($scope, $http, $rootScope, $timeout) {		
		$scope.kejian = {}; //视频课件

		/*
		 * 根据章节id加载章节课件或已挂载的资料
		 * datumType  1文档　2图册　3视频　4音频　5链接
		 * */
		$scope.loadDatumData = function(type) {
			if(!$rootScope.currCourse || !$rootScope.currentNode) {
				return false
			}
			
			var postData = {
				"chapterId": $rootScope.currentNode.id,
				"courseId": $rootScope.currCourse.courseId,
				"sortVo": {
					"isValidated": "0",
					"page": 0,
					"size": common.pageSize,
					"sort": 1
				}
			};
			
			let url = '/courseware/findByChapterId'
			if(type == 'dutum') {
				url = '/chapteData/findDatumList';
			}
			
			common.ajax({
				$scope: $scope,
				$http: $http,
				url: url,
				data: postData,
				success: function(data) {
					if(data) {//如果有数据
						if (type == "kejian") {//课件
							$scope.kejian = data[0];
						} else if(type = 'dutum') {//资料
							$scope.ziliaoList = data;
						}
					}
				}
			});
		}
		
		//上传课件
		common.fileUpload({
			id: 'filePickerKejian',
			type: 'video',
			beforeSend: function() {
				console.log($rootScope.currentNode)
				var rtn = {
					continue: true
				}
				if (!$rootScope.currentNode) {
					rtn = {
						continue: false,
						title: "请先选择章节"
					}
				}
				return rtn;
			},
			
			success: function(file, response) {
				$("#aa").prop('src', response.fileUrl)
				let oV = document.getElementById('aa')
				oV.oncanplay = function () {
					var postData = {
						"chapterId": $rootScope.currentNode.id,
						"courseId": $rootScope.currCourse.courseId,
						'fileUrl': response.fileUrl,
						'fileName': response.fileName,
						'videoTime': Math.round(oV.duration)	//视频时长(四舍五入)
					};
					
					$scope.$apply(function() {
						common.ajax({
							$scope: $scope,
							$http: $http,
							operate: true,
							url: '/courseware/savefile',
							data: postData,
							success: function(data) {
								$scope.kejian = response;
							}
						});
					});
				}
				
				
			}
		});

		//加载所有挂接的题目type: 1提问   2练习   3作业  4任务  5问卷  6头脑风暴
		$scope.loadQuestions = function() {
			if(!$rootScope.currCourse || !$rootScope.currentNode) {
				return false
			}
			var data = {
				"chapterId": $rootScope.currentNode.id,
				"courseId": $rootScope.currCourse.courseId,
				"exeBookType": '3'
			};
			
			common.ajax2({
				$scope: $scope,
				$http: $http,
				data: data,
				url: '/exerciseBook/findExerciseBook',
				success: function(res) {
					res.data = common.addTitleForQuestion({
						questionArr: res.data
					}); //组装题干以供展示
					$scope.zuoyeQuestionList = res.data;
				}
			});
		};

		$scope.initData = function() {
			$scope.loadDatumData("kejian"); //加载视频课件
			$scope.loadDatumData("dutum"); //加载已挂载资料列表
			$scope.loadQuestions(); //加载作业问题列表
		};
		$scope.initData();
		
		$scope.$watch("currentNode",function(newValue,oldValue){
			console.log(newValue);
			$scope.initData();
		})
		
		$scope.blank = function(file) {
			window.open(file.fileUrl)
		}
	}
	
</script>