<link href="../../../assets/admin/pages/css/profile-old.css" rel="stylesheet">
<style>
	.label-text {
		margin-top: 8px;
	}
	.blockEdit{
    margin-top: -20px;
    width: auto;
    border-bottom: 3px solid #ddd;
    height: 30px;
    margin-bottom: 20px;
  }
	
	
</style>
<div class="row" ng-controller="signCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>学员签名表
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn red">
					<i class="fa fa-plus"></i> 添加 </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div data-ng-include="'components/search.html'"></div>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>方案名称</th>
							<th>班级名称</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX" ng-repeat="item in data">
							<td>商务金融驻马店培训一期</td>
							<td>一班</td>
							<td style="min-width: 150px;">
								<button class="btn btn-info btn-sm">上传</button>
								<button class="btn btn-info btn-sm">查看</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
	
</div>
<script>
	function signCtrl($scope, $http, $rootScope) {
		$scope.data = [{active: true}, {}];
	}
</script>