<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content" ng-controller="homeCtrl">
	<!-- <div class="row margin-top-10">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2">
				<div class="display">
					<div class="number">
						<h4 class="font-green-sharp">没有待完成事项了</h4>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="row margin-top-10">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat='item in noFinishList'>
			<div class="dashboard-stat2">
				<div class="display">
					<div class="number">
						<h4 class="{{colorArr[$index]}}">{{item.trainProjectName}}</h4>
						<small ng-if='item.isCourse==0' style="display: block;">暂无课程<a style="margin-left: 10px;">点击选择课程</a></small>
						<small ng-if='item.isClass==0' style="display: block;">暂无班级<a style="margin-left: 10px;">点击创建班级</a></small>
						<small ng-if='item.isStudent==0' style="display: block;">部分班级暂无人员<a style="margin-left: 10px;">点击添加人员</a></small>
						<small ng-if='item.isFile==0' style="display: block;">部分班级暂无签名表<a style="margin-left: 10px;">点击上传签名表</a></small>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2">
				<div class="display">
					<div class="number">
						<h4 class="font-red-haze">电子商务2019下半年驻马店培训3期</h4>
						<small style="display: block;">一班暂无人员<a style="margin-left: 10px;">点击添加人员</a></small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2">
				<div class="display">
					<div class="number">
						<h4 class="font-blue-sharp">电子商务2019下半年驻马店培训1期</h4>
						<small style="display: block;">二班暂无学员签名表<a style="margin-left: 10px;">点击上传学员签名表</a></small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2">
				<div class="display">
					<div class="number">
						<h4 class="font-purple-soft">电子商务2019下半年驻马店培训5期</h4>
						<small style="display: block;">一班暂无人员<a style="margin-left: 10px;">点击添加人员</a></small>
						<small style="display: block;">二班暂无人员<a style="margin-left: 10px;">点击添加人员</a></small>
						<small style="display: block;">二班暂无学员签名表<a style="margin-left: 10px;">点击上传学员签名表</a></small>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<!-- BEGIN PORTLET -->
			<div class="portlet light">
				<div class="portlet-body">
					<div id="main1" style="width: 100%;height:400px;"></div>
				</div>
			</div>
			<!-- END PORTLET -->
		</div>

		<div class="col-md-6">
			<!-- BEGIN PORTLET -->
			<div class="portlet light">
				<div class="portlet-body">
					<div id="main2" style="width: 100%;height:400px;"></div>
				</div>

			</div>
			<!-- END PORTLET -->
		</div>


	</div>

	<div class="row">
		<div class="col-md-6">
			<!-- BEGIN PORTLET -->
			<div class="portlet light">
				<div class="portlet-body">
					<div id="main3" style="width: 100%;height:400px;"></div>
				</div>
			</div>
			<!-- END PORTLET -->
		</div>

		<div class="col-md-6">
			<!-- BEGIN PORTLET -->
			<div class="portlet light">
				<div class="portlet-body">
					<div id="main4" style="width: 100%;height:400px;"></div>
				</div>
			</div>
			<!-- END PORTLET -->
		</div>
	</div>
</div>
<script src="js/echarts.min.js"></script>
<script>
	function homeCtrl($scope, $http, $rootScope) {
		$scope.colorArr = ['font-green-sharp', 'font-red-haze', 'font-blue-sharp', 'font-purple-soft']
		common.ajax({
			$scope: $scope,
			$http: $http,
			data: {},
			url: '/train/plan/noFinishList',
			success: function(res) {
				console.log(res)
				if(res == []) {
					res = [{
						trainProjectName: '没有待完成事项了'
					}]
				}
				$scope.noFinishList = res
			}
		});
	}
	
	
	
	
	// 基于准备好的dom，初始化echarts实例

	option1 = {
		title: {
			text: '最近一年培训方案活跃前十',
			x: 'center'
		},
		tooltip: {
			trigger: 'item',
			formatter: "{a} <br/>{b} : {c} ({d}%)"
		},
		series: [{
			name: '访问来源',
			type: 'pie',
			radius: '55%',
			center: ['50%', '60%'],
			data: [{
					value: 335,
					name: '电子商务2019下半年驻马店培训1期'
				},
				{
					value: 310,
					name: '电子商务2019下半年驻马店培训2期'
				},
				{
					value: 234,
					name: '电子商务2019下半年驻马店培训3期'
				},
				{
					value: 135,
					name: '电子商务2019下半年驻马店培训4期'
				},
				{
					value: 1548,
					name: '电子商务2019下半年驻马店培训5期'
				}, {
					value: 335,
					name: '电子商务2019下半年驻马店培训6期'
				},
				{
					value: 310,
					name: '电子商务2019下半年驻马店培训7期'
				},
				{
					value: 234,
					name: '电子商务2019下半年驻马店培训8期'
				},
				{
					value: 135,
					name: '电子商务2019下半年驻马店培训9期'
				},
				{
					value: 1548,
					name: '电子商务2019下半年驻马店培训10期'
				}
			],
			itemStyle: {
				emphasis: {
					shadowBlur: 10,
					shadowOffsetX: 0,
					shadowColor: 'rgba(0, 0, 0, 0.5)'
				}
			}
		}]
	};
	var myChart1 = echarts.init(document.getElementById('main1'));
	myChart1.setOption(option1);



	/*图2*/
	option2 = {
		title: {
			text: '最近半年总人次增长情况',
			x: 'center'
		},
		color: ['#3398DB'],
		tooltip: {
			trigger: 'axis',
			axisPointer: { // 坐标轴指示器，坐标轴触发有效
				type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
			}
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		xAxis: [{
			type: 'category',
			data: ['18年9月', '18年10月', '18年11月', '18年12月', '19年1月', '19年2月'],
			axisTick: {
				alignWithLabel: true
			}
		}],
		yAxis: [{
			type: 'value'
		}],
		series: [{
			name: '直接访问',
			type: 'bar',
			barWidth: '60%',
			data: [10, 52, 200, 334, 390, 330]
		}]
	};
	var myChart2 = echarts.init(document.getElementById('main2'));
	myChart2.setOption(option2);


	/*图3*/
	option3 = {
		title: {
			x: 'center',
			text: '最近半年前三名培训方案人次'
		},
		tooltip: {
			trigger: 'axis'
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		xAxis: {
			type: 'category',
			boundaryGap: false,
			data: ['18年9月', '18年10月', '18年11月', '18年12月', '19年1月', '19年2月']
		},
		yAxis: {
			type: 'value'
		},
		series: [{
				name: '电子商务2019下半年驻马店培训8期',
				type: 'line',
				stack: '总量',
				data: [120, 132, 101, 134, 90, 230, 210]
			},
			{
				name: '电子商务2019下半年驻马店培训5期',
				type: 'line',
				stack: '总量',
				data: [220, 182, 191, 234, 290, 330, 310]
			},
			{
				name: '电子商务2019下半年驻马店培训1期',
				type: 'line',
				stack: '总量',
				data: [150, 232, 201, 154, 190, 330, 410]
			}
		]
	};
	var myChart3 = echarts.init(document.getElementById('main3'));
	myChart3.setOption(option3);

	/*图4*/
	option4 = {
		title: {
			text: '最近半年培训方案数量趋势',
		},
		tooltip: {
			trigger: 'axis',
			axisPointer: { // 坐标轴指示器，坐标轴触发有效
				type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
			},
			formatter: function(params) {
				var tar;
				if (params[1].value != '-') {
					tar = params[1];
				} else {
					tar = params[0];
				}
				return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
			}
		},
		legend: {
			x: 'right',
			data: ['递增', '递减']
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		xAxis: {
			type: 'category',
			splitLine: {
				show: false
			},
			data: function() {
				var list = ['18年9月', '18年10月', '18年11月', '18年12月', '19年1月', '19年2月'];
				return list;
			}()
		},
		yAxis: {
			type: 'value'
		},
		series: [{
				name: '辅助',
				type: 'bar',
				stack: '总量',
				itemStyle: {
					normal: {
						barBorderColor: 'rgba(0,0,0,0)',
						color: 'rgba(0,0,0,0)'
					},
					emphasis: {
						barBorderColor: 'rgba(0,0,0,0)',
						color: 'rgba(0,0,0,0)'
					}
				},
				data: [0, 900, 1245, 1530, 1376, 1376]
			},
			{
				name: '递增',
				type: 'bar',
				stack: '总量',
				label: {
					normal: {
						show: true,
						position: 'top'
					}
				},
				data: [900, 345, 393, '-', '-', 135]
			},
			{
				name: '递减',
				type: 'bar',
				stack: '总量',
				label: {
					normal: {
						show: true,
						position: 'bottom'
					}
				},
				data: ['-', '-', '-', 108, 154, '-']
			}
		]
	};
	var myChart4 = echarts.init(document.getElementById('main4'));
	myChart4.setOption(option4);
</script>
