<div class="modal fade" id="addOrEditQuestion" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="addOrEditQuestionCtrl">
	<div class="modal-dialog modal-full">
		<div class="modal-content">

			<div class="portlet light" style="min-height: 400px;">
				<div class="portlet-title tabbable-line">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase" id="title">创建题目</span>
					</div>
					<div class="actions">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					</div>
					<ul class="nav nav-tabs" id="questionTypesTitle">
						<li class="active">
							<a data-target="#tab_3_1" data-toggle="tab"> 单选 </a>
						</li>
						<li>
							<a data-target="#tab_3_2" data-toggle="tab"> 多选 </a>
						</li>
						<li>
							<a data-target="#tab_3_3" data-toggle="tab"> 判断 </a>
						</li>
						<li>
							<a data-target="#tab_3_4" data-toggle="tab"> 填空 </a>
						</li>
						<li>
							<a data-target="#tab_3_5" data-toggle="tab"> 主观 </a>
						</li>
					</ul>
				</div>
				<div class="portlet-body">
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-6">
							<div class="form-group form-md-line-input has-info">
								<select class="form-control" id="form_control_1" ng-model="knowledgeId">
									<option value="">请选择</option>
									<option ng-repeat="row in kNodes" value="{{row.knodeId}}">{{row.nodeName}}</option>
								</select>
								<label for="form_control_1">知识点</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-md-radios">
								<label>难易程度</label>
								<div class="md-radio-inline">
									<div class="md-radio">
										<input type="radio" id="questionLevel1" name="questionLevel" class="md-radiobtn" value="1" checked=""
										 ng-model="questionLevel">
										<label for="questionLevel1">
											<span></span>
											<span class="check"></span>
											<span class="box"></span>
											简单 </label>
									</div>
									<div class="md-radio">
										<input type="radio" id="questionLevel2" name="questionLevel" class="md-radiobtn" value="2" ng-model="questionLevel">
										<label for="questionLevel2">
											<span></span>
											<span class="check"></span>
											<span class="box"></span>
											中等 </label>
									</div>
									<div class="md-radio">
										<input type="radio" id="questionLevel3" name="questionLevel" class="md-radiobtn" value="3" ng-model="questionLevel">
										<label for="questionLevel3">
											<span></span>
											<span class="check"></span>
											<span class="box"></span>
											困难 </label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content" id="questionTypesContent">
						<div class="tab-pane active" id="tab_3_1">
							<div data-ng-include="'views/template/timu/danxuanSmall.html'"></div>
						</div>
						<div class="tab-pane" id="tab_3_2">
							<div data-ng-include="'views/template/timu/duoxuanSmall.html'"></div>
						</div>
						<div class="tab-pane" id="tab_3_3">
							<div data-ng-include="'views/template/timu/panduanSmall.html'"></div>
						</div>
						<div class="tab-pane" id="tab_3_4">
							<!-- <div data-ng-include="'views/template/timu/tiankongSmall.html'"></div> -->
						</div>
						<div class="tab-pane" id="tab_3_5">
							<div data-ng-include="'views/template/timu/zhuguanSmall.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script>
	function addOrEditQuestionCtrl($scope, $http, $rootScope) {
		//接收用户点击题目编辑按钮事件
		$scope.$on('smallQuestionDetail', function(d, data) {
			if(data) {
				$("#questionTypesTitle").hide();
				var type = data.examChildren[0].examType;
				if(type == 'single') {
					$("#questionTypesContent > .tab-pane").removeClass("active");
					$("#tab_3_1").addClass("active");
				}else if(type == 'multiple') {
					$("#questionTypesContent > .tab-pane").removeClass("active");
					$("#tab_3_2").addClass("active");
				}else if(type == 'trueOrFalse') {
					$("#questionTypesContent > .tab-pane").removeClass("active");
					$("#tab_3_3").addClass("active");
				}else if(type == 'design') {
					$("#questionTypesContent > .tab-pane").removeClass("active");
					$("#tab_3_5").addClass("active");
				}
				
				$scope.questionLevel = data.levelId;
				$scope.knowledgeId = data.knowledgeId;
			}else {
				$("#questionTypesTitle").show();
				$("#questionTypesTitle").children("li").removeClass("active");
				$("#questionTypesTitle").children("li").eq(0).addClass("active");
				$("#questionTypesContent > .tab-pane").removeClass("active");
				$("#tab_3_1").addClass("active");
			}
			
		})
		
		//添加小题完成回调
		$scope.$on('addSmall', function(d, data) {
			if (!$scope.knowledgeId) {
				$scope.knowledgeId = "";
			}

			var obj = {
				"relate": 0,
				"teacherId": localStorage.getItem("userid"),
				"levelId": $scope.questionLevel,
				"knowledgeId": $scope.knowledgeId,
				"chapterId": localStorage.getItem("currentNodeId"),
				"examChildren": [data]
			};
			
			if(!obj.levelId || obj.levelId=="") {
				layer.alert("请选择难易程度");
				return false;
			}
				
			if(data.pid) {
				obj.id = data.pid;
			}
			
			var url = "";
			if(data.examType == "single" || data.examType == "multiple") {
				url = '/question/choiceQst/edit';
			}else if(data.examType == "trueOrFalse") {
				url = '/question/trueOrFalse/edit';
			}else if(data.examType == "design") {
				url = '/question/design/edit';
			}
			
			//添加题目
			common.ajax2({
				$scope: $scope,
				$http: $http,
				operate: true,
				url: url,
				data: obj,
				success: function(res) {
					$scope.$emit('addOrEditQuestion', data.examType);
					$("#addOrEditQuestion").modal("hide");
				}
			});
		});



	}
</script>
