<div role="form" ng-controller="danxuanCtrl">
	<div class="form-body">
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">					
					<label for="form_control_1" style="font-size: 13px; color: #888888;">题干</label>
					<div id="danxuan_title"></div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">解析</label>
					<div id="danxuan_jiexi"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input has-info">
					<select class="form-control" id="form_control_1" ng-model="knowledgeId">
						<option value="">请选择</option>
						<option ng-repeat="row in kNodes" value="{{row.knodeId}}">{{row.nodeName}}</option>
						<!--<option value="">电子商务的概念</option>-->
					</select>
					<label for="form_control_1">知识点</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-radios">
					<label>难易程度</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="danxuanRadio1" name="danxuanlevel" class="md-radiobtn" value="1" checked="">
							<label for="danxuanRadio1">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													简单 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="danxuanRadio2" name="danxuanlevel" class="md-radiobtn" value="2">
							<label for="danxuanRadio2">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													中等 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="danxuanRadio3" name="danxuanlevel" class="md-radiobtn" value="3">
							<label for="danxuanRadio3">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													困难 </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<button class="btn btn-circle green btn-sm" ng-click="single.addOption();">
												<i class="fa fa-plus"></i> 创建选项 </button>
					<span>正确答案：  {{single.right}}</span>
				</div>
			</div>
			<div style="margin-top: 50px;"></div>
			<div ng-repeat="row in single.options" style="height: 250px;">
				<div class="col-md-1" style="height: 54px;">
					<div class="form-group form-md-line-input" style="padding-top: 27px;">
						<div class="md-radio">
							<input type="radio" id="radio{{$index}}" name="single" ng-value="row.optValue" class="md-radiobtn" ng-model="single.right">
							<label for="radio{{$index}}">
													<span></span>
													<span class="check"></span>
													<span class="box"></span></label>
						</div>
					</div>
				</div>
				<div class="col-md-1" style="height: 54px;">
					<span style="position: absolute;bottom: 7px;">{{row.name}}.</span>
				</div>
				<div class="col-md-8">
					<div class="form-group form-md-line-input">
						<div class="danxuan_summernote" id="danxuan_option{{row.count}}"></div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group form-md-line-input">
						<button class="btn btn-danger" ng-click="single.delOption($index);">删除</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-actions noborder">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
		<button type="button" class="btn default" data-dismiss="modal">取消</button>
	</div>
</div>

<script>
	function danxuanCtrl($scope, $http, $timeout) {
		//切换章节回调
		$scope.$on('currentNode', function(d,data) { 
	        $scope.currentNode = data;
	        
	        //获取所有知识点
	        common.ajax({
				$scope: $scope,
				$http: $http,
				url: '/kNode/findAllPage',
				data: {
			    	'chapterId': $scope.currentNode.id,
			    	"courseId": localStorage.getItem('courseId'),
			    	"sortVo": {
					    "page": 0,
					    "size": 200,
					    "sort": 1,
					    "sorting": "cTime"
					}
			    },
			    success: function(data) {
			    	$scope.kNodes = data.data.content;
			    }
			});
	    });
	    
		var count = 4;
		$scope.single = {
			right: "",
			options: [{
				optValue: "A",
				count: 0
			}, {
				optValue: "B",
				count: 1
			}, {
				optValue: "C",
				count: 2
			}, {
				optValue: "D",
				count: 3
			}],

			addOption: function() {
				console.log(this.options);
				this.options.push({
					value: "",
					count: count
				});
				this.rename();
				
				$timeout(function() {
					$('#danxuan_option'+count).summernote({
						height: 100
					});
					count++;
				},300);
			},

			delOption: function(index) {
				this.options.splice(index, 1);
				this.rename();
			},

			rename: function() {
				$(this.options).each(function(i) {
					if(i == 0) {
						this.optValue = "A";
					} else if(i == 1) {
						this.optValue = "B";
					} else if(i == 2) {
						this.optValue = "C";
					} else if(i == 3) {
						this.optValue = "D";
					} else if(i == 4) {
						this.optValue = "E";
					} else if(i == 5) {
						this.optValue = "F";
					}
				});
			}
		};
		
		$('#danxuan_title').summernote({
			height: 100
		});
		$('#danxuan_jiexi').summernote({
			height: 100
		});
		
		$timeout(function() {
			$('#danxuan_option0').summernote({
				height: 100
			});
			$('#danxuan_option1').summernote({
				height: 100
			});
			$('#danxuan_option2').summernote({
				height: 100
			});
			$('#danxuan_option3').summernote({
				height: 100
			});
		},300);
		
		$scope.sub = function() {
			//拼装选项
			var opts = [];
			$($scope.single.options).each(function(i) {
				opts.push({
					"optTxt": $('#danxuan_option'+i).code(),
                    "optValue": this.optValue
				});
			});
			
			if(!$scope.knowledgeId) {
				$scope.knowledgeId = "";
			}
			
			var obj = {
				"relate":0,
				"teacherId": localStorage.getItem("userid"),
				"levelId":$("input[name='danxuanlevel']:checked").val(),
				"knowledgeId": $scope.knowledgeId,
				"chapter": $scope.currentNode.id,
			    "examChildren": [
			        {
			            "examType":"choice",
			            "score": 1,
			            "teacherId": localStorage.getItem("userid"),
			            "choiceQstTxt": $('#danxuan_title').code(),
			            "choiceQstAnsw": $scope.single.right,
			            "choiceQstAnalysis": $('#danxuan_jiexi').code(),
			            "choiceType": "single",
			            "optChildren": opts
			        }
			    ]
			};
			
			//添加题目(单选)
	        common.ajax2({
	        	$scope: $scope,
				$http: $http,
				operate: true,
				url: '/question/choiceQst/edit',
				data: obj,
				success: function(res) {
					$scope.$emit('addQuestion', "single");
					$("#addQuestion").modal("hide");
				}
	        });
		}
		
	}
</script>