<div role="form" ng-controller="danxuanEditCtrl">
	<div class="form-body">
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">题干</label>
					<div id="danxuanEdit_title"></div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">解析</label>
					<div id="danxuanEdit_jiexi"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input has-info">
					<select class="form-control" id="danxuanEdit_1" ng-model="question.knowledgeId">
						<option value="">请选择</option>
						<option ng-repeat="row in kNodes" value="{{row.knodeId}}">{{row.nodeName}}</option>
						<!--<option value="">电子商务的概念</option>-->
					</select>
					<label for="danxuanEdit_1">知识点</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-radios">
					<label>难易程度</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="danxuanEditRadio1" name="danxuanEditlevel" class="md-radiobtn" value="1">
							<label for="danxuanEditRadio1">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													简单 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="danxuanEditRadio2" name="danxuanEditlevel" class="md-radiobtn" value="2">
							<label for="danxuanEditRadio2">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													中等 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="danxuanEditRadio3" name="danxuanEditlevel" class="md-radiobtn" value="3">
							<label for="danxuanEditRadio3">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													困难 </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<button class="btn btn-circle green btn-sm" ng-click="single.addOption();">
												<i class="fa fa-plus"></i> 创建选项 </button>
					<span>正确答案：  {{single.right}}</span>
				</div>
			</div>
			<div style="margin-top: 50px;"></div>
			<div ng-repeat="row in single.options" style="height: 250px;">
				<div class="col-md-1" style="height: 54px;">
					<div class="form-group form-md-line-input" style="padding-top: 27px;">
						<div class="md-radio">
							<input type="radio" id="radio{{$index}}" name="singleEdit" ng-value="row.optValue" class="md-radiobtn" ng-model="single.right">
							<label for="radio{{$index}}">
													<span></span>
													<span class="check"></span>
													<span class="box"></span></label>
						</div>
					</div>
				</div>
				<div class="col-md-1" style="height: 54px;">
					<span style="position: absolute;bottom: 7px;">{{row.optValue}}.</span>
				</div>
				<div class="col-md-8">
					<div class="form-group form-md-line-input">
						<div class="danxuanEdit_summernote" id="danxuanEdit_option{{row.count}}" name="danxuanEdit_option"></div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group form-md-line-input">
						<button class="btn btn-danger" ng-click="single.delOption($index);">删除</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-actions noborder">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
		<button type="button" class="btn default" data-dismiss="modal">取消</button>
	</div>
</div>

<script>
	function danxuanEditCtrl($scope, $http, $timeout) {
		var count = 4;
		$scope.single = {
			right: "",
			options: [],

			addOption: function() {
				this.options.push({
					value: "",
					count: count
				});
				this.rename();

				$timeout(function() {
					$('#danxuanEdit_option' + count).summernote({
						height: 100
					});
					count++;
				}, 300);
			},

			delOption: function(index) {
				this.options.splice(index, 1);
				this.rename();
			},

			rename: function() {
				$(this.options).each(function(i) {
					if(i == 0) {
						this.optValue = "A";
					} else if(i == 1) {
						this.optValue = "B";
					} else if(i == 2) {
						this.optValue = "C";
					} else if(i == 3) {
						this.optValue = "D";
					} else if(i == 4) {
						this.optValue = "E";
					} else if(i == 5) {
						this.optValue = "F";
					}
				});
			}
		};

		$('#danxuanEdit_title').summernote({
			height: 100
		});
		$('#danxuanEdit_jiexi').summernote({
			height: 100
		});

		//加载题目信息
		$scope.$on('questionSingle', function(d, data) {
			$scope.question = data;
			console.log(data);
			$('#danxuanEdit_title').code(data.examChildren[0].choiceQstTxt); //初始化标题
			$('#danxuanEdit_jiexi').code(data.examChildren[0].choiceQstAnalysis); //初始化解析
			$("input[name='danxuanEditlevel'][value='" + data.levelId + "']").prop("checked", "checked"); //初始化难易程度
			$scope.single.right = data.examChildren[0].choiceQstAnsw; //初始化正确答案
			//初始化选项--开始
			$(data.examChildren[0].optChildren).each(function(i) {
				this.count = i;
			});
			$scope.single.options = data.examChildren[0].optChildren;
			count = data.examChildren[0].optChildren.length + 1;

			$timeout(function() {
				$(data.examChildren[0].optChildren).each(function(i) {
					$('#danxuanEdit_option' + i).summernote({
						height: 100
					});
					$('#danxuanEdit_option' + i).code(this.optTxt);
				});
			}, 300);
			//初始化选项--结束
		});

		$scope.sub = function() {
			//拼装选项
			//var opts = [];
			$($scope.single.options).each(function(i) {
				this.optTxt = $('[name=danxuanEdit_option]').eq(i).code();
				//				opts.push({
				//					"optTxt": $('[name=danxuan_option]').eq(i).code(),
				//                  "optValue": this.optValue
				//				});
			});

			if(!$scope.knowledgeId) {
				$scope.knowledgeId = "";
			}

			$scope.question.examChildren[0].choiceQstTxt = $('#danxuanEdit_title').code(); //题目标题
			$scope.question.examChildren[0].choiceQstAnsw = $scope.single.right; //正确答案
			$scope.question.examChildren[0].choiceQstAnalysis = $('#danxuanEdit_jiexi').code(); //解析
			$scope.question.levelId = $("input[name='danxuanEditlevel']:checked").val(); //难以程度
			$scope.question.examChildren[0].optChildren = $scope.single.options; //选项

			//编辑题目(单选)
			common.ajax2({
				$scope: $scope,
				$http: $http,
				operate: true,
				url: '/question/choiceQst/edit',
				data: $scope.question,
				success: function(res) {
					$scope.$emit('addQuestion', "single");
					$("#editSingle").modal("hide");
				}
			});
		}

	}
</script>