<div role="form" ng-controller="duoxuanCtrl">
	<div class="form-body">
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">					
					<label for="form_control_1" style="font-size: 13px; color: #888888;">题干</label>
					<div id="duoxuan_title"></div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">解析</label>
					<div id="duoxuan_jiexi"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input has-info">
					<select class="form-control" id="form_control_1" ng-model="knowledgeId">
						<option value="">请选择</option>
						<option ng-repeat="row in kNodes" value="{{row.knodeId}}">{{row.nodeName}}</option>
						<!--<option value="">电子商务的概念</option>-->
					</select>
					<label for="form_control_1">知识点</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-radios">
					<label>难易程度</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="duoxuanRadio1" name="duoxuanlevel" class="md-radiobtn" value="1" checked="">
							<label for="duoxuanRadio1">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													简单 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="duoxuanRadio2" name="duoxuanlevel" class="md-radiobtn" value="2">
							<label for="duoxuanRadio2">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													中等 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="duoxuanRadio3" name="duoxuanlevel" class="md-radiobtn" value="3">
							<label for="duoxuanRadio3">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													困难 </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<button class="btn btn-circle green btn-sm" ng-click="multi.addOption();">
												<i class="fa fa-plus"></i> 创建选项 </button>
					<span>正确答案：  {{multi.right}}</span>
				</div>
			</div>
			<div style="margin-top: 50px;"></div>
			<div ng-repeat="row in multi.options" style="height: 250px;">
				<div class="col-md-1" style="height: 54px;">
					<div class="md-checkbox" style="margin-top: 27px;">
						<input type="checkbox" id="checkbox{{$index}}" name="multi" class="md-check" ng-model="row.checked" ng-click="multi.showChecked()">
						<label for="checkbox{{$index}}">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
						</label>
					</div>
				</div>
				<div class="col-md-1" style="height: 54px;">
					<span style="position: absolute;bottom: 7px;">{{row.optValue}}.</span>
				</div>
				<div class="col-md-8">
					<div class="form-group form-md-line-input">
						<div class="duoxuan_summernote" id="duoxuan_option{{row.count}}" name="duoxuan_option"></div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group form-md-line-input">
						<button class="btn btn-danger" ng-click="multi.delOption($index);">删除</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-actions noborder">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
		<button type="button" class="btn default" data-dismiss="modal">取消</button>
	</div>
</div>

<script>
	function duoxuanCtrl($scope, $http, $timeout) {
		var count = 4;
		$scope.multi = {
			right: "ABCD",
			options: [{
				optValue: "A",
				count: 0,
				checked: true
			}, {
				optValue: "B",
				count: 1,
				checked: true
			}, {
				optValue: "C",
				count: 2,
				checked: true
			}, {
				optValue: "D",
				count: 3,
				checked: true
			}],

			addOption: function() {
				console.log(this.options);
				this.options.push({
					value: "",
					count: count
				});
				this.rename();
				
				$timeout(function() {
					$('#duoxuan_option'+count).summernote({
						height: 100
					});
					count++;
				},300);
			},

			delOption: function(index) {
				this.options.splice(index, 1);
				this.rename();
			},

			rename: function() {
				$(this.options).each(function(i) {
					if(i == 0) {
						this.optValue = "A";
					} else if(i == 1) {
						this.optValue = "B";
					} else if(i == 2) {
						this.optValue = "C";
					} else if(i == 3) {
						this.optValue = "D";
					} else if(i == 4) {
						this.optValue = "E";
					} else if(i == 5) {
						this.optValue = "F";
					}
				});
			},
			
			showChecked: function() {
				this.right = '';
				var that = this;
				$(this.options).each(function(i) {
					if(this.checked) {
						that.right += this.optValue;
					}
				});
			}
		};
		
		$('#duoxuan_title').summernote({
			height: 100
		});
		$('#duoxuan_jiexi').summernote({
			height: 100
		});
		
		$timeout(function() {
			$('#duoxuan_option0').summernote({
				height: 100
			});
			$('#duoxuan_option1').summernote({
				height: 100
			});
			$('#duoxuan_option2').summernote({
				height: 100
			});
			$('#duoxuan_option3').summernote({
				height: 100
			});
		},300);
		
		$scope.sub = function() {
			//拼装选项
			var opts = [];
			$($scope.multi.options).each(function(i) {
				opts.push({
					"optTxt": $('[name=duoxuan_option]').eq(i).code(),
                    "optValue": this.optValue
				});
			});
			
			if(!$scope.knowledgeId) {
				$scope.knowledgeId = "";
			}
			
			var obj = {
				"relate":0,
				"teacherId": localStorage.getItem("userid"),
				"levelId":$("input[name='duoxuanlevel']:checked").val(),
				"knowledgeId": $scope.knowledgeId,
				"chapterId": localStorage.getItem("currentNodeId"),
			    "examChildren": [
			        {
			            "examType":"choice",
			            "score": 1,
			            "teacherId": localStorage.getItem("userid"),
			            "choiceQstTxt": $('#duoxuan_title').code(),
			            "choiceQstAnsw": $scope.multi.right,
			            "choiceQstAnalysis": $('#duoxuan_jiexi').code(),
			            "choiceType": "multiple",
			            "optChildren": opts
			        }
			    ]
			};
			
			//添加题目(单选)
	        common.ajax2({
	        	$scope: $scope,
				$http: $http,
				operate: true,
				url: '/question/choiceQst/edit',
				data: obj,
				success: function(res) {
					$scope.$emit('addQuestion', "multiple");
					$("#addQuestion").modal("hide");
				}
	        });
		}
		
	}
</script>