<div role="form" ng-controller="duoxuanEditCtrl">
	<div class="form-body">
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">					
					<label for="form_control_1" style="font-size: 13px; color: #888888;">题干</label>
					<div id="duoxuanEdit_title"></div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">解析</label>
					<div id="duoxuanEdit_jiexi"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input has-info">
					<select class="form-control" id="duoxuanEdit_1" ng-model="question.knowledgeId">
						<option value="">请选择</option>
						<option ng-repeat="row in kNodes" value="{{row.knodeId}}">{{row.nodeName}}</option>
						<!--<option value="">电子商务的概念</option>-->
					</select>
					<label for="duoxuanEdit_1">知识点</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-radios">
					<label>难易程度</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="duoxuanEditRadio1" name="duoxuanEditlevel" class="md-radiobtn" value="1">
							<label for="duoxuanEditRadio1">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													简单 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="duoxuanEditRadio2" name="duoxuanEditlevel" class="md-radiobtn" value="2">
							<label for="duoxuanEditRadio2">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													中等 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="duoxuanEditRadio3" name="duoxuanEditlevel" class="md-radiobtn" value="3">
							<label for="duoxuanEditRadio3">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													困难 </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<button class="btn btn-circle green btn-sm" ng-click="multi.addOption();">
												<i class="fa fa-plus"></i> 创建选项 </button>
					<span>正确答案：  {{multi.right}}</span>
				</div>
			</div>
			<div style="margin-top: 50px;"></div>
			<div ng-repeat="row in multi.options" style="height: 250px;">
				<div class="col-md-1" style="height: 54px;">
					<div class="md-checkbox" style="margin-top: 27px;">
						<input type="checkbox" id="checkboxEdit{{$index}}" name="multiEdit" class="md-check" ng-model="row.checked" ng-click="multi.showChecked()">
						<label for="checkboxEdit{{$index}}">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
						</label>
					</div>
				</div>
				<div class="col-md-1" style="height: 54px;">
					<span style="position: absolute;bottom: 7px;">{{row.optValue}}.</span>
				</div>
				<div class="col-md-8">
					<div class="form-group form-md-line-input">
						<div class="duoxuanEdit_summernote" id="duoxuanEdit_option{{row.count}}" name="duoxuanEdit_option"></div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group form-md-line-input">
						<button class="btn btn-danger" ng-click="multi.delOption($index);">删除</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-actions noborder">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
		<button type="button" class="btn default" data-dismiss="modal">取消</button>
	</div>
</div>

<script>
	function duoxuanEditCtrl($scope, $http, $timeout) {	    
		var count = 0;
		$scope.multi = {
			right: "",
			options: [],

			addOption: function() {
				console.log(this.options);
				this.options.push({
					value: "",
					count: count
				});
				this.rename();
				
				$timeout(function() {
					$('#duoxuanEdit_option'+count).summernote({
						height: 100
					});
					count++;
				},300);
			},

			delOption: function(index) {
				this.options.splice(index, 1);
				this.rename();
				this.showChecked();
			},

			rename: function() {
				$(this.options).each(function(i) {
					if(i == 0) {
						this.optValue = "A";
					} else if(i == 1) {
						this.optValue = "B";
					} else if(i == 2) {
						this.optValue = "C";
					} else if(i == 3) {
						this.optValue = "D";
					} else if(i == 4) {
						this.optValue = "E";
					} else if(i == 5) {
						this.optValue = "F";
					}
				});
			},
			
			showChecked: function() {
				this.right = '';
				var that = this;
				$(this.options).each(function(i) {
					if(this.checked) {
						that.right += this.optValue;
					}
				});
			}
		};
		
		$('#duoxuanEdit_title').summernote({
			height: 100
		});
		$('#duoxuanEdit_jiexi').summernote({
			height: 100
		});
		
		//加载题目信息
	    $scope.$on('questionMulti', function(d,data) { 
	    	$scope.question = data;
	    	console.log(data);
	    	$('#duoxuanEdit_title').code(data.examChildren[0].choiceQstTxt);//初始化标题
	    	$('#duoxuanEdit_jiexi').code(data.examChildren[0].choiceQstAnalysis);//初始化解析
	    	$("input[name='duoxuanEditlevel'][value='"+data.levelId+"']").prop("checked","checked");//初始化难易程度
	    	$scope.multi.right = data.examChildren[0].choiceQstAnsw;//初始化正确答案
	    	//初始化选项--开始
	    	$(data.examChildren[0].optChildren).each(function(i) {
	    		this.count = i;
	    	});
	    	$scope.multi.options = data.examChildren[0].optChildren;
	    	count = data.examChildren[0].optChildren.length + 1;
	    	
	    	$timeout(function() {
	    		$(data.examChildren[0].optChildren).each(function(i) {
		    		$('#duoxuanEdit_option'+i).summernote({
						height: 100
					});
					$('#duoxuanEdit_option'+i).code(this.optTxt);
					var optValue = "";
					if(i == 0) {
						optValue = "A";
					} else if(i == 1) {
						optValue = "B";
					} else if(i == 2) {
						optValue = "C";
					} else if(i == 3) {
						optValue = "D";
					} else if(i == 4) {
						optValue = "E";
					} else if(i == 5) {
						optValue = "F";
					}
					if(data.examChildren[0].choiceQstAnsw.indexOf(optValue)>=0) {
						data.examChildren[0].optChildren[i].checked = true;
						$('#checkboxEdit'+i).attr("checked", true);
					}
		    	});
		    	
			},300);
			//初始化选项--结束
	    });
		
		$scope.sub = function() {
			//拼装选项
			$($scope.multi.options).each(function(i) {
				this.optTxt = $('[name=duoxuanEdit_option]').eq(i).code();
			});
			
			if(!$scope.knowledgeId) {
				$scope.knowledgeId = "";
			}
			
			$scope.question.examChildren[0].choiceQstTxt = $('#duoxuanEdit_title').code();//题目标题
			$scope.question.examChildren[0].choiceQstAnsw = $scope.multi.right;//正确答案
			$scope.question.examChildren[0].choiceQstAnalysis = $('#duoxuanEdit_jiexi').code();//解析
			$scope.question.levelId = $("input[name='duoxuanEditlevel']:checked").val();//难以程度
			$scope.question.examChildren[0].optChildren = $scope.multi.options;//选项
			
			//编辑题目(多选)
	        common.ajax2({
	        	$scope: $scope,
				$http: $http,
				operate: true,
				url: '/question/choiceQst/edit',
				data: $scope.question,
				success: function(res) {
					$scope.$emit('addQuestion', "multiple");
					$("#editmulti").modal("hide");
				}
	        });
		}
		
	}
</script>