<div role="form" ng-controller="panduanEditCtrl">
	<div class="form-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">					
					<label style="font-size: 13px; color: #888888;">题干</label>
					<div id="panduanEdit_title"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-12">
				<div class="form-group form-md-radios">
					<label>答案</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="panduanEditanswer1" name="panduanEditanswer" class="md-radiobtn" value="1" checked="">
							<label for="panduanEditanswer1">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													对 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="panduanEditanswer2" name="panduanEditanswer" class="md-radiobtn" value="2">
							<label for="panduanEditanswer2">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													错 </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">解析</label>
					<div id="panduanEdit_jiexi"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input has-info">
					<select class="form-control" ng-model="knowledgeId">
						<option value="">请选择</option>
						<option ng-repeat="row in kNodes" value="{{row.knodeId}}">{{row.nodeName}}</option>
					</select>
					<label for="">知识点</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-radios">
					<label>难易程度</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="panduanEditradio6" name="panduanEditlevel" class="md-radiobtn" value="1" checked="">
							<label for="panduanEditradio6">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													简单 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="panduanEditradio7" name="panduanEditlevel" class="md-radiobtn" value="2">
							<label for="panduanEditradio7">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													中等 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="panduanEditradio8" name="panduanEditlevel" class="md-radiobtn" value="3">
							<label for="panduanEditradio8">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													困难 </label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-actions noborder">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
		<button type="button" class="btn default" data-dismiss="modal">取消</button>
	</div>
</div>

<script>
	function panduanEditCtrl($scope, $http, $timeout) {
		$scope.question = {};
		
		$('#panduanEdit_title').summernote({
			height: 100
		});
		$('#panduanEdit_jiexi').summernote({
			height: 100
		});
		
		//加载题目信息
		$scope.$on('questionTrueOrFalse', function(d,data) { 
	    	$scope.question = data;
	    	$('#panduanEdit_title').code(data.examChildren[0].trueOrFalseInfo);//初始化标题
	    	$('#panduanEdit_jiexi').code(data.examChildren[0].trueOrFalseAnalysis);//初始化解析
	    	$("input[name='panduanEditlevel'][value='"+data.levelId+"']").prop("checked","checked");//初始化难易程度
	    	$scope.knowledgeId = $scope.question.knowledgeId//初始化知识点
	    	//初始化正确答案
	    	if(data.examChildren[0].trueOrFalseAnsw) {
	    		$("input[name='panduanEditanswer'][value='1']").prop("checked","checked");
	    	}else {
	    		$("input[name='panduanEditanswer'][value='2']").prop("checked","checked");
	    	}
	    	
	    });
		
		$scope.sub = function() {
			$scope.question.levelId = $("input[name='panduanEditlevel']:checked").val();
			$scope.question.knowledgeId = $scope.knowledgeId;
			$scope.question.examChildren[0].trueOrFalseInfo = $('#panduanEdit_title').code();
			$scope.question.examChildren[0].trueOrFalseAnalysis = $('#panduanEdit_jiexi').code();
			if($("input[name='panduanEditanswer']:checked").val() == 1) {
				$scope.question.examChildren[0].trueOrFalseAnsw = true;
			}else {
				$scope.question.examChildren[0].trueOrFalseAnsw = false;
			}
			
			//添加题目(判断)
	        common.ajax2({
	        	$scope: $scope,
				$http: $http,
				operate: true,
				url: '/question/trueOrFalse/edit',
				data: $scope.question,
				success: function(res) {
					$scope.$emit('addQuestion', "trueOrFalse");
					$("#editTrueOrFalse").modal("hide");
				}
	        });
			
		}
		
	}
</script>
