<div role="form" ng-controller="zhuguanCtrl">
	<div class="form-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">					
					<label for="form_control_1" style="font-size: 13px; color: #888888;">题干</label>
					<div id="zhuguan_title"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">					
					<label for="form_control_1" style="font-size: 13px; color: #888888;">答案</label>
					<div id="zhuguan_answer"></div>
				</div>
			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">解析</label>
					<div id="zhuguan_jiexi"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input has-info">
					<select class="form-control" ng-model="knowledgeId">
						<option value="">请选择</option>
						<option ng-repeat="row in kNodes" value="{{row.knodeId}}">{{row.nodeName}}</option>
					</select>
					<label for="">知识点</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-radios">
					<label>难易程度</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="zhuguanradio6" name="zhuguanlevel" class="md-radiobtn" value="1" checked="">
							<label for="zhuguanradio6">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													简单 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="zhuguanradio7" name="zhuguanlevel" class="md-radiobtn" value="2">
							<label for="zhuguanradio7">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													中等 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="zhuguanradio8" name="zhuguanlevel" class="md-radiobtn" value="3">
							<label for="zhuguanradio8">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													困难 </label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-actions noborder">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
		<button type="button" class="btn default" data-dismiss="modal">取消</button>
	</div>
</div>

<script>
	function zhuguanCtrl($scope, $http) {		
		$('#zhuguan_title').summernote({
			height: 100
		});
		$('#zhuguan_jiexi').summernote({
			height: 100
		});
		
		$('#zhuguan_answer').summernote({
			height: 100
		});
		
		$scope.sub = function() {
			var kPointId = "";
			
			var obj = {
				"relate":0,
				"teacherId": localStorage.getItem("userid"),
				"levelId":$("input[name='zhuguanlevel']:checked").val(),
				"knowledgeId":$scope.knowledgeId,
				"chapterId": localStorage.getItem("currentNodeId"),
			    "examChildren": [
			        {
			            "relate": "1",
			            "score": 1,
			            "teacherId": localStorage.getItem("userid"),
			            "designQuestion": $('#zhuguan_title').code(),
			            "designAnsw": $('#zhuguan_answer').code(),
			            "designAnalysis": $('#zhuguan_jiexi').code(),
			            "examType": "design"
			        }
			    ]
			}
			
			//添加题目(主观)
	        common.ajax2({
	        	$scope: $scope,
				$http: $http,
				operate: true,
				url: '/question/design/edit',
				data: obj,
				success: function(res) {
					console.log(res);
					$scope.$emit('addQuestion', "design");
					$("#addQuestion").modal("hide");
				}
	        });
		}
		
	}
</script>
