<div class="row" ng-controller="authorizeCtrl">
	<div class="portlet light" style="min-height: 500px;">
		<div class="portlet-body">
			<div class="col-md-3">
				<div id="tree" class="tree-demo"></div>
			</div>
			<div class="col-md-9">
				<div style="margin-top: 5px;">
					<input type="checkbox" />添加
					<input type="checkbox" />修改
					<input type="checkbox" />删除
				</div>
				<div style="margin-top: 5px;">
					<input type="checkbox" />添加
					<input type="checkbox" />修改
					<input type="checkbox" />删除
				</div>
				<div style="margin-top: 5px;">
					<input type="checkbox" />添加
					<input type="checkbox" />修改
					<input type="checkbox" />删除
				</div>
				<div style="margin-top: 5px;">
					<input type="checkbox" />添加
					<input type="checkbox" />修改
					<input type="checkbox" />删除
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<script>
	function authorizeCtrl($scope) {
		$scope.initTree = function() {
			$('#tree').jstree({
				'core': {
					"check_callback": true,
					'data': [{
						'id': 'node_1',
						'text': '课程管理',
						'state': {
							'opened': true,
						},
						'children': [{
							'text': '课程添加',
							'icon': 'fa fa-briefcase icon-state-success',
							'state': {
								'opened': true
							},
						}, {
							'text': '课程总览',
							'icon': 'fa fa-briefcase icon-state-success'
						}]
					}, {
						'id': 'node_2',
						'text': '资料库管理',
						'state': {
							'opened': true
						},
						'children': [{
							'text': '知识点题库',
							'icon': 'fa fa-briefcase icon-state-success'
						}, {
							'text': '教辅资料库',
							'icon': 'fa fa-briefcase icon-state-success'
						}]
					}, {
						'id': 'node_3',
						'text': '考试管理',
						'state': {
							'opened': true
						}
					}]
				}
			});
		}
		$scope.initTree();
	}
</script>
