<link href="../../../assets/admin/pages/css/profile-old.css" rel="stylesheet">
<style>
	.label-text {
		margin-top: 8px;
	}
	.btn-info {
		margin-bottom: 2px;
		margin-left: 2px;
	}
</style>
<div class="row" ng-controller="enrollCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>财务账单
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div data-ng-include="'components/search.html'"></div>
				</div>
				<table style="margin-bottom: 20px;" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>培训项目方案</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX" ng-repeat="item in data">
							<td>{{item.trainProjectName}}</td>
							<td>
								<button class="btn btn-info btn-sm"  ng-click="look(item.pjPlanId)">查看/上传</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div>
						<div class="col-md-11" style="float: left; clear: both; margin-left: 20px;">
							<pagination total-items="bigTotalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" first-text="首页" items-per-page="{{pageSize}}" last-text="末页" previous-text="上一页" next-text="下一页"></pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
	
	<div class="modal fade" id="picsModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">图集</h4>
				</div>
				<div class="modal-body">
					<div class="portlet">
						<div class="portlet-body">
							<img src="{{row.fileUrl}}" style="width: 130px;height: auto;margin: 20px;border: 1px solid #82949a;" ng-repeat="row in pics" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-5">
						<div>
							<div id="topPicSrc" class="filePicker">选择图片上传</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

</div>
<script>
	function enrollCtrl($scope, $http, $rootScope) {
		$scope.currentPage = 1
		$scope.searchObj = {
			agoDay: 30
		}
		//分页加载培训方案
		$scope.loadAllPlan = function() {
			common.loadDataList({
				$scope: $scope,
				$http: $http,
				$rootScope: $rootScope,
				url: '/train/plan/findAllPage',
			})
		}
		
		//更改查询条件
		$scope.$watch('changeSearchObj', function(newVal,oldVal) {
			if($rootScope.searchObj = {}) {
				$rootScope.searchObj = {
					agoDay: '',
					pjPlanId: ''
				}
			}
			$scope.searchObj = $rootScope.searchObj
			$scope.loadAllPlan();
		})
		
		$scope.pageChanged = function() {
			$scope.loadAllPlan();
		}
		
		//查看当前财务账单
		$scope.look = function(planId) {
			$scope.currPlanId = planId
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					planId: planId
				},
				url: '/financeDetailFile/findAllPage',
				success: function(res) {
					console.log(res)
					$scope.pics = res.content
					$("#picsModal").modal('show');
				}
			});
		}
		
		$scope.savePic = function(fileUrl) {
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					planId: $scope.currPlanId,
					fileUrl: fileUrl
				},
				url: '/financeDetailFile/saveOrUpdate',
				success: function(res) {
					console.log(res)
					$("#picsModal").modal('show');
				}
			});
		}
		
		//上传封面图片
		common.fileUpload({
			id: 'topPicSrc',
			type: 'pic',
			success: function(file, response) {
				$scope.$apply(function() {
					console.log(response);
					$scope.pics.push(response)
					
					$scope.savePic(response.fileUrl)
				});
			}
		});
	}
</script>