<link href="../../../assets/admin/pages/css/profile-old.css" rel="stylesheet">
<style>
	.label-text {
		margin-top: 8px;
	}
	.btn-info {
		margin-bottom: 2px;
		float: right;
		margin-left: 2px;
	}
	
	.abslute {
		margin-left: -100px;
		margin-top: 3px;
		width: 46px;
		height: 28px;
	}
	
	.table-toolbar {
		border-bottom: 3px solid #ddd;
		border-width: 100%;
	}
	
	.dividing {
		border-bottom: 3px solid #ddd;
		top: -23px;
		position: relative;
	}
</style>
<div class="row" ng-controller="enrollCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>财务管理
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn red" ng-click="add()">
					<i class="fa fa-plus"></i> 添加 </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div data-ng-include="'components/search.html'"></div>
				</div>
				<table style="margin-bottom: 20px;" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>操作</th>
							<th>培训项目方案</th>
							<th>财务类型</th>
							<th>收入/支出</th>
							<th>金额(元)</th>
							<th>发生时间</th>
							<!-- <th>备注</th> -->
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX" ng-repeat="item in data">
							<td style="min-width: 150px;">
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="edit(item)">编辑</button>
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="del(item)">删除</button>
								<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="save(item)">保存</button>
								<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="cancel(item, $index)">取消</button>
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.pjPlanName}}</span>
								<input class="pjPlan" ng-show='item.edit' type="text" ng-model="item.pjPlanName" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.financeTypeName}}</span>
								<!-- <input ng-show='item.edit' type="text" ng-model="item.financeTypeName" /> -->
								<select ng-show='item.edit' ng-model="item.financeTypeId" 
								ng-options="x.financeTypeId as x.financeTypeName for x in financeType"></select>
							</td>
							<td>
								<span>支出</span>
								<!-- <input ng-show='item.edit' type="text" ng-model="item.inOut" /> -->
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.money}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.money" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.happenTime}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.happenTime" class="date-picker" />
							</td>
							<!-- <td>
								<span ng-show='!item.edit'>{{item.}}</span>
								<input ng-show='item.edit' type="text" ng-model="item." />
							</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
	

</div>
<script>
	function enrollCtrl($scope, $http, $rootScope, $timeout) {
		$scope.flag = ''
		//分页加载财务类别
		$scope.loadfinanceType = function() {
			common.loadDataList({
				$scope: $scope,
				$http: $http,
				$rootScope: $rootScope,
				rtnData: 'financeType',
				url: '/financeType/findAllPage',
			})
		}
		$scope.loadfinanceType();
		
		//分页加载财务明细
		$scope.loadfinance = function() {
			common.loadDataList({
				$scope: $scope,
				$http: $http,
				$rootScope: $rootScope,
				url: '/financeDetail/findAllPage',
			})
		}
		
		//更改查询条件
		$scope.$watch('changeSearchObj', function(newVal,oldVal) {
			if($rootScope.searchObj) {
				$scope.searchObj = $rootScope.searchObj
				$scope.loadfinance();
			}
		})
		
		$scope.pageChanged = function() {
			$scope.loadfinance();
		}
		
		$scope.add = function() {
			if($scope.flag != '') {
				layer.alert('请先将目前编辑的内容保存或取消')
				return false
			}
			$scope.flag = 'add';
			$scope.data.push({ edit: true })
			$timeout(function(){  // timeout延迟执行
				$scope.autocomplete($scope.data[$scope.data.length-1])
			},300);
			
		};
		
		$scope.edit = function(finance) {
			if($scope.flag != '') {
				layer.alert('请先将目前编辑的内容保存或取消')
				return false
			}
			$scope.flag = 'edit';
			finance.edit = true;
			$scope.autocomplete(finance)
		}
		
		$scope.save = function(finance) {
			console.log(finance.financeTypeId)
			
			for(let value of $scope.financeType) {
				if(value.financeTypeId == finance.financeTypeId) {
					finance.financeTypeName = value.financeTypeName
				}
			}
			finance.inOut = '支出'
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: finance,
				operate: true,
				url: '/financeDetail/saveOrUpdate',
				success: function(res) {
					$scope.flag = '';
					$scope.loadfinance();
				}
			});
		};
		
		$scope.cancel = function(finance) {
			if($scope.flag == 'add') {
				$scope.data.pop();
			}else if($scope.flag == 'edit') {
				finance.edit = false;				
			}
			$scope.flag = '';
		};
		
		$(".date-picker").live("focus", function() {
			$(".date-picker").datepicker({
				language: 'zh-CN',
				format: 'yyyy-mm-dd'
			})
		});
		
		$scope.autocomplete = function(obj) {
			console.log($(".pjPlan").length)
			let data = []
			for(let value of $rootScope.allPlanList) {
				data.push({
					label: value.trainProjectName,
					value: value.pjPlanId
				})
			}
			$(".pjPlan").autocomplete({
				minLength: 0,
				delay: 0,
		    //数据源
		    source: data,
				select: function( event, ui ) {
					$scope.$apply(function() {
						console.log(ui.item.value +"     "+ ui.item.label)
						$scope.pjPlanName = ui.item.label
						if(obj) {
							obj.pjPlanName = ui.item.label
							obj.pjPlanId = ui.item.value
						}
						// $rootScope.searchObj.pjPlanId = ui.item.value
						// $rootScope.changeSearchObj++
					})
					return false;
				}
			}).focus(function () {
				$(this).autocomplete("search");//autocomplete 获取焦点时得到显示列表
			});
		}
			
	}
</script>