<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link href="css/app.css" rel="stylesheet" type="text/css" />
		<style>
			.htmlWrapper p {
				display: inline;
			}
		</style>
	</head>
	<body>
		<div style="text-align: center;" ng-app="myApp" ng-controller="myCtrl">
			<div class='p_typeOne'>
			  <img class='p_state dis_none' src='img/z17.png' mode='widthFix' />
			  <img class='p_state dis_none' src='img/z18.png' mode='widthFix' /><!--已回答、已过期标签，添加“dis_none”隐藏-->
			  <p style="font-size: 16px;" class="htmlWrapper" ng-bind-html="question.title"></p>
			</div>
			<!--单选或多选-->
			<div class='p_answers' ng-if="questionType == 'single' || questionType == 'multiple'">
			  <!--题目是否可用通过添加删除类“opacity”切换-->
			  <div class='p_answers_clm' ng-repeat="row in question.examChildren[0].optChildren" ng-click="selectOpt(row)" style="background-color: {{row.select ? '#d2d2d2' : '#ffffff'}};">
			    <p><span class='cl_o e_number'>{{row.optValue}}.</span><span class="htmlWrapper" ng-bind-html="row.optTxt"></span></p>
			  </div>
		    </div>
		    
		    <!--主观-->
		    <div class='p_answers' ng-if="questionType == 'design'">
			  <!--题目是否可用通过添加删除类“opacity”切换-->
			  <textarea style="width: 80%;height: 300px;margin: 0 auto;" ng-model="$parent.answer"></textarea>
		    </div>
		    
		     <!--判断-->
		    <div class='p_answers' ng-if="questionType == 'trueOrFalse'">
			  <div class='p_answers_clm' ng-click="selectTOF(1)" style="background-color: {{answer ? '#d2d2d2' : '#ffffff'}};">
			    <p><span class='cl_o e_number'>正确</p>
			  </div>
			  <div class='p_answers_clm' ng-click="selectTOF(0)" style="background-color: {{!answer ? '#d2d2d2' : '#ffffff'}};">
			    <p><span class='cl_o e_number'>错误</p>
			  </div>
		    </div>
		    
		    <button class='com_btn mt_100 btn_state_on' style="margin: 0 auto;padding: 10px;" ng-click="sub()">提交</button>
		    <!--按钮的状态通过添加删除类“btn_state_on/btn_state_off”切换-->
			
		</div>
		
		<script src="js/jquery.min.js" type="text/javascript"></script>
		<script src="js/angularjs/angular.min.js" type="text/javascript"></script>
		<script src="js/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
		<script src="js/commonJiaohu.js" type="text/javascript"></script>
		<script>
			var app = angular.module('myApp', [
			    "ngSanitize"
			]);
			app.controller('myCtrl', function($scope, $http, $interval) {
				//接收老师推送问题
		        var random = Math.random().toString(36).substr(2);//生成随机数
		        $scope.receiveQuestion = function() {
		        	common.ajax2({
		        		method: 'get',
			        	$scope: $scope,
						$http: $http,
						url: '/interact/achieve/questions?examineeId=10001&circleId=123&random='+random,
						success: function(res) {
							console.log(res);
							if(res) {
								$scope.questionType = res.data.bigQuestion.examChildren[0].examType;
								res.data.bigQuestion = common.addTitleForQuestion({
									questionArr: res.data.bigQuestion
								});
								$scope.question = res.data.bigQuestion;
							}
						}
			        });
		        };
		        $scope.receiveQuestion();
		        $interval($scope.receiveQuestion ,1000);
		        
		        //点击选项
		        $scope.selectOpt = function(opt) {
		        	if($scope.questionType == "single") {
		        		$($scope.question.examChildren[0].optChildren).each(function() {
		        			this.select = false;
		        		});
		        		opt.select = true;
		        	}else if($scope.questionType == "multiple") {
		        		opt.select = !opt.select;
		        	}else {
		        		alert("网络异常");
		        	}
		        }
		        
		        //点击正确错误
		        $scope.selectTOF = function(type) {
		        	if(type == 1) {
		        		$scope.answer = true;
		        	}else {
		        		$scope.answer = false;
		        	}
		        }
		        
		        //点击提交
		        $scope.sub = function() {
		        	if($scope.questionType == "single" || $scope.questionType == "multiple") {
		        		var answerArr = [];
			        	$($scope.question.examChildren[0].optChildren).each(function() {
			        		if(this.select) {
			        			answerArr.push(this.optValue);
			        		}
		        		});
		        		$scope.answer = answerArr.join(",");
		        	}		        	
		        	common.ajax2({
			        	$scope: $scope,
						$http: $http,
						data: {
						  "answer": $scope.answer,
						  "circleId": "123",
						  "cut": "0",
						  "examineeId": "10001",
						  "questionId": $scope.question.id
						},
						url: '/interact/send/answer',
						success: function(res) {
							alert("提交成功");
						}
			        });
		        }
			});
		</script>
	</body>
</html>
