<link href="../../../assets/admin/pages/css/profile-old.css" rel="stylesheet">
<style>
	.label-text {
		margin-top: 8px;
	}
	.blockEdit{
    margin-top: -20px;
    width: auto;
    border-bottom: 3px solid #ddd;
    height: 30px;
    margin-bottom: 20px;
  }
	td input {
		width: 100%;
	}
	
</style>
<div class="row" ng-controller="enrollCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>培训方案
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn red" ng-click='add()'>
					<i class="fa fa-plus"></i> 添加 </a>
				</div>
			</div>
			<div class="portlet-body" style="overflow-x: scroll;">
				<div class="table-toolbar">
					<div data-ng-include="'components/search.html'"></div>
				</div>
				<table class="table table-striped table-bordered table-hover" style="min-width: 1200px;">
					<thead>
						<tr>
							<th>操作</th>
							<th>方案名称</th>
							<th ng-show='!globalEdit'>课程</th>
							<th>报名开始时间</th>
							<th>报名截止时间</th>
							<th>方案开始时间</th>
							<th>方案截止时间</th>
							<th>负责人</th>
							<th ng-show='!globalEdit'>创建时间</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX" ng-repeat="item in data">
							<td style="min-width: 250px;">
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="edit(item)">编辑</button>
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="planCourses(item.pjPlanId)">课程</button>
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="classPeople(item.pjPlanId, item.trainProjectName)">班级</button>
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="del(item)">删除</button>
								<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="save(item)">保存</button>
								<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="cancel(item, $index)">取消</button>
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.trainProjectName}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.trainProjectName" />
							</td>
							<td ng-show='!globalEdit'>
								{{item.trainCourse}}
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.applyStart}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.applyStart" class="date-picker" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.applyEnd}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.applyEnd" class="date-picker" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.trainStart}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.trainStart" class="date-picker" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.trainEnd}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.trainEnd" class="date-picker" />
							</td>
							
							<td>
								<span ng-show='!item.edit'>{{item.trainAdmin}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.trainAdmin" />
							</td>
							<td ng-show='!globalEdit'>{{item.updateTime}}</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div>
						<div class="col-md-11" style="float: left; clear: both; margin-left: 20px;">
							<pagination total-items="bigTotalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" first-text="首页" items-per-page="{{pageSize}}" last-text="末页" previous-text="上一页" next-text="下一页"></pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
	
	<!-- 培训方案课程 -->
	<div class="modal fade" id="planCoursesModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">培训方案课程</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 export-option">
							<div style="display: inline-block;margin: 10px 20px;" ng-repeat='item in allCourseList'>
								<input type="checkbox" name="basicVar" ng-model='item.checked' />
								<span style="font-weight: 600;">{{item.courseName}}</span>
							</div>
						</div>
						
						<div class="col-md-12" style="text-align: center">
							<button type="button" style="width: 200px" class="btn btn-md blue" ng-click="planCoursesUpd()"> 确定 </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 班级-人员 -->
	<div class="modal fade" id="class_peopleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">培训方案班级和学员</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-5">
							<h4 style="margin-bottom: 20px;">班级信息
								<a href="javascript:;" class="btn red btn-sm" style="float: right;" ng-click='addCls()'>
								<i class="fa fa-plus"></i> 添加班级 </a>
							</h4>
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>操作</th>
										<th>班级名称</th>
										<th>班级负责人</th>
										<th>负责人联系方式</th>
									</tr>
								</thead>
								<tbody>
									<tr class="{{item.active ? 'td-active' : ''}}" ng-repeat="item in classList" ng-click='chooseClass(item)'>
										<td style="min-width: 150px;">
											<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="editCls(item)">编辑</button>
											<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="delCls(item)">删除</button>
											<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="saveCls(item)">保存</button>
											<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="cancelCls(item, $index)">取消</button>
										</td>
										<td>
											<span ng-show='!item.edit'>{{item.trainClassName}}</span>
											<input ng-show='item.edit' type="text" ng-model="item.trainClassName" style="width: 100%;" />
										</td>
										<td>
											<span ng-show='!item.edit'>{{item.classAdmin}}</span>
											<input ng-show='item.edit' type="text" ng-model="item.classAdmin" style="width: 100%;" />
										</td>
										<td>
											<span ng-show='!item.edit'>{{item.classAdminTel}}</span>
											<input ng-show='item.edit' type="text" ng-model="item.classAdminTel" style="width: 100%;" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-7" style="border-left: 1px solid #45B6AF;">
							<h4 style="margin-bottom: 20px;">班级学员
							<a href="javascript:;" class="btn red btn-sm" style="float: right;" ng-click='addStu()'>
							<i class="fa fa-plus"></i> 添加学员 </a></h4>
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>操作</th>
										<th>姓名</th>
										<th>性别</th>
										<th>民族</th>
										<th>单位职务</th>
										<th>身份证号</th>
										<th>联系方式</th>
									</tr>
								</thead>
								<tbody>
									<tr class="odd gradeX" ng-repeat="item in students">
										<td style="min-width: 150px;">
											<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="editStu(item)">编辑</button>
											<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="delStu(item)">删除</button>
											<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="saveStu(item)">保存</button>
											<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="cancelStu(item)">取消</button>
										</td>
										<td>
											<span ng-show='!item.edit'>{{item.stuName}}</span>
											<input ng-show='item.edit' type="text" ng-model="item.stuName" />
										</td>
										<td>
											<span ng-show='!item.edit'>{{item.gender}}</span>
											<select ng-show='item.edit' ng-model="item.gender">
												<option value="男">男</option>
												<option value="女">女</option>
											</select>
										</td>
										<td>
											<span ng-show='!item.edit'>{{item.marriage}}</span>
											<input ng-show='item.edit' type="text" ng-model="item.marriage" />
										</td>
										<td>
											<span ng-show='!item.edit'>{{item.jobTitle}}</span>
											<input ng-show='item.edit' type="text" ng-model="item.jobTitle" />
										</td>
										<td>
											<span ng-show='!item.edit'>{{item.stuIdCard}}</span>
											<input ng-show='item.edit' type="text" ng-model="item.stuIdCard" />
										</td>
										<td>
											<span ng-show='!item.edit'>{{item.stuPhone}}</span>
											<input ng-show='item.edit' type="text" ng-model="item.stuPhone" />
										</td>
									</tr>
									<!-- <tr class="gradeX odd">
										<td>
											<button class="btn btn-info btn-xs">编辑</button>
										</td>
										<td>李四</td>
										<td>女</td>
										<td>汉族</td>
										<td>处长</td>
										<td>4101013243545</td>
										<td>我的评语</td>
									</tr> -->
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
	function enrollCtrl($scope, $http, $rootScope) {
		$scope.currentPage = 1
		$scope.searchObj = {
			agoDay: 30
		}
		//分页加载培训方案
		$scope.loadAllPlan = function() {
			common.loadDataList({
				$scope: $scope,
				$http: $http,
				$rootScope: $rootScope,
				url: '/train/plan/findAllPage',
				success: function() {
					for(let value of $scope.data) {
						if(!value.trainCourse) {
							value.trainCourse = '暂无'
						}
					}
				}
			})
		}
		
		$scope.pageChanged = function() {
			$scope.loadAllPlan();
		}
		
		//更改查询条件
		$scope.$watch('changeSearchObj', function(newVal,oldVal) {
			if($rootScope.searchObj) {
				$scope.searchObj = $rootScope.searchObj
				$scope.loadAllPlan();
			}
		})
		
		/*    培训方案增删改查start    */
		$scope.add = function() {
			$scope.flag = 'add';
			$scope.data.push({ edit: true });
			$scope.globalEdit = true
		}
		
		$scope.edit = function(plan) {
			$scope.flag = 'edit';
			plan.edit = true;
			$scope.globalEdit = true
		}
		
		$scope.save = function(plan) {
			plan.trainAreaId = 1;
			if(!plan.trainProjectName || plan.trainProjectName=='') {
				layer.alert('方案名称不能为空')
				return false
			}
			if(!plan.trainStart || plan.trainStart=='') {
				layer.alert('方案开始时间不能为空')
				return false
			}
			if(!plan.trainEnd || plan.trainEnd=='') {
				layer.alert('方案截止时间不能为空')
				return false
			}
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: plan,
				operate: true,
				url: '/train/plan/saveOrUpdate',
				success: function(res) {
					$scope.loadAllPlan();
					$rootScope.loadAllPlanList();
					$scope.globalEdit = false
				}
			});
		};
		
		$scope.cancel = function(plan) {
			if($scope.flag == 'add') {
				$scope.data.pop();
			}else if($scope.flag == 'edit') {
				plan.edit = false;				
			}
			$scope.globalEdit = false
		};
		/*    培训方案增删改查end    */
		
		//点击班级变色,并加载该班级中的学员
		$scope.chooseClass = function(cls) {
			console.log(cls)
			if(!cls.trainClassId) return false
			for(let value of $scope.classList) {
				value.active = false
			}
			cls.active = true
			$scope.currClass = cls
			$scope.loadClassStudents()
		} 
		
		//根据班级id加载学员
		$scope.loadClassStudents = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					classId: $scope.currClass.trainClassId
				},
				url: '/trainClassStu/findByClassIdAllPage',
				success: function(res) {
					console.log(res)
					$scope.students = res.content
				}
			});
		}
		
		/*    学员增删改查start    */
		$scope.addStu = function() {
			if(!$scope.currClass) {
				layer.alert('请先点击左侧表格，选择班级')
				return false
			}
			$scope.flagStu = 'add';
			$scope.students.push({ edit: true });
		}
		
		$scope.editStu = function(stu) {
			$scope.flagStu = 'edit';
			stu.edit = true;
		}
		
		$scope.saveStu = function(stu) {
			stu.trainClassId = $scope.currClass.trainClassId;
			stu.trainClassName = $scope.currClass.trainClassName;
			stu.trainProjectName = $scope.currPlanName
			stu.pjPlanId = $scope.currPlanId
			
			if(!stu.stuName || stu.stuName=='') {
				layer.alert('姓名不能为空')
				return false
			}
			if(!stu.gender || stu.gender=='') {
				layer.alert('请选择性别')
				return false
			}
			if(!stu.marriage || stu.marriage=='') {
				layer.alert('民族不能为空')
				return false
			}
			if(!stu.jobTitle || stu.jobTitle=='') {
				layer.alert('单位职务不能为空')
				return false
			}
			if(!stu.stuPhone || stu.stuPhone=='') {
				layer.alert('联系方式不能为空')
				return false
			}
			
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: stu,
				operate: true,
				url: '/trainClassStu/saveOrUpdate',
				success: function(res) {
					$scope.loadClassStudents()
				}
			});
		};
		
		$scope.cancelStu = function(stu) {
			console.log($scope.flag)
			if($scope.flagStu == 'add') {
				$scope.students.pop();
			}else if($scope.flagStu == 'edit') {
				stu.edit = false;				
			}
			console.log(stu)
		};
		/*    学员增删改查end    */
		
		//根据方案id查询所选课程
		$scope.planCourses = function(planId) {
			$scope.currPlanId = planId
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					planId: planId
				},
				url: '/trainPlanCourse/findById',
				success: function(res) {
					for(let ac of $rootScope.allCourseList) {
						ac.checked = false
						for(let pc of res) {
							if(ac.courseId == pc.courseId) {
								ac.checked = true
							}
						}
					}
					$("#planCoursesModal").modal('show');
				}
			});
		}
		
		//根据方案id更新所选课程
		$scope.planCoursesUpd = function() {
			console.log($rootScope.allCourseList)
			let postData = {
				pjPlanId: $scope.currPlanId,
				list: []
			}
			for(let value of $rootScope.allCourseList) {
				if(value.checked) {
					postData.list.push({
						courseId: value.courseId,
						courseName: value.courseName,
						pjPlanId: $scope.currPlanId
					})
				}
			}
				
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: postData,
				operate: true,
				url: '/trainPlanCourse/saveOrUpdate',
				success: function(res) {
					console.log(res)
					$scope.loadAllPlan();
					$("#planCoursesModal").modal('hide')
				}
			});
		}
		
		//根据方案id查询班级信息
		$scope.classPeople = function(planId, planName) {
			$scope.currPlanId = planId
			if(planName) {
				$scope.currPlanName = planName
			}
			$scope.currClass = null//清空当前所选班级
			$scope.students = []//清空学生信息
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					pjPlanId: planId
				},
				url: '/trainClass/findAllPage',
				success: function(res) {
					$scope.classList = res.content
				}
			});
			$("#class_peopleModal").modal('show');
		}
		
		/*    班级增删改查start    */
		$scope.addCls = function() {
			$scope.flagCls = 'add';
			$scope.classList.push({ edit: true });
		}
		
		$scope.editCls = function(cls) {
			$scope.flagCls = 'edit';
			cls.edit = true;
		}
		
		$scope.saveCls = function(cls) {
			cls.pjPlanId = $scope.currPlanId;
			cls.pjPlanName = $scope.currPlanName;
			
			if(!cls.trainClassName || cls.trainClassName=='') {
				layer.alert('班级名称不能为空')
				return false
			}
			
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: cls,
				operate: true,
				url: '/trainClass/saveOrUpdate',
				success: function(res) {
					$scope.classPeople($scope.currPlanId, null)
				}
			});
		};
		
		$scope.cancelCls = function(cls) {
			if($scope.flagCls == 'add') {
				$scope.classList.pop();
			}else if($scope.flagCls == 'edit') {
				cls.edit = false;				
			}
		};
		/*    班级增删改查end    */
		
		$(".date-picker").live("focus", function() {
			$(".date-picker").datepicker({
				language: 'zh-CN',
				format: 'yyyy-mm-dd'
			})
		});
	}
</script>