<style>
	.badge {
		padding: 6px 9px;
		height: 24px;
		margin: 3px;
	}
	.search {
		display: inline-block !important;
		margin-right: 20px;
		width: auto !important;
	}
</style>
<div ng-controller="lessonPlanCtrl">
	<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="portlet light" style="min-height: 400px;">
					<div class="portlet-title tabbable-line">
						<div class="caption font-green-sharp">
							<i class="icon-settings font-green-sharp"></i>
							<span class="caption-subject bold uppercase" id="title">教案{{currKP}}</span>
						</div>
						<div class="actions">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						</div>
						<ul class="nav nav-tabs">
							<li class="active">
								<a data-target="#tab_4_1" data-toggle="tab">
									资料 </a>
							</li>
							<li>
								<a data-target="#tab_4_2" data-toggle="tab">
									提问 </a>
							</li>
							<li>
								<a data-target="#tab_4_3" data-toggle="tab">
									讨论 </a>
							</li>
							<li>
								<a data-target="#tab_4_4" data-toggle="tab">
									练习 </a>
							</li>
							<li>
								<a data-target="#tab_4_5" data-toggle="tab">
									头脑风暴 </a>
							</li>
							<li>
								<a data-target="#tab_4_6" data-toggle="tab">
									作业 </a>
							</li>
							<li>
								<a data-target="#tab_4_7" data-toggle="tab">
									任务 </a>
							</li>
							<li>
								<a data-target="#tab_4_8" data-toggle="tab">
									调查活动 </a>
							</li>

						</ul>
					</div>
					<div class="portlet-body">
						<div class="tab-content">
							<!-- 描述：资料  -->
							<div class="tab-pane active" id="tab_4_1">
								<div class="row">
									<div class="col-md-6">
										<div class="portlet box grey-cascade">
											<div class="portlet-title">
												<div class="caption">
													<i class="fa fa-gift"></i>资料库列表
												</div>
												<div class="tools">
													<a href="javascript:;" class="collapse" data-original-title="" title="">
													</a>
												</div>
											</div>
											<div class="portlet-body">
												<ul class="feeds">
													<li ng-repeat="row in docList">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="md-checkbox">
																		<input type="checkbox" id="doc{{row.id}}" class="md-check" name="doc" ng-click="chooseZiliao(row)">
																		<label for="doc{{row.id}}">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		{{row.name}}
																	</div>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-6" style="text-align: center;">
										<div class="portlet box grey-cascade">
											<div class="portlet-title">
												<div class="caption">
													<i class="fa fa-gift"></i>已选文件
												</div>
												<div class="tools">
													<a href="javascript:;" class="collapse" data-original-title="" title="">
													</a>
												</div>
											</div>
											<div class="portlet-body">
												<ul class="feeds">
													<li ng-repeat="row in newDocList">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="md-checkbox">
																		<input type="checkbox" id="newDoc{{row.id}}" class="md-check" name="newDoc" checked="checked">
																		<label for="newDoc{{row.id}}">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		{{row.name}}
																	</div>
																</div>
															</div>
														</div>
													</li>
												</ul>
												<button type="button" class="btn green" data-toggle="modal" href="#addJiaofuModal" style="margin-top: 40px;">上传</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 描述：提问  -->
							<div class="tab-pane" id="tab_4_2">
								<div class="row">
									<div class="col-md-6" style="text-align: center;">
										<ul class="feeds">
											<li ng-repeat="row in tiwenceList">
												<div class="col1">
													<div class="cont">
														<div class="cont-col1">
															<div class="md-checkbox">
																<input type="checkbox" id="tiwence{{$index}}" class="md-check" name="tiwence">
																<label for="tiwence{{$index}}">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
															</div>
														</div>
														<div class="cont-col2">
															<div class="desc">
																{{row.name}}
															</div>
														</div>
													</div>
												</div>
											</li>
										</ul>
										
										<div style="text-align: left;">
											<!--<p class="search">题号(<span style="color: red;">红色为已选择</span>)</p>-->
											<select class="form-control search">
												<option>请选择知识点</option>
												<option>电子商务的概念</option>
												<option>电子商务的含义</option>
											</select>
											<select class="form-control search">
												<option>请选择难易程度</option>
												<option>简单</option>
												<option>中等</option>
												<option>困难</option>
											</select>
											<select class="form-control search">
												<option>请选择题目类型</option>
												<option>单选</option>
												<option>多选</option>
												<option>判断</option>
												<option>主观</option>
												<option>大题</option>
											</select>
											<button class="btn btn-primary">确定</button>
										</div>
										<div style="text-align: left;">
											<span class="badge {{row.class ? row.class : 'badge-success'}}" ng-repeat="row in tiwenQuestionList"> {{$index+1}} </span>
										</div>
										
										
										
										
										
										
										<button type="button" class="btn green" data-toggle="modal" href="#questionSingle" style="margin-top: 40px;">创建题目</button>
									</div>
									<div class="col-md-6">
										<div class="portlet light">
											<div class="portlet-title tabbable-line">
												<ul class="nav nav-tabs" style="float: left;">
													<li class="active">
														<a data-target="#tab_5_1" data-toggle="tab">
															未选题目 </a>
													</li>
													<li>
														<a data-target="#tab_5_2" data-toggle="tab">
															已选题目 </a>
													</li>
												</ul>
											</div>
											<div class="portlet-body">
												<div class="tab-content">
													<div class="tab-pane active" id="tab_5_1">
														<div class="scroller" style="height: 500px;overflow-y: scroll;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
															<div class="well" style="background-color: #d6e9c6;" ng-repeat="row in tiwenQuestionList">
																<div class="md-checkbox" style="display: inline-block;">
																	<input type="checkbox" id="checkbox{{$index}}" class="md-check" ng-change="select(row)" ng-model="row.select">
																	<label for="checkbox{{$index}}">
																	<span></span>
																	<span class="check"></span>
																	<span class="box"></span>
																	</label>
																</div>
																<span style="display: inline-block;width: 89%;cursor: pointer;">{{$index+1}}.{{row.name}} </span>
															</div>
															<p style="text-align: center; color: blue;font-size: 14px;display: block;">加载更多</p>
														</div>
													</div>
													<div class="tab-pane" id="tab_5_2">
								
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab_4_3">

							</div>
							<div class="tab-pane" id="tab_4_4"></div>
							<div class="tab-pane" id="tab_4_5"></div>
							<div class="tab-pane" id="tab_4_6"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn blue">确定</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
	<div data-ng-include="'views/template/jiaofu/addJiaofu.html'"></div>
	
	<div data-ng-include="'views/template/timu/addQuestion.html'"></div>
</div>

<script>
	function lessonPlanCtrl($scope) {
		$scope.docList = [
			{id: "1", name: "电子商务基础教学大纲.doc"},
			{id: "2", name: "电子商务基础教案.doc"},
			{id: "3", name: "电子商务基础课件.ppt"},
			{id: "4", name: "新增文件.doc"}
		];
		
		$scope.newDocList = [
			
		];
		
		$scope.chooseZiliao = function(doc) {
			var flag = true;
			console.log(doc);
			$($scope.newDocList).each(function() {
				if(this.id == doc.id) {
					flag = false;
				}
			});
			if(flag) {
				$scope.newDocList.push(doc);
			}
		}
		
		$scope.tiwenceList = [
			{name: "电子商务基础-问答册1"},
			{name: "电子商务基础-问答册2"},
			{name: "电子商务基础-问答册3"},
			{name: "电子商务基础-问答册4"},
			{name: "电子商务基础-问答册5"},
			{name: "电子商务基础-问答册6"}
		];
		
		$scope.tiwenQuestionList = [
			{
				id: "1",
				name: "商家要开展电子商务活动 , 应该用（   ）作为其主要的生意平台。",
				options: [
					{option: "A", value: "第一题答案a"},
					{option: "B", value: "第一题答案b"},
					{option: "C", value: "第一题答案c", right: true},
					{option: "D", value: "第一题答案d"}
				]
			}, {
				name: "Intranet和Internet的区别是 (  )",
				options: [
					{option: "A", value: "第二题答案a", right: true},
					{option: "B", value: "第二题答案b"},
					{option: "C", value: "第二题答案c"},
					{option: "D", value: "第二题答案d"}
				]
			}, {
				name: "电子数据交换的简称是 (  )",
				options: [
					{option: "A", value: "第三题答案a"},
					{option: "B", value: "第三题答案b", right: true},
					{option: "C", value: "第三题答案c"},
					{option: "D", value: "第三题答案d"}
				]
			},
			{
				name: "商家要开展电子商务活动 , 应该用（   ）作为其主要的生意平台。",
				options: [
					{option: "A", value: "第一题答案a"},
					{option: "B", value: "第一题答案b"},
					{option: "C", value: "第一题答案c", right: true},
					{option: "D", value: "第一题答案d"}
				]
			}, {
				name: "Intranet和Internet的区别是 (  )",
				options: [
					{option: "A", value: "第二题答案a", right: true},
					{option: "B", value: "第二题答案b"},
					{option: "C", value: "第二题答案c"},
					{option: "D", value: "第二题答案d"}
				]
			}, {
				name: "电子数据交换的简称是 (  )",
				options: [
					{option: "A", value: "第三题答案a"},
					{option: "B", value: "第三题答案b", right: true},
					{option: "C", value: "第三题答案c"},
					{option: "D", value: "第三题答案d"}
				]
			},
			{
				name: "商家要开展电子商务活动 , 应该用（   ）作为其主要的生意平台。",
				options: [
					{option: "A", value: "第一题答案a"},
					{option: "B", value: "第一题答案b"},
					{option: "C", value: "第一题答案c", right: true},
					{option: "D", value: "第一题答案d"}
				]
			}, {
				name: "Intranet和Internet的区别是 (  )",
				options: [
					{option: "A", value: "第二题答案a", right: true},
					{option: "B", value: "第二题答案b"},
					{option: "C", value: "第二题答案c"},
					{option: "D", value: "第二题答案d"}
				]
			}, {
				name: "电子数据交换的简称是 (  )",
				options: [
					{option: "A", value: "第三题答案a"},
					{option: "B", value: "第三题答案b", right: true},
					{option: "C", value: "第三题答案c"},
					{option: "D", value: "第三题答案d"}
				]
			},
			{
				name: "商家要开展电子商务活动 , 应该用（   ）作为其主要的生意平台。",
				options: [
					{option: "A", value: "第一题答案a"},
					{option: "B", value: "第一题答案b"},
					{option: "C", value: "第一题答案c", right: true},
					{option: "D", value: "第一题答案d"}
				]
			}, {
				name: "Intranet和Internet的区别是 (  )",
				options: [
					{option: "A", value: "第二题答案a", right: true},
					{option: "B", value: "第二题答案b"},
					{option: "C", value: "第二题答案c"},
					{option: "D", value: "第二题答案d"}
				]
			}, {
				name: "电子数据交换的简称是 (  )",
				options: [
					{option: "A", value: "第三题答案a"},
					{option: "B", value: "第三题答案b", right: true},
					{option: "C", value: "第三题答案c"},
					{option: "D", value: "第三题答案d"}
				]
			},
		];
	}
</script>