<div class="row" ng-controller="questionCtrl">
	<div class="col-md-6" style="text-align: center;">
		<ul class="feeds" style="margin-bottom: 30px;">
			<li ng-repeat="row in questionBook">
				<div class="col1">
					<div class="cont">
						<div class="cont-col1">
							<div class="md-checkbox">
								<input type="checkbox" id="questionBook{{$index}}" class="md-check" 
								name="questionBook" ng-model="row.select" ng-change="loadQuestionByCezi(row.id)"
								 ng-disabled="row.select">
								<label for="questionBook{{$index}}">
									<span></span>
									<span class="check"></span>
									<span class="box"></span>
								</label>
							</div>
						</div>
						<div class="cont-col2">
							<div class="desc">
								{{row.exeBookName}}
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>

		<div style="text-align: left;margin-bottom: 10px;">
			<!--<p class="search">题号(<span style="color: red;">红色为已选择</span>)</p>-->
			<select class="form-control search">
				<option>知识点</option>
				<option>电子商务的概念</option>
				<option>电子商务的含义</option>
			</select>
			<select class="form-control search">
				<option>难易度</option>
				<option>简单</option>
				<option>中等</option>
				<option>困难</option>
			</select>
			<select class="form-control search" style="margin-right: 10px;">
				<option>类型</option>
				<option>单选</option>
				<option>多选</option>
				<option>判断</option>
				<option>主观</option>
				<option>大题</option>
			</select>
			<button class="btn btn-primary btn-circle btn-sm">搜索</button>
			<!--<i class="fa fa-search" style="font-size: 18px; color: #1b746c;cursor: pointer;"></i>-->
		</div>
		<div style="text-align: left;">
			<span class="badge {{row.select ? 'badge-danger' : 'badge-success'}}" ng-repeat="row in questionList">
				{{$index+1}} </span>
		</div>

	</div>
	<div class="col-md-6" style="border-left: 1px solid #45B6AF;">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="actions">
					<button class="btn btn-circle green btn-sm" data-toggle="modal" href="#addQuestion">
						<i class="fa fa-plus"></i> 创建题目 </button>
				</div>
				<ul class="nav nav-tabs" style="float: left;">
					<li class="active">
						<a data-target="#tab_tiwenQuestion_1" data-toggle="tab">
							未选题目 </a>
					</li>
					<li>
						<a data-target="#tab_tiwenQuestion_2" data-toggle="tab">
							已选题目 </a>
					</li>
				</ul>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_tiwenQuestion_1">
						<div class="scroller" style="height: 500px;overflow-y: scroll;" data-always-visible="1" data-rail-visible1="0"
						 data-handle-color="#D7DCE2">
							<div class="well" style="background-color: #d6e9c6;" ng-repeat="row in questionList">
								<div class="md-checkbox" style="display: inline-block;">
									<input type="checkbox" id="tiwenQuestion{{$index}}" class="md-check" ng-model="row.select">
									<label for="tiwenQuestion{{$index}}">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
									</label>
								</div>
								<span style="display: inline-block;width: 89%;cursor: pointer;">{{$index+1}}.
									<span class="htmlWrapper" ng-bind-html="row.title"></span>
								</span>
							</div>
							<p style="text-align: center; color: blue;font-size: 14px;display: block;">加载更多</p>
						</div>
					</div>
					<div class="tab-pane" id="tab_tiwenQuestion_2">
						<div class="scroller" style="height: 500px;overflow-y: scroll;" data-always-visible="1" data-rail-visible1="0"
						 data-handle-color="#D7DCE2">
							<div class="well" style="background-color: #d6e9c6;" ng-repeat="row in existQuestionList">
								<div class="md-checkbox" style="display: inline-block;">
									<input type="checkbox" id="tiwenExistQuestion{{$index}}" class="md-check" ng-model="row.select">
									<label for="tiwenExistQuestion{{$index}}">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
									</label>
								</div>
								<span style="display: inline-block;width: 89%;cursor: pointer;">{{$index+1}}.
									<span class="htmlWrapper" ng-bind-html="row.title"></span>
								</span>
							</div>
							<p style="text-align: center; color: blue;font-size: 14px;display: block;">加载更多</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn default" data-dismiss="modal">关闭</button>
		<button type="button" class="btn blue" ng-click="practiceSub()">确定</button>
	</div>
</div>

<script>
	function questionCtrl($scope, $rootScope, $http) {
		$scope.questionList = [];//本课程未挂载的题目
		$scope.existQuestionList = [];//本课程已经挂载过的题目
		
		//加载所有册子  type： 1提问侧   2练习册   3作业册  4任务册  5问卷册  6头脑风暴册
		$scope.loadBookList = function() {
			var data = {
				"allOrPart": "part",
				"operatorId": localStorage.getItem('userid'),
				"page": 0,
				"chapterId": localStorage.getItem('currentNodeId'),
				"size": common.pageSize,
				"sort": 1,
				"sorting": "uTime"
			};
			
			var url = '/exerciseBook/findAll/detailed';
			if($scope.type == '1' || $scope.type == '2' || $scope.type == '3') {
				data.exeBookType = $scope.type;
			}else if($scope.type == '4') {
				url = '/taskExerciseBook/findAll/detailed';
			}else if($scope.type == '5') {
				url = '/surveyExerciseBook/findAll/detailed';
			}else if($scope.type == '6') {
				url = '/brainstormExerciseBook/findAll/detailed';
			};
			
			common.ajax2({
				$scope: $scope,
				$http: $http,
				data: data,
				url: url,
				success: function(res) {
					$scope.questionBook = res.data;
				}
			});
		}
		
		//加载已挂接题目
		$scope.loadExistQuestion = function() {
			var data = {
				"chapterId": localStorage.getItem('currentNodeId'),
				"courseId": localStorage.getItem('courseId')
			}
			
			var url = '/exerciseBook/findExerciseBook';
			if($scope.type == '1' || $scope.type == '2' || $scope.type == '3') {
				data.exeBookType = $scope.type;
			}else if($scope.type == '4') {
				url = '/taskExerciseBook/findExerciseBook';
			}else if($scope.type == '5') {
				url = '/surveyExerciseBook/findExerciseBook';
			}else if($scope.type == '6') {
				url = '/brainstormExerciseBook/findExerciseBook';
			};
			
			common.ajax2({
				$scope: $scope,
				$http: $http,
				data: data,
				url: url,
				success: function(res) {
					res.data = common.addTitleForQuestion({
						questionArr: res.data,
						select: true
					}); //组装题干以供展示
					//console.log(res.data);
					$scope.existQuestionList = res.data;
				}
			});
		};
		
		$scope.initData = function() {
			$scope.questionList = [];
			$scope.existQuestionList = [];
			$scope.loadBookList(); //加载所有练习册
			$scope.loadExistQuestion(); //加载已挂载题目列表
		}

		//切换册子tab页回调
		$scope.$on('changeBookTab', function(d, type) {
			$scope.type = type;
			$scope.initData();
		});
		
		//根据册子id加载册子中的题目，加载时，先判断有没有在已有题目中，再判断有没有在上面的册子中，都没有则保留
		$scope.loadQuestionByCezi = function(id) {
			var url = '/exerciseBook/findDetailed/';
			if($scope.type == '4') {
				url = '/taskExerciseBook/findDetailed/';
			}else if($scope.type == '5') {
				url = '/surveyExerciseBook/findDetailed/';
			}else if($scope.type == '6') {
				url = '/brainstormExerciseBook/findDetailed/';
			};
			
			common.ajax2({
				method: "get",
				$scope: $scope,
				$http: $http,
				url: url + id,
				success: function(res) {
					res.data.bigQuestionList = common.addTitleForQuestion({
						questionArr: res.data.bigQuestionList
					}); //组装题干以供展示				
					$(res.data.bigQuestionList).each(function() {
						var that = this;
						var flag = true;
						//判断有没有在上面的册子中
						$($scope.questionList).each(function() {
							if (this.id == that.id) {
								flag = false;
								return false;
							}
						});
						if (flag) {
							//再判断有没有在已存在的题目中
							$($scope.existQuestionList).each(function() {
								if (this.id == that.id) {
									flag = false;
									return false;
								}
							});
						}
						if (flag) {
							$scope.questionList.push(that);
						}
					});
				}
			});
		};

		//保存章节挂载题目
		$scope.practiceSub = function() {
			var questionIds = [];
			//遍历新增的题目
			$($scope.questionList).each(function() {
				if (this.select) {
					questionIds.push({
						"bigQuestionId": this.id,
						"index": 1
					});
				}
			});
			//遍历已有题目
			$($scope.existQuestionList).each(function() {
				if (this.select) {
					questionIds.push({
						"bigQuestionId": this.id,
						"index": 1
					});
				}
			});
			
			var data = {
				"teacherId": localStorage.getItem("userid"),
				"chapterId": localStorage.getItem('currentNodeId'),
				"courseId": localStorage.getItem('courseId'),
				"questionIds": questionIds
			};
			
			var url = '/exerciseBook/generate/practice';
			if($scope.type == '1' || $scope.type == '2' || $scope.type == '3') {
				data.exeBookType = $scope.type;
			}else if($scope.type == '4') {
				url = '/taskExerciseBook/generate/practice';
			}else if($scope.type == '5') {
				url = '/surveyExerciseBook/generate/practice';
			}else if($scope.type == '6') {
				url = '/brainstormExerciseBook/generate/practice';
			};
			
			common.ajax2({
				$scope: $scope,
				$http: $http,
				operate: true,
				data: data,
				url: url,
				success: function(res) {
					$scope.$emit("ceziChange", $scope.type);
					$("#dataModal").modal("hide");
					$scope.loadBookList(); //加载所有册子
					$scope.loadExistQuestion(); //加载已挂载题目列表
					$scope.questionList = [];
				}
			});
		};
	}
</script>
