<div class="row" ng-controller="tiwenCtrl">
	<div class="col-md-6" style="text-align: center;">
		<ul class="feeds" style="margin-bottom: 30px;">
			<li ng-repeat="row in tiwence">
				<div class="col1">
					<div class="cont">
						<div class="cont-col1">
							<div class="md-checkbox">
								<input type="checkbox" id="tiwence{{$index}}" class="md-check" name="tiwence" ng-model="row.select" ng-change="loadQuestionByCezi(row.id)" ng-disabled="row.select">
								<label for="tiwence{{$index}}">
								<span></span>
								<span class="check"></span>
								<span class="box"></span>
								</label>
							</div>
						</div>
						<div class="cont-col2">
							<div class="desc">
								{{row.exeBookName}}
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		
		<div style="text-align: left;margin-bottom: 10px;">
			<!--<p class="search">题号(<span style="color: red;">红色为已选择</span>)</p>-->
			<select class="form-control search">
				<option>知识点</option>
				<option>电子商务的概念</option>
				<option>电子商务的含义</option>
			</select>
			<select class="form-control search">
				<option>难易度</option>
				<option>简单</option>
				<option>中等</option>
				<option>困难</option>
			</select>
			<select class="form-control search" style="margin-right: 10px;">
				<option>类型</option>
				<option>单选</option>
				<option>多选</option>
				<option>判断</option>
				<option>主观</option>
				<option>大题</option>
			</select>
			<button class="btn btn-primary btn-circle btn-sm">搜索</button>
			<!--<i class="fa fa-search" style="font-size: 18px; color: #1b746c;cursor: pointer;"></i>-->
		</div>
		<div style="text-align: left;">
			<span class="badge {{row.select ? 'badge-danger' : 'badge-success'}}" ng-repeat="row in tiwenQuestionList"> {{$index+1}} </span>
		</div>
		
	</div>
	<div class="col-md-6" style="border-left: 1px solid #45B6AF;">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="actions">
					<button class="btn btn-circle green btn-sm" data-toggle="modal" href="#addQuestion">
					<i class="fa fa-plus"></i> 创建题目 </button>
				</div>
				<ul class="nav nav-tabs" style="float: left;">
					<li class="active">
						<a data-target="#tab_tiwenQuestion_1" data-toggle="tab">
							未选题目 </a>
					</li>
					<li>
						<a data-target="#tab_tiwenQuestion_2" data-toggle="tab">
							已选题目 </a>
					</li>
				</ul>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_tiwenQuestion_1">
						<div class="scroller" style="height: 500px;overflow-y: scroll;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
							<div class="well" style="background-color: #d6e9c6;" ng-repeat="row in tiwenQuestionList">
								<div class="md-checkbox" style="display: inline-block;">
									<input type="checkbox" id="tiwenQuestion{{$index}}" class="md-check" ng-model="row.select">
									<label for="tiwenQuestion{{$index}}">
									<span></span>
									<span class="check"></span>
									<span class="box"></span>
									</label>
								</div>
								<span style="display: inline-block;width: 89%;cursor: pointer;">{{$index+1}}.
									<span class="htmlWrapper" ng-bind-html="row.title"></span>
								</span>
							</div>
							<p style="text-align: center; color: blue;font-size: 14px;display: block;">加载更多</p>
						</div>
					</div>
					<div class="tab-pane" id="tab_tiwenQuestion_2">
						<div class="scroller" style="height: 500px;overflow-y: scroll;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
							<div class="well" style="background-color: #d6e9c6;" ng-repeat="row in tiwenExistQuestionList">
								<div class="md-checkbox" style="display: inline-block;">
									<input type="checkbox" id="tiwenExistQuestion{{$index}}" class="md-check" ng-model="row.select">
									<label for="tiwenExistQuestion{{$index}}">
									<span></span>
									<span class="check"></span>
									<span class="box"></span>
									</label>
								</div>
								<span style="display: inline-block;width: 89%;cursor: pointer;">{{$index+1}}.
									<span class="htmlWrapper" ng-bind-html="row.title"></span>
								</span>
							</div>
							<p style="text-align: center; color: blue;font-size: 14px;display: block;">加载更多</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn default" data-dismiss="modal">关闭</button>
		<button type="button" class="btn blue" ng-click="practiceSub()">确定</button>
	</div>
</div>

<script>
function tiwenCtrl($scope, $rootScope, $http) {
	//加载所有册子  type： 1提问侧   2练习册   3作业册
	$scope.loadCeziList = function() {
		common.ajax2({
        	$scope: $scope,
			$http: $http,
			data: {
			  "allOrPart": "part",
			  "exeBookType": 1,
			  "operatorId": localStorage.getItem('userid'),
			  "page": 0,
			  "chapterId": localStorage.getItem('currentNodeId'),
			  "size": 20,
			  "sort": 1,
			  "sorting": "uTime"
			},
			url: '/exerciseBook/findAll/detailed',
			success: function(res) {
				$scope.tiwence = res.data;
			}
        });
	}
	$scope.loadCeziList();
	
	$scope.tiwenExistQuestionList = [];
	//加载已挂接题目
	$scope.loadTiwenExistQuestion = function() {
		common.ajax2({
        	$scope: $scope,
			$http: $http,
			data: {
				"chapterId": localStorage.getItem('currentNodeId'),
				"courseId": localStorage.getItem('courseId'),
				"exeBookType": "1"
			},
			url: '/exerciseBook/findExerciseBook',
			success: function(res) {
				res.data = common.addTitleForQuestion({
					questionArr: res.data,
					select: true
				});//组装题干以供展示
				$scope.tiwenExistQuestionList = res.data;
			}
        });
	};
	$scope.loadTiwenExistQuestion();
	
	//切换章节回调
	$scope.$on('currentNode', function(d,data) {  
        $scope.loadCeziList();//加载所有练习册
        $scope.loadTiwenExistQuestion();//加载已挂载题目列表
        $scope.tiwenQuestionList = [];
    });
	
	$scope.tiwenQuestionList = [];
	//根据册子id加载册子中的题目，加载时，先判断有没有在已有题目中，再判断有没有在上面的册子中，都没有则保留
	$scope.loadQuestionByCezi = function(id) {
		common.ajax2({
			method: "get",
        	$scope: $scope,
			$http: $http,
			url: '/exerciseBook/findDetailed/'+id,
			success: function(res) {
				res.data.bigQuestionList = common.addTitleForQuestion({
					questionArr: res.data.bigQuestionList
				});//组装题干以供展示				
				$(res.data.bigQuestionList).each(function() {
					var that = this;
					var flag = true;
					//判断有没有在上面的册子中
					$($scope.tiwenQuestionList).each(function() {
						if(this.id == that.id) {
							flag = false;
							return false;
						}
					});
					if(flag) {
						//再判断有没有在已存在的题目中
						$($scope.tiwenExistQuestionList).each(function() {
							if(this.id == that.id) {
								flag = false;
								return false;
							}
						});
					}
					if(flag) {
						$scope.tiwenQuestionList.push(that);
					}
				});
			}
        });
	};
	
	//保存章节挂载题目
	$scope.practiceSub = function() {
		var questionIds = [];
		//遍历新增的题目
		$($scope.tiwenQuestionList).each(function() {
			if(this.select) {
				questionIds.push({
					"bigQuestionId": this.id,
				    "index": 1
				});
			}
		});
		//遍历已有题目
		$($scope.tiwenExistQuestionList).each(function() {
			if(this.select) {
				questionIds.push({
					"bigQuestionId": this.id,
				    "index": 1
				});
			}
		});
		common.ajax2({
        	$scope: $scope,
			$http: $http,
			operate: true,
			data: {
			    "exeBookType": "1",
			    "teacherId": localStorage.getItem("userid"),
			    "chapterId": localStorage.getItem('currentNodeId'),
				"courseId": localStorage.getItem('courseId'),
			    "questionIds": questionIds
			},
			url: '/exerciseBook/generate/practice',
			success: function(res) {
				$scope.$emit("ceziChange", 1);
				$("#dataModal").modal("hide");
				$scope.loadCeziList();//加载所有练习册
		        $scope.loadTiwenExistQuestion();//加载已挂载题目列表
		        $scope.tiwenQuestionList = [];
			}
        });
	};
}
</script>