<style>
    .form-horizontal{
        padding: 10px 20px;
    }
    .form-horizontal .mgImg-left{
        left: 50px;
        position: relative;
    }
    textarea.form-control{
        height: 100px;
    }
    .form-horizontal .mgImg-left img{
        width:80px;
        height: 80px;
    }
    .form-control{
        margin-bottom: 15px;
    }
    .contrl{
        width: 938px;
    }
    .choiceMan{
        margin-top: 9px;
        margin-left: 3px;
    }
    .certificate{
        margin-top: -5px;
    }
    .btn-left{
        margin-left: -5px;
    }
    .width-20{
        margin-left: -52px;
    }
</style>
<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"></i>外聘教师审核
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>
                <a href="javascript:;" class="remove">
                </a>
            </div>
		</div>
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form action="#" class="form-horizontal">
				<div ng-controller="auditCtrl" class="form-body">
					<div class="form-group">
                        <div class="col-md-2">
                            <div class="col-md-3 mgImg-left">
                                <img src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                            </div>
                        </div>
                        <div style="margin-left: -197px" class="col-md-10">
                            <label class="col-md-3 control-label">姓名:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Enter text">
                            </div>
                            <div style="position:relative;left:-241px;">
                                <label class="col-md-6 control-label">身份证号:</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter text">
                                </div>
                            </div>
                        </div>
					</div>
					<div class="form-group">
							<div class="col-md-6">
								<label class="col-md-3 control-label">学历:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">职称:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">手机:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">工作单位:</label>
								<div class="col-md-9">
									<input type="text" class="form-control contrl" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">通讯地址:</label>
								<div class="col-md-9">
									<input type="text" class="form-control contrl" placeholder="Enter text">
								</div>
							</div>
							<div class="col-md-6">
                                <label class="col-md-6 control-label">性别:</label>
                                <div class="col-md-6" style="height: 32px; display: flex; margin-bottom: 15px;">
                                    <div style="height: 32px; display: flex; margin-bottom: 15px;">
                                        <div style="margin-top: 7px" class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="radio3" name="radio1" class="md-radiobtn">
                                                <label for="radio3">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                男</label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="radio4" name="radio1" class="md-radiobtn" checked>
                                                <label for="radio4">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                女</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<label class="col-md-6 control-label">学位:</label>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-6 control-label">其他号码:</label>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
                            </div>
                            <div  style="margin-left: -150px;" class="col-md-12">
                                <label class="col-md-3 control-label">邮政编码:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Enter text">
                                </div>
                                <label class="col-md-3 control-label">电子邮箱:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Enter text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="width-20 col-md-2 control-label">曾任课程:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control width-80" placeholder="Enter text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="width-20 col-md-2 control-label">任课学校:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control width-80" placeholder="Enter text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="width-20 col-md-2 control-label">起止时间:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control width-80" placeholder="Enter text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="width-20 col-md-2 control-label">讲课效果:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control width-80" placeholder="Enter text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="width-20 col-md-2 control-label">我校任课课程:</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control width-80" placeholder="计算机基础、Java基础">
                                </div>
                                <label class="col-md-3">
                                    <button class="btn btn-info btn-left">选择</button>
                                </label>
                            </div>
                            <div class="col-md-12">
                                <label class="width-20 col-md-2 control-label">面试情况:</label>
                                <div class="col-md-10">
                                    <textarea class="form-control width-80 HeiGht" placeholder="Enter text" name="" id="" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="width-20 col-md-2 control-label">审批意见说明:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control width-80" placeholder="Enter text">
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-left:3px ">
                                <label class="col-md-2 width-20 control-label">审批意见:</label>
                                <div class="col-md-10" style="height: 32px; display: flex; margin-bottom: 15px;">
                                    <div style="height: 32px; display: flex; margin-bottom: 15px;">
                                        <div style="margin-top: 7px" class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="radio30" name="radio20" class="md-radiobtn">
                                                <label for="radio30">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                同意</label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="radio40" name="radio20" class="md-radiobtn" checked>
                                                <label for="radio40">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                不同意</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="width-20 col-md-2 control-label">下一审批人:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control width-80" placeholder="Enter text">
                                </div>
                            </div>
                            <div style="width: 940px;margin-left:171px;margin-top: 125px">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>审批人</th>
                                            <th>审批意见</th>
                                            <th>审核时间</th>
                                            <th>意见说明</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in data" class="odd gradeX">
                                            <td>{{item.appRovalPeop}}</td>
                                            <td>{{item.appRovalOpinion}}</td>
                                            <td>{{item.appRovalTime}}</td>
                                            <td>{{item.opinion}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12" style="text-align: center">
                                    <button style="width: 200px;margin-right:200px;" class="btn btn-md blue" ng-click=""> 继续审核 </button>
                                    <button style="width: 200px" class="btn btn-md blue" ng-click=""> 审核完成 </button>
                                </div>
                            </div>
						</div>
				</div>
			</form>
			<!-- END FORM-->
		</div>
</div>
    <script>
        function auditCtrl($scope, $http){
            $scope.data = [
                {
                    appRovalPeop:"王五",
                    appRovalOpinion:"同意",
                    appRovalTime:"2019-5-18",
                    opinion:"暂无"
                }
            ];
        }
    </script>