<link href="../../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../../../assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
	
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li>
		<a href="#">Home</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Dashboard
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="cl1Ctrl" class="margin-top-10">
	<div class="portlet light">
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel5 owl-theme" style="opacity: 1; display: block;">
						<div class="owl-wrapper-outer">
							<div class="owl-wrapper" style="width: 3192px; left: 0px; display: block;">
								<div class="owl-item active" style="width: 228px;" ng-repeat="row in courses">
									<div>
										<div class="product-item">
											<div class="pi-img-wrapper">
												<img src="{{row.image}}" class="img-responsive" alt="Berry Lace Dress">
											</div>
											<h3><a href="#/prepareLessonsList.html">{{row.text}}</a></h3>
											<div class="pi-price">课程编号：{{row.num}}</div>
											<a href="#/courseAdd.html" class="btn btn-default add2cart">编辑</a>
										</div>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- END MAIN CONTENT -->

<script>
	function cl1Ctrl($scope) {
		$scope.courses = [{
			image: 'images/1.jpg',
			text: "电子商务基础",
			num: "001"
		}, {
			image: 'images/4.jpg',
			text: "商务英语基础",
			num: "002"
		}, {
			image: 'images/7.jpg',
			text: "计算机基础",
			num: "003"
		}];
		
	}
</script>