<link href="../../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../../../assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
<style>
	.pi-price {
		color: #2386ca;
	}
</style>
	
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li>
		<a href="#">Home</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Dashboard
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="myCoursesCtrl" class="margin-top-10">
	<div class="portlet light">
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel5 owl-theme" style="opacity: 1; display: block;">
						<div class="owl-wrapper-outer">
							<div class="owl-wrapper" style="width: 3192px; left: 0px; display: block;">
								<div class="owl-item active" style="width: 228px;">
									<div>
										<div class="product-item">
											<div class="pi-img-wrapper">
												<img src="images/1.jpg" class="img-responsive" alt="Berry Lace Dress">
											</div>
											<h3><a href="#/prepareLessons.html">电子商务基础(讲师：<span style="color: red;">张帅</span>)</a></h3>
											<div class="pi-price">课程编号：001</div>
										</div>
									</div>
								</div>
								
								
								
							
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>
<!-- END MAIN CONTENT -->

<script>
	function myCoursesCtrl($scope, $http) {
		$http({
			    method: 'post',
			    url: 'http://132.232.124.203:8090/course/findAll',
			    data: {
			    	page: 0,
			    	size: 10
			    }
			}).then(function successCallback(response) {
					var data = response.data;
			        if(data.ret == 0) {
			        	common.toast({
							title: "操作成功"
						});
			        }else {
			        	common.toast({
			        		type: 2,
							title: "操作失败",
							message: data.msg
						});
			        }
			    }, function errorCallback(response) {
			        console.log(response);
			        common.toast({
			        	type: 2,
			        	title: "网络异常"
			        });
			});
	}
</script>