<style>
	.userpic {
		margin-top: 20px;
		border-radius: 50% !important;
		border: 1px #cedae1 solid;
		width: 75%;
	}
	.username {
		color: #7FB0DA;
		font-size: 14px;
    font-weight: 600;
	}
	.search {
		display: inline-block;
		margin-right: 20px;
		width: auto;
	}
</style>
<div class="row" style="background-color: #fff;padding: 12px 20px 15px 20px;" ng-controller="gainCtrl">
	<div class="col-md-12 blog-page">
		<div class="row">
			<div class="col-md-12 col-sm-11 article-block">
				<div>
					<span>查询条件：</span>
					<input type="text" class="form-control search" placeholder="请输入学生姓名" />
					<input type="text" class="form-control search" placeholder="请输入课程名称" />
					<button class="btn btn-primary">确定</button>
				</div>
				<div class="row">
					<div class="col-md-1 blog-img blog-tag-data" style="text-align: center;">
						<img src="images/avatar1.jpg" alt="" class="userpic">
						<div style="margin: 0 auto;">
							<a href="javascript:;" class="username"> 张三 </a>
						</div>
						<div style="margin: 0 auto;">
							<a href="javascript:;">
								2019-4-11  15:52 </a>
						</div>
					</div>
					<div class="col-md-8 blog-article">
						<h3>
							<a href="">Js原型的理解 </a>
							<span style="float: right;font-size: 16px;color: #5b9bd1;">所属课程：电子商务基础 </span>
						</h3>
						<p>
							一、js中的原型毫无疑问一个难点，学习如果不深入很容易就晕了！
						    在参考了多方面的资料后，发现解释都太过专业，对于很多还没有接触过面向对象
						    语言的小白来说，有理解不了里面的专有名词！如果你没学过c++或者Java之类的更接触底层的语言，那就不要太深究，理解会用自然可以了，当接触到更多语言时慢慢的会理解越来越深刻！
						</p>
						<a class="btn blue" href="page_blog_item.html"> 查看详情 <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-1 blog-img blog-tag-data" style="text-align: center;">
						<img src="images/avatar1.jpg" alt="" class="userpic">
						<div style="margin: 0 auto;">
							<a href="javascript:;" class="username"> 张三 </a>
						</div>
						<div style="margin: 0 auto;">
							<a href="javascript:;">
								2019-4-11  15:52 </a>
						</div>
					</div>
					<div class="col-md-8 blog-article">
						<h3>
							<a href="">Js原型的理解 </a>
							<span style="float: right;font-size: 16px;color: #5b9bd1;">所属课程：电子商务基础 </span>
						</h3>
						<p>
							一、js中的原型毫无疑问一个难点，学习如果不深入很容易就晕了！
						    在参考了多方面的资料后，发现解释都太过专业，对于很多还没有接触过面向对象
						    语言的小白来说，有理解不了里面的专有名词！如果你没学过c++或者Java之类的更接触底层的语言，那就不要太深究，理解会用自然可以了，当接触到更多语言时慢慢的会理解越来越深刻！
						</p>
						<a class="btn blue" href="page_blog_item.html"> 查看详情 <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<hr><div class="row">
					<div class="col-md-1 blog-img blog-tag-data" style="text-align: center;">
						<img src="images/avatar1.jpg" alt="" class="userpic">
						<div style="margin: 0 auto;">
							<a href="javascript:;" class="username"> 张三 </a>
						</div>
						<div style="margin: 0 auto;">
							<a href="javascript:;">
								2019-4-11  15:52 </a>
						</div>
					</div>
					<div class="col-md-8 blog-article">
						<h3>
							<a href="">Js原型的理解 </a>
							<span style="float: right;font-size: 16px;color: #5b9bd1;">所属课程：电子商务基础 </span>
						</h3>
						<p>
							一、js中的原型毫无疑问一个难点，学习如果不深入很容易就晕了！
						    在参考了多方面的资料后，发现解释都太过专业，对于很多还没有接触过面向对象
						    语言的小白来说，有理解不了里面的专有名词！如果你没学过c++或者Java之类的更接触底层的语言，那就不要太深究，理解会用自然可以了，当接触到更多语言时慢慢的会理解越来越深刻！
						</p>
						<a class="btn blue" href="page_blog_item.html"> 查看详情 <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
			</div>
			<!--end col-md-9-->
			<!--end col-md-3-->
		</div>

	</div>
</div>
<script>
	function gainCtrl($scope, $http, $rootScope) {		
	}
	
</script>