<link href="../../../assets/admin/pages/css/blog.css" rel="stylesheet" type="text/css" />
<style>
	.userpic {
		margin-top: 20px;
		border-radius: 50% !important;
		border: 1px #cedae1 solid;
		width: 75%;
	}
	.blue-color {
		color: #5b9bd1;
	}
	.media-heading > span {
		color: #777777;
    font-size: 12px;
    float: right;
	}
	.blog-page hr {
    margin-top: 30px !important;
}
</style>
<div class="row" style="background-color: #fff;padding: 12px 20px 15px 20px;" ng-controller="notesItemCtrl">
	<div class="col-md-9 article-block">
		<h3 style="margin-top:0;">
			{{article.title}}
			<button class="btn btn-danger" ng-if="article.isNice=='false'" ng-click="addNice('true')">设为精华帖</button>
			<button class="btn btn-warning" ng-if="article.isNice=='true'" ng-click="addNice('false')">取消精华帖</button>
		</h3>
		
		<div class="blog-tag-data">
			<div class="row">
				<div class="col-md-12 blog-tag-data-inner" style="text-align: right;">
					<ul class="list-inline">
						<li>
							<span class="blue-color"> 作者：{{article.userName}} </span>
						</li>
						<li>
							<i class="fa fa-calendar"></i>
							<span class="blue-color"> {{article.createTime}} </span>
						</li>
						<li>
							<i class="fa fa-comments"></i>
							<span class="blue-color"> {{article.commentCount}} 评论 </span>
						</li>
						<li>
							<i class="fa fa-thumbs-up"></i>
							<span class="blue-color"> {{article.clickGood}}赞 </span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--end news-tag-data-->
		<div>
			<p>{{article.articleConten}}</p>
		</div>
		<hr>
		<h4>评论</h4>
		<div class="media">
			<a href="javascript:;" class="pull-left">
				<img alt="" src="images/avatar3.jpg" class="media-object">
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<p class="blue-color" style="display: inline-block;">王老师</p>
					<button class="btn btn-xs btn-success">教师</button>
					<span> 2019-4-12 14:02 </span>
				</h4>
				<p>
					该学生积极思考，值得表扬
				</p>
			</div>
		</div>
		<hr />
		<div ng-repeat="">
			<div class="media">
				<a href="javascript:;" class="pull-left">
					<img alt="" src="images/avatar2.jpg" class="media-object">
				</a>
				<div class="media-body">
					<h4 class="media-heading">
						<p class="blue-color" style="display: inline-block;">李四</p>
						<span> 2019-4-12 14:02 </span>
					</h4>
					<p>
						谢谢楼主分享
					</p>
				</div>
			</div>
			<hr />
		</div>
		
		<div class="media">
			<a href="javascript:;" class="pull-left">
				<img alt="" src="images/avatar2.jpg" class="media-object">
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<p class="blue-color" style="display: inline-block;">李四</p>
					<span> 2019-4-12 14:02 </span>
				</h4>
				<p>
					谢谢楼主分享
				</p>
			</div>
		</div>
		<hr />
		<div class="media">
			<a href="javascript:;" class="pull-left">
				<img alt="" src="images/avatar2.jpg" class="media-object">
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<p class="blue-color" style="display: inline-block;">李四</p>
					<span> 2019-4-12 14:02 </span>
				</h4>
				<p>
					谢谢楼主分享
				</p>
			</div>
		</div>
		<hr />
		<div class="post-comment">
				<div class="form-group">
					<label class="control-label">留个言吧 </label>
					<textarea class="col-md-10 form-control" rows="8" ng-model="content"></textarea>
				</div>
				<button class="margin-top-20 btn blue" type="button" ng-click="sendComment()">提交</button>
			</form>
		</div>
	</div>
	
</div>
<script>
	function notesItemCtrl($scope, $http, $rootScope, $location) {
		//心得详情
		common.ajax({
			$scope: $scope,
			$http: $http,
			url: '/article/findId',
			data: {
				id: $location.search().id
			},
			success: function(data) {
				console.log(data.data);
				$scope.article = data.data;
			}
		});
		
		//评论列表
		common.ajax({
			$scope: $scope,
			$http: $http,
			url: '/articleComment/findArticleId',
			data: {
				articleId: $location.search().id,
				sortVo: {
					page: 0,
					size: 15
				}
			},
			success: function(data) {
				console.log(data.data);
				$scope.comment = data.data;
			}
		});
		
		//老师发布评论
		$scope.sendComment = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				operate: true,
				url: '/articleComment/saveOrUpdate',
				data: {
					articleId: $location.search().id,
					content: $scope.content,
					userId: localStorage.getItem("userid"),
					userType: 'T'
				}
			});
		}
		
		//加精
		$scope.addNice = function(flag) {
			common.ajax({
				$scope: $scope,
				$http: $http,
				operate: true,
				url: '/article/addNice',
				data: {
					articleId: $location.search().id,
					value: flag
				},
				success: function(data) {
					
				}
			});
		}
		
	}
</script>