<style>
	.userpic {
		margin-top: 20px;
		border-radius: 50% !important;
		border: 1px #cedae1 solid;
		width: 75%;
	}
	.username {
		color: #7FB0DA;
		font-size: 14px;
    font-weight: 600;
	}
	.search {
		display: inline-block;
		margin-right: 20px;
		width: auto;
	}
</style>
<div class="row" style="background-color: #fff;padding: 12px 20px 15px 20px;" ng-controller="notesCtrl">
	<div class="col-md-12 blog-page">
		<div class="row">
			<div class="col-md-12 col-sm-11 article-block">
				<div class="row">
					<div class="col-md-9">
						<span>查询条件：</span>
						<input type="text" class="form-control search" placeholder="请输入学生姓名" />
						<input type="text" class="form-control search" placeholder="请输入课程名称" />
						<button class="btn btn-primary">确定</button>
						<div style="float: right;">
							<label>请选择排序方式</label>
							<select class="form-control search">
								<option>发布时间</option>
								<option>评论数</option>
								<option>点赞数</option>
							</select>
						</div>
					</div>
				</div>
				<div ng-repeat="note in notes">
					<div class="row">
						<div class="col-md-1 blog-img blog-tag-data" style="text-align: center;">
							<img src="{{note.userTortrait}}" alt="" class="userpic">
							<div style="margin: 0 auto;">
								<a href="javascript:;" class="username"> {{note.userName}} </a>
							</div>
							<div style="margin: 0 auto;">
								<a href="javascript:;">
									2019-4-11  15:52 </a>
							</div>
						</div>
						<div class="col-md-8 blog-article">
							<h3>
								<a href="index.html#/notes_item.html?id={{note.articleId}}">{{note.title}} </a>
								<a ng-if="note.isNice == 'true'" class="btn yellow-crusta">精华帖</a>
								<span style="float: right;font-size: 16px;color: #5b9bd1;">所属课程：{{note.courseName}} </span>
							</h3>
							<p>{{note.description}}</p>
							<a class="btn blue" href="index.html#/notes_item.html"> 
								查看详情 <i class="m-icon-swapright m-icon-white"></i>
							</a>
							<button ng-click="del()" class="btn btn-danger">删除</button>
						</div>
					</div>
					<hr>
				</div>
				
			</div>
			<!--end col-md-9-->
			<!--end col-md-3-->
		</div>

	</div>
</div>
<script>
	function notesCtrl($scope, $http, $rootScope) {		
		$scope.loadNotesList = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				url: '/article/findAllDesc',
				data: {
					"sortVo": {
						"page":0,
						"size":15
					}
				},
				success: function(data) {
					$scope.notes = data.data;
					console.log($scope.notes);
				}
			});
		};
		$scope.loadNotesList();
		
		$scope.del = function() {
			layer.confirm('您确定要删除该贴吗', {
				btn: ['确定','取消'] //按钮
			}, function() {
				layer.alert('删除成功');
			});
		};
	}
</script>