<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Metronic | Login Options - Login Form 2</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../../assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/plugins/slider-layer-slider/css/layerslider.css" rel="stylesheet">
		<link href="../../../assets/frontend/pages/css/style-layer-slider.css" rel="stylesheet">
		<link href="../../../assets/admin/pages/css/profile.css" rel="stylesheet">
		<style>
			.profile-userpic img {
				width: 80%;
			}
			
			.uppercase {
				font-size: 14px;
				margin-top: 10px;
				cursor: pointer;
			}
			
			.detail {
				display: none;
			}
			
			.cont {
				margin-right: 0;
				width: 100%;
			}
			
			.profile-userpic img {
				width: 80%;
			}
			
			.uppercase {
				font-size: 14px;
				margin-top: 10px;
			}
			
			.detail {
				display: none;
			}
			
			.badge {
				padding: 6px 9px;
				height: 24px;
				font-weight: 600;
				cursor: pointer;
			}
			
			.uppercase.active img {
				border: 2px solid red;
			}
			
			.htmlWrapper p {
				display: inline;
			}
			
			.note-group p {
				font-size: 16px;
				display: inline-block;
				margin-right: 10px;
				color: #3c763d;
			}
			
			.note-info p {
				color: #31708f;
			}
			
			.note-danger p {
				color: #a94442;
			}
			
			.note-warning p {
				color: #8a6d3b;
			}
		</style>
	</head>

	<body style="background-color: #e9ecf3">
		<div ng-app="myApp" ng-controller="myCtrl">
			<div style="float: left;width: 3%;height: 600px;">
				<div class="page-sidebar navbar-collapse collapse" style="width: 100%;">
					<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
						<li title="提问" id="TiWen">
							<a href="javascript:;" onclick="showQuestion()">
								<i class="icon-question"></i>
							</a>
						</li>
						<li title="练习" id="LianXi">
							<a href="javascript:;" onclick="showBookQuestion()">
								<i class="icon-pencil"></i>
							</a>
						</li>
						<li title="头脑风暴" id="FengBao">
							<a href="javascript:;" onclick="showStromQuestion()">
								<i class="icon-fire"></i>
							</a>
						</li>
						<li title="任务" id="RenWu">
							<a href="javascript:;" onclick="showTaskQuestion()">
								<i class="icon-envelope-letter"></i>
							</a>
						</li>
						<li title="问卷" id="WenJuan">
							<a href="javascript:;" onclick="showSurveyQuestion()">
								<i class="icon-disc"></i>
							</a>
						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>

			</div>
			<div style="float: right;width: 97%;height: 100%;">
				<div data-ng-include="'singles/template/singleTiwen.html'" id="question" class="interSingle" style="display: none;"></div> <!--提问-->
				<div data-ng-include="'singles/template/singleBook.html'" id="bookQuestion" class="interSingle" style="display: none;"></div> <!--练习-->
				<div data-ng-include="'singles/template/singleSurvey.html'" id="surveyQuestion" class="interSingle" style="display: none;"></div> <!--问卷-->
				<div data-ng-include="'singles/template/singleTask.html'" id="taskQuestion" class="interSingle" style="display: none;"></div> <!--任务-->
				<div data-ng-include="'singles/template/singleStrom.html'" id="stromQuestion" class="interSingle" style="display: none;"></div> <!--头脑风暴-->

				<div style="width: 19%;float: right;">
					<div class="portlet light">
						<div class="portlet-title tabbable-line">
							<div class="caption font-green-sharp">
								<i class="icon-settings font-green-sharp"></i>
								<span class="caption-subject bold uppercase">教案</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
								<ul class="feeds" style="margin-bottom: 50px;">
									<li ng-repeat="row in teacPlan">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-danger">
														<i class="fa fa-bolt"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														<a href="{{row.fileUrl}}" target=_blank>{{row.fileName}}</a>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="portlet light">
						<div class="portlet-title tabbable-line">
							<div class="caption font-green-sharp">
								<i class="icon-settings font-green-sharp"></i>
								<span class="caption-subject bold uppercase">课件</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
								<ul class="feeds" style="margin-bottom: 50px;">
									<li ng-repeat="row in courseware">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bullhorn"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														<a href="{{row.fileUrl}}" target=_blank>{{row.fileName}}</a>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="portlet light">
						<div class="portlet-title tabbable-line">
							<div class="caption font-green-sharp">
								<i class="icon-settings font-green-sharp"></i>
								<span class="caption-subject bold uppercase">讨论小组</span>
							</div>
							<div class="actions">
								<button class="btn btn-circle btn-info btn-sm" ng-click="randomBuild()">临时分组 </button>
							</div>
						</div>
						<div class="portlet-body">
							<div class="note note-{{team.bgColor}} note-group" ng-repeat="team in teamList">
								<h4 class="block">{{team.teamName}}</h4>
								<p ng-repeat="student in team.students">{{student.name}}</p>
							</div>
						</div>
					</div>
					
				</div>

				<div style="width: 80%;float: left;">

					<!-- LayerSlider start -->
					<div id="layerslider" style="width: 960px; height: 720px; margin: 0 auto;">
						<div class="ls-slide ls-slide{{$index+1}}" data-ls="offsetxin: right; slidedelay: 7000;" 
							ng-repeat="photo in currPics" repeat-finish="renderFinish()">
							<img src="{{photo.fileUrl}}" class="ls-bg" alt="Slide background">
						</div>
					</div>
					<!-- LayerSlider end -->
				</div>
			</div>
			
			<!--奖励小红花-->
			<div class="modal fade" id="flowerModal" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="portlet light" style="min-height: 400px;">
							<div class="portlet-title tabbable-line">
								<div class="caption font-green-sharp">
									<i class="icon-settings font-green-sharp"></i>
									<span class="caption-subject bold uppercase">奖励小红花</span>
								</div>
								<div class="actions">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								</div>
							</div>
							<div class="portlet-body">
								<div role="form">
									<div class="form-body">
										<div style="width:80px;float:left;" ng-repeat="row in students">
											<div class="uppercase profile-userpic {{row.select ? 'active' : ''}}" ng-click="selectStudent(row)">
												<img ng-src="{{row.portrait}}" class="img-responsive" alt="学生头像">
											</div>
											<div class="uppercase profile-stat-text">{{row.name}}</div>
										</div>
									</div>
									<div style="clear: both;"></div>
								</div>
								<div class="form-actions noborder" style="text-align: center;">
									<button type="button" class="btn blue" ng-click="addFlower()">奖励</button>
								</div>
							</div>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
			</div>
			
			
		</div>
		<script src="../../../assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
		<script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
		<script src="../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="../../../assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
		<!-- BEGIN LayerSlider -->
		<script src="../../../assets/global/plugins/slider-layer-slider/js/greensock.js" type="text/javascript"></script>
		<!-- External libraries: GreenSock -->
		<script src="../../../assets/global/plugins/slider-layer-slider/js/layerslider.transitions.js" type="text/javascript"></script>
		<!-- LayerSlider script files -->
		<script src="../../../assets/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
		<!-- LayerSlider script files -->
		<script src="js/commonJiaohu.js" type="text/javascript"></script>
		<script src="js/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
		<script src="js/websocket.js" type="text/javascript"></script>
		<script src="js/echarts.js" type="text/javascript"></script>

		<!-- END LayerSlider -->
		<script>
			var app = angular.module('myApp', [
				"ngSanitize"
			]);
			app.controller('myCtrl', function($scope, $http, $interval) {
				var stuLen = 0;
				var random = new Date().getTime(); //生成随机数
				$scope.students = [];
				$scope.courseware = [];
				
				let bgColor = ['success','info','danger','warning'];//小组颜色
				
				//获取班级的小组信息
				$scope.loadTeamList = function() {
					//默认为查询永久课堂
					let postData = {
						classId: localStorage.getItem('currClassId'),
						circleId: localStorage.getItem('courseId')
					}
					//查询临时课堂
					if(localStorage.getItem('temporarily')) {
						postData = {
							classId: '',
							circleId: localStorage.getItem('circleId')
						}
					}
					
					common.ajax2({
						$scope: $scope,
						$http: $http,
						data: postData,
						url: '/classRoom/team/nowTeam',
						success: function(res) {
							if(!res.data || res.data == '') {//如果还没有分组，先系统自动分一组
//								$scope.teamRandomBuild(1);
							}else {
								$scope.teamList = res.data;
								$scope.teamList.forEach(( item, i ) => {
								  console.log( item, i );
								  item.bgColor = bgColor[i%4];
								});
							}
						}
					});
				}
				$scope.loadTeamList();
				
				//随机分组询问
				$scope.randomBuild = function() {
					layer.prompt({title: '创建临时分组后，本节课将使用新创建的临时分组，临时分组只在本节课有效，您确定要创建临时分组吗，如果是，请输入组数并点击确定按钮', value: 5}, function(value, index, elem){
						let reg = /^[0-9]*$/;
						if(!reg.test(value) || value==0) {
							layer.alert("只能输入大于0的数字");
							return false;
						}
						$scope.teamRandomBuild(value);
					  layer.close(index);
					});
				}
				
				//随机分组
				$scope.teamRandomBuild = function(num) {
					common.ajax2({
						$scope: $scope,
						$http: $http,
						operate: true,
						data: {
							classId: '',
							circleId: localStorage.getItem('circleId'),
							expType: 'temporarily',
							number: num
						},
						url: '/classRoom/team/randomBuild',
						success: function(res) {
							localStorage.setItem("temporarily", true);//是否创建了临时课堂
							$scope.teamList = res.data.teamList;
							$scope.teamList.forEach(( item, i ) => {
							  console.log( item, i );
							  item.bgColor = bgColor[i%4];
							});
							console.log($scope.teamList);
						}
					});
				}
				
				//建立websocket连接
				var wsobj = null;
				$scope.initWs = function() {
					//check if your browser supports WebSocket
					if('WebSocket' in window) {
						var url = common.webSocketUrl + "/interactive/" +
						localStorage.getItem('circleId') + "/" + localStorage.getItem('token') + "/" + random;
						wsobj = $sesWebSocket(url);
					} else {
						layer.alert('对不起，您的浏览器不支持websorket');
					}

					var opt = {
						onopen: function(event) {
							wsobj.heartStart(5000, 'ping');
						},
						onmessage: function(event) {
							wsobj.heartReset();
							console.log(event.data);
							var data = JSON.parse(event.data);
							$scope.$apply(function() {
								if(data.model == "interactiveStudents") {
									$scope.students = $scope.students.concat(data.students);
									$scope.$broadcast('allStudents', data);
								}else if(data.model == "answer" || data.model == "raise") {//返回提问的回答或举手信息
									$scope.$broadcast('tiwenMessage', data);
								}else if(data.model == "answerBook") {//返回练习的学生回答
									$scope.$broadcast('bookMessage', data);
								}else if(data.model == "answerSurvey") {//返回问卷的学生回答
									$scope.$broadcast('surveyMessage', data);
								}else if(data.model == "answerTask") {//返回任务的学生回答
									$scope.$broadcast('taskMessage', data);
								}else if(data.model == "answerBrainstorm") {//返回任务的学生回答
									$scope.$broadcast('stromMessage', data);
								}
							})
						}
					}
					wsobj.create(opt);
				};
				$scope.initWs();
				
				$scope.$on('reward', function(d, data) {
					console.log(data);
					$("#flowerModal").modal('show');
				});
				
				$scope.selectStudent = function(student) {
					student.select = !student.select;
				}
				
				$scope.addFlower = function() {
					var arr = [];
					$.each($scope.students, function() {
						if(this.select) {
							arr.push(this.id);
						}
					});
					if(arr.length == 0) {
						layer.alert("请至少选择一名学生");
						return false;
					}
					layer.prompt({title: '请输入要奖励的小红花个数', value: 2}, function(value, index, elem){
					let reg = /^[0-9]*$/;
					if(!reg.test(value) || value==0) {
						layer.alert("只能输入大于0的数字");
						return false;
					}
					
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/reward/class/add',
						data: {
							circleId: localStorage.getItem('circleId'),
							num: value,
							studentId: arr[0]
						},
						success: function() {
							console.log(12345);
							layer.alert('奖励成功');
						}
					});
					
				  layer.close(index);
				});
				};
				
				/*
				 * 根据章节id加载章节教案、课件或已挂载的资料
				 * datumArea  1教案   2课件
				 * datumType  1文档　2图册　3视频　4音频　5链接
				 * */
				$scope.loadDatumData = function(datumArea, datumType) {
					var postData = {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"sortVo": {
							"isValidated": "0",
							"page": 0,
							"size": 100,
							"sort": 1
						}
					};
					var url = '/chapteData/findDatumList';
					if(datumType == '2') {
						url = '/courseware/getCourseArlitsList';
					}else {
						url = '/courseware/getImpCourseware';
					}
					postData.datumType = datumType;
					postData.importantType = datumArea;
					
					common.ajax({
						$scope: $scope,
						$http: $http,
						url: url,
						data: postData,
						success: function(data) {
							if(data.data) {//如果有数据
								if (datumArea == "1") {//教案
									$scope.teacPlan = data.data.files;
								} else if (datumArea == "2" && datumType == "1") {//文档课件
									$scope.courseware = $scope.courseware.concat(data.data.files);
								} else if (datumArea == "2" && datumType == "2") {//图集课件
									var artId = data.data.list[0].id;
									$scope.gitPhotosById(artId);
								} else if (datumArea == "2" && datumType == "3") {//视频课件
									$scope.courseware = $scope.courseware.concat(data.data.files);
								}
							}
						}
					});
				};
				
				//根据图集id获取图集详情
				$scope.gitPhotosById = function(id) {
					common.ajax({
						$scope: $scope,
						$http: $http,
						operate: true,
						url: '/courseware/getPhotoList',
						data: {
							arlitId: id
						},
						success: function(data) {
							$scope.currPics = data.data;
							$("#picsModal").modal("show");
						}
					});
				}
				
				$scope.renderFinish = function() {
					$('#layerslider').layerSlider({
						skinsPath: '../../../assets/global/plugins/slider-layer-slider/skins/',
						skin: 'fullwidth',
						thumbnailNavigation: 'hover',
						hoverPrevNext: false,
						responsive: false,
						responsiveUnder: 760,
						layersContainer: 760
					});
				}
				
				$scope.loadDatumData('1', '1');//获取教案
				$scope.loadDatumData('2', '2');//获取图集课件
				$scope.loadDatumData('2', '1');//获取图集课件
				$scope.loadDatumData('2', '3');//获取图集课件

			});
			
			app.directive('repeatFinish',function(){
		    return {
	        link: function(scope,element,attr){
            if(scope.$last == true){
              scope.$eval( attr.repeatFinish )
            }
	        }
		    }
			})

			//专门负责处理提问的controller
			app.controller('tiwenCtrl', function($scope, $http, $interval) {
				$scope.allStudents = [];//所有加入课堂的学生
				$scope.answerStudents = [];//所有被提问的学生
				$scope.raceStudents = [];//所有抢答回答的学生
				$scope.raiseStudents = [];//所有已举手的学生
				$scope.students = [];//当前需要显示的学生
				$scope.currentTiwenQues = {}; //当前选中的提问问题
				$scope.currentPublicQues = {}; //当前发布的提问问题
				
				$scope.scene = "select";//场景 select:选人  race:抢答    raise:举手
				$scope.answerShowFlag = false;//是否显示学生回答情况标志
				$scope.showButtonFlag = false;//是否显示"显示回答"按钮标志
				
				//加载所有的提问题目
				common.ajax2({
					$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeBookType": "1"
					},
					url: '/exerciseBook/findExerciseBook',
					success: function(res) {
						//如果没有挂载提问的问题，则隐藏提问弹出按钮
						if(res.data == "") {
							$("#TiWen").hide();
							return false;
						}
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						}); //组装题干以供展示
						// console.log(res.data);
						$scope.tiwenQuestionList = res.data; //所有题目
						$scope.loadAlreadyQues();
					}
				});
				
				//加载已发布的提问和当前正在发布的提问
				$scope.loadAlreadyQues = function() {
					common.ajax2({
						$scope: $scope,
						$http: $http,
						data: {
							"circleId": localStorage.getItem('circleId'),
							'QuestType': '',
							'interactive': ''
						},
						url: '/teachInteract/fabu/questList',
						success: function(res) {
							if(res.data.fabuQuest) {
								$($scope.tiwenQuestionList).each(function() {
									let i = res.data.fabuQuest.indexOf(this.id);
									if(i>=0) {
										this.published = true;
									}
									if(res.data.nowQuestId == this.id) {
										$scope.chooseQuestion(this);
										$scope.currentPublicQues = this;
									}
								});
								$scope.answerShowFlag = false;//是否显示学生回答情况标志
								$scope.showButtonFlag = true;//显示"显示回答"按钮
							}else {
								$scope.currentPublicQues = $scope.tiwenQuestionList[0];
								$scope.chooseQuestion($scope.tiwenQuestionList[0]);//当前选中题目，默认为第一题
								$scope.answerShowFlag = false;//是否显示学生回答情况标志
								$scope.showButtonFlag = false;//是否显示"显示回答"按钮标志
							}
						}
					});
				}
				
				$scope.$on('tiwenMessage', function(event, data) {
					if(data.model == "raise" && $scope.scene == "raise") {
						//接收新增已举手学生
						$scope.raiseStudents = $scope.raiseStudents.concat(data.students);
						//如果当前题目不是正在发布的题目，则不做处理
						if($scope.currentTiwenQues.id == $scope.currentPublicQues.id) {
							$scope.students = $scope.raiseStudents;
						}
					} else if(data.model == "answer" && $scope.scene == "select") {
						/*
							接收学生回答情况（选人）
							如果当前题目不是正在发布的题目，则不做处理
						*/
						if($scope.currentTiwenQues.id == $scope.currentPublicQues.id) {
//							for (let value of data.students) {
//								for (let value2 of $scope.answerStudents) {
//									if(value.id == value2.id) {
//										if(value.askAnswerInfo == "Y") {
//											value2.answer = '对';
//										}else if(value.askAnswerInfo == "N") {
//											value2.answer = '错';
//										}else {
//											value2.answer = value.askAnswerInfo;
//											value2.fileList = value.fileList;
//											value2.piGaiResult = value.piGaiResult
//										}
//									}
//								}
//							}
//							$scope.students = [];
//							$scope.students = $scope.answerStudents;
							$scope.loadAnswer();
						}
					} else if(data.model == "answer" && $scope.scene == "race") {
						/*
							接收学生回答情况（抢答）
							如果当前题目不是正在发布的题目，则不做处理
						*/
						if($scope.currentTiwenQues.id == $scope.currentPublicQues.id) {
//							for (let value of data.students) {
//								if(value.askAnswerInfo == "Y") {
//									value.answer = '对';
//								}else if(value.askAnswerInfo == "N") {
//									value.answer = '错';
//								}else {
//									value.answer = value.askAnswerInfo;
//								}
//								$scope.raceStudents.push(value);
//								
//							}
//							$scope.students = $scope.raceStudents;
							$scope.loadAnswer();
						}
					}
				});
				
				//接收学生加入事件
				$scope.$on('allStudents', function(event, data) {
					$scope.allStudents = $scope.allStudents.concat(data.students);
				});
				
				//点击题号 
				$scope.chooseQuestion = function(question) {
					$scope.students = [];
					$scope.currentTiwenQues = question;
					$("#btns").hide();
					if($scope.currentTiwenQues.published) {
						$scope.loadAnswer(); //如果该题已发布,则加载回答
						if($scope.currentTiwenQues.id == $scope.currentPublicQues.id) {
							$scope.answerShowFlag = false;//是否显示学生回答情况标志
							$scope.showButtonFlag = true;//是否显示"显示回答"按钮标志
						}else {
							$scope.answerShowFlag = true;//是否显示学生回答情况标志
							$scope.showButtonFlag = false;//是否显示"显示回答"按钮标志
						}
					}else {
						$($scope.allStudents).each(function() {
							this.select = false;
							this.answer = null;
						});
						$scope.students = $scope.allStudents;//如果该题未发布,则显示所有学生
						$scope.answerShowFlag = false;//是否显示学生回答情况标志
						$scope.showButtonFlag = false;//是否显示"显示回答"按钮标志
					}
				};

				//点击选人-选人按钮
				$scope.xuanren = function() {
					$scope.currentTiwenQues.chooseType = "select";
					$scope.currentTiwenQues.category = "people";
					$("#btns").show();
					$scope.students = $scope.allStudents;
				};

				//点击选人-抢答按钮
				$scope.qiangda = function() {
					$scope.currentTiwenQues.chooseType = "race";
					$scope.currentTiwenQues.category = "people";
					$("#btns").show();
					$scope.students = $scope.allStudents;
				};

				//点击选人-举手按钮
				$scope.jushou = function() {
					$scope.currentTiwenQues.chooseType = "raise";
					$scope.currentTiwenQues.category = "people";
					$("#btns").show();
					//发送举手类型的问题
					$scope.subJushou();
				};

				//点击学生头像选中学生
				$scope.selectStudent = function(student) {
					student.select = !student.select;
				}

				//全选学生
				$scope.all = function() {
					$($scope.students).each(function() {
						this.select = true;
					});
				};

				//发送问题
				$scope.sub = function() {
					var timestamp = new Date().getTime() + ""; //时间戳
					var selected = []; //被选中的学生id数组
					$($scope.students).each(function() {
						if(this.select) {
							selected.push(this.id);
						}
					});
					var publishedStudents = selected.join(","); //被选中的学生id，用逗号分隔
					
					var interactive = $scope.currentTiwenQues.chooseType;//选人类型：  选人=select  抢答=race  举手=raise
					if($scope.currentTiwenQues.chooseType == 'raise') {
						interactive = 'select';
					}
					
					common.ajax2({
						$scope: $scope,
						$http: $http,
						operate: true,
						url: '/teachInteract/send/question',
						data: {
							"category": $scope.currentTiwenQues.category,
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"interactive": interactive,
							"questionId": $scope.currentTiwenQues.id,
							"questionType": 'TiWen',
							"teacherId": localStorage.getItem("userid"),
							"selected": publishedStudents
							// "selected": '410221199706224226'
						},
						success: function() {
							$scope.scene = interactive;
							$scope.answerShowFlag = false;//初始化显示标志
							$scope.currentTiwenQues.published = true; //将该问题置为已提问状态
							$scope.answerShowFlag = false;//是否显示学生回答情况标志
							$scope.showButtonFlag = true;//是否显示"显示回答"按钮标志
							$scope.currentPublicQues = $scope.currentTiwenQues;//更新当前发布问题
							$scope.answerStudents = [];//清空学生回答情况
							$scope.raiseStudents = [];//清空学生举手情况
							$scope.raceStudents = [];//清空学生抢答情况
							
							/*
							 * 如果选人类型为select，将被选中的学生显示，其余隐藏
							 * 如果不是select（race），则将所有学生隐藏
							 * */
							if(interactive == 'select') {
								for (let value of $scope.students) {
									$scope.answerStudents.push(value);
								}
								$scope.students = $scope.answerStudents;
							}else {
								$scope.students = $scope.raceStudents;
							}
							
						}
					});
				}

				//发送举手类型的问题
				$scope.subJushou = function() {
					var timestamp = new Date().getTime() + "";
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/teachInteract/send/raise/question',
						data: {
							"category": $scope.currentTiwenQues.category,
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"interactive": $scope.currentTiwenQues.chooseType,
							"questionId": $scope.currentTiwenQues.id,
							"teacherId": localStorage.getItem("userid"),
							"questionType": 'TiWen',
						},
						success: function() {
							$scope.scene = "raise";
							$scope.answerShowFlag = false;//初始化显示标志
							$scope.currentTiwenQues.published = true;//将该问题置为已提问状态
							$scope.answerShowFlag = false;//是否显示学生回答情况标志
							$scope.showButtonFlag = false;//是否显示"显示回答"按钮标志
							$scope.answerStudents = [];//清空学生回答情况
							$scope.raiseStudents = [];//清空学生举手情况
							$scope.students = $scope.raiseStudents;
							$scope.currentPublicQues = $scope.currentTiwenQues;//更新当前发布问题
						}
					});
				}

				//请求接口，加载学生过往回答的情况
				$scope.loadAnswer = function() {
					var type = $scope.currentTiwenQues.examChildren[0].examType;
					var url = '/teachInteract/findAskAnswer';
					var postData = {
						"circleId": localStorage.getItem("circleId"),
						"questionId": $scope.currentTiwenQues.id,
						questionType: 'TiWen'
					};
					
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: url,
						data: postData,
						success: function(data) {
							$scope.answerStudents = data.data.answerRecordList;
							$scope.students = $scope.answerStudents;
						}
					});
				};
				
				//将隐藏的学生的回答情况显示出来
				$scope.showAnswer = function() {
					$scope.answerShowFlag = true;
					$scope.showButtonFlag = false;//是否显示"显示回答"按钮标志
				};
				
				//显示学生回答详情（主观题）
				$scope.answerDetail = function(row) {
					$scope.designAnswer = row;
					console.log(row);
					$("#designAnswerModal").modal("show");
				};
				
				$scope.reward = function() {
					var rewardData = {
						type: 'TiWen',
						question: $scope.currentTiwenQues
					}
					$scope.$emit("reward", rewardData);
				};
			});
			
			
			
			
			//专门负责处理练习的controller
			app.controller('bookCtrl', function($scope, $http, $interval) {
				$scope.currentBookQues = {}; //当前选中的提问问题		
				$scope.allStudents = [];
				//加载所有的练习题目
				common.ajax2({
					$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeBookType": "2"
					},
					url: '/exerciseBook/findExerciseBook',
					success: function(res) {
						
						console.log(JSON.stringify(res.data));
						//如果没有挂载练习题，则隐藏练习弹出按钮
						if(res.data == "") {
							$("#LianXi").hide();
							return false;
						}
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						}); //组装题干以供展示
						$scope.bookQuestionList = res.data; //所有题目
						$scope.chooseQuestion(res.data[0]);//当前选中题目，默认为第一题
					}
				});
				
				$scope.$on('bookMessage', function(event, data) {
					//接收学生回答情况,暂不处理,改为调接口取数据
				});
				
				//接收学生加入事件
				$scope.$on('allStudents', function(event, data) {
					$scope.allStudents = $scope.allStudents.concat(data.students);
				});
				
				//点击题号 
				$scope.chooseQuestion = function(question) {
					$scope.currentBookQues = question;
					//清空学生的回答信息
					$($scope.allStudents).each(function() {
						this.answer = "";
					});
					//请求接口，返回该问题学生回答情况
					$scope.loadAnswer();
				};

				//发送问题
				$scope.publicQues = function(allFlag) {
					var timestamp = new Date().getTime() + ""; //时间戳
					var selectedArr = []; //被选中的学生id数组
					var selected = ''; //被选中的学生id
					$($scope.allStudents).each(function() {
						selectedArr.push(this.id);
					});
					var selQuestionIdArr = [];//被选中的题目id数组
					var selQuestionId = '';//被选中的题目id
					if(allFlag == 'all') {
						$($scope.bookQuestionList).each(function() {
							selQuestionIdArr.push(this.id);
						});
						selQuestionId = selQuestionIdArr.join(",");
					}else {
						selQuestionId = $scope.currentBookQues.id;
					}
					selected = selectedArr.join(","); //被选中的学生id，用逗号分隔
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/teachInteract/send/book',
						data: {
							"category": 'people',
							"circleId": localStorage.getItem("circleId"),
//							"cut": timestamp,
							"questionId": selQuestionId,
							"questionType": 'LianXi',
							"teacherId": localStorage.getItem("userid"),
							"selected": selected
						},
						success: function() {
							layer.alert("发送成功");
							if(allFlag == 'all') {
								$($scope.bookQuestionList).each(function() {
									this.select = true;
								});
							}else {
								$scope.currentBookQues.select = true;
							}
						}
					});
				};
				
				//显示学生回答的答案
				$scope.loadAnswer = function() {
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/teachInteract/findQuestionsRecord',
						data: {
							"circleId": localStorage.getItem("circleId"),
							"questionsId": $scope.currentBookQues.id
						},
						success: function(data) {
							//如果该题已经发送过,则标志为已选,否则为未选
							if(!data.data.selectId || data.data.selectId.length == 0) {
								$scope.currentBookQues.select = false;
								$($scope.allStudents).each(function() {
									this.answer = "";
								});
								return false;
							}else {
								$scope.currentBookQues.select = true;
							}
							
							$($scope.allStudents).each(function() {
								var that = this;
								that.answer = "未回答";
								//将已回答的学生的答案显示出来
								$(data.data.answerRecordList).each(function() {
									if(this.examineeId == that.id) {
										if(this.answer == "true") {
											this.answer = "对";
										}else if(this.answer == "false") {
											this.answer = "错";
										}
										that.answer = this.answer;
									}
								});
							});
						}
					});
				};
				
			});
			
			
			
			//专门负责处理问卷的controller
			app.controller('surveyCtrl', function($scope, $http, $interval) {
				//加载所有的问卷题目
				common.ajax2({
					$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeSurveyType": "2"
					},
					url: '/surveyExerciseBook/findExerciseBook',
					success: function(res) {
						//如果没有挂载问卷的问题，则隐藏问卷弹出按钮
						if(res.data == "") {
							$("#WenJuan").hide();
							return false;
						}
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						}); //组装题干以供展示
						$scope.surveyQuestionList = res.data; //所有题目
						$scope.currentSurveyQues = res.data[0]; //当前选中题目，默认为第一题
					}
				});
				
				//接收学生回答
				$scope.$on('surveyMessage', function(event, data) {
					//接收学生回答情况,暂不处理,改为调接口取数据
				});
				
				//接收学生加入课堂
				$scope.$on('allStudents', function(event, data) {
					$scope.allStudents = data.students;
				});
				
				//点击学生头像选中学生
				$scope.selectStudent = function(student) {
					student.select = !student.select;
				}

				//全选学生
				$scope.all = function() {
					$($scope.allStudents).each(function() {
						this.select = true;
					});
				};

				//发送问题
				$scope.publicQues = function() {
					var timestamp = new Date().getTime() + ""; //时间戳
					var selectedArr = []; //被选中的学生id数组
					var selected = ''; //被选中的学生id
					$($scope.allStudents).each(function() {
						if(this.select) {
							selectedArr.push(this.id);
						}
					});
					var selQuestionIdArr = [];//被选中的题目id数组
					var selQuestionId = '';//被选中的题目id
					$($scope.surveyQuestionList).each(function() {
						selQuestionIdArr.push(this.id);
					});
					selected = selectedArr.join(","); //被选中的学生id，用逗号分隔
					selQuestionId = selQuestionIdArr.join(",");//被选中的题目id，用逗号分隔
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/interactSurvey/send',
						data: {
							"category": 'people',
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"interactive": 'select',
							"questionId": selQuestionId,
							"questionType": 'WenJuan',
							"selected": selected
						},
						success: function() {
							layer.alert("发送成功");
						}
					});
				}
				
				//点击题号 
				$scope.chooseQuestion = function(question) {
					$scope.currentSurveyQues = question;
					//清空学生的回答信息
					$($scope.allStudents).each(function() {
						this.answer = "";
					});
					//请求接口，返回该问题学生回答情况
					$scope.loadAnswer();
				};
				
				//显示学生回答的答案
				$scope.loadAnswer = function() {
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/interactSurvey/findSurveysRecord',
						data: {
							"circleId": localStorage.getItem("circleId"),
							"questionsId": $scope.currentSurveyQues.id
						},
						success: function(data) {
							//如果该题已经发送过,则标志为已选,否则为未选
							if(!data.data.selectId || data.data.selectId.length == 0) {
								$scope.currentSurveyQues.select = false;
								$($scope.allStudents).each(function() {
									this.answer = "";
								});
								return false;
							}else {
								$scope.currentSurveyQues.select = true;
							}
							
							$($scope.allStudents).each(function() {
								var that = this;
								that.select = false;
								that.answer = "未回答";
								that.show = false;
								//将被选中的学生显示出来
								$(data.data.selectId).each(function() {
									if(this == that.id) {
										that.show = true;
									}
								});
								//将已回答的学生的答案显示出来
								$(data.data.answerRecordList).each(function() {
									if(this.examineeId == that.id) {
										if(this.answer == "true") {
											this.answer = "对";
										}else if(this.answer == "false") {
											this.answer = "错";
										}
										that.answer = this.answer;
									}
								});
							});
						}
					});
				};
				
				// 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
					tooltip : {
							trigger: 'item',
							formatter: "{a} <br/>{b} : {c} ({d}%)"
					},
					legend: {
							x : 'center',
							y : 'top',
							data: ['A','B','C','D','E']
					},
					series : [
							{
									name: '访问来源',
									type: 'pie',
									radius : '55%',
									center: ['50%', '60%'],
									data:[
											{value:335, name:'A'},
											{value:310, name:'B'},
											{value:234, name:'C'},
											{value:135, name:'D'},
											{value:1548, name:'E'}
									],
									itemStyle: {
											emphasis: {
													shadowBlur: 10,
													shadowOffsetX: 0,
													shadowColor: 'rgba(0, 0, 0, 0.5)'
											}
									}
							}
					]
			};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
			});
			
			

			//专门负责处理任务的controller
			app.controller('taskCtrl', function($scope, $http, $interval) {
				//加载所有的提问题目
				common.ajax2({
					$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeBookType": "1"
					},
					url: '/taskExerciseBook/findExerciseBook',
					success: function(res) {
						//如果没有挂载任务，则隐藏任务弹出按钮
						if(res.data == "") {
							$("#RenWu").hide();
							return false;
						}
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						}); //组装题干以供展示
						$scope.taskQuestionList = res.data; //所有题目
						$scope.currentTaskQues = res.data[0]; //当前选中题目，默认为第一题
					}
				});
				
				$scope.$on('taskMessage', function(event, data) {
					//接收学生回答的任务答案,暂不使用,改为从接口获取数据
				});
				
				$scope.$on('allStudents', function(event, data) {
					$(data.students).each(function() {
						this.show = true;
					});
					$scope.allStudents = data.students;
				})

				$scope.currentTaskQues = {}; //当前选中的提问问题				

				//点击题号 
				$scope.chooseQuestion = function(question) {
					$scope.currentTaskQues = question;
					$scope.loadAnswer(); //显示回答
				};

				//点击学生头像选中学生
				$scope.selectStudent = function(student) {
					student.select = !student.select;
				}

				//全选学生
				$scope.all = function() {
					$($scope.allStudents).each(function() {
						this.select = true;
					});
				};

				//发送问题
				$scope.sub = function() {
					var timestamp = new Date().getTime() + ""; //时间戳
					var selected = []; //被选中的学生id数组
					$($scope.allStudents).each(function() {
						if(this.select) {
							selected.push(this.id);
						}
					});
					$scope.currentTaskQues.selectStudents = selected.join(","); //被选中的学生id，用逗号分隔
					$scope.currentTaskQues.select = true; //将该问题置为已提问状态
					common.ajax2({
						$scope: $scope,
						$http: $http,
						operate: true,
						url: '/teachInteract/send/question',
						data: {
							"category": 'people',
							"interactive": 'select',
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"questionId": $scope.currentTaskQues.id,
							"questionType": 'RenWu',
							"selected": $scope.currentTaskQues.selectStudents
						},
						success: function() {
						}
					});
				}

				//显示学生回答的答案
				$scope.loadAnswer = function() {
					var url = '/teachInteract/findAskAnswer';
					var postData = {
						"circleId": localStorage.getItem("circleId"),
						"questionId": $scope.currentTaskQues.id,
						questionType: 'RenWu'
					};
					
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: url,
						data: postData,
						success: function(data) {
							//如果该题已经发送过,则标志为已选,否则为未选
							if(!data.data.selectId || data.data.selectId.length == 0) {
								$scope.currentTaskQues.select = false;
								$scope.removeAllAnswer();
								return false;
							}else {
								$scope.currentTaskQues.select = true;
							}
							
							$($scope.allStudents).each(function() {
								var that = this;
								that.select = false;
								that.answer = "未回答";
								that.show = false;
								//将被选中的学生显示出来
								$(data.data.selectId).each(function() {
									if(this == that.id) {
										that.show = true;
									}
								});
								//将已回答的学生的答案显示出来
								$(data.data.answerRecordList).each(function() {
									if(this.examineeId == that.id) {
										if(this.answer == "true") {
											this.answer = "对";
										}else if(this.answer == "false") {
											this.answer = "错";
										}
										that.answer = this.answer;
									}
								});
							});
						}
					});
					
				};

				//清除学生的答案和选中状态,并将所有学生都显示
				$scope.removeAllAnswer = function() {
					$($scope.allStudents).each(function() {
						this.select = false;
						this.answer = "";
						this.show = true;
					});
				};
				
				//显示学生回答详情
				$scope.answerDetail = function(answer) {
					$scope.answer = answer;
					console.log(answer);
					$("#taskAnswerModal").modal("show");
				}
			});
			
			
			
			
			//专门负责处理头脑风暴的controller
			app.controller('stromCtrl', function($scope, $http, $interval) {
				//加载所有的提问题目
				common.ajax2({
					$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeBookType": "1"
					},
					url: '/brainstormExerciseBook/findExerciseBook',
					success: function(res) {
						//如果没有挂载头脑风暴，则隐藏风暴弹出按钮
						if(res.data == "") {
							$("#FengBao").hide();
							return false;
						}
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						}); //组装题干以供展示
						$scope.stromQuestionList = res.data; //所有题目
						$scope.currentStromQues = res.data[0]; //当前选中题目，默认为第一题
					}
				});
				
				$scope.$on('stromMessage', function(event, data) {
					//接收学生回答情况,暂不使用,改由接口获取信息
				});
				
				$scope.$on('allStudents', function(event, data) {
					$(data.students).each(function() {
						this.show = true;
					});
					$scope.allStudents = data.students;
				})
			
				$scope.currentStromQues = {}; //当前选中的提问问题				
			
				//点击题号 
				$scope.chooseQuestion = function(question) {
					$scope.currentStromQues = question;
					$scope.loadAnswer(); //显示回答
				};
			
				//点击学生头像选中学生
				$scope.selectStudent = function(student) {
					student.select = !student.select;
				}
			
				//全选学生
				$scope.all = function() {
					$($scope.allStudents).each(function() {
						this.select = true;
					});
				};
			
				//发送问题
				$scope.sub = function() {
					var timestamp = new Date().getTime() + ""; //时间戳
					var selected = []; //被选中的学生id数组
					$($scope.allStudents).each(function() {
						if(this.select) {
							selected.push(this.id);
						}
					});
					$scope.currentStromQues.selectStudents = selected.join(","); //被选中的学生id，用逗号分隔
					$scope.currentStromQues.select = true; //将该问题置为已提问状态
					common.ajax2({
						$scope: $scope,
						$http: $http,
						operate: true,
						url: '/brainstormInteract/send',
						data: {
							"category": 'people',
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"questionId": $scope.currentStromQues.id,
							"questionType": 'FengBao',
							"selected": $scope.currentStromQues.selectStudents
						},
						success: function() {
						}
					});
				}
			
				//显示学生回答的答案
				$scope.loadAnswer = function() {
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/brainstormInteract/findBrainstormRecord',
						data: {
							"circleId": localStorage.getItem("circleId"),
							"questionsId": $scope.currentStromQues.id
						},
						success: function(data) {
							//如果该题已经发送过,则标志为已选,否则为未选
							if(!data.data.selectId || data.data.selectId.length == 0) {
								$scope.currentStromQues.select = false;
								$scope.removeAllAnswer();
								return false;
							}else {
								$scope.currentStromQues.select = true;
							}
							
							$($scope.allStudents).each(function() {
								var that = this;
								that.select = false;
								that.answer = "未回答";
								that.show = false;
								//将被选中的学生显示出来
								$(data.data.selectId).each(function() {
									if(this == that.id) {
										that.show = true;
									}
								});
								//将已回答的学生的答案显示出来
								$(data.data.answerRecordList).each(function() {
									if(this.examineeId == that.id) {
										if(this.answer == "true") {
											this.answer = "对";
										}else if(this.answer == "false") {
											this.answer = "错";
										}
										that.answer = this.answer;
									}
								});
							});
						}
					});
				};
			
				//清除学生的答案和选中状态,并将所有学生都显示
				$scope.removeAllAnswer = function() {
					$($scope.allStudents).each(function() {
						this.select = false;
						this.answer = "";
						this.show = true;
					});
				};
				
				//显示学生回答详情
				$scope.answerDetail = function(answer) {
					$scope.answer = answer;
					console.log(answer);
					$("#stromAnswerModal").modal("show");
				}
				
			});
			
			//显示提问交互
			function showQuestion() {
				$(".interSingle").hide("slow");
				$("#question").show("slow");
			}
			//关闭提问交互
			function closeQuestion() {
				$("#question").hide("slow");
			}
			//显示练习交互
			function showBookQuestion() {
				$(".interSingle").hide("slow");
				$("#bookQuestion").show("slow");
			}
			//关闭练习交互
			function closeBookQuestion() {
				$("#bookQuestion").hide("slow");
			}
			//显示问卷交互
			function showSurveyQuestion() {
				$(".interSingle").hide("slow");
				$("#surveyQuestion").show("slow");
			}
			//关闭问卷交互
			function closeSurveyQuestion() {
				$("#surveyQuestion").hide("slow");
			}
			//显示任务交互
			function showTaskQuestion() {
				$(".interSingle").hide("slow");
				$("#taskQuestion").show("slow");
			}
			//关闭任务交互
			function closeTaskQuestion() {
				$("#taskQuestion").hide("slow");
			}
			//显示头脑风暴交互
			function showStromQuestion() {
				$(".interSingle").hide("slow");
				$("#stromQuestion").show("slow");
			}
			//关闭头脑风暴交互
			function closeStromQuestion() {
				$("#stromQuestion").hide("slow");
			}
		</script>
	</body>

</html>