<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Metronic | Login Options - Login Form 2</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../../assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/plugins/slider-layer-slider/css/layerslider.css" rel="stylesheet">
		<link href="../../../assets/frontend/pages/css/style-layer-slider.css" rel="stylesheet">
		<link href="../../../assets/admin/pages/css/profile.css" rel="stylesheet">
		<style>
			.profile-userpic img {
				width: 80%;
			}
			
			.uppercase {
				font-size: 14px;
				margin-top: 10px;
				cursor: pointer;
			}
			
			.detail {
				display: none;
			}
			
			.cont {
				margin-right: 0;
				width: 100%;
			}
			
			.profile-userpic img {
				width: 80%;
			}
			
			.uppercase {
				font-size: 14px;
				margin-top: 10px;
			}
			
			.detail {
				display: none;
			}
			
			.badge {
				padding: 6px 9px;
				height: 24px;
				font-weight: 600;
				cursor: pointer;
			}
			
			.uppercase.active img {
				border: 2px solid red;
			}
			.htmlWrapper p {
				display: inline;
			}
			..note p {
				font-size: 16px;
			}
		</style>
	</head>

	<body style="background-color: #e9ecf3">
		<div ng-app="myApp" ng-controller="myCtrl">
			<div style="float: left;width: 3%;height: 600px;">
				<div class="page-sidebar navbar-collapse collapse" style="width: 100%;">
					<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
						<li class="start" title="提问">
							<a href="javascript:;" onclick="showQuestion()">
								<i class="icon-question"></i>
							</a>
						</li>
						<li title="练习">
							<a href="javascript:;">
								<i class="icon-pencil"></i>
							</a>
						</li>
						<li title="头脑风暴">
							<a href="javascript:;">
								<i class="icon-fire"></i>
							</a>
						</li>
						<li title="任务">
							<a href="javascript:;">
								<i class="icon-envelope-letter"></i>
							</a>
						</li>
						<li title="问卷">
							<a href="javascript:;">
								<i class="icon-disc"></i>
							</a>
						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>

			</div>
			<div style="float: right;width: 97%;height: 100%;">
				<div id="question" style="background-color: #fcf8e3;display: none;">
					<div class="alert alert-block fade in">
						<button type="button" class="close" onclick="closeQuestion()"></button>

						<div>
							<div style="display: inline-block;margin-right: 20px;">
								<i class="icon-settings font-green-sharp"></i>
								<span style="color: #4DB3A2;font-size: 16px;margin-left: 5px;font-weight: 600;">课堂提问</span>
							</div>
							<span class="badge {{row.select ? 'badge-danger' : 'badge-success'}}" style="margin: 3px;" ng-repeat="row in tiwenQuestionList" ng-click="chooseQuestion(row, 1)"> {{$index+1}} </span>
						</div>
						<div>
							<div style="width: 48%;float: left;">
								<div class="note" style="border-left: 0;border-bottom: 1px solid #eee;">
									<h4 class="block htmlWrapper" ng-bind-html="currentTiwenQues.title"></h4>
									<div ng-if="currentTiwenQues.examChildren[0].examType == 'single' || currentTiwenQues.examChildren[0].examType == 'multiple'">
										<p ng-repeat="x in currentTiwenQues.examChildren[0].optChildren">
											<span ng-bind-html="x.optValue" style="display: inline-block;"></span>． 
											<span ng-bind-html="x.optTxt" style="display: inline-block;"></span>
										</p>
									</div>
								</div>
							</div>
							<div style="width: 48%;float: left;">
								<div style="text-align: right;margin-top: 15px;">
									<div class="btn-group">
										<button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
											选人 <i class="fa fa-angle-down"></i>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a href="javascript:;" ng-click="qiangda()">抢答 </a>
											</li>
											<li>
												<a href="javascript:;" ng-click="jushou()">举手 </a>
											</li>
											<li>
												<a href="javascript:;" ng-click="xuanren()">选人</a>
											</li>
											<!--<li>
											<a href="javascript:;" onclick="toupiao()">投票</a>
										</li>-->
										</ul>
									</div>
									<div class="btn-group">
										<button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
											选组 <i class="fa fa-angle-down"></i>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a href="javascript:;" ng-click="qiangdazu()">抢答 </a>
											</li>
											<li>
												<a href="javascript:;" ng-click="jushouzu()">举手 </a>
											</li>
											<li>
												<a href="javascript:;" ng-click="xuanrenzu()">选人</a>
											</li>
											<!--<li>
											<a href="javascript:;" ng-click="toupiaozu()">投票</a>
										</li>-->
										</ul>
									</div>
									<button class="btn btn-success" ng-click="showAnswer()">显示回答</button>
								</div>
								<!--<div id="answerrenDetail" class="detail">
									<div class="col-md-2" ng-repeat="row in students">
										<div class="uppercase profile-userpic">
											<img src="{{row.image}}" class="img-responsive" alt="">
										</div>
										<div class="uppercase profile-stat-text">
											{{row.name}}&nbsp;&nbsp;
											<span ng-if="$index%2==0">已回答</span>
											<span ng-if="$index%2==1" style="color: red;">未回答</span>
										</div>
									</div>
								</div>
								<div id="answerzuDetail" class="detail">

								</div>
								<div id="toupiaorenDetail" class="detail">
									<div class="col-md-2" ng-repeat="row in students">
										<div class="uppercase profile-userpic">
											<img src="{{row.image}}" class="img-responsive" alt="">
										</div>
										<div class="uppercase profile-stat-text">
											{{row.name}}&nbsp;&nbsp;18票
										</div>
									</div>
								</div>
								<div id="toupiaozuDetail" class="detail">
									<p>第一组得票数： 18</p>
									<p>第二组得票数： 21</p>
								</div>-->
							</div>

							<div style="clear: both;"></div>
							<div style="text-align: center;">
								<button class="btn btn-info">上一题</button>
								<button class="btn btn-info">上一题</button>
							</div>
						</div>

						<div style="height: 140px; display: none;" id="studentsWrapper">
							<div style="width:80px;float:left;" ng-repeat="row in allStudents" ng-show="row.show">
								<div class="uppercase profile-userpic {{row.select ? 'active' : ''}}" ng-click="selectStudent(row)">
									<img ng-src="{{row.portrait}}" class="img-responsive" alt="学生头像">
								</div>
								<div class="uppercase profile-stat-text">{{row.name}}</div>
								<div class="uppercase profile-stat-text answer" style="color: orangered;" ng-bind-html="row.answer"></div>
							</div>
						</div>
						<div style="height: 40px;text-align: center; display: none;" id="btns">
							<button class="btn btn-primary" ng-click="all()">全选</button>
							<button class="btn btn-primary" ng-click="sub()">确定</button>
						</div>
					</div>
				</div>

				<div style="width: 19%;float: right;">
					<div class="portlet light" style="min-height: 200px;">
						<div class="portlet-title tabbable-line">
							<div class="caption font-green-sharp">
								<i class="icon-settings font-green-sharp"></i>
								<span class="caption-subject bold uppercase">教学资料</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="scroller" style="min-height: 100px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
								<ul class="feeds" style="margin-bottom: 50px;">
									<li>
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-danger">
														<i class="fa fa-bolt"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														<a href="file/201801.docx" type="application/ms-word" target=_blank>《电子商务基础》教学大纲.doc</a>
														<span class="label label-danger label-sm clipboard">课前预习</span>
													</div>
												</div>
											</div>
										</div>
									</li>

									<li>
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bullhorn"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														<a href="file/201802.pptx" type="application/vnd.ms-powerpoint" target=_blank>电子商务基础课件.ppt</a>
														<span class="label label-danger label-sm clipboard">课程案例</span>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div style="width: 80%;float: left;">

					<!-- LayerSlider start -->
					<div id="layerslider" style="width: 100%; height: 759px; margin: 0;">

						<!-- slide one start -->
						<div class="ls-slide ls-slide1" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 24,25,27,28;">

							<img src="images/ppt/幻灯片1.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide one end -->

						<!-- slide two start -->
						<div class="ls-slide ls-slide2" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">

							<img src="images/ppt/幻灯片2.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide two end -->

						<!-- slide three start -->
						<div class="ls-slide ls-slide3" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;">

							<img src="images/ppt/幻灯片3.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide three end -->

						<!-- slide four start -->
						<div class="ls-slide ls-slide4" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">

							<img src="images/ppt/幻灯片4.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide four end -->

						<!-- slide one start -->
						<div class="ls-slide ls-slide5" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 24,25,27,28;">

							<img src="images/ppt/幻灯片5.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide one end -->

					</div>
					<!-- LayerSlider end -->
				</div>
			</div>
		</div>
		<script src="../../../assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
		<script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
		<script src="../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="../../../assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
		<!-- BEGIN LayerSlider -->
		<script src="../../../assets/global/plugins/slider-layer-slider/js/greensock.js" type="text/javascript"></script>
		<!-- External libraries: GreenSock -->
		<script src="../../../assets/global/plugins/slider-layer-slider/js/layerslider.transitions.js" type="text/javascript"></script>
		<!-- LayerSlider script files -->
		<script src="../../../assets/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
		<!-- LayerSlider script files -->
		<script src="js/commonJiaohu.js" type="text/javascript"></script>

		<!-- END LayerSlider -->
		<script>
			var app = angular.module('myApp', [
			    "ngSanitize"
			]);
			app.controller('myCtrl', function($scope, $http, $interval) {
				//建立websocket连接
				var ws = null;
				$scope.initWs = function() {
					//check if your browser supports WebSocket
					if('WebSocket' in window) {
						ws = new WebSocket("ws://192.168.13.15:8080/websocket/demo/");
					} else {
						alert('对不起，您的浏览器不支持websorket');
					}
		
					ws.onopen = function() {
						console.log("open");
						ws.send("hello");
					};
		
					ws.onmessage = function(evt) {
						console.log(evt.data);
						var data = evt.data;
						if(data.model == "raise") {
							//获取学生举手信息
							
						}else if(data.model == "answer") {
							//获取学生回答信息
							
						}else if(data.model == "interactiveStudents") {
							//获取学生加入班级信息
							
						}
					};
		
					ws.onclose = function(evt) {
						console.log("WebSocketClosed!");
					};
		
					ws.onerror = function(evt) {
						console.log("WebSocketError!");
					};
				};
				$scope.initWs();
				
				
				
				
				var raiseFlag;//举手定时器
				$scope.currentTiwenQues = {};//当前选中的提问问题				
				
				//加载所有扫码进入的学生
				common.ajax2({
		        	$scope: $scope,
					$http: $http,
					data: {
						"circleId": localStorage.getItem('circleId')
					},
					url: '/classRoom/find/interactiveStudents',
					success: function(res) {
						$(res.data).each(function() {
							this.show = true;
						});
						$scope.allStudents = res.data;
					}
		        });
				
				//加载所有的提问题目
				common.ajax2({
		        	$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeBookType": "1"
					},
					url: '/exerciseBook/findExerciseBook',
					success: function(res) {
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						});//组装题干以供展示
						$scope.tiwenQuestionList = res.data;//所有题目
						$scope.currentTiwenQues = res.data[0];//当前选中题目，默认为第一题
					}
		        });
		        
		        //点击题号  type: 1提问，2练习
		        $scope.chooseQuestion = function(question, type) {
		        	if(type == 1) {
		        		$scope.currentTiwenQues = question;
		        		if(question.select) {
		        			$("#studentsWrapper").show();
		        			$("#btns").show();
		        		}else {
		        			$("#studentsWrapper").hide();
		        			$("#btns").hide();
		        		}
		        		//清空学生的回答信息
		        		$($scope.allStudents).each(function() {
		        			this.answer = "";
		        			this.select = false;
		        		});
		        		//如果该题目已有回答，将该题目置为选中状态
		        		if($scope.currentTiwenQues.answers && $scope.currentTiwenQues.answers.length > 0) {
		        			$scope.currentTiwenQues.select = true;
		        			$scope.showAnswer();//显示回答
		        		}else {
		        			//将所有学生隐藏
		        			$($scope.allStudents).each(function() {
				        		this.show = false;
				        	});
		        		}
		        		
		        		//清除举手信息
						common.ajax2({
				        	$scope: $scope,
							$http: $http,
							data: {
								"circleId": localStorage.getItem("circleId")
							},
							url: '/interact/launch/raise'
				        });
		        	}
		        };
		        
		        //点击选人-选人按钮
		        $scope.xuanren = function() {
		        	$scope.currentTiwenQues.chooseType = "select";
		        	$scope.currentTiwenQues.category = "people";
		        	$scope.removeAllAnswer();//清除所有学生的答案和选中状态
		        	$("#studentsWrapper").show();
		        	$("#btns").show();
		        };
		        
		        //点击选人-抢答按钮
		        $scope.qiangda = function() {
		        	$scope.currentTiwenQues.chooseType = "race";
		        	$scope.currentTiwenQues.category = "people";
		        	$scope.removeAllAnswer();//清除所有学生的答案和选中状态
		        	$("#studentsWrapper").show();
		        	$("#btns").show();
		        };
		        
		        //点击选人-举手按钮
		        $scope.jushou = function() {
		        	$scope.currentTiwenQues.chooseType = "raise";
		        	$scope.currentTiwenQues.category = "people";
		        	$scope.removeAllAnswer();//清除所有学生的答案和选中状态
		        	$("#studentsWrapper").show();
		        	$("#btns").show();
		        	//发送问题
		        	$scope.subJushou();
		        };
		        
		        //点击学生头像选中学生
		        $scope.selectStudent = function(student) {
		        	student.select = !student.select;
		        }
		        
		        //全选学生
		        $scope.all = function() {
		        	$($scope.allStudents).each(function() {
		        		this.select = true;
		        	});
		        };
		        
		        //发送问题
		        $scope.sub = function() {
		        	var timestamp=new Date().getTime()+"";//时间戳
		        	var selected = [];//被选中的学生id数组
		        	$($scope.allStudents).each(function() {
		        		if(this.select) {
		        			selected.push(this.id);
		        		}
		        	});
		        	$scope.currentTiwenQues.selectStudents = selected.join(",");//被选中的学生id，用逗号分隔
		        	$scope.currentTiwenQues.select = true;//将该问题置为已提问状态
		        	common.ajax2({
			        	$scope: $scope,
						$http: $http,
						url: '/interact/send/question',
						data: {
							"category": $scope.currentTiwenQues.category,
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"interactive": $scope.currentTiwenQues.chooseType,
							"questionId": $scope.currentTiwenQues.id,
							"selected": $scope.currentTiwenQues.selectStudents
						},
						success: function() {
							//取消接收学生举手定时任务
							$interval.cancel(raiseFlag);
						}
			        });
		        }
		        
		        //发送举手类型的问题
		        $scope.subJushou = function() {
		        	var timestamp=new Date().getTime()+"";
		        	$scope.currentTiwenQues.select = true;
		        	common.ajax2({
			        	$scope: $scope,
						$http: $http,
						url: '/interact/send/question',
						data: {
							"category": $scope.currentTiwenQues.category,
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"interactive": $scope.currentTiwenQues.chooseType,
							"questionId": $scope.currentTiwenQues.id,
							"selected": ""
						},
						success: function() {
							//将所有学生都隐藏
				        	$($scope.allStudents).each(function() {
				        		this.show = false;
				        	});
							//开始定时任务，接收学生的举手情况
							raiseFlag = $interval($scope.receiveRaise, 2000);
						}
			        });
		        }
		        
		        //定时任务--接收学生答题情况
		        var random = Math.random().toString(36).substr(2);//生成随机数
		        $scope.receiveAnswer = function() {
		        	common.ajax2({
		        		method: 'get',
			        	$scope: $scope,
						$http: $http,
						url: '/interact/achieve/answer?teacher='+localStorage.getItem('userid')+'&circleId='+localStorage.getItem("circleId")+'&random='+random,
						success: function(res) {
							//将学生的回答情况暂存至相对应的题目中
							$($scope.tiwenQuestionList).each(function() {
								var that = this;
								if(!that.answers) {
									that.answers = [];
								}
								$(res.data).each(function() {
									if(that.id == this.askAnswer.questionId) {
										that.answers.push({
											studentId: this.id,
											answer: this.askAnswer.answer
										});
									}
								});
							});
						}
			        });
		        }
		        $interval($scope.receiveAnswer ,1000);
		        
		        //定时任务--接收学生举手情况
		        $scope.receiveRaise = function() {
		        	common.ajax2({
		        		method: 'get',
			        	$scope: $scope,
						$http: $http,
						url: '/interact/achieve/raise?teacher='+localStorage.getItem('userid')+'&circleId='+localStorage.getItem("circleId")+'&random='+random,
						success: function(res) {
							console.log(res);
							//接收全量的已举手学生，将学生显示出来供老师选择
							$($scope.allStudents).each(function() {
				        		var that = this;
				        		$(res.data).each(function() {
				        			if(this.id == that.id) {
				        				that.show = true;
				        			}
				        		});
				        	});
						}
			        });
		        }
		        
		        //显示学生回答的答案
		        $scope.showAnswer = function() {
		        	var flag = 0;
		        	if($scope.currentTiwenQues.examChildren[0].examType == "trueOrFalse") {
						flag = 1;
					}
					
					$scope.removeAllAnswer();
					//遍历题目中的answer列表，再遍历学生列表，将学生id与题目中答题学生id对应，显示学生的回答
					$($scope.currentTiwenQues.answers).each(function() {
	        			var that = this;
	        			if(flag == 1) {
	        				if(that.answer == "true") {
	        					that.answer = "对";
	        				}else if(that.answer == "false") {
	        					that.answer = "错";
	        				}
	        			}
	        			$($scope.allStudents).each(function() {
	        				if(that.studentId == this.id) {
	        					this.answer = that.answer;
	        				}
	        			});
	        		});
	        		
				};
				
				//清除学生的答案和选中状态,并将所有学生都显示
		        $scope.removeAllAnswer = function() {
		        	$($scope.allStudents).each(function() {
		        		this.select = false;
		        		this.answer = "";
		        		this.show = true;
		        	});
		        };
			});
			
			
			
			
			//轮播图集
			var LayersliderInit = function() {
				return {
					initLayerSlider: function() {
						$('#layerslider').layerSlider({
							skinsPath: '../../../assets/global/plugins/slider-layer-slider/skins/',
							skin: 'fullwidth',
							thumbnailNavigation: 'hover',
							hoverPrevNext: false,
							responsive: false,
							responsiveUnder: 960,
							layersContainer: 960
						});
					}
				};
			}();
			//初始化轮播图集
			LayersliderInit.initLayerSlider();
			//显示提问/练习/作业等交互
			function showQuestion() {
				$("#question").show("slow");
			}
			//关闭提问/练习/作业等交互
			function closeQuestion() {
				$("#question").hide("slow");
			}
		</script>
	</body>

</html>