<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Metronic | Login Options - Login Form 2</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../../assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../../assets/global/plugins/slider-layer-slider/css/layerslider.css" rel="stylesheet">
		<link href="../../../assets/frontend/pages/css/style-layer-slider.css" rel="stylesheet">
		<link href="../../../assets/admin/pages/css/profile.css" rel="stylesheet">
		<style>
			.profile-userpic img {
				width: 80%;
			}
			
			.uppercase {
				font-size: 14px;
				margin-top: 10px;
				cursor: pointer;
			}
			
			.detail {
				display: none;
			}
			
			.cont {
				margin-right: 0;
				width: 100%;
			}
			
			.profile-userpic img {
				width: 80%;
			}
			
			.uppercase {
				font-size: 14px;
				margin-top: 10px;
			}
			
			.detail {
				display: none;
			}
			
			.badge {
				padding: 6px 9px;
				height: 24px;
				font-weight: 600;
				cursor: pointer;
			}
			
			.uppercase.active img {
				border: 2px solid red;
			}
			
			.htmlWrapper p {
				display: inline;
			}
			
			..note p {
				font-size: 16px;
			}
		</style>
	</head>

	<body style="background-color: #e9ecf3">
		<div ng-app="myApp" ng-controller="myCtrl">
			<div style="float: left;width: 3%;height: 600px;">
				<div class="page-sidebar navbar-collapse collapse" style="width: 100%;">
					<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
						<li class="start" title="提问">
							<a href="javascript:;" onclick="showQuestion()">
								<i class="icon-question"></i>
							</a>
						</li>
						<li title="练习">
							<a href="javascript:;" onclick="showBookQuestion()">
								<i class="icon-pencil"></i>
							</a>
						</li>
						<li title="头脑风暴">
							<a href="javascript:;">
								<i class="icon-fire"></i>
							</a>
						</li>
						<li title="任务" onclick="showTaskQuestion()">
							<a href="javascript:;">
								<i class="icon-envelope-letter"></i>
							</a>
						</li>
						<li title="问卷" onclick="showSurveyQuestion()">
							<a href="javascript:;">
								<i class="icon-disc"></i>
							</a>
						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>

			</div>
			<div style="float: right;width: 97%;height: 100%;">
				<div data-ng-include="'singles/template/singleTiwen.html'" id="question" class="interSingle" style="display: none;"></div> <!--提问-->
				<div data-ng-include="'singles/template/singleBook.html'" id="bookQuestion" class="interSingle" style="display: none;"></div> <!--练习-->
				<div data-ng-include="'singles/template/singleSurvey.html'" id="surveyQuestion" class="interSingle" style="display: none;"></div> <!--问卷-->
				<div data-ng-include="'singles/template/singleTask.html'" id="taskQuestion" class="interSingle" style="display: none;"></div> <!--任务-->

				<div style="width: 19%;float: right;">
					<div class="portlet light" style="min-height: 200px;">
						<div class="portlet-title tabbable-line">
							<div class="caption font-green-sharp">
								<i class="icon-settings font-green-sharp"></i>
								<span class="caption-subject bold uppercase">教学资料</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="scroller" style="min-height: 100px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
								<ul class="feeds" style="margin-bottom: 50px;">
									<li>
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-danger">
														<i class="fa fa-bolt"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														<a href="file/201801.docx" type="application/ms-word" target=_blank>《电子商务基础》教学大纲.doc</a>
														<span class="label label-danger label-sm clipboard">课前预习</span>
													</div>
												</div>
											</div>
										</div>
									</li>

									<li>
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bullhorn"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														<a href="file/201802.pptx" type="application/vnd.ms-powerpoint" target=_blank>电子商务基础课件.ppt</a>
														<span class="label label-danger label-sm clipboard">课程案例</span>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div style="width: 80%;float: left;">

					<!-- LayerSlider start -->
					<div id="layerslider" style="width: 100%; height: 759px; margin: 0;">

						<!-- slide one start -->
						<div class="ls-slide ls-slide1" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 24,25,27,28;">

							<img src="images/ppt/幻灯片1.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide one end -->

						<!-- slide two start -->
						<div class="ls-slide ls-slide2" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">

							<img src="images/ppt/幻灯片2.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide two end -->

						<!-- slide three start -->
						<div class="ls-slide ls-slide3" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;">

							<img src="images/ppt/幻灯片3.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide three end -->

						<!-- slide four start -->
						<div class="ls-slide ls-slide4" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">

							<img src="images/ppt/幻灯片4.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide four end -->

						<!-- slide one start -->
						<div class="ls-slide ls-slide5" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 24,25,27,28;">

							<img src="images/ppt/幻灯片5.PNG" class="ls-bg" alt="Slide background">

						</div>
						<!-- slide one end -->

					</div>
					<!-- LayerSlider end -->
				</div>
			</div>
		</div>
		<script src="../../../assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
		<script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
		<script src="../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="../../../assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
		<!-- BEGIN LayerSlider -->
		<script src="../../../assets/global/plugins/slider-layer-slider/js/greensock.js" type="text/javascript"></script>
		<!-- External libraries: GreenSock -->
		<script src="../../../assets/global/plugins/slider-layer-slider/js/layerslider.transitions.js" type="text/javascript"></script>
		<!-- LayerSlider script files -->
		<script src="../../../assets/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
		<!-- LayerSlider script files -->
		<script src="js/commonJiaohu.js" type="text/javascript"></script>
		<script src="js/layer-v3.1.1/layer/layer.js" type="text/javascript"></script>
		<script src="js/websocket.js" type="text/javascript"></script>

		<!-- END LayerSlider -->
		<script>
			var app = angular.module('myApp', [
				"ngSanitize"
			]);
			app.controller('myCtrl', function($scope, $http, $interval) {
				var random = new Date().getTime(); //生成随机数
				//建立websocket连接
				var wsobj = null;
				$scope.initWs = function() {
					//check if your browser supports WebSocket
					if('WebSocket' in window) {
						var url = "wss://e.hnfts.cn/websocket/interactive/" +
							localStorage.getItem('circleId') + "/" + localStorage.getItem('userid') + "/teacher/" + random;
//						var url = "wss://e.hnfts.cn/websocket/interactive/bd4a84e4a61943e6b07e02947ecc85f1/123a/teacher/" + random;
						wsobj = $sesWebSocket(url);
					} else {
						layer.alert('对不起，您的浏览器不支持websorket');
					}

					var opt = {
						onopen: function(event) {
							wsobj.heartStart(5000, 'ping');
						},
						onmessage: function(event) {
							wsobj.heartReset();
							console.log(event.data);
							var data = JSON.parse(event.data);
							$scope.$apply(function() {
								if(data.model == "interactiveStudents") {
									$scope.$broadcast('allStudents', data);
								}else if(data.model == "answer" || data.model == "raise") {//返回提问的回答或举手信息
									$scope.$broadcast('tiwenMessage', data);
								}else if(data.model == "answerBook") {//返回练习的学生回答
									$scope.$broadcast('bookMessage', data);
								}else if(data.model == "answerSurvey") {//返回问卷的学生回答
									$scope.$broadcast('surveyMessage', data);
								}else if(data.model == "answerTask") {//返回任务的学生回答
									$scope.$broadcast('taskMessage', data);
								}
							})
						}
					}
					wsobj.create(opt);
				};
				$scope.initWs();

			});

			//专门负责处理提问的controller
			app.controller('tiwenCtrl', function($scope, $http, $interval) {
				//加载所有的提问题目
				common.ajax2({
					$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeBookType": "1"
					},
					url: '/exerciseBook/findExerciseBook',
					success: function(res) {
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						}); //组装题干以供展示
						$scope.tiwenQuestionList = res.data; //所有题目
						$scope.currentTiwenQues = res.data[0]; //当前选中题目，默认为第一题
					}
				});
				
				$scope.$on('tiwenMessage', function(event, data) {
					if(data.model == "raise") {
						//接收全量的已举手学生，将学生显示出来供老师选择
						$($scope.allStudents).each(function() {
							var that = this;
							$(data.students).each(function() {
								if(this.id == that.id) {
									that.show = true;
								}
							});
						});
					} else if(data.model == "answer") {
						//将学生的回答情况暂存至相对应的题目中
						$($scope.tiwenQuestionList).each(function() {
							var that = this;
							if(!that.answers) {
								that.answers = [];
							}
							$(data.students).each(function() {
								if(this.askAnswer.questionId && that.id == this.askAnswer.questionId) {
									that.answers.push({
										studentId: this.id,
										answer: this.askAnswer.answer
									});
								}
							});
						});
					}
				});
				
				$scope.$on('allStudents', function(event, data) {
					$(data.students).each(function() {
						this.show = true;
					});
					$scope.allStudents = data.students;
				})

				$scope.currentTiwenQues = {}; //当前选中的提问问题				

				//点击题号 
				$scope.chooseQuestion = function(question) {
					$scope.currentTiwenQues = question;
					if(question.select) {
						$("#studentsWrapper").show();
						$("#btns").show();
					} else {
						$("#studentsWrapper").hide();
						$("#btns").hide();
					}
					//清空学生的回答信息
					$($scope.allStudents).each(function() {
						this.answer = "";
						this.select = false;
					});
					//如果该题目已有回答，将该题目置为选中状态
					if($scope.currentTiwenQues.answers && $scope.currentTiwenQues.answers.length > 0) {
						$scope.currentTiwenQues.select = true;
						$scope.showAnswer(); //显示回答
					} else {
						//将所有学生隐藏
						$($scope.allStudents).each(function() {
							this.show = false;
						});
					}

					//清除举手信息
					common.ajax2({
						$scope: $scope,
						$http: $http,
						data: {
							"circleId": localStorage.getItem("circleId")
						},
						url: '/interact/launch/raise'
					});
				};

				//点击选人-选人按钮
				$scope.xuanren = function() {
					$scope.currentTiwenQues.chooseType = "select";
					$scope.currentTiwenQues.category = "people";
					$scope.removeAllAnswer(); //清除所有学生的答案和选中状态
					$("#studentsWrapper").show();
					$("#btns").show();
				};

				//点击选人-抢答按钮
				$scope.qiangda = function() {
					$scope.currentTiwenQues.chooseType = "race";
					$scope.currentTiwenQues.category = "people";
					$scope.removeAllAnswer(); //清除所有学生的答案和选中状态
					$("#studentsWrapper").show();
					$("#btns").show();
				};

				//点击选人-举手按钮
				$scope.jushou = function() {
					$scope.currentTiwenQues.chooseType = "raise";
					$scope.currentTiwenQues.category = "people";
					$scope.removeAllAnswer(); //清除所有学生的答案和选中状态
					$("#studentsWrapper").show();
					$("#btns").show();
					//发送问题
					$scope.subJushou();
				};

				//点击学生头像选中学生
				$scope.selectStudent = function(student) {
					student.select = !student.select;
				}

				//全选学生
				$scope.all = function() {
					$($scope.allStudents).each(function() {
						this.select = true;
					});
				};

				//发送问题
				$scope.sub = function() {
					var timestamp = new Date().getTime() + ""; //时间戳
					var selected = []; //被选中的学生id数组
					$($scope.allStudents).each(function() {
						if(this.select) {
							selected.push(this.id);
						}
					});
					$scope.currentTiwenQues.selectStudents = selected.join(","); //被选中的学生id，用逗号分隔
					$scope.currentTiwenQues.select = true; //将该问题置为已提问状态
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/interact/send/question',
						data: {
							"category": $scope.currentTiwenQues.category,
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"interactive": $scope.currentTiwenQues.chooseType,
							"questionId": $scope.currentTiwenQues.id,
							"selected": $scope.currentTiwenQues.selectStudents
						},
						success: function() {
						}
					});
				}

				//发送举手类型的问题
				$scope.subJushou = function() {
					var timestamp = new Date().getTime() + "";
					$scope.currentTiwenQues.select = true;
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/interact/send/question',
						data: {
							"category": $scope.currentTiwenQues.category,
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"interactive": $scope.currentTiwenQues.chooseType,
							"questionId": $scope.currentTiwenQues.id,
							"selected": ""
						},
						success: function() {
							//将所有学生都隐藏
							$($scope.allStudents).each(function() {
								this.show = false;
							});
						}
					});
				}

				//显示学生回答的答案
				$scope.showAnswer = function() {
					var flag = 0;
					if($scope.currentTiwenQues.examChildren[0].examType == "trueOrFalse") {
						flag = 1;
					}

					$scope.removeAllAnswer();
					//遍历题目中的answer列表，再遍历学生列表，将学生id与题目中答题学生id对应，显示学生的回答
					$($scope.currentTiwenQues.answers).each(function() {
						var that = this;
						if(flag == 1) {
							if(that.answer == "true") {
								that.answer = "对";
							} else if(that.answer == "false") {
								that.answer = "错";
							}
						}
						$($scope.allStudents).each(function() {
							if(that.studentId == this.id) {
								this.answer = that.answer;
							}
						});
					});
				};

				//清除学生的答案和选中状态,并将所有学生都显示
				$scope.removeAllAnswer = function() {
					$($scope.allStudents).each(function() {
						this.select = false;
						this.answer = "";
						this.show = true;
					});
				};
			});
			
			
			
			
			//专门负责处理练习的controller
			app.controller('bookCtrl', function($scope, $http, $interval) {
				$scope.currentBookQues = {}; //当前选中的提问问题		
				//加载所有的练习题目
				common.ajax2({
					$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeBookType": "2"
					},
					url: '/exerciseBook/findExerciseBook',
					success: function(res) {
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						}); //组装题干以供展示
						$scope.bookQuestionList = res.data; //所有题目
						$scope.currentBookQues = res.data[0]; //当前选中题目，默认为第一题
					}
				});
				
				$scope.$on('bookMessage', function(event, data) {
					console.log(data);
					//将学生的回答情况暂存至相对应的题目中
//					$($scope.bookQuestionList).each(function() {
//						var that = this;
//						if(!that.answers) {
//							that.answers = [];
//						}
//						$(data.students).each(function() {
//							if(this.askAnswer.questionId && that.id == this.askAnswer.questionId) {
//								that.answers.push({
//									studentId: this.id,
//									answer: this.askAnswer.answer
//								});
//							}
//						});
//					});
				});
				
				$scope.$on('allStudents', function(event, data) {
					$scope.allStudents = data.students;
				});
				
				//点击题号 
				$scope.chooseQuestion = function(question) {
					$scope.currentBookQues = question;
					//清空学生的回答信息
					$($scope.allStudents).each(function() {
						this.answer = "";
					});
					//请求接口，返回该问题学生回答情况
				};

				//发送问题
				$scope.publicQues = function(allFlag) {
					var timestamp = new Date().getTime() + ""; //时间戳
					var selectedArr = []; //被选中的学生id数组
					var selected = ''; //被选中的学生id
					$($scope.allStudents).each(function() {
						selectedArr.push(this.id);
					});
					var selQuestionIdArr = [];//被选中的题目id数组
					var selQuestionId = '';//被选中的题目id
					if(allFlag == 'all') {
						$($scope.bookQuestionList).each(function() {
							selQuestionIdArr.push(this.id);
						});
						selQuestionId = selQuestionIdArr.join(",");
					}else {
						selQuestionId = $scope.currentBookQues.id;
					}
					selected = selectedArr.join(","); //被选中的学生id，用逗号分隔
					$scope.currentBookQues.select = true; //将该问题置为已提问状态
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/interact/send/book',
						data: {
							"category": 'people',
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"interactive": 'select',
							"questionId": selQuestionId,
							"selected": selected
						},
						success: function() {
							layer.alert("发送成功");
							if(allFlag == 'all') {
								$($scope.bookQuestionList).each(function() {
									this.select = true;
								});
							}else {
								$scope.currentBookQues.select = true;
							}
						}
					});
				}
			});
			
			
			
			//专门负责处理问卷的controller
			app.controller('surveyCtrl', function($scope, $http, $interval) {
				//加载所有的问卷题目
				common.ajax2({
					$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeSurveyType": "2"
					},
					url: '/surveyExerciseBook/findExerciseBook',
					success: function(res) {
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						}); //组装题干以供展示
						$scope.surveyQuestionList = res.data; //所有题目
						$scope.currentSurveyQues = res.data[0]; //当前选中题目，默认为第一题
					}
				});
				
				//接收学生回答
				$scope.$on('surveyMessage', function(event, data) {
					console.log(data);
				});
				
				//接收学生加入课堂
				$scope.$on('allStudents', function(event, data) {
					$scope.allStudents = data.students;
				});
				
				//点击学生头像选中学生
				$scope.selectStudent = function(student) {
					student.select = !student.select;
				}

				//全选学生
				$scope.all = function() {
					$($scope.allStudents).each(function() {
						this.select = true;
					});
				};

				//发送问题
				$scope.publicQues = function() {
					var timestamp = new Date().getTime() + ""; //时间戳
					var selectedArr = []; //被选中的学生id数组
					var selected = ''; //被选中的学生id
					$($scope.allStudents).each(function() {
						if(this.select) {
							selectedArr.push(this.id);
						}
					});
					var selQuestionIdArr = [];//被选中的题目id数组
					var selQuestionId = '';//被选中的题目id
					$($scope.surveyQuestionList).each(function() {
						selQuestionIdArr.push(this.id);
					});
					selected = selectedArr.join(","); //被选中的学生id，用逗号分隔
					selQuestionId = selQuestionIdArr.join(",");//被选中的题目id，用逗号分隔
					common.ajax2({
						$scope: $scope,
						$http: $http,
						url: '/interactSurvey/send',
						data: {
							"category": 'people',
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"interactive": 'select',
							"questionId": selQuestionId,
							"selected": selected
						},
						success: function() {
							layer.alert("发送成功");
						}
					});
				}
			});
			
			

			//专门负责处理任务的controller
			app.controller('taskCtrl', function($scope, $http, $interval) {
				//加载所有的提问题目
				common.ajax2({
					$scope: $scope,
					$http: $http,
					data: {
						"chapterId": localStorage.getItem('currentNodeId'),
						"courseId": localStorage.getItem('courseId'),
						"exeBookType": "1"
					},
					url: '/taskExerciseBook/findExerciseBook',
					success: function(res) {
						res.data = common.addTitleForQuestion({
							questionArr: res.data
						}); //组装题干以供展示
						$scope.taskQuestionList = res.data; //所有题目
						$scope.currentTaskQues = res.data[0]; //当前选中题目，默认为第一题
					}
				});
				
				$scope.$on('taskMessage', function(event, data) {
					//将学生的回答情况暂存至相对应的题目中
					$($scope.taskQuestionList).each(function() {
						var that = this;
						if(!that.answers) {
							that.answers = [];
						}
						$(data.students).each(function() {
							if(this.askAnswer.questionId && that.id == this.askAnswer.questionId) {
								that.answers.push({
									studentId: this.id,
									answer: this.askAnswer.answer
								});
							}
						});
					});
				});
				
				$scope.$on('allStudents', function(event, data) {
					$(data.students).each(function() {
						this.show = true;
					});
					$scope.allStudents = data.students;
				})

				$scope.currentTaskQues = {}; //当前选中的提问问题				

				//点击题号 
				$scope.chooseQuestion = function(question) {
					$scope.currentTaskQues = question;
					//清空学生的回答信息
					$($scope.allStudents).each(function() {
						this.answer = "";
						this.select = false;
					});
					//如果该题目已有回答，将该题目置为选中状态
					if($scope.currentTaskQues.answers && $scope.currentTaskQues.answers.length > 0) {
						$scope.currentTaskQues.select = true;
						$scope.showAnswer(); //显示回答
					}
				};

				//点击学生头像选中学生
				$scope.selectStudent = function(student) {
					student.select = !student.select;
				}

				//全选学生
				$scope.all = function() {
					$($scope.allStudents).each(function() {
						this.select = true;
					});
				};

				//发送问题
				$scope.sub = function() {
					var timestamp = new Date().getTime() + ""; //时间戳
					var selected = []; //被选中的学生id数组
					$($scope.allStudents).each(function() {
						if(this.select) {
							selected.push(this.id);
						}
					});
					$scope.currentTaskQues.selectStudents = selected.join(","); //被选中的学生id，用逗号分隔
					$scope.currentTaskQues.select = true; //将该问题置为已提问状态
					common.ajax2({
						$scope: $scope,
						$http: $http,
						operate: true,
						url: '/TaskInteract/send',
						data: {
							"category": 'people',
							"circleId": localStorage.getItem("circleId"),
							"cut": timestamp,
							"questionId": $scope.currentTaskQues.id,
							"selected": $scope.currentTaskQues.selectStudents
						},
						success: function() {
						}
					});
				}

				//显示学生回答的答案
				$scope.showAnswer = function() {
					$scope.removeAllAnswer();
					//遍历题目中的answer列表，再遍历学生列表，将学生id与题目中答题学生id对应，显示学生的回答
					$($scope.currentTaskQues.answers).each(function() {
						var that = this;
						$($scope.allStudents).each(function() {
							if(that.studentId == this.id) {
								this.answer = that.answer;
							}
						});
					});
				};

				//清除学生的答案和选中状态,并将所有学生都显示
				$scope.removeAllAnswer = function() {
					$($scope.allStudents).each(function() {
						this.select = false;
						this.answer = "";
						this.show = true;
					});
				};
			});



			//轮播图集
			var LayersliderInit = function() {
				return {
					initLayerSlider: function() {
						$('#layerslider').layerSlider({
							skinsPath: '../../../assets/global/plugins/slider-layer-slider/skins/',
							skin: 'fullwidth',
							thumbnailNavigation: 'hover',
							hoverPrevNext: false,
							responsive: false,
							responsiveUnder: 960,
							layersContainer: 960
						});
					}
				};
			}();
			//初始化轮播图集
			LayersliderInit.initLayerSlider();
			//显示提问交互
			function showQuestion() {
				$(".interSingle").hide("slow");
				$("#question").show("slow");
			}
			//关闭提问交互
			function closeQuestion() {
				$("#question").hide("slow");
			}
			//显示练习交互
			function showBookQuestion() {
				$(".interSingle").hide("slow");
				$("#bookQuestion").show("slow");
			}
			//关闭练习交互
			function closeBookQuestion() {
				$("#bookQuestion").hide("slow");
			}
			//显示问卷交互
			function showSurveyQuestion() {
				$(".interSingle").hide("slow");
				$("#surveyQuestion").show("slow");
			}
			//关闭问卷交互
			function closeSurveyQuestion() {
				$("#surveyQuestion").hide("slow");
			}
			//显示任务交互
			function showTaskQuestion() {
				$(".interSingle").hide("slow");
				$("#taskQuestion").show("slow");
			}
			//关闭任务交互
			function closeTaskQuestion() {
				$("#taskQuestion").hide("slow");
			}
		</script>
	</body>

</html>