<div class="portlet box yellow">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"></i>报名录入
			</div>
		</div>
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form action="#" class="form-horizontal">
				<div class="form-body">
					<div class="form-group">
                        <div class="col-md-2">
                            <div class="col-md-3 mgImg-left">
                                <img src="/assets/admin/layout4/img/avatar1.jpg" alt="">
                            </div>
                        </div>
                        <div style="margin-left: -197px" class="col-md-10">
                            <label class="col-md-3 control-label">姓名:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Enter text">
                            </div>
                            <div style="position:relative;left:-241px;">
                                <label class="col-md-6 control-label">学号:</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter text">
                                </div>
                            </div>
                        </div>
					</div>
					<div class="form-group">
							<div class="col-md-6">
								<label class="col-md-3 control-label">身份证号:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">民族:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">手机:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">出生年月:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">毕业年月:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">通讯地址:</label>
								<div class="col-md-9">
									<input type="text" class="form-control width-100" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">邮政编码:</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3 control-label">工作单位:</label>
								<div class="col-md-9">
									<input type="text" class="form-control width-100" placeholder="Enter text">
								</div>
							</div>
							<div class="col-md-6">
								<label class="col-md-6 control-label">性别:</label>
								<div class="col-md-6" style="height: 32px; display: flex; margin-bottom: 15px;">
									<input class="checkRadio" type="radio">
									<div class="choiceMan"> 男</div>
									<input class="checkRadio" type="radio" >
									<div class="choiceMan"> 女</div>
								</div>
								<label class="col-md-6 control-label">文化程度:</label>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-6 control-label">其他号码:</label>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-6 control-label">政治面貌:</label>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-6 control-label">毕业证号:</label>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-6 control-label">电子邮箱:</label>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
							</div>
							<div class="col-md-12">
								<label class="col-md-2 control-label">毕业证书:</label>
								<div class="col-md-3">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3">
									<button class="btn btn-info btn-left">上传</button>
								</label>
								<div class="col-md-3">
									<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
								</div>
							</div>
							<div class="col-md-12">
								<label class="col-md-2 control-label">身份证:</label>
								<div class="col-md-3">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3">
									<button class="btn btn-info btn-left">上传</button>
								</label>
								<div class="col-md-3">
									<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
									<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
								</div>
							</div>
							<div class="col-md-12">
								<label class="col-md-2 control-label">身份证:</label>
								<div class="col-md-3">
									<input type="text" class="form-control" placeholder="Enter text">
								</div>
								<label class="col-md-3">
									<button class="btn btn-info btn-left">上传</button>
								</label>
								<div class="col-md-3">
									<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
								</div>
							</div>
							<div class="col-md-6">
									<label class="col-md-3 control-label">报名编号:</label>
									<div class="col-md-9">
										<input type="text" class="form-control" placeholder="Enter text">
									</div>
									<label class="col-md-3 control-label">学历层次:</label>
									<div class="col-md-9">
										<input type="text" class="form-control" placeholder="Enter text">
									</div>
								</div>
								<div class="col-md-6">
									<label class="col-md-6 control-label">报名时间:</label>
									<div class="col-md-6">
										<input type="text" class="form-control" placeholder="Enter text">
									</div>
									<label class="col-md-6 control-label">学习中心:</label>
									<div class="col-md-6">
										<input type="text" class="form-control" placeholder="Enter text">
									</div>
								</div>
								<div class="col-md-12">
									<label class="width-20 col-md-2 control-label">考试地点:</label>
									<div class="col-md-10">
										<input type="text" class="form-control width-80" placeholder="Enter text">
									</div>
								</div>
								<div class="col-md-12">
									<label class="width-20 col-md-2 control-label">学习中心:</label>
									<div class="col-md-10">
										<input type="text" class="form-control width-80" placeholder="Enter text">
									</div>
								</div>
								<label class="col-md-3 control-label">是否免试:</label>
								<div class="col-md-3" style="height: 32px; display: flex; margin-bottom: 15px;">
									<input class="checkRadio" type="radio">
									<div class="choiceMan"> 是</div>
									<input class="checkRadio" type="radio" >
									<div class="choiceMan"> 否</div>
								</div>
								<div style="margin-left: 600px">
									<label class="col-md-3 control-label">入学成绩:</label>
									<div class="col-md-3">
										<input type="text" class="form-control" placeholder="Enter text">
									</div>
								</div>
								<label class="col-md-3 control-label">报考信息确认:</label>
								<div class="col-md-3" style="height: 32px; display: flex; margin-bottom: 15px;">
									<input class="checkRadio" type="radio">
									<div class="choiceMan"> 已确认</div>
									<input class="checkRadio" type="radio" >
									<div class="choiceMan"> 未确认</div>
								</div>
								<div  style="margin-left: 600px">
									<label class="col-md-3 control-label">是否录取:</label>
									<div class="col-md-3" style="height: 32px; display: flex; margin-bottom: 15px;">
										<input class="checkRadio" type="radio">
										<div class="choiceMan"> 是</div>
										<input class="checkRadio" type="radio" >
										<div class="choiceMan"> 否</div>
									</div>
								</div>
								<div class="col-md-12" style="text-align: center">
									<button style="width: 200px" class="btn btn-md blue" ng-click=""> 确定 </button>
								</div>
						</div>
				</div>
			</form>
			<!-- END FORM-->
		</div>
	</div>
	<style>
		.form-horizontal{
			padding: 10px 20px;
		}
		.form-horizontal .mgImg-left{
			left: 100px;
			position: relative;
		}
		.form-horizontal .mgImg-left img{
			width:80px;
			height: 80px;
		}
		.form-control{
			margin-bottom: 15px;
		}
		.choiceMan{
			margin-top: 9px;
			margin-left: 3px;
		}
		.certificate{
			margin-top: -5px;
		}
		.btn-left{
			margin-left: -5px;
		}
		.width-20{
			margin-left: -52px;
		}
	</style>