<style>
	form p {
		line-height: 35px;
	}
	.form-horizontal {
		padding: 10px 20px;
	}
	
	.form-horizontal .mgImg-left {
		left: 100px;
		position: relative;
	}
	
	.form-horizontal .mgImg-left img {
		width: 80px;
		height: 80px;
	}
	
	.form-control {
		margin-bottom: 15px;
	}
	
	.choiceMan {
		margin-top: 9px;
		margin-left: 3px;
	}
	
	.certificate {
		margin: -3px 5px 15px 2px;
	}
	
	.btn-left {
		margin-left: -5px;
	}
	.form-horizontal .md-radio-list {
		margin-top: 7px;
	}
</style>

<div class="portlet box yellow">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i>报名审核
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form action="#" class="form-horizontal">
			<div class="form-body" ng-controller="ExamineCtrl"> 
				<div class="form-group" ng-repeat="item in audiTing">
					<div class="col-md-12">
						<div class="col-md-2" style="text-align: right;">
							<img src="{{item.titleImg}}"  style="width: 70px; height: 70px;" alt="">
						</div>
						<div class="col-md-10">
							<div class="col-md-6">
								<label class="col-md-6 control-label">姓名:</label>
								<div class="col-md-6">
									<p>{{item.name}}</p>
								</div>
							</div>
							<div class="col-md-6">
								<label class="col-md-6 control-label">学号:</label>
								<div class="col-md-6">
									<p>{{item.studentID}}</p>
								</div>
							</div>
							<div class="col-md-6">
								<label class="col-md-6 control-label">身份证号:</label>
								<div class="col-md-6">
									<p>{{item.id}}</p>
								</div>
							</div>
							<div class="col-md-6">
								<label class="col-md-6 control-label">性别:</label>
								<div class="col-md-6">
									<p>{{item.sex}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-6">
							<label class="col-md-3 control-label">民族:</label>
							<div class="col-md-9">
								<p>{{item.nation}}</p>
							</div>

							<label class="col-md-3 control-label">手机:</label>
							<div class="col-md-9">
								<p>{{item.phone}}</p>
							</div>
						</div>
						<div class="col-md-6">
							<label class="col-md-3 control-label">出生年月:</label>
							<div class="col-md-9">
								<p>{{item.birthDate}}</p>
							</div>
							<label class="col-md-3 control-label">毕业年月:</label>
							<div class="col-md-9">
								<p>{{item.graduationDate}}</p>
							</div>
						</div>
					</div>
						<div class="col-md-12">
							<div class="col-md-6">
								<label class="col-md-3 control-label">通讯地址:</label>
								<div class="col-md-9">
									<p>{{item.addressPhone}}</p>
								</div>
								<label class="col-md-3 control-label">邮政编码:</label>
								<div class="col-md-9">
									<p>{{item.zipCode}}</p>
								</div>
							</div>
							<div class="col-md-6">
								<label class="col-md-3 control-label">工作单位:</label>
								<div class="col-md-9">
									<p>{{item.workUnit}}</p>
								</div>
								<label class="col-md-3 control-label">文化程度:</label>
								<div class="col-md-9">
									<p>{{item.cultureDegree}}</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-6">
								<label class="col-md-3 control-label">其他号码:</label>
								<div class="col-md-9">
									<p>{{item.otherNumber}}</p>
								</div>
								<label class="col-md-3 control-label">政治面貌:</label>
								<div class="col-md-9">
									<p>{{item.politicsFace}}</p>
								</div>
							</div>
							<div class="col-md-6">
								<label class="col-md-3 control-label">毕业证号:</label>
								<div class="col-md-9">
									<p>{{item.graduationID}}</p>
								</div>
								<label class="col-md-3 control-label">电子邮箱:</label>
								<div class="col-md-9">
									<p>{{item.email}}</p>
								</div>
							</div>
						</div>
					<div class="col-md-12">
						<div class="col-md-6">
							<label class="col-md-3 control-label">毕业证书:</label>
							<div class="col-md-9">
								<img class="certificate" src="{{item.graduationImg}}" alt="">
							</div>
						</div>
						<div class="col-md-6">
							<label class="col-md-3 control-label">身份证(正/反):</label>
							<div class="col-md-9">
								<img class="certificate" src="{{item.idImgJust}}" alt="">
								<img class="certificate" src="{{item.idImgBack}}" alt="">
							</div>
						</div>
						<!-- <div class="col-md-6">
							<label class="col-md-3 control-label">身份证:</label>
							<div class="col-md-9">
								<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
							</div>
						</div> -->
					</div>
					<div class="col-md-12">
						<div class="col-md-6">
							<label class="col-md-3 control-label">报名编号:</label>
							<div class="col-md-9">
								<p>{{item.applyNumber}}</p>
							</div>
							<label class="col-md-3 control-label">学历层次:</label>
							<div class="col-md-9">
								<p>{{item.education}}</p>
							</div>
						</div>
						<div class="col-md-6">
							<label class="col-md-3 control-label">报名时间:</label>
							<div class="col-md-9">
								<p>{{item.registerTime}}</p>
							</div>
							<label class="col-md-3 control-label">学习中心:</label>
							<div class="col-md-9">
								<p>{{item.studyCore}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-6">
							<label class="col-md-3 control-label">考试地点:</label>
							<div class="col-md-9">
								<p>{{item.examinationPlace}}</p>
							</div>
							<label class="col-md-3 control-label">学习中心:</label>
							<div class="col-md-9">
								<p>{{item.studyCores}}</p>
							</div>
						</div>
						<div class="col-md-6">
							<label class="col-md-3 control-label">是否免试:</label>
							<div class="col-md-9">
								<p>{{item.whetherAdopt}}</p>
							</div>
							<label class="col-md-3 control-label">报考信息确认:</label>
							<div class="col-md-9">
								<p>{{item.signConfirm}}</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-6">
								<label class="col-md-3 control-label">入学成绩:</label>
								<div class="col-md-9">
									<p>{{item.schoolAchiment}}</p>
								</div>
							</div>
							<div class="col-md-6">
								<label class="col-md-3 control-label">是否录取:</label>
								<div class="col-md-9">
									<p>{{item.admission}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="text-align: center">
						<button style="width: 200px" class="btn btn-md blue" ng-click=""> 审核通过 </button>
						<button style="width: 200px" class="btn btn-md red" ng-click=""> 审核不通过 </button>
					</div>
				</div>
			</form>
		<!-- END FORM-->
		</div>
	</div>
<script>
	function ExamineCtrl($scope, $http) {
		$scope.audiTing = [
			{
				titleImg:"/assets/admin/layout4/img/avatar1.jpg",
				name:"钱七",
				studentID:"4103343",
				id:"412824197408094370",
				sex:"男",
				nation:"汉",
				phone:"17621310705",
				birthDate:"19930201",
				graduationDate:"2019-06-01",
				addressPhone:"文化路",
				zipCode:"463900",
				workUnit:"计算机",
				cultureDegree:"大学毕业",
				otherNumber:"13653676618",
				politicsFace:"群众",
				graduationID:"74110",
				email:"292272855@163.com",
				graduationImg:"/assets/admin/layout4/img/avatar1.jpg",
				idImgJust:"/assets/admin/layout4/img/avatar1.jpg",
				idImgBack:"/assets/admin/layout4/img/avatar1.jpg",
				applyNumber:"AA1839",
				education:"大学毕业",
				registerTime:"2018-04-06",
				studyCore:"郑大北",
				examinationPlace:"新郑大",
				studyCores:"北校区",
				whetherAdopt:"是",
				signConfirm:"已确认",
				schoolAchiment:"优",
				admission:"是"
			}
		]
	}
</script>