<div ng-controller="nodeTreeCtrl">
	<div id="tree" class="tree-demo"></div>
	
	<div class="modal fade" id="createNodeModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">课程信息</h4>
				</div>
				<div class="modal-body">
					<div class="portlet">
						<div class="portlet-body">
							<div role="form">
								<div class="form-body">
									<div class="row" style="margin-bottom: 40px;">
										<div class="col-md-12">
											<div class="form-group form-md-line-input">
												<input type="text" class="form-control" id="nodeName" ng-model="nodeName" placeholder="请输入章节名称" />
												<label for="form_control_1">章节</label>
												<span class="help-block">名称不得超过20个字符</span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-actions noborder">
									<button type="button" class="btn blue" ng-click="createNode()">提交</button>
									<button type="button" class="btn default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>

<script>
	function nodeTreeCtrl($scope, $http) {
		$scope.flag = "";
		//根据课程id查询章节树
		common.ajax({
			$scope: $scope,
			$http: $http,
			url: '/courseChapter/findByCourseId',
			data: {
		    	courseId: localStorage.getItem('courseId')
		    },
		    success: function(data) {
		    	data.data.push({
		    		'id': '0',
		    		"parent" : "#",
					'text': '电子商务基础',
					'state': {
						'opened': true
					}
		    	});
		    	$scope.initTree(data.data);
		    }
		})
		
		
		
		$scope.initTree = function(data) {
			$('#tree').jstree({
				'core': {
					"check_callback": true,
					'data': data,
//					'data': [{
//						'id': '0',
//						'text': '第一章 电子商务概述',
//						'state': {
//							'opened': true
//						},
//						'children': [{
//							'id': 'node_1_1',
//							'text': '1.电子商务的内涵',
//							'icon': 'fa fa-send icon-state-success',
//							'state': {
//								'opened': true,
//								'selected': true
//							},
//						}, {
//							'id': 'node_1_2',
//							'text': '2.电子商务的产生背景和发展过程',
//							'icon': 'fa fa-send icon-state-success'
//						}, {
//							'id': 'node_1_3',
//							'text': '3.电子商务的作用与影响',
//							'icon': 'fa fa-send-o icon-state-success'
//						}]
//					}, {
//						'id': 'node_2',
//						'text': '第二章 Internet 基础知识',
//						'state': {
//							'opened': true
//						},
//						'children': [{
//							'id': 'node_2_1',
//							'text': '1.Internet 概述 ',
//							'icon': 'fa fa-send-o icon-state-success'
//						}, {
//							'id': 'node_2_2',
//							'text': '2.Internet 的主要功能',
//							'icon': 'fa fa-send-o icon-state-success'
//						}]
//					}, {
//						'id': 'node_3',
//						'text': '第三章 电子商务的主要模式',
//						'state': {
//							'opened': true
//						},
//						'children': [{
//							'id': 'node_3_1',
//							'text': '1.电子商务的框架模型',
//							'icon': 'fa fa-send-o icon-state-success'
//						}, {
//							'id': 'node_3_2',
//							'text': '2.企业与企业之间的电子商务模式',
//							'icon': 'fa fa-send-o icon-state-success'
//						}, {
//							'id': 'node_3_3',
//							'text': '3.企业与消费者之间电子商务模式',
//							'icon': 'fa fa-send-o icon-state-success'
//						}]
//					}]
				},
				"plugins": ['contextmenu'],
				"contextmenu": {
					"items": {
						"create": null,
						"rename": null,
						"remove": null,
						"ccp": null,
						"新建章节": {
							"label": "新建章节",
							"action": function(data) {
								$scope.flag = "create";
								$scope.nodeName = "";
								$("#createNodeModal").modal("show");
							}
						},
						"编辑章节": {
							"label": "编辑章节",
							"action": function(data) {
								$scope.flag = "rename";
								$scope.nodeName = $scope.currentNode.text;
								$("#nodeName").val($scope.currentNode.text);
								$("#createNodeModal").modal("show");
							}
						},
						"发布章节": {
							"label": "发布章节",
							"action": function(data) {
//								var r = confirm("确定要发布该章节吗");
//								if(r) {
//									
//								}
							}
						},
						"删除章节": {
							"label": "删除章节",
							"action": function(data) {
								var r = confirm("确定要删除该章节吗");
								if(r) {
									//删除章节
									common.ajax({
										$scope: $scope,
										$http: $http,
										operate: true,
										url: '/courseChapter/deleteById',
										data: {
										  "chapterId": $scope.currentNode.id,
										},
									    success: function(data) {
									    	//删除节点
									    	var ref = $('#tree').jstree(true),
												sel = ref.get_selected();
											if(!sel.length) {
												return false;
											}
											ref.delete_node(sel);
									    }
									});
								}
							}
						}
					}
				}
			});
		}

		$scope.createNode = function() {
			var ref = $('#tree').jstree(true),
				sel = ref.get_selected();
			if(!sel.length) {
				return false;
			}
			sel = sel[0];
			$("#createNodeModal").modal("hide");
			if($scope.flag == "create") {
				//创建章节
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/courseChapter/save',
					data: {
					  "chapterName": $scope.nodeName,
					  "chapterParentId": $scope.currentNode.id,
					  "chapterType": 1,
					  "courseId": localStorage.getItem('courseId')
					},
				    success: function(data) {
				    	//创建节点
				    	sel = ref.create_node(sel, {
				    		id: data.data.chapterId,
							text: $scope.nodeName,
							'icon': 'fa fa-briefcase icon-state-success',
							'state': {
								'opened': true
							}
						});
				    }
				});
				
			} else if($scope.flag == "rename") {
				//修改章节名称
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/courseChapter/edit',
					data: {
					  "chapterName": $scope.nodeName,
					  "chapterId": $scope.currentNode.id
					},
				    success: function(data) {
				    	//修改节点名称
				    	ref.rename_node(sel, $scope.nodeName);
				    }
				});
				
			}
		};
		
		$('#tree').bind("activate_node.jstree", function(obj, e) {
			// 处理代码
			// 获取当前节点
			$scope.currentNode = e.node;
			$scope.$emit('currentNode', $scope.currentNode);
		});
	}
</script>