<div class="portlet light" ng-controller="zhishidianCtrl">
	<div class="portlet-title">
		<div class="caption" style="font-size: 14px;">
			<i class="icon-settings" style="font-size: 12px;"></i>知识点
		</div>
		<div class="actions">
			<button class="btn btn-circle btn-info btn-sm" ng-click="createKp();">创建 </button>
		</div>
		<div class="inputs">
			<div class="portlet-input input-small input-inline">
				<div class="input-icon right">
					<input type="text" id="kp" class="form-control form-control-solid" placeholder="请输入知识点">
				</div>
			</div>
		</div>
	</div>
	<div class="portlet-body" id="kpContent">
		<a href="javascript:;" class="btn btn-circle btn-sm btn-danger" name="kp">
			<span>章节</span>
		</a>
		<a href="javascript:;" class="btn btn-circle btn-sm btn-info" name="kp">
			<span>复合知识点</span>
		</a>
		<a href="javascript:;" class="btn btn-circle btn-sm btn-info" name="kp">
			<span>电子商务的定义</span>
			<i class="fa fa-times" name="remove"></i>
		</a>
		<a href="javascript:;" class="btn btn-circle btn-sm btn-info" name="kp">
			<span>电子商务的概念</span>
			<i class="fa fa-times" name="remove"></i>
		</a>
	</div>
</div>
	
<script>
	function zhishidianCtrl($scope, $rootScope) {
		$rootScope.kps = [];
        $scope.createKp = function() {
        	var html = '<a class="btn btn-circle btn-sm btn-info" name="kp"><span>'+$("#kp").val()+'</span><i class="fa fa-times" name="remove"></i></a>';
        	$("#kpContent").append(html);
        };
        
        $("#kpContent").on("click", "a[name='kp']", function() {
			$("#kpContent a[name='kp']").removeClass("btn-danger").addClass("btn-info");
			$(this).removeClass("btn-info").addClass("btn-danger");
			var html = $(this).children("span").html();
			$scope.$apply(function() {　　
				if(html != "无") {
					$rootScope.currKP = '-' + html;
				} else {
					$rootScope.currKP = '';
				}
			});

		});
		
		$("#kpContent").on("click", "i[name='remove']", function() {
			$(this).closest("a").remove();
			return false;
		});
	}
</script>
<!-- BEGIN MAIN JS -->
