<style>
	.certificate {
		width: 100px;
		height: 100px;
		margin-left: 105px;
	}
	
	.leftText {
		margin-left: -9px;
		text-align: center;
		font-size: 19px;
		margin-top: 10px;
	}
</style>
	
<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
	<div class="form-body">
		<div class="form-group">
			<div class="mentWarp">
				<div class="col-md-3">
					<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
					<div class="leftText">
						<p>高等数学</p>
						<p>分数:98</p>
						<p>已通过</p>
					</div>
				</div>
				<div class="col-md-3">
					<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
					<div class="leftText">
						<p>高等数学</p>
						<p>分数:98</p>
						<p>已通过</p>
					</div>
				</div>
				<div class="col-md-3">
					<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
					<div class="leftText">
						<p>高等数学</p>
						<p>分数:98</p>
						<p>已通过</p>
					</div>
				</div>
				<div class="col-md-3">
					<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
					<div class="leftText">
						<p>高等数学</p>
						<p>分数:98</p>
						<p>已通过</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- END FORM-->