<style>
	.product-item {
		cursor: pointer;
	}
</style>
<div class="row" ng-controller="courseListTplCtrl">
	<div class="col-md-12">
		<div class="owl-carousel owl-carousel5 owl-theme" style="opacity: 1; display: block;">
			<div class="owl-wrapper-outer">
				<div class="owl-wrapper" style="width: 100%; left: 0px; display: block;">
					<div class="owl-item active" style="width: 228px;" ng-repeat="row in myCourseList">
						<div>
							<div class="product-item" ng-click="changeCourse(row)">
								<div class="pi-img-wrapper">
									<img src="{{row.topPicSrc}}" class="img-responsive" style="width: 194px;height: 194px;" alt="暂无图片">
								</div>
								<h3 style="text-align: center;">
									<a>{{row.courseName}}
									<span ng-if='row.alias'>({{row.alias}})</span>
									</a>
								</h3>
								<!-- <div style="text-align: center;" ng-show="flag">
									<button class="btn btn-sm btn-primary">发布课程</button>
									<button class="btn btn-sm btn-danger">删除课程</button>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function courseListTplCtrl($scope, $rootScope, $http) {
		var url = "";
		$scope.flag = false;
		$scope.changeCourse = function(course) {
			$rootScope.currCourse = course
			$rootScope.currCourseId = course.courseId
			// localStorage.setItem('currCourseId', $rootScope.currCourse.courseId)
			if($scope.flag) {
				window.location.href = '#/' + url + '.html';
			} else {
				$("#courseListModal").modal("hide");
			}
		}
		
		$scope.$on('goUrl', function(d, data) {
			if(data) {
				url = data;
				$scope.flag = true;
			}
		});
	}
</script>