<link href="../../../assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<div role="form" ng-controller="basicCtrl">
	<div class="form-body">
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-4">
				<div class="form-group form-md-line-input">
					<input id="courseName" type="text" class="form-control" placeholder="请输入课程名称">
					<label for="form_control_1">名称<span style="color: red;">*</span></label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-md-line-input has-success">
					<input id="courseNumber" type="text" class="form-control" ng-model="course.alias" placeholder="请输入课程别名">
					<label for="form_control_2">别名</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-md-line-input">
					<input id="courseName" type="num" class="form-control" ng-model="course.learningTime" placeholder="请输入课时">
					<label for="form_control_1">课时</label>
				</div>
			</div>
		</div>
		<!-- <div class="row" style="margin-bottom: 40px;">
			<div class="col-md-4">
				<div class="form-group form-md-line-input has-success">
					<input id="courseNumber" type="text" class="form-control" ng-model="course.videoPercentage" placeholder="观看视频时长所占成绩比重">
					<label for="form_control_2">学习时长占比（单位：%）<span style="color: red;">*</span></label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-md-line-input has-success">
					<input id="courseNumber" type="text" class="form-control" ng-model="course.jobsPercentage" placeholder="平时作业情况所占成绩比重" readonly="readonly">
					<label for="form_control_2">平时作业占比（单位：%）<span style="color: red;">*</span></label>
				</div>
			</div>
		</div> -->
		
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-12">
				<div class="form-group form-md-checkboxes">
					<label>封面图片</label>
					<a href="javascript:;" class="thumbnail" style="width: 160px;">
						<img src="{{course.topPicSrc}}" alt="100%x180" style="height: 180px; width: 100%; display: block;">
					</a>
					<div id="topPicSrc" class="filePicker">选择文件</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">课程描述</label>
					<div name="summernote" id="summernoteMiaoshu"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-actions noborder" style="text-align: center;">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
	</div>
</div>

<script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script>
	function basicCtrl($scope, $http, $location, $rootScope) {
		var path = $location.path();
		$scope.course = {
			videoPercentage: 20,
			topPicSrc: 'https://e.hnfts.cn/img/zanwu.jpg'
		};
		
		$scope.$watch('course', function(newVal,oldVal) {
			$scope.course.videoPercentage = parseInt($scope.course.videoPercentage)
			if($scope.course.videoPercentage>100) {
				layer.alert('请输入小于等于100的正整数')
				return false
			}
			$scope.course.jobsPercentage = 100 - $scope.course.videoPercentage
		}, true)
		
		//加载课程信息(如果为编辑)
		$scope.loadCourseInfo = function() {
			console.log(111)
			if (path.indexOf("courseEdit") >=0 ) {
				common.ajax({
					$scope: $scope,
					$http: $http,
					url: '/course/getCourse',
					data: {
						'courseId': $rootScope.currCourseId
					},
					success: function(data) {
						//课程信息
						$scope.course = data;
						//课程描述
						console.log($scope.course)
						$('#summernoteMiaoshu').code($scope.course.courseDescribe);
						//课程名称
						$("#courseName").val($scope.course.courseName)
						
						//处理封面
						if (!$scope.course.topPicSrc) {
							$scope.course.topPicSrc = 'https://e.hnfts.cn/img/zanwu.jpg';
						}
					}
				});
			}
		}
		
		$scope.$watch('currCourseId', function(newVal,oldVal) {
			console.log(newVal)
			if(newVal) {
				$scope.loadCourseInfo();
			}
		})

		$scope.sub = function() {
			//校验课程名称
			if(!$scope.course.courseName || $scope.course.courseName == "") {
				layer.alert("课程名称不能为空");
				return false;
			}
			
			//课程描述
			var courseDescribe = $('#summernoteMiaoshu').code();
			
			$scope.course.courseDescribe = courseDescribe;

			if (path.indexOf("courseAdd") != -1) {
				//添加课程
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/save',
					data: $scope.course,
					success: function(data) {
						$rootScope.currCourseId = data.courseId
						layer.confirm('提交成功，即将转到教辅资料库添加资料', {
							btn: ['确定'] //按钮
						}, function() {
							//加载课程列表
							common.ajax({
								$scope: $scope,
								$http: $http,
								url: '/course/findMyCourse',
								data: {
									sortVo: {
										page: 0,
										size: common.pageSize
									}
								},
								success: function(res) {
									$rootScope.myCourseList = res;
									for(let value of $rootScope.myCourseList) {
										if(value.courseId == $rootScope.currCourseId) {
											$rootScope.currCourse = value
										}
									}
									window.location.href = "#/assistant.html";
									layer.closeAll('dialog');
								}
							});
							
						});
					}
				});
			} else {
				$scope.course.courseId = $rootScope.currCourseId;
				//编辑课程
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/save',
					data: $scope.course,
					success: function(data) {
						console.log(data);
					}
				});
			}
		}

		//初始化富文本编辑器
		$('#summernoteMiaoshu').summernote({
			height: 300
		});

		//上传封面图片
		common.fileUpload({
			id: 'topPicSrc',
			type: 'pic',
			success: function(file, response) {
				$scope.$apply(function() {
					$scope.course.topPicSrc = response.fileUrl;
				});
			}
		});
		
		//课程自动补全
		$scope.autocomplete = function() {
			let data  = []
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					page: 0,
					size: 10000
				},
				url: '/onLineCourseDic/findAll',
				success: function(res) {
					console.log(res)
					for(let value of res) {
						data.push({
							label: value.courseName,
							value: value.courseId
						})
					}
				}
			});
			
			$("#courseName").autocomplete({
				minLength: 0,
				delay: 0,
		    //数据源
		    source: data,
				focus: function( event, ui ) {
					$( "#courseName" ).val( ui.item.label );
					return false;
				},
				select: function( event, ui ) {
					console.log(ui.item.value +"     "+ ui.item.label)
					$scope.course.courseName = ui.item.label;
					$scope.course.courseNumber = ui.item.value;
					// $scope.$apply(function() {
					// 	
					// })
					return false;
				}
			}).focus(function () {
				$(this).autocomplete("search");//autocomplete 获取焦点时得到显示列表
			});
		}
		$scope.autocomplete()
	}
</script>
