<style>
	.form-horizontal {
		padding: 10px 20px;
	}
	
	.form-horizontal .mgImg-left {
		left: 50px;
		position: relative;
	}
	
	.form-horizontal .mgImg-left img {
		width: 80px;
		height: 80px;
	}
	
	.form-control {
		margin-bottom: 15px;
	}
	
	.choiceMan {
		margin-top: 9px;
		margin-left: 3px;
	}
	
	.certificate {
		margin-top: -5px;
	}
	
	.btn-left {
		margin-left: -5px;
	}
	
	.width-20 {
		margin-left: -52px;
	}
</style>
	
<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
	<div class="form-body">
		<div class="form-group">
			<div class="col-md-2" style="text-align: right;">
				<img src="/onLineAdmin/assets/admin/layout4/img/avatar1.jpg" style="width: 70px; height: 70px;" alt="">
			</div>
			<div class="col-md-10">
				<label class="col-md-1 control-label">姓名:</label>
				<div class="col-md-11">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-1 control-label">学号:</label>
				<div class="col-md-11">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-6">
				<label class="col-md-3 control-label">身份证号:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-3 control-label">民族:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-3 control-label">手机:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-3 control-label">出生年月:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-3 control-label">毕业年月:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
			</div>
			<div class="col-md-6">
				<label class="col-md-6 control-label">性别:</label>
				<div class="col-md-6" style="height: 32px; display: flex; margin-bottom: 15px;">
					<input class="checkRadio" type="radio">
					<div class="choiceMan"> 男</div>
					<input class="checkRadio" type="radio">
					<div class="choiceMan"> 女</div>
				</div>
				<label class="col-md-6 control-label">籍贯:</label>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-6 control-label">其他号码:</label>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-6 control-label">政治面貌:</label>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
			</div>
			<div class="col-md-8" style="margin-left:15px ">
				<label class="col-md-2 control-label">婚姻状况:</label>
				<div class="col-md-3" style="height: 32px; display: flex; margin-bottom: 15px;">
					<input class="checkRadio" type="radio">
					<div class="choiceMan"> 已婚</div>
					<input class="checkRadio" type="radio">
					<div class="choiceMan"> 未婚</div>
				</div>
				<label class="col-md-2 control-label">健康状况:</label>
				<div class="col-md-3" style="height: 32px; display: flex; margin-bottom: 15px;">
					<input class="checkRadio" type="radio">
					<div class="choiceMan"> 健康</div>
					<input class="checkRadio" type="radio">
					<div class="choiceMan"> 不健康</div>
				</div>
			</div>
			<div class="col-md-12">
				<label class="width-20 col-md-2 control-label">通讯地址:</label>
				<div class="col-md-10">
					<input type="text" class="form-control width-80" placeholder="Enter text">
				</div>
			</div>
			<div style="margin-left: -150px;" class="col-md-12">
				<label class="col-md-3 control-label">邮政编码:</label>
				<div class="col-md-3">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-3 control-label">电子邮箱:</label>
				<div class="col-md-3">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
			</div>
			<div style="margin-left: -149px" class="col-md-12">
				<label class="col-md-3 control-label">出生年月:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-3 control-label">毕业年月:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
			</div>
			<div class="col-md-6">
				<label class="col-md-3 control-label">报名编号:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
				<label class="col-md-3 control-label">学历层次:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Enter text">
				</div>
			</div>
			<div class="col-md-12">
				<div style="margin-left: -11px" class="col-md-6">
					<label class="col-md-3 control-label">民族:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
					<label class="col-md-3 control-label">手机:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-3 control-label">民族:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
					<label class="col-md-3 control-label">手机:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-8" style="margin-left:2px ">
					<label class="col-md-2 control-label">正式生:</label>
					<div class="col-md-3" style="height: 32px; display: flex; margin-bottom: 15px;">
						<input class="checkRadio" type="radio">
						<div class="choiceMan"> 正式</div>
						<input class="checkRadio" type="radio">
						<div class="choiceMan"> 非正式</div>
					</div>
					<div class="col-md-6">
						<label class="col-md-3 control-label">层次:</label>
						<div class="col-md-4">
							<input type="text" class="form-control" placeholder="Enter text">
						</div>
					</div>
				</div>
				<div style="margin-left: -156px" class="col-md-12">
					<label class="col-md-3 control-label">出生年月:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-8" style="margin-left:3px ">
					<label class="col-md-2 control-label">学信网注册:</label>
					<div class="col-md-3" style="height: 32px; display: flex; margin-bottom: 15px;">
						<input class="checkRadio" type="radio">
						<div class="choiceMan"> 已注册</div>
						<input class="checkRadio" type="radio">
						<div class="choiceMan"> 未注册</div>
					</div>
				</div>
				<div style="margin-left: -61px" class="col-md-12">
					<label class="col-md-2 control-label">身份证:</label>
					<div class="col-md-3">
						<input type="text" maxlength="18" class="form-control" placeholder="Enter text">
					</div>
					<label class="col-md-3">
                                        <button class="btn btn-info btn-left">上传</button>
                                    </label>
					<div style="margin-left: -145px" class="col-md-3">
						<img class="certificate" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
					</div>
				</div>
				<div style="margin-left: -150px;" class="col-md-12">
					<label class="col-md-3 control-label">父亲:</label>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
					<label class="col-md-3 control-label">母亲:</label>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
					<label class="col-md-3 control-label">电话:</label>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
					<label class="col-md-3 control-label">电话:</label>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div style="margin-left: -149px" class="col-md-12">
					<label class="col-md-3 control-label">家庭住址:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div style="margin-left: -150px;" class="col-md-12">
					<label class="col-md-3 control-label">户口所在地:</label>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
					<label class="col-md-3 control-label">邮编:</label>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-12" style="text-align: center">
					<button style="width: 200px" class="btn btn-md blue" ng-click=""> 确定 </button>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- END FORM-->