<style>
	.form-horizontal {
		padding: 10px 20px;
	}
	
	.form-horizontal .mgImg-left {
		left: 50px;
		position: relative;
	}
	
	.form-horizontal .mgImg-left img {
		width: 80px;
		height: 80px;
	}
	
	.form-control {
		margin-bottom: 15px;
	}
	.choiceMan {
		margin-top: 9px;
		margin-left: 3px;
	}
	
	.certificateImg {
		margin: -12px 0px 40px 105px;
		width: 70px;
		height: 70px;
	}
	
	.btn-left {
		margin-left: -5px;
	}
	
	.width-20 {
		margin-left: -52px;
	}
</style>
	
<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
	<div class="form-body">
		<div class="form-group">
			<div class="col-md-2" style="text-align: right;">
				<img src="../../../assets/admin/layout4/img/avatar1.jpg" style="width: 70px; height: 70px;" alt="">
			</div>
			<div class="col-md-10">
				<div class="col-md-12">
					<label class="col-md-3 label-text">姓名:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-12">
					<label class="col-md-3 label-text">学号:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-6">
					<label class="col-md-3 label-text">身份证号:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-6 label-text">性别:</label>
					<div class="col-md-6" style="height: 32px; display: flex; margin-bottom: 15px;">
						<div style="height: 32px; display: flex; margin-bottom: 15px;">
							<div style="margin-top: 7px" class="md-radio-inline">
								<div class="md-radio">
									<input type="radio" id="radio3" name="radio1" class="md-radiobtn">
									<label for="radio3">
									<span></span>
									<span class="check"></span>
									<span class="box"></span>
									男</label>
								</div>
								<div class="md-radio">
									<input type="radio" id="radio4" name="radio1" class="md-radiobtn" checked>
									<label for="radio4">
									<span></span>
									<span class="check"></span>
									<span class="box"></span>
									女</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<label class="col-md-3 label-text">民族:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-6 label-text">籍贯:</label>
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<label class="col-md-3 label-text">手机:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-6 label-text">其他号码:</label>
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<label class="col-md-3 label-text">出生年月:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-6 label-text">毕业年月:</label>
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4">
					<label class="col-md-6 label-text">政治面貌:</label>
					<div class="col-md-6">
						<input style="margin-left: -137px" type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-8">
					<div class="col-md-6">
						<label class="col-md-6 label-text">婚姻状况:</label>
						<div class="col-md-6" style="height: 32px; display: flex; margin-left: -120px;">
							<div style="height: 32px; display: flex; margin-bottom: 15px;">
								<div style="margin-top: 7px" class="md-radio-inline">
									<div class="md-radio">
										<input type="radio" id="radio6" name="radio2" class="md-radiobtn">
										<label for="radio6">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										结婚</label>
									</div>
									<div class="md-radio">
										<input type="radio" id="radio7" name="radio2" class="md-radiobtn" checked>
										<label for="radio7">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										未婚</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label style="margin-left: -50px" class="col-md-6 label-text">健康状况:</label>
						<div style="margin-left: -130px;" class="col-md-6" style="height: 32px; display: flex; margin-bottom: 15px;">
							<div style="height: 32px; display: flex; margin-bottom: 15px;">
								<div style="margin-top: 7px" class="md-radio-inline">
									<div class="md-radio">
										<input type="radio" id="radio8" name="radio3" class="md-radiobtn">
										<label for="radio8">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										健康</label>
									</div>
									<div class="md-radio">
										<input type="radio" id="radio9" name="radio3" class="md-radiobtn" checked>
										<label for="radio9">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										不健康</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div style="margin-left: 51px" class="col-md-4">
					<label class="width-20 col-md-6 label-text">通讯地址:</label>
					<div class="col-md-6">
						<input style="margin-left: -137px" type="text" class="form-control width-80" placeholder="Enter text">
					</div>
				</div>
				<div style="margin-left: -36px" class="col-md-4">
					<label class="col-md-6 label-text">邮政编码:</label>
					<div style="margin-left: -42px" class="col-md-6">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div style="margin-left: -65px" class="col-md-4">
					<label class="col-md-6 label-text">电子邮箱:</label>
					<div style="margin-left: -49px"class="col-md-6">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<label class="col-md-3 label-text">出生年月:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-3 label-text">毕业年月:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<label class="col-md-3 label-text">报名编号:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-3 label-text">学历层次:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4">
					<label class="col-md-6 label-text">层次:</label>
					<div class="col-md-6">
						<input style="margin-left: -137px" type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-8">
					<div class="col-md-6">
						<label class="col-md-6 label-text">正式生:</label>
						<div class="col-md-6" style="height: 32px; display: flex; margin-left: -120px;">
							<div style="height: 32px; display: flex; margin-bottom: 15px;">
								<div style="margin-top: 7px" class="md-radio-inline">
									<div class="md-radio">
										<input type="radio" id="radio6" name="radio2" class="md-radiobtn">
										<label for="radio6">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										是</label>
									</div>
									<div class="md-radio">
										<input type="radio" id="radio7" name="radio2" class="md-radiobtn" checked>
										<label for="radio7">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										否</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label style="margin-left: -50px" class="col-md-6 label-text">学信网注册:</label>
						<div style="margin-left: -130px;" class="col-md-6" style="height: 32px; display: flex; margin-bottom: 15px;">
							<div style="height: 32px; display: flex; margin-bottom: 15px;">
								<div style="margin-top: 7px" class="md-radio-inline">
									<div class="md-radio">
										<input type="radio" id="radio8" name="radio3" class="md-radiobtn">
										<label for="radio8">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										注册</label>
									</div>
									<div class="md-radio">
										<input type="radio" id="radio9" name="radio3" class="md-radiobtn" checked>
										<label for="radio9">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										未注册</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4">
					<label style="margin-left: " class="col-md-3 label-text">身份证:</label>
					<div class="col-md-9">
						<input style="margin-left: -27px" type="text" maxlength="18" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-4">
					<label class="col-md-2">
						<button class="btn btn-info btn-left">上传</button>
					</label>
				</div>
				<div class="col-md-4">
					<img style="margin-left: -350px;margin-top: -4px;" src="/assets/admin/layout4/img/avatar1.jpg" alt="">
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<label class="col-md-3 label-text">父亲:</label>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-3 label-text">电话:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-3 label-text">母亲:</label>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-md-3 label-text">电话:</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4">
					<label class="col-md-6 label-text">家庭住址:</label>
					<div style="margin-left: -53px" class="col-md-6">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div style="margin-left: 9px" class="col-md-4">
					<label class="col-md-6 label-text">户口所在地:</label>
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
				<div style="margin-left: -66px" class="col-md-4">
					<label class="col-md-6 label-text">邮编:</label>
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Enter text">
					</div>
				</div>
			</div>
				<div class="col-md-12" style="text-align: center">
					<button style="width: 200px;margin-top: 20px;" class="btn btn-md blue" ng-click=""> 确定 </button>
				</div>
		</div>
	</div>
</form>
<!-- END FORM-->