<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>课时费流水
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-body">
                <div>
                    <div class="col-md-12" style="margin-bottom: 6px">
                        <label style="margin-left:-95px" class="width-20 col-md-2 control-label">授课信息</label>
                        <label class="width-20 col-md-5 control-label">合计课时:6</label>
                        <label class="width-20 col-md-5 control-label">合计课时费:1200</label>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>课程名称</th>
                                <th>课时</th>
                                <th>课时费标准</th>
                                <th>课时费</th>
                                <th>授课时间</th>
                                <th>月份</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>张三</td>
                                <td>计算机基础</td>
                                <td>3</td>
                                <td>200</td>
                                <td>600</td>
                                <td>2019-6-3</td>
                                <td>6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>