<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li>
		<a href="#">Home</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		统计报告
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController" class="margin-top-10">
			<div class="row margin-top-10">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-green-sharp">7800<small class="font-green-sharp">人</small></h3>
								<small> 在线学生总量</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<div class="progress-info">
							<div class="progress">
								<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
								<span class="sr-only">76% </span>
								</span>
							</div>
							<div class="status">
								<div class="status-title">
									 
								</div>
								<div class="status-number">
									 76%
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-red-haze">1349</h3>
								<small>课程总量</small>
							</div>
							<div class="icon">
								<i class="icon-like"></i>
							</div>
						</div>
						<div class="progress-info">
							<div class="progress">
								<span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
								<span class="sr-only">85% </span>
								</span>
							</div>
							<div class="status">
								<div class="status-title">
									 同比上学学期
								</div>
								<div class="status-number">
									 85%
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-blue-sharp">567</h3>
								<small>新增任务</small>
							</div>
							<div class="icon">
								<i class="icon-basket"></i>
							</div>
						</div>
						<div class="progress-info">
							<div class="progress">
								<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
								<span class="sr-only">45% </span>
								</span>
							</div>
							<div class="status">
								<div class="status-title">
									 同比上月
								</div>
								<div class="status-number">
									 45%
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-purple-soft">276</h3>
								<small>课程访问总量</small>
							</div>
							<div class="icon">
								<i class="icon-user"></i>
							</div>
						</div>
						<div class="progress-info">
							<div class="progress">
								<span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
								<span class="sr-only">56% </span>
								</span>
							</div>
							<div class="status">
								<div class="status-title">
									 同比上月
								</div>
								<div class="status-number">
									 57%
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i>
						<span class="caption-subject font-green-haze bold uppercase">课程摘要</span>
						
					</div>
					<div class="actions">
						<div class="btn-group btn-group-devided" data-toggle="buttons">
							<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
							<input type="radio" name="options" class="toggle" id="option1">今天</label>
							<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
							<input type="radio" name="options" class="toggle" id="option2">本周</label>
							<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
							<input type="radio" name="options" class="toggle" id="option2">本月</label>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row list-separated">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="font-grey-mint font-sm">
								课程总数量
							</div>
							<div class="uppercase font-hg font-red-flamingo">
								13,760 <span class="font-lg font-grey-mint">门</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="font-grey-mint font-sm">
								新增课程
							</div>
							<div class="uppercase font-hg font-green-haze">
								4,760 <span class="font-lg font-grey-mint">门</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="font-grey-mint font-sm">
								课程访问量
							</div>
							<div class="uppercase font-hg font-purple">
								11,760 <span class="font-lg font-grey-mint">次</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="font-grey-mint font-sm">
								新增访问量
							</div>
							<div class="uppercase font-hg font-blue-sharp">
								9,760 <span class="font-lg font-grey-mint">次</span>
							</div>
						</div>
					</div>
					
					<div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 260px">
					</div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i>
						<span class="caption-subject font-green-haze bold uppercase">课程关注</span>
						
					</div>
					<div class="actions">
						<div class="btn-group btn-group-devided" data-toggle="buttons">
							<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
							<input type="radio" name="options" class="toggle" id="option1">今天</label>
							<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
							<input type="radio" name="options" class="toggle" id="option2">本周</label>
							<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
							<input type="radio" name="options" class="toggle" id="option2">本月</label>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row number-stats margin-bottom-30">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="stat-left">
								<div class="stat-chart">
									<!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
									<div id="sparkline_bar"></div>
								</div>
								<div class="stat-number">
									<div class="title">
										关注总量
									</div>
									<div class="number">
										2460
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="stat-right">
								<div class="stat-chart">
									<!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
									<div id="sparkline_bar2"></div>
								</div>
								<div class="stat-number">
									<div class="title">
										新增关注
									</div>
									<div class="number">
										719
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-scrollable table-scrollable-borderless">
						<table class="table table-hover table-light">
							<thead>
								<tr class="uppercase">
									<th>
										学生
									</th>
									<th>
										课程
									</th>
									<th>
										专业
									</th>
								</tr>
							</thead>
							<tr>
								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout4/img/avatar4.jpg">
								</td>
								<td>
									<a href="javascript:;" class="primary-link">电子商务基础</a>
								</td>
								<td>
									电子商务
								</td>
							</tr>
							<tr>
								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout4/img/avatar4.jpg">
								</td>
								<td>
									<a href="javascript:;" class="primary-link">计算机基础</a>
								</td>
								<td>
									电子商务
								</td>
							</tr>
							<tr>
								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout4/img/avatar4.jpg">
								</td>
								<td>
									<a href="javascript:;" class="primary-link">SQL数据库基础</a>
								</td>
								<td>
									电子商务
								</td>
							</tr>
							<tr>
								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout4/img/avatar4.jpg">
								</td>
								<td>
									<a href="javascript:;" class="primary-link">财务基础</a>
								</td>
								<td>
									电子商务
								</td>
								
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<!-- BEGIN REGIONAL STATS PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-share font-green-haze"></i>
						<span class="caption-subject font-green-haze bold uppercase">讨论</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
						<ul class="feeds">
							<li>
								<div class="col1">
									<div class="cont">
										<div class="cont-col1">
											<div class="label label-sm label-info">
												<i class="fa fa-check"></i>
											</div>
										</div>
										<div class="cont-col2">
											<div class="desc">
												电子商务专业是要学好哪些课程呢？ <span class="label label-sm label-warning ">
												学校 <i class="fa fa-share"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col2">
									<div class="date">
										现在
									</div>
								</div>
							</li>
							
							<li>
								<a href="#">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-briefcase"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													电子商务前景大家觉得咋样呢？
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											20 分钟前
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="scroller-footer">
						<div class="btn-arrow-link pull-right">
							<a href="#">查看所有</a>
							<i class="icon-arrow-right"></i>
						</div>
					</div>
				</div>
			</div>
			<!-- END REGIONAL STATS PORTLET-->
		</div>
		<div class="col-md-6 col-sm-6">
			<!-- BEGIN PORTLET-->
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze"></i>
						<span class="caption-subject font-green-haze bold uppercase">提问</span>
						
					</div>
					<div class="inputs">
						<div class="portlet-input input-inline input-small ">
							<div class="input-icon right">
								<i class="icon-magnifier"></i>
								<input type="text" class="form-control form-control-solid" placeholder="search...">
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="scroller" style="height: 329px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
						<div class="general-item-list">
							<div class="item">
								<div class="item-head">
									<div class="item-details">
										<img class="item-pic" src="../../../assets/admin/layout4/img/avatar4.jpg">
										<a href="" class="item-name primary-link">一凡</a>
										<span class="item-label">3小时前</span>
									</div>
									<span class="item-status"><span class="badge badge-empty badge-success"></span> 紧急</span>
								</div>
								<div class="item-body">
									二进制算法是指。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。
								</div>
							</div>
							<div class="item">
								<div class="item-head">
									<div class="item-details">
										<img class="item-pic" src="../../../assets/admin/layout4/img/avatar3.jpg">
										<a href="" class="item-name primary-link">王五</a>
										<span class="item-label">5 小时</span>
									</div>
									<span class="item-status"><span class="badge badge-empty badge-warning"></span> 一般</span>
								</div>
								<div class="item-body">
									现在计算机内存一般都配置多大的
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	Index.init();    
	Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->