<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Managed Table
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#portlet-config" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<button class="btn green" data-toggle="modal" href="#full">
											Add New <i class="fa fa-plus"></i>
											</button>
							</div>
						</div>
						<div class="col-md-6">
							<div class="btn-group pull-right">
								<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
											</button>
								<ul class="dropdown-menu pull-right">
									<li>
										<a href="javascript:;">
											Print </a>
									</li>
									<li>
										<a href="javascript:;">
											Save as PDF </a>
									</li>
									<li>
										<a href="javascript:;">
											Export to Excel </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
						<tr>
							<th class="table-checkbox">
								<input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
							</th>
							<th>
								用户名
							</th>
							<th>
								邮箱
							</th>
							<th>
								分数
							</th>
							<th>
								日期
							</th>
							<th>
								操作
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								shuxer
							</td>
							<td>
								<a href="mailto:shuxer@gmail.com">
									shuxer@gmail.com </a>
							</td>
							<td>
								120
							</td>
							<td class="center">
								12 Jan 2012
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								looper
							</td>
							<td>
								<a href="mailto:looper90@gmail.com">
									looper90@gmail.com </a>
							</td>
							<td>
								120
							</td>
							<td class="center">
								12.12.2011
							</td>
							<td>
								<span class="label label-sm label-warning">
									删除 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								userwow
							</td>
							<td>
								<a href="mailto:userwow@yahoo.com">
									userwow@yahoo.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								12.12.2012
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								user1wow
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									userwow@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								12.12.2012
							</td>
							<td>
								<span class="label label-sm label-default">
									Blocked </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								restest
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									test@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								12.12.2012
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								foopl
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								19.11.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								weep
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								19.11.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								coop
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								19.11.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								pppol
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								19.11.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								test
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								19.11.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								userwow
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									userwow@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								12.12.2012
							</td>
							<td>
								<span class="label label-sm label-default">
									Blocked </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								test
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									test@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								12.12.2012
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								goop
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								12.11.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								weep
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								15.11.2011
							</td>
							<td>
								<span class="label label-sm label-default">
									Blocked </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								toopl
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								16.11.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								userwow
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									userwow@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								9.12.2012
							</td>
							<td>
								<span class="label label-sm label-default">
									Blocked </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								tes21t
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									test@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								14.12.2012
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								fop
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								13.11.2010
							</td>
							<td>
								<span class="label label-sm label-warning">
									删除 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								kop
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								17.11.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								vopl
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								19.11.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								userwow
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									userwow@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								12.12.2012
							</td>
							<td>
								<span class="label label-sm label-default">
									Blocked </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								wap
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									test@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								12.12.2012
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								test
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								19.12.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								toop
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								17.12.2010
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
						<tr class="odd gradeX">
							<td>
								<input type="checkbox" class="checkboxes" value="1" />
							</td>
							<td>
								weep
							</td>
							<td>
								<a href="mailto:userwow@gmail.com">
									good@gmail.com </a>
							</td>
							<td>
								20
							</td>
							<td class="center">
								15.11.2011
							</td>
							<td>
								<span class="label label-sm label-success">
									修改 </span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>

	<div class="modal fade" id="full" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">课程信息</h4>
				</div>
				<div class="modal-body">
					<div class="portlet">
						<div class="portlet-body">
							<div role="form">
								<div class="form-body">
									<div class="row" style="margin-bottom: 40px;">
										<div class="col-md-6">
											<div class="form-group form-md-line-input {{flag}}">
												<input type="text" class="form-control" id="form_control_1" ng-change="aaa()" placeholder="请输入课程名称">
												<label for="form_control_1">名称</label>
												<span class="help-block">名称不得超过20个字符</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-md-line-input has-error">
												<input type="text" class="form-control edited" id="form_control_1" placeholder="请输入课程编号">
												<label for="form_control_1">编号</label>
												<span class="help-block"></span>
											</div>
										</div>
									</div>
									<div class="row" style="margin-bottom: 40px;">
										<div class="col-md-6">
											<div class="form-group form-md-line-input has-success">
												<input type="text" class="form-control" id="form_control_1" placeholder="请输入课程学分">
												<label for="form_control_1">学分</label>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-md-line-input has-warning">
												<input type="text" class="form-control" id="form_control_1" placeholder="请输入课程学时">
												<label for="form_control_1">学时</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-actions noborder">
									<button type="button" class="btn blue">Submit</button>
									<button type="button" class="btn default" data-dismiss="modal">Cancel</button>
								</div>
							</div>

						</div>
					</div>

				</div>
				<!--<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">Close</button>
					<button type="button" class="btn blue">Save changes</button>
				</div>-->
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
<script type="text/javascript" src="../../../assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script src="../../../assets/admin/pages/scripts/table-managed.js"></script>
<script>
	TableManaged.init();
</script>