<style>
	.title {
		font-size: 14px;
		color: #858585;
	}
</style>
<div class="profile-content" ng-controller="courseController">
	<div class="portlet light">
		<div class="portlet-title tabbable-line">
			<div class="caption caption-md">
				<i class="icon-globe theme-font hide"></i>
				<span class="caption-subject font-blue-madison bold uppercase">课程学习--电子商务基础</span>
			</div>
		</div>
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-3">
					<ul class="list-unstyled profile-nav" style="text-align: center;">
						<li style="width: 200px;height: auto;margin: 0 auto;">
							<img src="../../../templates\admin4\angularjs\images\1.jpg" class="img-responsive" alt="" />
						</li>
						<li style="font-size: 20px;font-weight: 500;margin-top: 25px;">
							<p>电子商务基础</p>
						</li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12 profile-info">
							<div class="col-md-6">
								<h3 style="margin-top: 0;">得分规则（共计：100分）</h3>
							</div>
							<div class="col-md-6">
								<h3 style="margin-top: 0;float: right;color: #4CC443;">当前得分：25</h3>
							</div>
							<div class="col-md-2 title">考勤分</div>
							<div class="col-md-10 title">
								<p>完成选课后，进入课程一次计1分，进入五次（包括五次）以上获得网络学习平台考勤满分。共5分</p>
							</div>
							<div class="col-md-2 title">互动交流分</div>
							<div class="col-md-10 title">
								<p>互动交流系统中发帖一次计1分，三次（含三次）以上获得互动交流满分。发帖被评为优秀，增加5分；发帖被删除一次，减少5分（直到该项扣减为零分为止）。共5分</p>
							</div>
							<div class="col-md-2 title">在线学习分</div>
							<div class="col-md-10 title">
								<p>听完全部的讲座内容即获得在线学习满分。共30分</p>
							</div>
							<div class="col-md-2 title">课堂练习分</div>
							<div class="col-md-10 title">
								<p>根据讲座内容，在线完成全部课堂练习。获得的分数以实际测试分数之和（未做单元以零分记）除以必修单元数再乘以30%得出。共30分</p>
							</div>
							<div class="col-md-2 title">期末考试分</div>
							<div class="col-md-10 title">
								<p>根据讲座内容并结合实际进行相关领域的考试，通过网上提交完成 ，允许不及格的学生重新提交1次。此处得分以得分（百分制）乘以30%得出。共30分</p>
							</div>
						</div>
						<!--end col-md-8-->
					</div>
					<!--end row-->

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="tabbable tabbable-custom tabbable-custom-profile">
						<ul class="nav nav-tabs">
							<li class="active">
								<a data-target="#tab_1_21" data-toggle="tab">
									学习 </a>
							</li>
							<li>
								<a data-target="#tab_1_22" data-toggle="tab">
									讨论 </a>
							</li>
							<li>
								<a data-target="#tab_1_23" data-toggle="tab">
									成绩 </a>
							</li>
							<li>
								<a data-target="#tab_1_24" data-toggle="tab">
									反馈 </a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1_21">
								<div data-ng-include="'views/template/nodeTree.html'"></div>
							</div>
							<!--tab-pane-->
							<div class="tab-pane" id="tab_1_22">
								<div class="general-item-list">
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar4.jpg">
												<span class="item-name">张帅</span>
												<span class="item-label">2018-11-9</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<a class="item-name primary-link" ng-click="goUrl('postDetail')">
											传播主体向相对集中的较大的公众群体进行传播什么？
										</a>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar3.jpg">
												<a href="" class="item-name primary-link">李思</a>
												<span class="item-label">2018-11-8</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											公共关系状态指的是组织与公众之间的什么
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar6.jpg">
												<a href="" class="item-name primary-link">王武</a>
												<span class="item-label">2018-11-7</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											传播主体向相对集中的较大的公众群体进行传播?
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar7.jpg">
												<a href="" class="item-name primary-link">赵乐</a>
												<span class="item-label">2018-11-6</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											标志我国公共关系走向职业化和行业化的道路的事件是?
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar9.jpg">
												<a href="" class="item-name primary-link">刘琦</a>
												<span class="item-label">2018-11-5</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											双方互为传播的主、客体，随时调整传播的角色，是?
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar8.jpg">
												<a href="" class="item-name primary-link">钱三儿</a>
												<span class="item-label">2018-11-4</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											1923年，爱德华·伯纳斯出版的第一本公关专著是？
										</div>
									</div>
								</div>
							
							</div>
							<div class="tab-pane" id="tab_1_23">
								<table class="table table-striped table-bordered table-advance table-hover">
									<thead>
										<tr>
											<th>项目</th>
											<th>分数</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>考勤分</td>
											<td>5/5</td>
											<td>
												<a class="btn default btn-xs green-stripe" data-toggle="modal" data-target="#questionSingle">查看 </a>
											</td>
										</tr>
										<tr>
											<td>互动交流分</td>
											<td>5/5</td>
											<td>
												<a class="btn default btn-xs green-stripe" data-toggle="modal" data-target="#questionSingle">查看 </a>
											</td>
										</tr>
										<tr>
											<td>在线学习分</td>
											<td>5/30</td>
											<td>
												<a class="btn default btn-xs green-stripe" data-toggle="modal" data-target="#questionSingle">查看 </a>
											</td>
										</tr>
										<tr>
											<td>单元测试分</td>
											<td>5/30</td>
											<td>
												<a class="btn default btn-xs green-stripe" data-toggle="modal" data-target="#questionSingle">查看 </a>
											</td>
										</tr>
										<tr>
											<td>期末考试分</td>
											<td>0/30</td>
											<td>
												<a class="btn default btn-xs green-stripe" data-toggle="modal" data-target="#questionSingle">查看 </a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane" id="tab_1_24">
							</div>
							<!--tab-pane-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function courseController($scope) {
		$scope.goUrl = function(url) {
			window.location.href = '#/post.html';
		}
	}
</script>