<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="portlet light" style="min-height: 400px;">
				<div class="portlet-title tabbable-line">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase" id="title">教案{{currKP}}</span>
					</div>
					<div class="actions">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					</div>
					<ul class="nav nav-tabs">
						<li class="active">
							<a data-target="#tab_3_1" data-toggle="tab">
								资料 </a>
						</li>
						<li>
							<a data-target="#tab_3_2" data-toggle="tab">
								提问 </a>
						</li>
						<li>
							<a data-target="#tab_3_3" data-toggle="tab">
								讨论 </a>
						</li>
						<li>
							<a data-target="#tab_3_4" data-toggle="tab">
								练习 </a>
						</li>
						<li>
							<a data-target="#tab_3_5" data-toggle="tab">
								头脑风暴 </a>
						</li>
						<li>
							<a data-target="#tab_3_5" data-toggle="tab">
								作业 </a>
						</li>
						<li>
							<a data-target="#tab_3_5" data-toggle="tab">
								任务 </a>
						</li>
						<li>
							<a data-target="#tab_3_5" data-toggle="tab">
								调查活动 </a>
						</li>

					</ul>
				</div>
				<div class="portlet-body">
					<div class="tab-content">
						<div class="tab-pane active" id="tab_3_1">
							<div class="row">
								<div class="col-md-6">
									<div class="portlet box grey-cascade">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-gift"></i>资料库列表
											</div>
											<div class="tools">
												<a href="javascript:;" class="collapse" data-original-title="" title="">
												</a>
											</div>
										</div>
										<div class="portlet-body">
											<ul class="feeds">
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="md-checkbox">
																	<input type="checkbox" id="checkbox11" class="md-check">
																	<label for="checkbox11">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	电子商务基础教学大纲.doc
																</div>
															</div>
														</div>
													</div>
												</li>
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="md-checkbox">
																	<input type="checkbox" id="checkbox21" class="md-check">
																	<label for="checkbox21">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	电子商务基础教案.doc
																</div>
															</div>
														</div>
													</div>
												</li>
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="md-checkbox">
																	<input type="checkbox" id="checkbox31" class="md-check">
																	<label for="checkbox31">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	电子商务基础课件.ppt
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>

								</div>
								<div class="col-md-6" style="text-align: center;">
									<div class="portlet box grey-cascade">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-gift"></i>新增文件
											</div>
											<div class="tools">
												<a href="javascript:;" class="collapse" data-original-title="" title="">
												</a>
											</div>
										</div>
										<div class="portlet-body">
											<ul class="feeds">
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="md-checkbox">
																	<input type="checkbox" id="checkbox211" class="md-check">
																	<label for="checkbox211">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	新增文件.doc
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
											<button type="button" class="btn green" ng-click="" style="margin-top: 40px;">上传</button>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab_3_2">
							<div class="row">
								<div class="col-md-4" style="text-align: center;">
									<ul class="feeds">
										<li>
											<div class="col1">
												<div class="cont">
													<div class="cont-col1">
														<div class="md-checkbox">
															<input type="checkbox" id="checkbox1" class="md-check">
															<label for="checkbox1">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
														</div>
													</div>
													<div class="cont-col2">
														<div class="desc">
															电子商务基础-问答册1
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="col1">
												<div class="cont">
													<div class="cont-col1">
														<div class="md-checkbox">
															<input type="checkbox" id="checkbox2" class="md-check">
															<label for="checkbox2">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
														</div>
													</div>
													<div class="cont-col2">
														<div class="desc">
															电子商务基础-问答册2
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="col1">
												<div class="cont">
													<div class="cont-col1">
														<div class="md-checkbox">
															<input type="checkbox" id="checkbox3" class="md-check">
															<label for="checkbox3">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
														</div>
													</div>
													<div class="cont-col2">
														<div class="desc">
															电子商务基础-问答册3
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="col1">
												<div class="cont">
													<div class="cont-col1">
														<div class="md-checkbox">
															<input type="checkbox" id="checkbox4" class="md-check">
															<label for="checkbox4">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
														</div>
													</div>
													<div class="cont-col2">
														<div class="desc">
															电子商务基础-问答册4
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="col1">
												<div class="cont">
													<div class="cont-col1">
														<div class="md-checkbox">
															<input type="checkbox" id="checkbox5" class="md-check">
															<label for="checkbox5">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																</label>
														</div>
													</div>
													<div class="cont-col2">
														<div class="desc">
															电子商务基础-问答册5
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<button type="button" class="btn green" style="margin-top: 40px;">创建题目</button>
								</div>
								<div class="col-md-8">
									<div id="accordion1" class="panel-group">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
														<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1_1">
														1. 商家要开展电子商务活动 , 应该用（ C  ）作为其主要的生意平台。 </a>
													</h4>
											</div>
											<div id="accordion1_1" class="panel-collapse collapse in">
												<div class="panel-body">
													<p>A． BBS</p>
													<p>B．电子邮件</p>
													<p>C．在线商店</p>
													<p>D．电话定购</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
														<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1_2">
														2. Intranet和Internet的区别是 ( A ) </a>
													</h4>
											</div>
											<div id="accordion1_2" class="panel-collapse collapse">
												<div class="panel-body">
													<p>A．访问 Intranet 需要授权</p>
													<p>B．Intranet 执行特殊的协议</p>
													<p>C．Intranet 软件和协议是独立于硬件的</p>
													<p>D．Intrarlet 只在扇部物理范围内运行</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
														<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1_3">
														3. 电子数据交换的简称是 ( B )  </a>
													</h4>
											</div>
											<div id="accordion1_3" class="panel-collapse collapse">
												<div class="panel-body">
													<p>A．EFT</p>
													<p>B．EDI</p>
													<p>C．NET</p>
													<p>D．EC</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab_3_3">

						</div>
						<div class="tab-pane" id="tab_3_4"></div>
						<div class="tab-pane" id="tab_3_5"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn blue">确定</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>