.nav-pills {
}

.nav-pills li {
	margin-right: 3px;
	border-radius: 5px;
}

.nav-pills li a {
	color: #0a50a1;
	font-size: 13px;
	padding: 0;
	min-width: 80px;
	height: 25px;
	text-align: center;
	margin-top: 5px;
	line-height: 2;
}

.tag-active {
	background: #f60 !important;
	border-radius: 5px;
	color: #fff !important;
}

form p {
	line-height: 35px;
}
.certificate {
	width: 100px;
	height: 100px;
}
.leftText {
	margin-left: -9px;
	text-align: center;
	font-size: 19px;
	margin-top: 10px;
}
.filePicker div:nth-child(2) {
	width: 80px !important;
	height: 100% !important;
	
}
.search {
	display: flex;
}
.search input {
	margin-bottom: 8px;
	max-width: 160px;
	display: inline-block !important;
}
.search select {
	margin-bottom: 8px;
	max-width: 160px;
	display: inline-block !important;
}
.search button {
	margin: -5px 0 0 10px;
}
.picWrapper {
	position: relative;
	display: inline-block;
}
.removePic {
	font-size: 24px;
	position: absolute;
	top:20px;
	right: 15px;
	cursor: pointer;
}
.removeVideo {
	font-size: 24px;
	top:10px;
	left: 390px;
	cursor: pointer;
}
.pic {
	width: 130px;
	height: auto;
	margin: 20px;
	border: 1px solid #82949a;
	cursor: pointer;
}
	