<link href="../../../assets/admin/pages/css/profile-old.css" rel="stylesheet">
<style>
	.label-text {
		margin-top: 8px;
	}
	
	.form-control {
		margin-bottom: 8px;
	}
	
	.btn-info {
		margin-bottom: 2px;
		float: right;
		margin-left: 5px;
	}
	
	.abslute {
		position: absolute;
		float: right;
		margin-left: -100px;
		margin-top: 21px;
		width: 46px;
		height: 28px;
	}
	
	.table-toolbar {
		border-bottom: 3px solid #ddd;
		border-width: 100%;
	}
	.btnSearch{
		position: absolute;
		right:50px;
		top: 3px;
	}
	.export-all {
		border-bottom: 1px solid gainsboro;
		padding: 10px;
	}
	
	.export-option {
		padding: 10px 0;
		line-height: 35px;
	}
	div.checker {
		margin-left: 30px !important;
		
	}
</style>
<div class="row" ng-controller="scoreCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>学生学习情况
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div data-ng-include="'components/search.html'"></div>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>姓名</th>
							<th ng-repeat='item in courseList'>{{item.courseName}}</th>
							<!-- <th>数学</th>
							<th>英语</th> -->
							<th>教学计划</th>
							<th>计划开始时间</th>
							<th>计划结束时间</th>
							<th>学习中心</th>
							<th>手机号</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in data" class="odd gradeX" style="cursor: pointer;" ng-click="editStuInfo(item);">
							<td>{{item.studentName}}</td>
							<td ng-repeat='course in item.studyInfo'>
								<span ng-if="course.onLineTime" style="margin-right: 20px;">{{course.onLineTime}}分钟/{{course.onLineTimeSum}}分钟</span>
								<span ng-if="!course.onLineTime" style="margin-right: 20px;">未开始学习</span>
								<span ng-if="course.answerSum">{{course.correctSum}}题/{{course.answerSum}}题</span>
								<span ng-if="!course.answerSum">未开始做题</span>
							</td>
							<td>{{item.planName}}</td>
							<td>{{item.startDate}}</td>
							<td>{{item.endDate}}</td>
							<td>{{item.centerName}}</td>
							<td>{{item.stuPhone}}</td>
						</tr>
					</tbody>
				</table>
				<h4 style="color: red;">备注：</h4>
				<h5 style="color: red;">1：查询时必须选择一个教学计划</h5>
				<h5 style="color: red;">2：课程中数值的意思为   已学习时长/总学习时长   做对题目/已做题目</h5>
				<div class="row">
					<div>
						<div class="col-md-11" style="float: left; clear: both; margin-left: 20px;">
							<pagination total-items="bigTotalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" first-text="首页" items-per-page="{{pageSize}}" last-text="末页" previous-text="上一页" next-text="下一页"></pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
	
	<!-- 课程详情 -->
	<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10051;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">课程详情</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12" style="text-align: center;">
							<img class="certificate" src="../../../assets/admin/layout4/img/avatar1.jpg" alt="">
							<div class="leftText">
								<p>高等数学（第一学期）</p>
								<p>考试成绩:98</p>
								<p>平时成绩:18</p>
								<p>考试成绩占比:70%</p>
								<p>平时成绩占比:30%</p>
								<p>学习时长占比:9%</p>
								<p>章节练习占比:21%</p>
								<p>考试时间:2019-6-8</p>
								<p style="color: blue;">已通过</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>
<script>
	function scoreCtrl($scope, $http, $rootScope, $timeout) {
		$scope.currentPage = 1
		$scope.detail = {} //学生信息详情
		$scope.searchObj = {};//搜索信息
		$scope.familyData = [];//家庭成员信息
		$scope.supple = {} //补充信息
		
		//加载学生列表
		$scope.loadStudentsList = function() {			
			common.loadDataList({
				$scope: $scope,
				$http: $http,
				$rootScope: $rootScope,
				url: '/teachPlan/findPlanCourseAllPage',
				success: function() {
					console.log($scope.data)
					for(let stu of $scope.data) {
						stu.studyInfo = []
						if(stu.courses && stu.courses.length>0) {
							for(let x of $scope.courseList) {
								let flag = false
								for(let y of stu.courses) {
									if(x.courseName == y.courseName) {
										stu.studyInfo.push({
											courseName: y.courseName,
											onLineTime: Math.round(y.onLineTime/60),
											onLineTimeSum: Math.round(y.onLineTimeSum/60),
											correctSum:y.correctSum,
											answerSum: y.answerSum
										})
										flag = true
									}
								}
								if(!flag) {
									stu.studyInfo.push({
										courseName: x.courseName,
										// onLineTime: '未开始学习',
										// onLineTimeSum: '未开始学习',
										// correctSum: '未开始做题',
										// answerSum: '未开始做题'
									})
								}
							}
						}else {
							for(let x of $scope.courseList) {
								stu.studyInfo.push({
									courseName: x.courseName,
									// onLineTime: '未开始学习',
									// onLineTimeSum: '未开始学习',
									// correctSum: '未开始做题',
									// answerSum: '未开始做题'
								})
							}
						}
					}
					
					console.log($scope.data);
				}
			});
		};
		
		$scope.loadCourseByPlan = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
					planId: $scope.searchObj.planId
				},
				url: '/teachPlan/course/'+$scope.searchObj.planId,
				success: function(res) {
					$scope.courseList = res
					$scope.loadStudentsList();
				}
			});
		}
		
		$scope.pageChanged = function() {
			$scope.loadStudentsList();
		}
		
		$scope.searchObj = {
			planId: ''
		}
		
		$scope.$watch('changeSearchObj', function(newVal,oldVal) {
			if($rootScope.searchObj && $rootScope.searchObj.planId) {
				$scope.searchObj = $rootScope.searchObj
				$scope.loadCourseByPlan()
				
			}
		})
		
		$scope.detail = function() {
			$("#courseModal").modal('show');
		}
		
	}
</script>