<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<a href="index.html">
		<img src="../../../assets/admin/layout4/img/logo-light.png" alt="logo" class="logo-default" style="height: 26px;margin-top: 23px;" />
		</a>
		<div class="menu-toggler sidebar-toggler">
			<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
		</div>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN PAGE ACTIONS -->

	<!-- BEGIN PAGE TOP -->
	<div class="page-top">
		<!-- BEGIN HEADER SEARCH BOX -->

		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<li class="separator hide"></li>
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-book"></i>
					<span class="badge badge-primary">
					3 </span>
					</a>
					<ul class="dropdown-menu">
						<li class="external">
							<h3>我的课程</h3>
							<a href="#/profile/dashboard">所有</a>
						</li>
						<li>
							<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
								<li ng-repeat="row in courses">
									<a href="javascript:;" ng-click="changeCourse(row.courseId)">
									<span class="details"> 
										<span class="label label-sm label-icon label-success">
											<i class="fa fa-leaf"></i>
										</span>
										{{row.courseName}} </span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<!-- END NOTIFICATION DROPDOWN -->
				<li class="separator hide"></li>
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="icon-bell"></i>
					<span class="badge badge-success">
					1 </span>
					</a>
					<ul class="dropdown-menu">
						<li class="external">
							<h3>你有<span class="bold">1 </span> 通知</h3>
							<a href="#/profile/dashboard">所有</a>
						</li>
						<li>
							<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
								<li>
									<a href="javascript:;">
								
									<span class="details">
									<span class="label label-sm label-icon label-success">
									<i class="fa fa-plus"></i>
									</span>
									今晚8点，放映复联3电影。。 </span>
									</a>
								</li>
								
							</ul>
						</li>
					</ul>
				</li>
				<!-- END NOTIFICATION DROPDOWN -->
				<li class="separator hide"></li>
				<!-- BEGIN INBOX DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="icon-envelope-open"></i>
					<span class="badge badge-danger">
					1 </span>
					</a>
					<ul class="dropdown-menu">
						<li class="external">
							<h3>你有 <span class="bold">1 条</span> 消息</h3>
							<a href="#/profile/dashboard">更多</a>
						</li>
						<li>
							<ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
								<li>
									<a href="#">
									<span class="photo">
									<img src="../../../assets/admin/layout4/img/avatar2.jpg" class="img-circle" alt="">
									</span>
									<span class="subject">
									<span class="from">
									张女士 </span>
									</span>
									<span class="message">
									你有3到学生提问需要解答。</span>
									</a>
								</li>
								
							</ul>
						</li>
					</ul>
				</li>
				<!-- END INBOX DROPDOWN -->
				<li class="separator hide"></li>

				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user dropdown-dark">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<span class="username username-hide-on-mobile" id="LoginName">
						  
						</span>
						<!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
						<img alt="" class="img-circle" src="../../../assets/admin/layout4/img/avatar9.jpg"/>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="#/profile/dashboard">
							<i class="icon-user"></i> 修改密码 </a>
						</li>
						<li>
							<a href="#" onclick="signOut();">
							<i class="icon-key"></i> 退出登录 </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->
	
<script>
	function signOut() {
		localStorage.removeItem("username");
		window.location.href = "login.html";
	}
	
	$("#LoginName").html(localStorage.getItem('username'));
</script>
