

<div style="background-color: #fcf8e3;" ng-controller="surveyCtrl">
	<div class="alert alert-block fade in">
		<button type="button" class="close" onclick="closeSurveyQuestion()"></button>
		<div>
			<div style="display: inline-block;margin-right: 20px;">
				<i class="icon-settings font-green-sharp"></i>
				<span style="color: #4DB3A2;font-size: 16px;margin-left: 5px;font-weight: 600;">课堂问卷</span>
			</div>
			<span class="badge badge-success" style="margin: 3px;" ng-repeat="row in surveyQuestionList" ng-click="chooseQuestion(row)"> {{$index+1}} </span>
		</div>
		<div>
			<div style="width: 48%;float: left;">
				<div class="note" style="border-left: 0;border-bottom: 1px solid #eee;">
					<h4 class="block htmlWrapper" ng-bind-html="currentSurveyQues.title"></h4>
					<div ng-if="currentSurveyQues.examChildren[0].examType == 'single'">
						<p ng-repeat="x in currentSurveyQues.examChildren[0].optChildren">
							<span ng-bind-html="x.optValue" style="display: inline-block;"></span>．
							<span ng-bind-html="x.optTxt" style="display: inline-block;"></span>
						</p>
					</div>
				</div>
			</div>
			<div style="width: 48%;float: left;">
				<div style="text-align: right;margin-top: 15px;">
					<button class="btn btn-success" ng-click="showAnswer()">显示回答</button>
				</div>
			</div>
			
			<div style="clear: both;"></div>
		</div>

		<div style="height: 140px;" id="studentsWrapper">
			<div style="width:80px;float:left;" ng-repeat="row in allStudents">
				<div class="uppercase profile-userpic {{row.select ? 'active' : ''}}" ng-click="selectStudent(row)">
					<img ng-src="{{row.portrait}}" class="img-responsive" alt="学生头像">
				</div>
				<div class="uppercase profile-stat-text">{{row.name}}</div>
			</div>
		</div>
		<div style="height: 40px;text-align: center;" id="btns">
			<button class="btn btn-primary" ng-click="all()">全选</button>
			<button class="btn btn-primary" ng-click="publicQues()">确定</button>
		</div>
	</div>
	<div id="main" style="width: 600px;height:400px;margin: 0 auto;"></div>
	
</div>

