<link href="../../../assets/admin/pages/css/profile-old.css" rel="stylesheet">
<style>
	.label-text {
		margin-top: 8px;
	}
</style>
<div class="row" ng-controller="enrollCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>学习中心维护
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn red" ng-click="add()">
					<i class="fa fa-plus"></i> 添加 </a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>操作</th>
							<th>学习中心名称</th>
							<th>办学地址</th>
							<th>负责人</th>
							<th>联系电话</th>
							<th>公司名称</th>
							<th>公司地址</th>
							<th>创立时间</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX" ng-repeat="item in data">
							<td style="min-width: 150px;">
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="edit(item)">编辑</button>
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="del(item)">冻结</button>
								<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="save(item)">保存</button>
								<button ng-show='item.edit' class="btn btn-info btn-sm" ng-click="cancel(item, $index)">取消</button>
								<button ng-show='!item.edit' class="btn btn-info btn-sm" ng-click="reset(item)">重置密码</button>
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.centerName}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.centerName" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.address}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.address" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.principal}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.principal" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.phone}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.phone" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.phone}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.phone" />
							</td>
							<td>
								<span ng-show='!item.edit'>{{item.phone}}</span>
								<input ng-show='item.edit' type="text" ng-model="item.phone" />
							</td>
							<td>
								<span>{{item.createTime}}</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div>
						<div class="col-md-11" style="float: left; clear: both; margin-left: 20px;">
							<pagination total-items="bigTotalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" first-text="首页" items-per-page="{{pageSize}}" last-text="末页" previous-text="上一页" next-text="下一页"></pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>

</div>
<script>
	function enrollCtrl($scope, $http, $rootScope) {
		$scope.currentPage = 1
		//加载学习中心列表
		$scope.loadCenterList = function() {			
			common.loadDataList({
				$scope: $scope,
				$http: $http,
				$rootScope: $rootScope,
				url: '/learnCenter/findAllPage'
			});
		};
		$scope.loadCenterList();
		
		$scope.pageChanged = function() {
			$scope.loadCenterList();
		}
		
		$scope.add = function(index) {
			$scope.flag = 'add';
			$scope.data.push({
				edit: true
			});
		}
		
		$scope.edit = function(center) {
			$scope.flag = 'edit';
			center.edit = true;
		}
		
		$scope.save = function(center) {
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: center,
				operate: true,
				url: '/learnCenter/saveOrUpdate',
				success: function(res) {
					console.log(res);
					center.edit = false;
				}
			});
		};
		
		$scope.cancel = function(center, index) {
			if($scope.flag == 'add') {
				$scope.data.pop();
			}else if($scope.flag == 'edit') {
				center.edit = false;				
			}
		};
			
		$scope.del = function(major) {
			common.ajax({
				$scope: $scope,
				$http: $http,
				operate: true,
				data: major,
				tip: '您确定要冻结该学习中心吗？',
				url: '/learnCenter/removeById',
				success: function(res) {
					$scope.loadCenterList();
				}
			});
		};
	}
</script>