<link href="../../../assets/admin/pages/css/profile-old.css" rel="stylesheet">
<style>
	.label-text {
		margin-top: 8px;
	}
	
	.form-control {
		margin-bottom: 8px;
		max-width: 160px;
		display: inline-block;
	}
	
	.abslute {
		position: absolute;
		float: right;
		margin-left: -110px;
		margin-top: 3px;
		width: 46px;
		height: 28px;
	}
	
	.table-toolbar {
		border-bottom: 3px solid #ddd;
		border-width: 100%;
	}
</style>
<div class="row" ng-controller="enrollCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>平时成绩
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn red" ng-click="prove()">
					<i class="fa fa-plus"></i> 导出学时证明 </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-12" style="display: flex;">
							<div class="col-md-3">
								<label class="label-text">学生姓名</label>
								<input type="text" class="form-control" />
							</div>
							<div class="col-md-3">
								<label class="label-text">学号</label>
								<input type="text" class="form-control" />
								<button class="btn blue btn-sm" style="margin: -5px 0 0 10px;">查询</button>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-1">
								<label class="label-text">年级</label>
							</div>
							<div class="col-md-11">
								<ul class="nav nav-pills">
									<li ng-repeat="item in gradeList" ng-click="select(item, gradeList)">
										<a class="{{item.active ? 'tag-active' : ''}}" href="#">{{item.text}}</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-1">
								<label class="label-text">专业</label>
							</div>
							<div class="col-md-11">
								<ul class="nav nav-pills">
									<li ng-repeat="item in majorList" ng-click="select(item, majorList)">
										<a class="{{item.active ? 'tag-active' : ''}}" href="#">{{item.text}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>姓名</th>
							<th>年级</th>
							<th>专业</th>
							<th>计算机组成原理</th>
							<th>高等数学</th>
							<th>大学英语</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in data" class="odd gradeX">
							<td>{{item.name}}</td>
							<td>{{item.grade}}</td>
							<td>{{item.major}}</td>
							<td>考试成绩:{{item.computer}}  平时成绩:15  总成绩:87
							<a href="#" ng-click='showDetail()'>详情</a></td>
							<td>考试成绩:{{item.matheMatics}}  平时成绩:16  总成绩:92
							<a href="#" ng-click='showDetail()'>详情</a></td>
							<td>考试成绩:{{item.heightEnglish}}  平时成绩:15  总成绩:67
							<a href="#" ng-click='showDetail()'>详情</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
	
	<!-- 详情 -->
	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">课程详情</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12" style="text-align: center;">
							<img class="certificate" src="../../../assets/admin/layout4/img/avatar1.jpg" alt="">
							<div class="leftText">
								<p>高等数学（第一学期）</p>
								<p>考试成绩:98</p>
								<p>平时成绩:18</p>
								<p>考试成绩占比:70%</p>
								<p>平时成绩占比:30%</p>
								<p>学习时长占比:9%</p>
								<p>章节练习占比:21%</p>
								<p>考试时间:2019-6-8</p>
								<p style="color: blue;">已通过</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
	function enrollCtrl($scope, $http, $rootScope) {
		$scope.data = [{
			studentID:"001",
			name:"李四",
			grade:"2019级",
			major:"商务英语",
			computer:"78",
			matheMatics:"12",
			heightEnglish:"90"
		}];

		$scope.goUrl = function() {
			window.location.href = 'index.html#/alienationAdd.html';
		};
		
		$scope.gradeList = [{
			text: "2019级"
		}, {
			text: "2018级"
		}, {
			text: "2017级"
		}, {
			text: "2016级"
		}, {
			text: "2015级"
		}];
		
		$scope.majorList = [{
			text: "计算机基础"
		}, {
			text: "商务金融"
		}, {
			text: "JavaScript"
		}, {
			text: "Python"
		}, {
			text: "Go语言"
		}, {
			text: "java"
		}, {
			text: "Php"
		}];
		
		$scope.courseList = [{
			text: "高等数学"
		}, {
			text: "大学英语"
		}, {
			text: "马克思主义"
		}];
		
		$scope.semester = [{
			text: "2019年上"
		}, {
			text: "2018年下"
		}, {
			text: "2018年上"
		}, {
			text: "2017年下"
		}, {
			text: "2017年上"
		}];
		
		$scope.select = function(value, array) {
			if(array) {
				$rootScope.radioActiveColor(value, array, function() {
					
				});
			}else {
				 $rootScope.activeColor(value, function() {
				 	
				 })
			}
		};
		
		$scope.showDetail = function() {
			$("#detailModal").modal('show');
		}
	}
</script>