<style>
	.badge {
		padding: 6px 9px;
		height: 24px;
		margin: 3px;
	}
	
	.search {
		display: inline-block !important;
		margin-right: 20px;
		width: auto !important;
	}
	
	.htmlWrapper p {
		display: inline;
	}
</style>
<!--创建提问-->
<div class="modal fade" id="exercisesBookModal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="exercisesBookCtrl">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">创建/编辑册子</h4>
			</div>
			<div class="modal-body">
				<div class="portlet" style="min-height: 400px;">
					<div class="portlet-body">
						<div role="form">
							<div class="form-body">
								<div class="row" style="margin-bottom: 40px;">
									<div class="col-md-4">
										<div class="form-group form-md-line-input">
											<input type="text" class="form-control" ng-model="list.exeBookName" placeholder="册子名称" />
											<label for="form_control_1">名称</label>
											<span class="help-block">名称不得超过50个字符</span>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group form-md-radios">
											<label>难易程度</label>
											<div class="md-radio-inline">
												<div class="md-radio">
													<input type="radio" id="radio6" name="level" class="md-radiobtn" value="1" ng-model="list.levelId" checked="">
													<label for="radio6">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													简单 </label>
												</div>
												<div class="md-radio">
													<input type="radio" id="radio7" name="level" class="md-radiobtn" ng-model="list.levelId" value="2">
													<label for="radio7">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													中等 </label>
												</div>
												<div class="md-radio">
													<input type="radio" id="radio8" name="level" class="md-radiobtn" ng-model="list.levelId" value="3">
													<label for="radio8">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													困难 </label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-5" ng-show="typeFlag">
										<div class="form-group form-md-radios">
											<label>册子类型</label>
											<div class="md-radio-inline">
												<div class="md-radio">
													<input type="radio" id="exeBookType1" name="exeBookType" checked="" ng-model="list.exeBookType" 
														value="1" class="md-radiobtn" ng-change="changeType()">
													<label for="exeBookType1">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													提问册 </label>
												</div>
												<div class="md-radio">
													<input type="radio" id="exeBookType2" name="exeBookType" ng-change="changeType()" ng-model="list.exeBookType" 
														value="2" class="md-radiobtn">
													<label for="exeBookType2">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													练习册 </label>
												</div>
												<div class="md-radio">
													<input type="radio" id="exeBookType3" name="exeBookType" ng-change="changeType()" ng-model="list.exeBookType" 
														value="3" class="md-radiobtn">
													<label for="exeBookType3">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													作业册 </label>
												</div>
												<div class="md-radio">
													<input type="radio" id="exeBookType4" name="exeBookType" ng-change="changeType()" ng-model="list.exeBookType" 
														value="4" class="md-radiobtn">
													<label for="exeBookType4">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													任务册 </label>
												</div>
												<div class="md-radio">
													<input type="radio" id="exeBookType5" name="exeBookType" ng-change="changeType()" ng-model="list.exeBookType" 
														value="5" class="md-radiobtn">
													<label for="exeBookType5">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													问卷册 </label>
												</div>
												<div class="md-radio">
													<input type="radio" id="exeBookType6" name="exeBookType" ng-change="changeType()" ng-model="list.exeBookType" 
														value="6" class="md-radiobtn">
													<label for="exeBookType6">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													头脑风暴册 </label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-header row">
									<h4 class="modal-title">题库选题</h4>
								</div>
								<div class="row" style="margin-bottom: 40px;">
									<div class="col-md-12">
										<p class="text-primary" style="font-size: 15px;float: right;">
											温馨提示： 题目来源于 资料库管理—>知识点题库
											<i class="glyphicon glyphicon-hand-down" style="font-size: 17px;"></i>
										</p>
									</div>
									<div class="col-md-6" style="height: 400px;">
										<div>
											<!--<p class="search">题号(<span style="color: red;">红色为已选择</span>)</p>-->
											<select class="form-control search">
												<option>请选择知识点</option>
												<option>电子商务的概念</option>
												<option>电子商务的含义</option>
											</select>
											<select class="form-control search">
												<option>请选择难易程度</option>
												<option>简单</option>
												<option>中等</option>
												<option>困难</option>
											</select>
											<select class="form-control search">
												<option>请选择题目类型</option>
												<option>单选</option>
												<option>多选</option>
												<option>判断</option>
												<option>主观</option>
												<option>大题</option>
											</select>
											<button class="btn btn-primary">确定</button>
										</div>
										<span class="badge {{row.select ? 'badge-danger' : 'badge-success'}}" ng-repeat="row in questionList"> {{$index+1}} </span>
									</div>
									<div class="col-md-6">
										<div class="portlet light">
											<div class="portlet-title tabbable-line">
												<ul class="nav nav-tabs" style="float: left;">
													<li class="active">
														<a data-target="#tab_question_1" data-toggle="tab">
															未选题目 </a>
													</li>
													<li>
														<a data-target="#tab_question_2" data-toggle="tab">
															已选题目 </a>
													</li>
												</ul>
											</div>
											<div class="portlet-body">
												<div class="tab-content">
													<div class="tab-pane active" id="tab_question_1">
														<div class="scroller" style="height: 500px;overflow-y: scroll;" data-always-visible="1" 
															data-rail-visible1="0" data-handle-color="#D7DCE2">
															<div class="well" style="background-color: #d6e9c6;" ng-repeat="row in questionList" ng-if="!row.already">
																<div class="md-checkbox" style="display: inline-block;">
																	<input type="checkbox" id="checkboxEdit{{$index}}" class="md-check" ng-model="row.select">
																	<label for="checkboxEdit{{$index}}">
																	<span></span>
																	<span class="check"></span>
																	<span class="box"></span>
																	</label>
																</div>
																<span style="display: inline-block;width: 89%;cursor: pointer;">{{$index+1}}.
																<span class="htmlWrapper" ng-bind-html="row.title"></span>
																</span>
															</div>
															<p style="text-align: center; color: blue;font-size: 14px;display: block;" ng-click='loadMore()'>加载更多</p>
														</div>
													</div>
													<div class="tab-pane" id="tab_question_2">
														<div class="scroller" style="height: 500px;overflow-y: scroll;" data-always-visible="1" data-rail-visible1="0" 
															data-handle-color="#D7DCE2">
															<div class="well" style="background-color: #d6e9c6;" ng-repeat="row in questionList" ng-if="row.already">
																<div class="md-checkbox" style="display: inline-block;">
																	<input type="checkbox" id="checkboxAlready{{$index}}" class="md-check" ng-model="row.select">
																	<label for="checkboxAlready{{$index}}">
																	<span></span>
																	<span class="check"></span>
																	<span class="box"></span>
																	</label>
																</div>
																<span style="display: inline-block;width: 89%;cursor: pointer;">{{$index+1}}.
																<span class="htmlWrapper" ng-bind-html="row.title"></span>
																</span>
															</div>
															<!-- <p style="text-align: center; color: blue;font-size: 14px;display: block;">加载更多</p> -->
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="form-actions noborder" style="text-align: center;margin-bottom: 10px;">
								<button type="button" class="btn blue" ng-click="sub()">提交</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script>
	function exercisesBookCtrl($scope, $http) {
		$scope.typeFlag = true;//是否显示册子类型,添加时显示,编辑时不显示
		$scope.list = {
			levelId: "1",
			exeBookType: "1"
		};
		
		//分页信息-页数
		$scope.questionPage = 0;//基础题库
		$scope.taskQuestionPage = 0;//任务
		$scope.surveyQuestionPage = 0;//问卷
		$scope.brainstormQuestionPage = 0;//头脑风暴
		
		//重置页数
		$scope.initPage = function() {
			$scope.questionPage = 0;//基础题库
			$scope.taskQuestionPage = 0;//任务
			$scope.surveyQuestionPage = 0;//问卷
			$scope.brainstormQuestionPage = 0;//头脑风暴
			$scope.list.exeBookName = '';//清空册子名称
			$scope.list.levelId = '1';//难易程度改为简单
		}
		
		//根据章节和类型加载题目
		$scope.loadQuestionsForAdd = function(type, page) {
			$scope.list.id = null;
			var url = '/question/findAll/detailed'; //基础题库
			if(type == '4') {
				url = '/taskQuestion/findAll/detailed'; //任务题库
			} else if(type == '5') {
				url = '/surveyQuestion/findAll/detailed'; //问卷题库
			} else if(type == '6') {
				url = '/brainstormQuestion/findAll/detailed'; //头脑风暴题库
			}

			var data = {
				"allOrPart": "all", //显示全部详情或者是只返回id all 全部/part 只显示id
				"chapterId": localStorage.getItem('currentNodeId'), //章节id
				"operatorId": localStorage.getItem("userid"), //当前用户id
				"page": page,
				"size": common.pageSize,
				"sort": 1,
				"sorting": "uTime"
			};

			common.ajax2({
				$scope: $scope,
				$http: $http,
				url: url,
				data: data,
				success: function(res) {
					var data = common.addTitleForQuestion({
						questionArr: res.data
					}); //组装题干以供展示			
					console.log(res.data);
					if(page == 0) {
						$scope.questionList = [];
					}
					$scope.questionList = $scope.questionList.concat(res.data);
				}
			});
		}
		$scope.loadQuestionsForAdd(1, 0);
		
		$scope.loadMore = function() {
			console.log($scope.list.exeBookType);
			var page = 0;
			if($scope.list.exeBookType == 1 || $scope.list.exeBookType == 2 || $scope.list.exeBookType == 3) {
				$scope.questionPage++;
				page = $scope.questionPage;
			}else if($scope.list.exeBookType == 4) {
				$scope.taskQuestionPage++;
				page = $scope.taskQuestionPage;
			}else if($scope.list.exeBookType == 5) {
				$scope.surveyQuestionPage++;
				page = $scope.surveyQuestionPage;
			}else if($scope.list.exeBookType == 6) {
				$scope.brainstormQuestionPage++;
				page = $scope.brainstormQuestionPage;
			}
			$scope.loadQuestionsForAdd($scope.list.exeBookType, page);
		}

		//根据练习册id加载详细信息
		$scope.loadQuestionsForEdit = function(id, type) {
			var postData = {
				"allOrPart": "all",
				"chapterId": localStorage.getItem('currentNodeId'),
				"operatorId": localStorage.getItem('userid'),
				"page": 0,
				"problemSetId": id,
				"size": 200,
				"sort": 1,
				"sorting": "uTime"
			};
			var url = '/exerciseBook/findAll/problemSet'; //基础题库
			
			if(type == '4') {
				url = '/taskExerciseBook/findAll/problemSet'; //任务题库
			} else if(type == '5') {
				url = '/surveyExerciseBook/findAll/problemSet'; //问卷题库
			} else if(type == '6') {
				url = '/brainstormExerciseBook/findAll/problemSet'; //头脑风暴题库
			}

			common.ajax2({
				$scope: $scope,
				$http: $http,
				url: url,
				data: postData,
				success: function(res) {
					var data = res.data.bigQuestionList;
					$(data).each(function() {
						if(this.examChildren[0].examType == "single") {
							this.title = this.examChildren[0].choiceQstTxt + "（单选）";
						} else if(this.examChildren[0].examType == "multiple") {
							this.title = this.examChildren[0].choiceQstTxt + "（多选）";
						} else if(this.examChildren[0].examType == "trueOrFalse") {
							this.title = this.examChildren[0].trueOrFalseInfo + "（判断）";
						} else if(this.examChildren[0].examType == "design") {
							this.title = this.examChildren[0].designQuestion + "（主观）";
						};
						if(res.data.intersection.indexOf(this.id) >= 0) {
							this.already = true;
							this.select = true;
						}
					});
					$scope.questionList = data;
					$scope.list = {
						id: res.data.problemSet.id,
						exeBookName: res.data.problemSet.exeBookName,
						exeBookType: type,
						levelId: res.data.problemSet.levelId
					};
				}
			});
		};

		//用户切换册子类型
		$scope.changeType = function() {
			$scope.initPage();
			$scope.loadQuestionsForAdd($scope.list.exeBookType, 0);
		}
		
		//用户点击tab页事件接收
		$scope.$on('changeType', function(d, data) {
			$scope.list.exeBookType = data;
			$scope.changeType();
		});

		//用户点击创建或编辑按钮事件接收
		$scope.$on('exercisesBook', function(d, data) {
			if(data.id) {
				//有id表示为编辑
				$scope.loadQuestionsForEdit(data.id, data.type);
				// $scope.list.exeBookType = data.type;
				$scope.typeFlag = false;
			} else {
				//没有id表示为新增
				 $scope.loadQuestionsForAdd(data.type, 0);
				$scope.typeFlag = true;
			}
		});

		//提交
		$scope.sub = function() {
			console.log($scope.list);
			if($scope.list.exeBookName == '' || !$scope.list.exeBookName) {
				layer.alert("请输入册子名称");
				return false;
			}

			var url = '/exerciseBook/build'; //基础 题册
			if($scope.list.exeBookType == '4') {
				url = '/taskExerciseBook/build'; //任务题库
			} else if($scope.list.exeBookType == '5') {
				url = '/surveyExerciseBook/build'; //问卷题库
			} else if($scope.list.exeBookType == '6') {
				url = '/brainstormExerciseBook/build'; //头脑风暴题库
			}

			$scope.list.chapterId = localStorage.getItem("currentNodeId");; //章节id
			$scope.list.courseId = localStorage.getItem("courseId"); //章节id
			$scope.list.teacherId = localStorage.getItem("userid");
			$scope.list.questionIds = [];
			var i = 0;
			$($scope.questionList).each(function() {
				if(this.select) {
					$scope.list.questionIds.push({
						bigQuestionId: this.id,
						index: i
					});
					i++;
				}
			});

console.log($scope.list);
			common.ajax2({
				$scope: $scope,
				$http: $http,
				operate: true,
				url: url,
				data: $scope.list,
				success: function(res) {
					$("#exercisesBookModal").modal("hide");
					$scope.initPage();
					$scope.$emit('exercisesBookChange', $scope.list.exeBookType);
				}
			});
		}
	}
</script>