<style>
	.badge {
		padding: 6px 9px;
		height: 24px;
		margin: 3px;
	}
	
	.search {
		display: inline-block !important;
		margin-right: 20px;
		width: auto !important;
	}
	
	.htmlWrapper p {
		display: inline;
	}
</style>
<!--创建提问-->
<div class="modal fade" id="exercisesBookModal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="exercisesBookCtrl">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">创建册子</h4>
			</div>
			<div class="modal-body">
				<div class="portlet">
					<div class="portlet-body">
						<div data-ng-include="'views/template/tice/basicBook.html'"></div>
					</div>
				</div>
				<div class="form-actions noborder" style="text-align: center;margin-bottom: 10px;">
					<button type="button" class="btn blue" ng-click="sub()">提交</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script>
	function exercisesBookCtrl($scope, $http) {
		
	}
</script>