<div role="form" ng-controller="otherBookCtrl">
	<div class="form-body">
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-6">
				<div class="form-group form-md-line-input">
					<input type="text" class="form-control" ng-model="list.exeBookName" placeholder="册子名称" />
					<label for="form_control_1">名称</label>
					<span class="help-block">名称不得超过50个字符</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-md-radios">
					<label>册子类型</label>
					<div class="md-radio-inline">
						<div class="md-radio">
							<input type="radio" id="radio6" name="level" class="md-radiobtn" 
							value="1" ng-model="list.levelId" checked="">
							<label for="radio6">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													简单 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="radio7" name="level" class="md-radiobtn" 
							ng-model="list.levelId" value="2">
							<label for="radio7">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													中等 </label>
						</div>
						<div class="md-radio">
							<input type="radio" id="radio8" name="level" class="md-radiobtn" 
							ng-model="list.levelId" value="3">
							<label for="radio8">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													困难 </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-header row">
			<h4 class="modal-title">题库选题</h4>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-12">
				<p class="text-primary" style="font-size: 15px;float: right;">
					温馨提示： 题目来源于 资料库管理—>任务题库
					<i class="glyphicon glyphicon-hand-down" style="font-size: 17px;"></i>
				</p>
			</div>
			<div class="col-md-6" style="height: 400px;">
				<span class="badge {{row.select ? 'badge-danger' : 'badge-success'}}" ng-repeat="row in questionList"> {{$index+1}} </span>
			</div>
			<div class="col-md-6">
				<div class="portlet light">
					<div class="portlet-title tabbable-line">
						<ul class="nav nav-tabs" style="float: left;">
							<li class="active">
								<a data-target="#tab_question_1" data-toggle="tab">
									未选题目 </a>
							</li>
							<li>
								<a data-target="#tab_question_2" data-toggle="tab">
									已选题目 </a>
							</li>
						</ul>
					</div>
					<div class="portlet-body">
						<div class="tab-content">
							<div class="tab-pane active" id="tab_question_1">
								<div class="scroller" style="height: 500px;overflow-y: scroll;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
									<div class="well" style="background-color: #d6e9c6;" ng-repeat="row in questionList" ng-if="!row.already">
										<div class="md-checkbox" style="display: inline-block;">
											<input type="checkbox" id="checkboxEdit{{$index}}" class="md-check" ng-model="row.select">
											<label for="checkboxEdit{{$index}}">
											<span></span>
											<span class="check"></span>
											<span class="box"></span>
											</label>
										</div>
										<span style="display: inline-block;width: 89%;cursor: pointer;">{{$index+1}}.
											<span class="htmlWrapper" ng-bind-html="row.title"></span>
										</span>
									</div>
									<p style="text-align: center; color: blue;font-size: 14px;display: block;">加载更多</p>
								</div>
							</div>
							<div class="tab-pane" id="tab_question_2">
								<div class="scroller" style="height: 500px;overflow-y: scroll;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
									<div class="well" style="background-color: #d6e9c6;" ng-repeat="row in questionList" ng-if="row.already">
										<div class="md-checkbox" style="display: inline-block;">
											<input type="checkbox" id="checkboxAlready{{$index}}" class="md-check" ng-model="row.select">
											<label for="checkboxAlready{{$index}}">
											<span></span>
											<span class="check"></span>
											<span class="box"></span>
											</label>
										</div>
										<span style="display: inline-block;width: 89%;cursor: pointer;">{{$index+1}}.
											<span class="htmlWrapper" ng-bind-html="row.title"></span>
										</span>
									</div>
									<p style="text-align: center; color: blue;font-size: 14px;display: block;">加载更多</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</div>
	<div class="form-actions noborder" style="text-align: center;margin-bottom: 10px;">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
	</div>
</div>

<script>
	function otherBookCtrl($scope, $http, $rootScope) {
		$scope.list = {}; //册子
		//根据章节加载题目
		$scope.loadQuestionsForAdd = function() {
			$scope.list = {
				levelId: "1",
				exeBookType: "1"
			};
			var data = {
				"allOrPart": "all", //显示全部详情或者是只返回id all 全部/part 只显示id
				"chapterId": $rootScope.currentNodeId, //章节id
				"operatorId": localStorage.getItem("userid"), //当前用户id
				"page": 0,
				"size": 20,
				"sort": 1,
				"sorting": "uTime"
			};

			common.ajax2({
				$scope: $scope,
				$http: $http,
				url: '/question/findAll/detailed',
				data: data,
				success: function(res) {
					var data = common.addTitleForQuestion({
						questionArr: res.data
					}); //组装题干以供展示					
					$scope.questionList = data;
				}
			});
		}
		$scope.loadQuestionsForAdd();
		
		//根据练习册id加载详细信息
		$scope.loadQuestionsForEdit = function(id) {
			console.log($rootScope.currentNodeId);
			var data = {
				"allOrPart": "all",
				"chapterId": $rootScope.currentNodeId,
				"operatorId": localStorage.getItem('userid'),
				"page": 0,
				"problemSetId": id,
				"size": 200,
				"sort": 1,
				"sorting": "uTime"
			};
		
			common.ajax2({
				$scope: $scope,
				$http: $http,
				url: '/question/findAll/problemSet',
				data: data,
				success: function(res) {
					var data = res.data.bigQuestionList;
					$(data).each(function() {
						if(this.examChildren[0].examType == "single") {
							this.title = this.examChildren[0].choiceQstTxt + "（单选）";
						} else if(this.examChildren[0].examType == "multiple") {
							this.title = this.examChildren[0].choiceQstTxt + "（多选）";
						} else if(this.examChildren[0].examType == "trueOrFalse") {
							this.title = this.examChildren[0].trueOrFalseInfo + "（判断）";
						} else if(this.examChildren[0].examType == "design") {
							this.title = this.examChildren[0].designQuestion + "（主观）";
						};
						if(res.data.intersection.indexOf(this.id) >= 0) {
							this.already = true;
							this.select = true;
						}
					});
					$scope.questionList = data;
					$scope.list = {
						id: res.data.problemSet.id,
						exeBookName: res.data.problemSet.exeBookName,
						exeBookType: res.data.problemSet.exeBookType,
						levelId: res.data.problemSet.levelId
					};
				}
			});
		};

		//用户点击创建或编辑按钮事件接收
		$scope.$on('exercisesBook', function(d, data) {
			if(data.type == 'basic') {
				if (data.id) { 
					//有id表示为编辑
					$scope.loadQuestionsForEdit(data.id);
				} else { 
					//没有id表示为新增
					$scope.loadQuestionsForAdd();
				}
			}
		});
		
		//提交
		$scope.sub = function() {
			$scope.list.chapterId = $rootScope.currentNodeId; //章节id
			$scope.list.teacherId = localStorage.getItem("userid");
			$scope.list.questionIds = [];
			var i = 0;
			$($scope.questionList).each(function() {
				if(this.select) {
					$scope.list.questionIds.push({
						bigQuestionId: this.id,
						index: i
					});
					i++;
				}
			});
			
			common.ajax2({
				$scope: $scope,
				$http: $http,
				operate: true,
				url: '/exerciseBook/build',
				data: $scope.list,
				success: function(res) {
					$("#exercisesBookModal").modal("hide");
					$scope.$emit('exercisesBookChange', $("input[name='exeBookType']:checked").val());
				}
			});
		}
	}
</script>