<style>
	.blockOverlay {
		z-index: 21000 !important;
	}
	.blockMsg {
		z-index: 21011 !important;
	}
	.pics {
		list-style: none;
	    margin: 0;
	    padding: 0;
	}
	
	.pics li {
		width: 110px;
	    height: 110px;
	    text-align: center;
	    margin: 0 8px 20px 0;
	    position: relative;
	    display: inline;
	    float: left;
	    overflow: hidden;
	    font-size: 12px;
	}
	
	.pics li p.imgWrap {
		position: relative;
	    z-index: 2;
	    line-height: 110px;
	    vertical-align: middle;
	    overflow: hidden;
	    width: 110px;
	    height: 110px;
	}
	
	.pics div.file-panel {
		position: absolute;
	    height: 0;
	    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;
	    background: rgba( 0, 0, 0, 0.5 );
	    width: 100%;
	    top: 0;
	    left: 0;
	    overflow: hidden;
	    z-index: 300;
	}
	
	.pics div.file-panel i {
		font-size: 16px;
	    display: inline;
	    float: right;
	    margin: 5px 1px 1px;
	    color: white;
	    cursor: pointer;
	}
	
	.pics div.file-panel i.cancel {
		background-position: -48px -24px;
	}
</style>

<!--上传课件-->
<div class="modal fade" id="addJiaofuModal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="addJiaofuCtrl">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="portlet light" style="min-height: 400px;">
				<div class="portlet-title tabbable-line">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase" id="title">创建教辅资料</span>
					</div>
					<div class="actions">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					</div>
					<ul class="nav nav-tabs">
						<li class="active">
							<a data-target="#tab_3_1" data-toggle="tab"> 文档 </a>
						</li>
						<li>
							<a data-target="#tab_3_2" data-toggle="tab"> 图集 </a>
						</li>
						<li>
							<a data-target="#tab_3_3" data-toggle="tab"> 音频 </a>
						</li>
						<li>
							<a data-target="#tab_3_4" data-toggle="tab"> 视频 </a>
						</li>
						<li>
							<a data-target="#tab_3_5" data-toggle="tab"> 链接 </a>
						</li>
					</ul>
				</div>
				<div class="portlet-body">
					<div role="form">
						<div class="form-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group form-md-checkboxes" style="margin-bottom: 40px;">
										<label>资料标签</label>
										<div class="md-checkbox-inline">
											<div class="md-checkbox">
												<input type="checkbox" id="checkbox6" class="md-check">
												<label for="checkbox6">
												<span></span>
												<span class="check"></span>
												<span class="box"></span>
												预习参考 </label>
											</div>
											<div class="md-checkbox">
												<input type="checkbox" id="checkbox7" class="md-check" checked="">
												<label for="checkbox7">
												<span></span>
												<span class="check"></span>
												<span class="box"></span>
												课程案例 </label>
											</div>
											<div class="md-checkbox">
												<input type="checkbox" id="checkbox8" class="md-check">
												<label for="checkbox8">
												<span></span>
												<span class="check"></span>
												<span class="box"></span>
												课堂参考 </label>
											</div>
											<div class="md-checkbox">
												<input type="checkbox" id="checkbox9" class="md-check">
												<label for="checkbox9">
												<span></span>
												<span class="check"></span>
												<span class="box"></span>
												复习参考 </label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group form-md-checkboxes" style="margin-bottom: 40px;">
										<label>资料权限</label>
										<div class="md-checkbox-inline">
											<div class="md-checkbox">
												<input type="checkbox" id="checkbox1" class="md-check">
												<label for="checkbox1">
												<span></span>
												<span class="check"></span>
												<span class="box"></span>
												教师共享 </label>
											</div>
											<div class="md-checkbox">
												<input type="checkbox" id="checkbox2" class="md-check" checked="">
												<label for="checkbox2">
												<span></span>
												<span class="check"></span>
												<span class="box"></span>
												学生可见 </label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_3_1">
							<div class="fileTab">
								<div class="row">
									<div class="col-md-12" id="wendangContent" style="text-align: center;margin-bottom: 20px;height: 50px;">
										
									</div>
								</div>
								<div id="filePicker4" class="filePicker" style="text-align: center;">选择文件</div>
							</div>
						</div>
						<div class="tab-pane" id="tab_3_2">
							<div class="fileTab">
								<div class="row">
									<div class="col-md-12" id="pics">
										<ul class="pics"></ul>
									</div>
								</div>
								<div id="filePicker5" class="filePicker" style="text-align: center;">选择文件</div>
								<button class="btn btn-default uploadBtn1">开始上传</button>
							</div>
						</div>
						<div class="tab-pane" id="tab_3_3">
							<div class="fileTab">
								<div class="row">
									<div class="col-md-12" id="audioContent" style="text-align: center;margin-bottom: 20px;">
										
									</div>
								</div>
								<div id="filePicker6" class="filePicker" style="text-align: center;">选择文件</div>
							</div>
						</div>
						<div class="tab-pane" id="tab_3_4">
							<div class="fileTab">
								<div class="row">
									<div class="col-md-12" id="videoContent" style="text-align: center;margin-bottom: 20px;">
										
									</div>
								</div>
								<div id="filePicker7" class="filePicker" style="text-align: center;">选择文件</div>
							</div>
						</div>
						<div class="tab-pane" id="tab_3_5">
							<div class="fileTab">
								<div class="row">
									<div class="col-md-8">
										<div class="form-group form-md-line-input">
											<input type="text" class="form-control" id="form_control_1" placeholder="请输入链接地址" ng-model="lianjie">
											<label for="form_control_1">链接地址</label>
										</div>
									</div>
									<div class="col-md-4">
										<button type="button" class="btn blue" style="margin-top: 20px;" ng-click="preview()">预览</button>
									</div>
								</div>
								<iframe src="" style="width: 100%;height: 300px;margin-top: 20px;"></iframe>
							</div>
						</div>
					</div>
					<div class="form-actions noborder" style="text-align: right;">
						<button type="button" class="btn blue">继续添加</button>
						<button type="button" class="btn blue" ng-click="sub();">完成</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<script>
	function addJiaofuCtrl($scope) {
		var wendang = '';
		var pics = [];
		$scope.lianjie = '';
		//上传文档
		common.fileUpload({
			id: 'filePicker4',
			success: function(file, response, uploader) {
				var html = '<a href="'+response.filePath+'" target="_blink" style="font-size:18px;">'+response.fileName+'</a>';
				$("#wendangContent").html(html);
				wendang = response;
			}
		});
		//上传图集
		common.multiFileUpload({
			id: 'filePicker5',
			uploadBtn: '.uploadBtn1',
			success: function(file, response, uploader) {
				console.log(response);
				pics.push(response.filePath);
				wendang = response;
			}
		});
		//上传音频
		common.fileUpload({
			id: 'filePicker6',
			success: function(file, response, uploader) {
				var html = '<audio src="'+response.filePath+'" controls="controls">您的浏览器不支持 audio 标签。</audio>';
				$("#audioContent").html(html);
				wendang = response;
			}
		});
		
		//上传视频
		common.fileUpload({
			id: 'filePicker7',
			success: function(file, response, uploader) {
				var html = '<video src="'+response.filePath+'" controls="controls" style="height: 300px; width:auto;">您的浏览器不支持 video 标签。</video>';
				console.log(html);
				$("#videoContent").html(html);
				wendang = response;
			}
		});
		
		$scope.preview = function() {
			$("iframe").attr("src", $scope.lianjie);
		}
		
		$scope.sub = function() {
			
		}
	}
</script>