<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="../../assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="../../assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css"/>
</head>
<body>
		<div class="row margin-top-10">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="dashboard-stat2">
					<div class="display">
						<div class="number">
							<h3 class="font-green-sharp">7800<small class="font-green-sharp">$</small></h3>
							<small>TOTAL PROFIT</small>
						</div>
						<div class="icon">
							<i class="icon-pie-chart"></i>
						</div>
					</div>
					<div class="progress-info">
						<div class="progress">
							<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
								<span class="sr-only">76% progress</span>
							</span>
						</div>
						<div class="status">
							<div class="status-title">
								progress
							</div>
							<div class="status-number">
								76%
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="dashboard-stat2">
					<div class="display">
						<div class="number">
							<h3 class="font-red-haze">1349</h3>
							<small>NEW FEEDBACKS</small>
						</div>
						<div class="icon">
							<i class="icon-like"></i>
						</div>
					</div>
					<div class="progress-info">
						<div class="progress">
							<span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
								<span class="sr-only">85% change</span>
							</span>
						</div>
						<div class="status">
							<div class="status-title">
								change
							</div>
							<div class="status-number">
								85%
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="dashboard-stat2">
					<div class="display">
						<div class="number">
							<h3 class="font-blue-sharp">567</h3>
							<small>NEW ORDERS</small>
						</div>
						<div class="icon">
							<i class="icon-basket"></i>
						</div>
					</div>
					<div class="progress-info">
						<div class="progress">
							<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
								<span class="sr-only">45% grow</span>
							</span>
						</div>
						<div class="status">
							<div class="status-title">
								grow
							</div>
							<div class="status-number">
								45%
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="dashboard-stat2">
					<div class="display">
						<div class="number">
							<h3 class="font-purple-soft">276</h3>
							<small>NEW USERS</small>
						</div>
						<div class="icon">
							<i class="icon-user"></i>
						</div>
					</div>
					<div class="progress-info">
						<div class="progress">
							<span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
								<span class="sr-only">56% change</span>
							</span>
						</div>
						<div class="status">
							<div class="status-title">
								change
							</div>
							<div class="status-number">
								57%
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-circle-right btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
		<script>
			var primes = [2, 3, 5, 7];
			primes[0]
			console.log(primes[0])
			primes.length
			console.log(primes)
			primes[4] = 9;
			console.log(primes[4])
			primes[4] = 11;
			console.log(primes[4] = 11)
			var empty = [];
			empty.length;
			console.log(empty.length)
			var points = [
				{x:0, y:0},
				{x:1, y:1}
			];
			console.log(points)
			var data = {
				trial1:[[1, 2],[3, 4]],
				trial2:[[4, 5],[5, 6]]
			}
			console.log(data)
		</script>
	</body>
</html>