<link href="../../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../../../assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
<style>
	.pi-price {
		color: #2386ca;
	}
</style>
	
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li>
		<a href="#">Home</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Dashboard
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="cl1Ctrl" class="margin-top-10">
	<div class="portlet light">
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel5 owl-theme" style="opacity: 1; display: block;">
						<div class="owl-wrapper-outer">
							<div class="owl-wrapper" style="width: 3192px; left: 0px; display: block;">
								<div class="owl-item active" style="width: 228px;">
									<div>
										<div class="product-item">
											<div class="pi-img-wrapper">
												<img src="images/1.jpg" class="img-responsive" alt="Berry Lace Dress">
												<!--<div>
													<a href="../../../assets/frontend/pages/img/products/model2.jpg" class="btn btn-default fancybox-button">Zoom</a>
													<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
												</div>-->
											</div>
											<h3><a href="#/konwledgePoint.html">电子商务基础</a></h3>
											<div class="pi-price">课程编号：001</div>
										</div>
									</div>
								</div>
								<div class="owl-item active" style="width: 228px;">
									<div>
										<div class="product-item">
											<div class="pi-img-wrapper">
												<img src="images/4.jpg" class="img-responsive" alt="Berry Lace Dress">
												<!--<div>
													<a href="../../../assets/frontend/pages/img/products/model6.jpg" class="btn btn-default fancybox-button">Zoom</a>
													<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
												</div>-->
											</div>
											<h3><a>商务英语基础</a></h3>
											<div class="pi-price">课程编号：002</div>
										</div>
									</div>
								</div>
								<div class="owl-item active" style="width: 228px;">
									<div>
										<div class="product-item">
											<div class="pi-img-wrapper">
												<img src="images/7.jpg" class="img-responsive" alt="Berry Lace Dress">
												<!--<div>
													<a href="../../../assets/frontend/pages/img/products/model6.jpg" class="btn btn-default fancybox-button">Zoom</a>
													<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
												</div>-->
											</div>
											<h3><a>计算机基础</a></h3>
											<div class="pi-price">课程编号：004</div>
										</div>
									</div>
								</div>
								<div class="owl-item active" style="width: 228px;">
									<div>
										<div class="product-item">
											<div class="pi-img-wrapper">
												<img src="images/6.jpg" class="img-responsive" alt="Berry Lace Dress">
												<!--<div>
													<a href="../../../assets/frontend/pages/img/products/model6.jpg" class="btn btn-default fancybox-button">Zoom</a>
													<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
												</div>-->
											</div>
											<h3><a>商务英语基础</a></h3>
											<div class="pi-price">课程编号：002</div>
										</div>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
				<!--<div class="col-md-12 news-page">
					<h4 style="margin-top:0">最新课程</h4>
					<div class="row">
						<div class="col-sm-3" style="height: 305px">
							<carousel interval="myInterval">
								<slide ng-repeat="slide in slides" active="slide.active">
									<img ng-src="{{slide.image}}" style="margin:auto;height: 120px;">
									<div class="carousel-caption">
										<h4></h4>
										<p></p>
									</div>
								</slide>
							</carousel>
							<div class="top-news margin-top-10">
								<a href="#/konwledgePoint.html" class="btn blue">
									<span>电子商务基础 </span>
									<em><i class="fa fa-tags">电子商务</i></em>
									<i class="fa fa- icon-bullhorn top-news-icon"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-3" style="height: 305px">
							<carousel interval="myInterval">
								<slide ng-repeat="slide in slides2" active="slide.active">
									<img ng-src="{{slide.image}}" style="margin:auto;height: 231px;">
									<div class="carousel-caption">
										<h4>Slide {{$index}}</h4>
										<p>{{slide.text}}</p>
									</div>
								</slide>
							</carousel>
							<div class="top-news margin-top-10">
								<a href="" class="btn blue">
									<span>商务英语基础 </span>
									<em><i class="fa fa-tags"></i>商务英语</em>
									<i class="fa fa- icon-bullhorn top-news-icon"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="space20">
					</div>
				</div>-->
			</div>
		</div>
	</div>

</div>
<!-- END MAIN CONTENT -->

<script>
	function cl1Ctrl($scope) {
		$scope.myInterval = 5000;
		var slides = $scope.slides = [{
			image: 'images/1.jpg',
			text: "电子商务基础"
		}, {
			image: 'images/2.jpg',
			text: "电子商务基础"
		}, {
			image: 'images/3.jpg',
			text: "电子商务基础"
		}];
		$scope.addSlide = function() {
			//	    	var newWidth = 500 + slides.length;
			slides.push({
				image: '',
				text: '电子商务基础'
			});
		};

		var slides2 = $scope.slides2 = [{
			image: 'images/4.jpg',
			text: "电子商务基础"
		}, {
			image: 'images/5.jpg',
			text: "电子商务基础"
		}, {
			image: 'images/6.jpg',
			text: "电子商务基础"
		}];
		$scope.addSlide2 = function() {
			//	    	var newWidth = 500 + slides.length;
			slides2.push({
				image: '',
				text: '电子商务基础'
			});
		};

	}
</script>