<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li>
		<a href="#">Home</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Dashboard
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="cl2Ctrl" class="margin-top-10">
	<div class="portlet light">
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-12 news-page">
					<h4 style="margin-top:0">最新课程</h4>
					<div class="row">
						<div class="col-sm-3" style="height: 305px">
					    	<carousel interval="myInterval">
					      		<slide ng-repeat="slide in slides" active="slide.active">
					        		<img ng-src="{{slide.image}}" style="margin:auto;">
					        		<div class="carousel-caption">
					          			<h4>Slide {{$index}}</h4>
					          			<p>{{slide.text}}</p>
					        		</div>
					      		</slide>
					    	</carousel>
					    	<div class="top-news margin-top-10">
								<a href="#/assistant.html" class="btn blue">
									<span>web培训第一课 </span>
									<em><i class="fa fa-tags"></i>html, css, js </em>
									<i class="fa fa- icon-bullhorn top-news-icon"></i>
								</a>
							</div>
					  	</div>
					</div>
					<div class="space20">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- END MAIN CONTENT -->
	
<script>
	function cl2Ctrl($scope) {
		$scope.myInterval = 5000;
	  	var slides = $scope.slides = [];
	  	$scope.addSlide = function() {
	    	var newWidth = 500 + slides.length;
	    	slides.push({
	      	image: 'http://placekitten.com/' + newWidth + '/300',
	      	text: ['More','Extra','Lots of','Surplus'][slides.length % 4] + ' ' +
	        	['Cats', 'Kittys', 'Felines', 'Cutes'][slides.length % 4]
	    	});
	  	};
	  	
	  	for (var i=0; i<4; i++) {
	    	$scope.addSlide();
	  	}
	}
</script>
