<div class="row" ng-controller="kpCtrl">

	<div class="col-md-4">
		<div class="portlet light" style="min-height: 500px;">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-settings font-green-sharp"></i>
					<span class="caption-subject bold uppercase">章节目录</span>
					<span class="caption-helper hide"></span>
				</div>
			</div>
			<div class="portlet-body">
				<div id="tree-jiaofu" class="tree-demo">
				</div>
			</div>
		</div>

	</div>

	<div class="col-md-8">
		<!-- BEGIN: ACCORDION DEMO -->
		<div class="portlet light" style="min-height: 400px;">
			<div class="portlet-title tabbable-line">
				<div class="caption font-green-sharp">
					<i class="icon-settings font-green-sharp"></i>
					<span class="caption-subject bold uppercase" id="title">题库{{currKP}}</span>
				</div>
				<div class="actions">
					<button class="btn btn-circle red-sunglo btn-sm" data-toggle="modal" href="#questionSingle">
							<i class="fa fa-plus"></i> 创建 </button>
				</div>
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-target="#tab_1_1" data-toggle="tab">
							单选 </a>
					</li>
					<li>
						<a data-target="#tab_1_2" data-toggle="tab">
							多选 </a>
					</li>
					<li>
						<a data-target="#tab_1_3" data-toggle="tab">
							判断 </a>
					</li>
					<li>
						<a data-target="#tab_1_4" data-toggle="tab">
							简答 </a>
					</li>
				</ul>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1_1">
						<div id="accordion1" class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1_1">
										1. 商家要开展电子商务活动 , 应该用（ C  ）作为其主要的生意平台。 </a>
									</h4>
								</div>
								<div id="accordion1_1" class="panel-collapse collapse in">
									<div class="panel-body">
										<p>A． BBS</p>
										<p>B．电子邮件</p>
										<p>C．在线商店</p>
										<p>D．电话定购</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1_2">
										2. Intranet和Internet的区别是 ( A ) </a>
									</h4>
								</div>
								<div id="accordion1_2" class="panel-collapse collapse">
									<div class="panel-body">
										<p>A．访问 Intranet 需要授权</p>
										<p>B．Intranet 执行特殊的协议</p>
										<p>C．Intranet 软件和协议是独立于硬件的</p>
										<p>D．Intrarlet 只在扇部物理范围内运行</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1_3">
										3. 电子数据交换的简称是 ( B )  </a>
									</h4>
								</div>
								<div id="accordion1_3" class="panel-collapse collapse">
									<div class="panel-body">
										<p>A．EFT</p>
										<p>B．EDI</p>
										<p>C．NET</p>
										<p>D．EC</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="tab-pane" id="tab_1_2">

					</div>
					<div class="tab-pane" id="tab_1_3">

					</div>
					<div class="tab-pane" id="tab_1_4"></div>
				</div>
			</div>
		</div>
		<!-- END: ACCORDION DEMO -->
	</div>

	<div class="modal fade" id="questionSingle" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">添加题目</h4>
				</div>
				<div class="modal-body">
					<div class="portlet">
						<div class="portlet-body">
							<div role="form">
								<div class="form-body">
									<div class="row" style="margin-bottom: 40px;">
										<div class="col-md-8">
											<div class="form-group form-md-line-input">
												<input type="text" class="form-control" ng-model="title" placeholder="请输入题干" />
												<label for="form_control_1">题干</label>
												<span class="help-block">题干不得超过50个字符</span>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group form-md-line-input has-info">
												<select class="form-control" id="form_control_1">
													<option value="">请选择</option>
													<option value="">电子商务的定义</option>
													<option value="">电子商务的概念</option>
												</select>
												<label for="form_control_1">知识点</label>
											</div>
										</div>
									</div>
									<div class="row" style="margin-bottom: 40px;">
										<div class="col-md-12">
											<div class="form-group form-md-line-input">
												<button class="btn btn-circle green btn-sm" ng-click="addOption();">
													<i class="fa fa-plus"></i> 创建选项 </button>
												<!--<button class="btn green" ng-click="addOption();">添加</button>-->
											</div>
										</div>
										<div ng-repeat="row in options">
											<div class="col-md-1" style="height: 54px;">
												<div class="form-group form-md-line-input" style="padding-top: 27px;">
													<div class="md-radio">
														<input type="radio" id="radio{{$index}}" name="single" class="md-radiobtn" ng-model="row.right">
														<label for="radio{{$index}}">
														<span></span>
														<span class="check"></span>
														<span class="box"></span></label>
													</div>
												</div>
											</div>
											<div class="col-md-9">
												<div class="form-group form-md-line-input">
													<input type="text" class="form-control" ng-model="row.value" placeholder="请输入选项内容" />
													<span class="help-block">内容不得超过50个字符</span>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group form-md-line-input">
													<button class="btn btn-danger" ng-click="delOption($index);">删除</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-actions noborder">
									<button type="button" class="btn blue" ng-click="">提交</button>
									<button type="button" class="btn default" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="sm" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">课程信息</h4>
				</div>
				<div class="modal-body">
					<div class="portlet">
						<div class="portlet-body">
							<div role="form">
								<div class="form-body">
									<div class="row" style="margin-bottom: 40px;">
										<div class="col-md-12">
											<div class="form-group form-md-line-input">
												<input type="text" class="form-control" ng-model="nodeName" placeholder="请输入节点名称" />
												<label for="form_control_1">节点</label>
												<span class="help-block">名称不得超过20个字符</span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-actions noborder">
									<button type="button" class="btn blue" ng-click="createNode()">Submit</button>
									<button type="button" class="btn default" data-dismiss="modal">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

</div>
<!-- END MAIN CONTENT -->

<script src="js/webuploader-0.1.5/webuploader.min.js"></script>
<!-- BEGIN MAIN JS-->
<script>
	function kpCtrl($scope) {
		$scope.flag = "";
		$scope.knowledgePoints = [];
		$scope.options = [{}, {}, {}, {}];
//		$scope.currKP = '';

		$scope.addOption = function() {
			$scope.options.push({});
		}
		$scope.delOption = function(index) {
			$scope.options.splice(index, 1);
		}

		$scope.initTree = function() {
			$('#tree-jiaofu').jstree({
				'core': {
					"check_callback": true,
					'data': [{
						'id': 'node_1',
						'text': '第一章 电子商务概述',
						'state': {
							'opened': true,
						},
						'children': [{
							'text': '1.电子商务的内涵',
							'icon': 'fa fa-briefcase icon-state-success',
							'state': {
								'opened': true
							},
						}, {
							'text': '2.电子商务的产生背景和发展过程',
							'icon': 'fa fa-briefcase icon-state-success'
						}, {
							'text': '3.电子商务的作用与影响',
							'icon': 'fa fa-briefcase icon-state-success'
						}]
					}, {
						'id': 'node_2',
						'text': '第二章 Internet 基础知识',
						'state': {
							'opened': true
						},
						'children': [{
							'text': '1.Internet 概述 ',
							'icon': 'fa fa-briefcase icon-state-success'
						}, {
							'text': '2.Internet 的主要功能',
							'icon': 'fa fa-briefcase icon-state-success'
						}]
					}, {
						'id': 'node_3',
						'text': '第三章 电子商务的主要模式',
						'state': {
							'opened': true
						},
						'children': [{
							'text': '1.电子商务的框架模型',
							'icon': 'fa fa-briefcase icon-state-success'
						}, {
							'text': '2.企业与企业之间的电子商务模式',
							'icon': 'fa fa-briefcase icon-state-success'
						}, {
							'text': '3.企业与消费者之间电子商务模式',
							'icon': 'fa fa-briefcase icon-state-success'
						}]
					}]
				},
				"plugins": ['contextmenu'],
				"contextmenu": {
					"items": {
						"create": null,
						"rename": null,
						"remove": null,
						"ccp": null,
						"新建菜单": {
							"label": "新建菜单",
							"action": function(data) {
								$scope.flag = "create";
								$scope.nodeName = "";
								$("#sm").modal("show");
							}
						},
						"编辑菜单": {
							"label": "编辑菜单",
							"action": function(data) {
								$scope.flag = "rename";
								$scope.nodeName = "";
								$("#sm").modal("show");
							}
						},
						"删除菜单": {
							"label": "删除菜单",
							"action": function(data) {
								var r = confirm("确定要删除该节点吗");
								if(r) {
									var ref = $('#tree-jiaofu').jstree(true),
										sel = ref.get_selected();
									if(!sel.length) {
										return false;
									}
									ref.delete_node(sel);
								}
							}
						}
					}
				}
			});
		}
		$scope.initTree();

		$scope.createNode = function() {
			var ref = $('#tree-jiaofu').jstree(true),
				sel = ref.get_selected();
			if(!sel.length) {
				return false;
			}
			sel = sel[0];
			$("#sm").modal("hide");
			if($scope.flag == "create") {
				sel = ref.create_node(sel, {
					text: $scope.nodeName,
					'state': {
						'opened': true
					},
				});
			} else if($scope.flag == "rename") {
				ref.rename_node(sel, $scope.nodeName);
			}
		};

		$("ul.feeds").on("click", "a", function() {
			console.log($(this).html());
			var html = $(this).html();
			$(this).closest(".btn-group").find("span").html(html);
		});
	}
</script>
<!-- BEGIN MAIN JS -->