<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content">
	<div class="row">
		<div class="col-md-6">
			<!-- BEGIN PORTLET -->
			<div class="portlet light">
				<div class="portlet-title tabbable-line">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i>
						<span class="caption-subject font-blue-madison bold uppercase">本期课程</span>
					</div>
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab_1_1" data-toggle="tab">
								学习中 </a>
						</li>
						<li>
							<a href="#tab_1_2" data-toggle="tab">
								已完成 </a>
						</li>
					</ul>
				</div>
				<div class="portlet-body">
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1_1">
							<div class="table-scrollable table-scrollable-borderless" style="height: 300px;">
								<table class="table table-hover table-light">
									<thead>
										<tr class="uppercase">
											<th>
												课程名称
											</th>
											<th>
												学分
											</th>
											<th>
												平时成绩
											</th>
											<th>
												学习进度
											</th>
										</tr>
									</thead>
									<tr>
										<td>
											<a ng-click="goUrl('course')" class="primary-link">大学英语（二）</a>
										</td>
										<td>
											12
										</td>
										<td>
											25/40
										</td>
										<td>
											<span class="bold theme-font">80%</span>
										</td>
									</tr>
									<tr>
										<td>
											<a ng-click="goUrl('course')" class="primary-link">大学英语（三）</a>
										</td>
										<td>
											12
										</td>
										<td>
											25/40
										</td>
										<td>
											<span class="bold theme-font">67%</span>
										</td>
									</tr>
									<tr>
										<td>
											<a ng-click="goUrl('course')" class="primary-link">公共关系学</a>
										</td>
										<td>
											4
										</td>
										<td>
											25/40
										</td>
										<td>
											<span class="bold theme-font">98%</span>
										</td>
									<tr>
										<td>
											<a ng-click="goUrl('course')" class="primary-link">公共管理学</a>
										</td>
										<td>
											5
										</td>
										<td>
											25/40
										</td>
										<td>
											<span class="bold theme-font">58%</span>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="tab-pane" id="tab_1_2">
							<div class="table-scrollable table-scrollable-borderless" style="height: 300px;">
								<table class="table table-hover table-light">
									<thead>
										<tr class="uppercase">
											<th>
												课程名称
											</th>
											<th>
												学分
											</th>
											<th>
												平时成绩
											</th>
											<th>
												考试成绩
											</th>
											<th>
												总成绩
											</th>
										</tr>
									</thead>
									<tr>
										<td>
											<a ng-click="goUrl('course')" class="primary-link">大学英语（一）</a>
										</td>
										<td>
											12
										</td>
										<td>
											40/40
										</td>
										<td>
											<span class="bold theme-font">58/60</span>
										</td>
										<td>
											<span class="bold theme-font">98/100</span>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PORTLET -->
		</div>
		<div class="col-md-6">
			<!-- BEGIN PORTLET -->
			<div class="portlet light">
				<div class="portlet-title tabbable-line">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i>
						<span class="caption-subject font-blue-madison bold uppercase">资讯</span>
					</div>
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab_2_1" data-toggle="tab">
								全部 </a>
						</li>
						<li>
							<a href="#tab_2_2" data-toggle="tab">
								就业 </a>
						</li>
						<li>
							<a href="#tab_2_2" data-toggle="tab">
								招生 </a>
						</li>
						<li>
							<a href="#tab_2_2" data-toggle="tab">
								招聘 </a>
						</li>
					</ul>
				</div>
				<div class="portlet-body">
					<!--BEGIN TABS-->
					<div class="tab-content">
						<div class="tab-pane active" id="tab_2_1">
							<div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
								<div class="general-item-list">
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar4.jpg">
												<span class="item-name">张帅</span>
												<span class="item-label">2018-11-9</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<a class="item-name primary-link" ng-click="goUrl('post')">
											传播主体向相对集中的较大的公众群体进行传播什么？
										</a>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar3.jpg">
												<a href="" class="item-name primary-link">李思</a>
												<span class="item-label">2018-11-8</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											公共关系状态指的是组织与公众之间的什么
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar6.jpg">
												<a href="" class="item-name primary-link">王武</a>
												<span class="item-label">2018-11-7</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											传播主体向相对集中的较大的公众群体进行传播?
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar7.jpg">
												<a href="" class="item-name primary-link">赵乐</a>
												<span class="item-label">2018-11-6</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											标志我国公共关系走向职业化和行业化的道路的事件是?
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar9.jpg">
												<a href="" class="item-name primary-link">刘琦</a>
												<span class="item-label">2018-11-5</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											双方互为传播的主、客体，随时调整传播的角色，是?
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar8.jpg">
												<a href="" class="item-name primary-link">钱三儿</a>
												<span class="item-label">2018-11-4</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											1923年，爱德华·伯纳斯出版的第一本公关专著是？
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab_2_2">
							<div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
								<div class="general-item-list">
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar6.jpg">
												<a href="" class="item-name primary-link">王武</a>
												<span class="item-label">2018-11-7</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											传播主体向相对集中的较大的公众群体进行传播?
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">
												<img class="item-pic" src="../../../assets/admin/layout4/img/avatar8.jpg">
												<a href="" class="item-name primary-link">钱三儿</a>
												<span class="item-label">2018-11-4</span>
											</div>
											<span class="item-status">关注(13)  评论(81) 浏览(109)</span>
										</div>
										<div class="item-body">
											1923年，爱德华·伯纳斯出版的第一本公关专著是？
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--END TABS-->
				</div>
			</div>
			<!-- END PORTLET -->
		</div>
	</div>
	