<link href="../../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../../../assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
<style>
	.pi-price {
		color: #2386ca;
	}
</style>
	
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li>
		<a href="#">教学互动</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		课程总览
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="cl6Ctrl" class="margin-top-10">
	<div class="portlet light">
		<div class="portlet-body">
			<div data-ng-include="'views/template/courseListTpl.html'"></div>
		</div>
	</div>

</div>
<!-- END MAIN CONTENT -->

<script>
	function cl6Ctrl($scope, $http, $interval) {
		$interval(function(){
	    $scope.$broadcast('goUrl', 'courseOverview');
	  }, 500);
	}
</script>