<link href="../../../assets/admin/pages/css/profile.css" rel="stylesheet">
<style>
	.note p {
		display: inline-block;
		margin-right: 10px;
		color: #3c763d;
	}
	
	.note-info p {
		color: #31708f;
	}
	
	.note-danger p {
		color: #a94442;
	}
	
	.note-warning p {
		color: #8a6d3b;
	}
	
	h4.block {
		font-weight: 600;
	}
	
	.btn+.btn {
		margin-left: 0;
	}
	.class-active {
		box-shadow: #6699FF 0px 0px 10px 5px !important;
	}
	
	.profile-userpic img {
		width: 75%;
		height: 75%;
	}
	
	.user-wrapper {
		width: 100px;
		text-align: center;
		float: left;
	}
	
	.connectedSortable {
		min-height: 90px;
	}
</style>
<div ng-controller="courseOverviewCtrl">
	<div class="row profile">
		<div class="col-md-3">
			<div class="portlet light" style="margin-bottom: 0;">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase">课程目录</span>
						<span class="caption-helper hide"></span>
					</div>
				</div>
				<div class="portlet-body">
					<div data-ng-include="'views/template/nodeTree.html'"></div>
				</div>
			</div>
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase">讨论小组</span>
						<span class="caption-helper hide"></span>
					</div>
					<div class="actions">
						<button class="btn btn-circle btn-info btn-sm" data-toggle="modal" data-target="#groupModal">编辑 </button>
					</div>
				</div>
				<div class="portlet-body">
					<div class="note note-{{team.bgColor}}" ng-repeat="team in teamList">
						<h4 class="block">{{team.teamName}}</h4>
						<p ng-repeat="student in team.students">{{student.name}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-10 profile-info">
					<h1>教学目的</h1>
					<div class="row margin-top-10" data-toggle="modal" href="#yuxiModal">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-green-sharp">56<small class="font-green-sharp">人</small></h3>
										<small> 参与预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-pie-chart"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
																				<span class="sr-only">76% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											76%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-red-haze">13<small class="font-green-sharp">人</small></h3>
										<small>完成预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-like"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 25%;" class="progress-bar progress-bar-success red-haze">
																				<span class="sr-only">25% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											25%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-blue-sharp">27<small class="font-green-sharp">人</small></h3>
										<small>参与预习作业</small>
									</div>
									<div class="icon">
										<i class="icon-basket"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
																				<span class="sr-only">45% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											同比上月
										</div>
										<div class="status-number">
											45%
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-10" data-toggle="modal" href="#yuxiModal">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-green-sharp">56<small class="font-green-sharp">人</small></h3>
										<small> 参与预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-pie-chart"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
																				<span class="sr-only">76% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											76%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-red-haze">13<small class="font-green-sharp">人</small></h3>
										<small>完成预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-like"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 25%;" class="progress-bar progress-bar-success red-haze">
																				<span class="sr-only">25% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											25%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-blue-sharp">27<small class="font-green-sharp">人</small></h3>
										<small>参与预习作业</small>
									</div>
									<div class="icon">
										<i class="icon-basket"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
																				<span class="sr-only">45% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											同比上月
										</div>
										<div class="status-number">
											45%
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-10" data-toggle="modal" href="#yuxiModal">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-green-sharp">56<small class="font-green-sharp">人</small></h3>
										<small> 参与预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-pie-chart"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
																				<span class="sr-only">76% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											76%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-red-haze">13<small class="font-green-sharp">人</small></h3>
										<small>完成预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-like"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 25%;" class="progress-bar progress-bar-success red-haze">
																				<span class="sr-only">25% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											25%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-blue-sharp">27<small class="font-green-sharp">人</small></h3>
										<small>参与预习作业</small>
									</div>
									<div class="icon">
										<i class="icon-basket"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
																				<span class="sr-only">45% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											同比上月
										</div>
										<div class="status-number">
											45%
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-10" data-toggle="modal" href="#yuxiModal">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-green-sharp">56<small class="font-green-sharp">人</small></h3>
										<small> 参与预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-pie-chart"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
																				<span class="sr-only">76% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											76%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-red-haze">13<small class="font-green-sharp">人</small></h3>
										<small>完成预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-like"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 25%;" class="progress-bar progress-bar-success red-haze">
																				<span class="sr-only">25% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											25%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-blue-sharp">27<small class="font-green-sharp">人</small></h3>
										<small>参与预习作业</small>
									</div>
									<div class="icon">
										<i class="icon-basket"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
																				<span class="sr-only">45% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											同比上月
										</div>
										<div class="status-number">
											45%
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-10" data-toggle="modal" href="#yuxiModal">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-green-sharp">56<small class="font-green-sharp">人</small></h3>
										<small> 参与预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-pie-chart"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
																				<span class="sr-only">76% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											76%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-red-haze">13<small class="font-green-sharp">人</small></h3>
										<small>完成预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-like"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 25%;" class="progress-bar progress-bar-success red-haze">
																				<span class="sr-only">25% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											25%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-blue-sharp">27<small class="font-green-sharp">人</small></h3>
										<small>参与预习作业</small>
									</div>
									<div class="icon">
										<i class="icon-basket"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
																				<span class="sr-only">45% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											同比上月
										</div>
										<div class="status-number">
											45%
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-10" data-toggle="modal" href="#yuxiModal">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-green-sharp">56<small class="font-green-sharp">人</small></h3>
										<small> 参与预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-pie-chart"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
																				<span class="sr-only">76% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											76%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-red-haze">13<small class="font-green-sharp">人</small></h3>
										<small>完成预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-like"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 25%;" class="progress-bar progress-bar-success red-haze">
																				<span class="sr-only">25% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											25%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-blue-sharp">27<small class="font-green-sharp">人</small></h3>
										<small>参与预习作业</small>
									</div>
									<div class="icon">
										<i class="icon-basket"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
																				<span class="sr-only">45% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											同比上月
										</div>
										<div class="status-number">
											45%
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-10" data-toggle="modal" href="#yuxiModal">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-green-sharp">56<small class="font-green-sharp">人</small></h3>
										<small> 参与预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-pie-chart"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
																				<span class="sr-only">76% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											76%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-red-haze">13<small class="font-green-sharp">人</small></h3>
										<small>完成预习任务</small>
									</div>
									<div class="icon">
										<i class="icon-like"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 25%;" class="progress-bar progress-bar-success red-haze">
																				<span class="sr-only">25% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											人数比例
										</div>
										<div class="status-number">
											25%
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="dashboard-stat2">
								<div class="display">
									<div class="number">
										<h3 class="font-blue-sharp">27<small class="font-green-sharp">人</small></h3>
										<small>参与预习作业</small>
									</div>
									<div class="icon">
										<i class="icon-basket"></i>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress">
										<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
																				<span class="sr-only">45% </span>
										</span>
									</div>
									<div class="status">
										<div class="status-title">
											同比上月
										</div>
										<div class="status-number">
											45%
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end col-md-8-->
				<div class="col-md-2">
					<ul class="list-unstyled profile-nav">
						<li>
							<img src="../../../templates\admin4\angularjs\images\1.jpg" class="img-responsive" alt="" />
							<p style="text-align: center;font-weight: 600;margin-top: 5px;">电子商务基础</p>
						</li>
						<li>
							<p style="text-align: center;">
								<span style="line-height: 26px;height: 26px;font-weight: 600;font-size: 14px;color: rgb(170, 181, 188);">课程评价</span>
								<img src="images/pingjia.png" style="width: 150px;height: auto;" />
							</p>
						</li>
					</ul>
					<div class="top-news">
						<a href="javascript:;" class="btn {{row.color}} {{row.active ? 'class-active' : ''}}" ng-repeat="row in classes" ng-click="selectClass(row)">
							<span>{{row.className}}</span>
							<em>{{course.courseName}}</em>
							<i class="fa fa-briefcase top-news-icon"></i>
						</a>
						<!--<a href="javascript:;" class="btn yellow" style="box-shadow: #6699FF 0px 0px 10px 5px;">
							<span>1762班</span>
							<em>电子商务基础</em>
							<i class="fa fa-briefcase top-news-icon"></i>
						</a>
						<a href="javascript:;" class="btn red" style="box-shadow: #6699FF 0px 0px 10px 5px;">
							<span>1763班</span>
							<em>电子商务基础</em>
							<i class="fa fa-briefcase top-news-icon"></i>
						</a>
						<a href="javascript:;" class="btn blue" style="box-shadow: #6699FF 0px 0px 10px 5px;">
							<span>1764班</span>
							<em>电子商务基础</em>
							<i class="fa fa-briefcase top-news-icon"></i>
						</a>-->
					</div>
				</div>
				<!--end col-md-4-->
			</div>
			<!--end row-->
		</div>
	</div>
	
	<div class="modal fade" id="groupModal" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="portlet light" style="min-height: 400px;">
					<div class="portlet-title tabbable-line">
						<div class="caption font-green-sharp">
							<i class="icon-settings font-green-sharp"></i>
							<span class="caption-subject bold uppercase" id="title">修改分组信息(拖动学生头像改变分组)</span>
						</div>
						<div class="actions">
							<button type="button" class="btn btn-success" ng-click="randomBuild()">随机分组</button>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>
					<div class="portlet-body">
						<div class="note note-{{team.bgColor}}" ng-repeat="team in teamList" repeat-finish="renderFinish()">
							<h4 class="block">{{team.teamName}}&nbsp;&nbsp;&nbsp;
								<button class="btn btn-success btn-sm" ng-click="updateTeanName(team)">修改名称</button>
							</h4>
							<div id="{{team.teamId}}" class="connectedSortable">
								<div class="user-wrapper" id="{{student.id}}" ng-repeat="student in team.students">
									<div class="uppercase profile-userpic">
										<img ng-src="{{student.portrait}}" class="img-responsive" alt="学生头像">
									</div>
									<p style="margin-right: 0;">{{student.name}}</p>
								</div>
								<div style="clear: both;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
<script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script>
	function courseOverviewCtrl($scope, $http) {
		let bgColor = ['success','info','danger','warning'];//小组颜色
		let classBgColor = ['green','yellow','red','blue'];//班级颜色
		//切换课程回调
		$scope.$on('course', function(d, data) {
			$scope.course = data;
		});
		
//		$scope.classes = [{
//			color: "green",
//			name: '电子商务基础',
//			value: "1761班",
//			active: true
//		},{
//			color: "yellow",
//			name: '电子商务基础',
//			value: "1762班"
//		},{
//			color: "red",
//			name: '电子商务基础',
//			value: "1763班"
//		},{
//			color: "blue",
//			name: '电子商务基础',
//			value: "1764班"
//		}];
		
		$scope.selectClass = function(row) {
			$($scope.classes).each(function() {
				this.active = false;
			});
			row.active = true;
			$scope.loadTeamList(row.classId);
		}
		
		//获取老师所教班级信息
		$scope.loadClassList = function() {
			common.ajax({
				$scope: $scope,
				$http: $http,
				data: {
//					courseId: localStorage.getItem('courseId')
				},
				url: '/teacher/myTeachClass',
				success: function(res) {
					console.log(res);
					$scope.classes = res.data;
					$scope.classes.forEach(function(value,index){
						if(index == 0) {
							value.active = true;
							$scope.loadTeamList(value.classId);
						}
						value.color = classBgColor[index%4];
					});
				}
			});
		}
		$scope.loadClassList();
		
		//获取班级的小组信息
		$scope.loadTeamList = function(classId) {
			common.ajax2({
				$scope: $scope,
				$http: $http,
				data: {
					classId: classId,
//					circleId: "5ca6ce9b1890960001896a4d",
				},
				url: '/classRoom/team/nowTeam',
				success: function(res) {
					$scope.teamList = res.data;
					$scope.teamList.forEach(( item, i ) => {
					  console.log( item, i );
					  item.bgColor = bgColor[i%4];
					});
					console.log($scope.teamList);
				}
			});
		}
		
		//随机分组
		$scope.teamRandomBuild = function(num) {
			common.ajax2({
				$scope: $scope,
				$http: $http,
				operate: true,
				data: {
					classId: "123",
					circleId: "5ca6ce9b1890960001896a4d",
					expType: 'forever',
					number: num
				},
				url: '/classRoom/team/randomBuild',
				success: function(res) {
					$scope.teamList = res.data.teamList;
					$scope.teamList.forEach(( item, i ) => {
					  console.log( item, i );
					  item.bgColor = bgColor[i%4];
					});
					console.log($scope.teamList);
				}
			});
		}
		
		//随机分组
		$scope.randomBuild = function() {
			layer.prompt({title: '您确定要重新分组吗，如果是，请输入组数并点击确定按钮', value: 5}, function(value, index, elem){
				let reg = /^[0-9]*$/;
				if(!reg.test(value) || value==0) {
					layer.alert("只能输入大于0的数字");
					return false;
				}
				$scope.teamRandomBuild(value);
			  layer.close(index);
			});
		}
		
		//修改组名
		$scope.updateTeanName = function(team) {
			layer.prompt({title: '请输入组名', value: team.teamName}, function(value, index, elem){
				common.ajax2({
					$scope: $scope,
					$http: $http,
					operate: true,
					data: {
						teamId: team.teamId,
						teamName: value
					},
					url: '/classRoom/team/updateTeamName',
					success: function(res) {
						team.teamName = value;
						layer.close(index);
					}
				});
			  
			});
		}
		
		$scope.renderFinish = function() {
			$( ".connectedSortable" ).sortable({
	      connectWith: ".connectedSortable",
	      receive: function( event, ui ) {
	      	console.log(ui.sender[0].id);//移出组id
	      	console.log(ui.item[0].id);//改变的学生id
	      	console.log(event.target.id);//移入组id
	      	
	      	common.ajax2({
						$scope: $scope,
						$http: $http,
						data: {
							addTeamId: event.target.id,
							removeTeamId: ui.sender[0].id,
							students: ui.item[0].id
						},
						url: '/classRoom/team/teamChange',
						success: function(res) {
							$scope.loadTeamList();
						}
					});
	      }
	    }).disableSelection();
		}
	}
</script>