<link href="../../../assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<div role="form" ng-controller="basicCtrl">
	<div class="form-body">
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-4">
				<div class="form-group form-md-line-input">
					<input id="courseName" type="text" class="form-control" ng-model="course.courseName" placeholder="请输入课程名称">
					<label for="form_control_1">名称</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-md-line-input">
					<input id="courseName" type="text" class="form-control" ng-model="course.courseName" placeholder="请输入学习时长(小时)">
					<label for="form_control_1">学习时长</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-md-checkboxes">
					<label>封面图片</label>
					<a href="javascript:;" class="thumbnail" style="width: 160px;">
						<img src="{{course.topPicSrc}}" alt="100%x180" style="height: 180px; width: 100%; display: block;">
					</a>
					<div id="topPicSrc" class="filePicker">选择文件</div>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-12">
				<div class="form-group form-md-line-input">
					<label for="form_control_1" style="font-size: 13px; color: #888888;">课程描述</label>
					<div name="summernote" id="summernoteMiaoshu"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-actions noborder" style="text-align: center;">
		<button type="button" class="btn blue" ng-click="sub()">提交</button>
	</div>
</div>

<script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script>
	function basicCtrl($scope, $http, $location, $rootScope) {
		var courseId = localStorage.getItem('courseId');
		var path = $location.path();
		$scope.course = {
			topPicSrc: 'https://e.hnfts.cn/img/zanwu.jpg'
		};
		
		//加载课程信息(如果为编辑)
		$scope.loadCourseInfo = function() {
			if (path.indexOf("courseEdit") >=0 ) {
				common.ajax({
					$scope: $scope,
					$http: $http,
					url: '/course/getCourse',
					data: {
						'courseId': localStorage.getItem('courseId')
					},
					success: function(data) {
						//课程信息
						$scope.course = data.data;
						//课程描述
						$('#summernoteMiaoshu').code($scope.course.courseDescribe);
						//授课类型
						$('input[name="lessonType"]').attr("checked", false);
						var teachingType = $scope.course.teachingType.split(",");
						$(teachingType).each(function() {
							$("input[name='lessonType'][value=" + this + "]").attr("checked", "checked");
						});
						//备课类型
						$("input[name='beikeType'][value=" + $scope.course.lessonPreparationType + "]").attr("checked", "checked");
						if ($scope.course.lessonPreparationType == "2") {
							//请求分享教师的接口
							common.ajax({
								$scope: $scope,
								$http: $http,
								url: '/course/selectTeachersByShareId',
								data: {
									'shareId': $scope.course.shareId
								},
								success: function(res) {
									var arr = [];
									$(res.data).each(function() {
										arr.push(this.userId);
									});
								}
							});
						}
						//处理封面
						if (!$scope.course.topPicSrc) {
							$scope.course.topPicSrc = 'https://e.hnfts.cn/img/zanwu.jpg';
						}
					}
				});
			}
		}
		
		//切换课程回调
		$scope.$on('course', function(d, data) {
			$scope.loadCourseInfo();
		});

		$scope.sub = function() {
			//校验课程名称
			if(!$scope.course.courseName || $scope.course.courseName == "") {
				layer.alert("课程名称不能为空");
				return false;
			}
			
			//课程描述
			var courseDescribe = $('#summernoteMiaoshu').code();
			
			$scope.course.courseDescribe = courseDescribe;

			if (path.indexOf("courseAdd") != -1) {
				//添加课程
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/save',
					data: $scope.course,
					success: function(data) {
						if (data.ret == 0) {
							$rootScope.$emit("course", data.data);
							localStorage.setItem('currentNodeId', data.data.courseId);
							$rootScope.currentNodeId = data.data.courseId;
							layer.confirm('提交成功，即将转到教辅资料库添加资料', {
								btn: ['确定'] //按钮
							}, function() {
								//加载课程列表
								common.ajax({
									$scope: $scope,
									$http: $http,
									url: '/course/findMyCourse',
									data: {
										sortVo: {
											page: 0,
											size: common.pageSize
										}
									},
									success: function(res) {
										$(res.data).each(function() {
											if(!this.topPicSrc) {
												this.topPicSrc = 'images/zanwu.jpg';
											}
										});
										$rootScope.courses = res.data;
										localStorage.setItem('courseId', data.data.courseId);
										$($rootScope.courses).each(function() {
											if(this.courseId == data.data.courseId) {
												$rootScope.course = this;
												$rootScope.$emit("course", this);
											}
										});
										window.location.href = "#/assistant.html";
										layer.closeAll('dialog');
									}
								});
								
							});

						}
					}
				});
			} else {
				$scope.course.courseId = localStorage.getItem('courseId');
				if(!$scope.course.shareId) {
//					$scope.course.shareId = "";
				}
				//编辑课程
				common.ajax({
					$scope: $scope,
					$http: $http,
					operate: true,
					url: '/course/edit',
					data: {
						course: $scope.course,
					},
					success: function(data) {
						console.log(data);
					}
				});
			}
		}

		//初始化富文本编辑器
		$('#summernoteMiaoshu').summernote({
			height: 300
		});

		//上传封面图片
		common.fileUpload({
			id: 'topPicSrc',
			success: function(file, response) {
				$scope.$apply(function() {
					$scope.course.topPicSrc = response.fileUrl;
				});
			}
		});
	}
</script>
